[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Fortran 77 Support
Name=KDevFortran77Support
ServiceTypes=KDevelop/LanguageSupport
X-KDE-Library=libkdevfortransupport
X-KDevelop-Language=Fortran77
