[General]
Name=PHPUnit
Name[el]=PHPUnit
Name[es]=PHPUnit
Name[et]=PHPUnit
Name[ga]=PHPUnit
Name[hu]=PHPUnit
Name[nl]=PHPUnit
Name[pt]=PHPUnit
Name[pt_BR]=PHPUnit
Name[sk]=PHPUnit
Name[sv]=PHPUnit
Name[uk]=PHPUnit
Name[x-test]=xxPHPUnitxx
Comment=A unit test using the PHPUnit framework
Comment[el]=Ένα unit test με χρήση του PHPUnit framework
Comment[es]=Una prueba unitaria que usa la infraestructura PhpUnit
Comment[et]=Unit test PHPUniti raamistiku abil
Comment[hu]=Egy egységteszt a PHPUnit keretrendszer használatával
Comment[nl]=Een test van een eenheid met gebruik van het framework PHPUnit
Comment[pt]=Um teste unitário que usa a plataforma PHPUnit
Comment[pt_BR]=Teste unitário que usa a plataforma PHPUnit
Comment[sv]=En enhetstest som använder ramverket PHPUnit
Comment[uk]=Перевірка модулів за допомогою комплексу PHPUnit
Comment[x-test]=xxA unit test using the PHPUnit frameworkxx
Category=PHP/Basic
Language=Php
Language[el]=Php
Language[es]=Php
Language[ga]=PHP
Language[nl]=PHP
Language[pt]=PHP
Language[pt_BR]=Php
Language[sv]=PHP
Language[uk]=PHP
Language[x-test]=xxPhpxx
Type=Test
Files=Implementation

[Implementation]
Name=Implementation
Name[cs]=Implementace
Name[el]=Υλοποίηση
Name[es]=Implementación
Name[et]=Teostus
Name[fi]=Toteutus
Name[hu]=Megvalósítás
Name[nl]=Implementatie
Name[pt]=Implementação
Name[pt_BR]=Implementação
Name[sk]=Implementácia
Name[sv]=Implementering
Name[uk]=Реалізація
Name[x-test]=xxImplementationxx
File=class.php
OutputFile={{ name }}.php

