[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Integrates "find|grep" in KDevelop - allows fast searching of multiple files using patterns or regular expressions.
Comment[ca]=Integra "find|grep" en el KDevelop, permetent la recerca ràpida de diversos fitxers emprant patrons o expressions regulars.
Comment[de]=Integration von "find|grep" in KDevelop - ermöglicht das schnelle Durchsuchen mehrere Dateien mit Hilfe von Suchmustern und regulären Ausdrücken.
Comment[es]=Integra "find|grep" en KDevelop, permitiendo la búsqueda rápida de varios archivos utilizando patrones o expresiones regulares.
Comment[et]=Integreerib KDevelopi programmi "Find|grep", mis lubab mustreid või regulaaravaldisi kasutades kiiresti paljudes failides teksti otsida.
Comment[eu]="find|grep" KDevelop-en txertatzen du - fitxategi anitzetan eredu edo espresio erregularrak erabiliz bilaketa azkarrak egiteko aukera ematen du. 
Comment[fr]=Intègre le programme « grep » à KDevelop. Il permet d'effectuer des recherches rapides dans des fichiers multiples en utilisant des motifs ou des expressions rationnelles.
Comment[hu]=A "find|grep" programok integrálása a KDevelopba - lehetővé teszi szövegek fájlokban való gyors keresését minták és reguláris kifejezések felhasználásával
Comment[it]=Integra "find|grep" in KDevelop - permette la ricerca rapida di file multipli utilizzando motivi o espressioni regolari.
Comment[ja]="find|grep" を KDevelop 内に統合し、正規表現やパターンを用いて素早く複数のファイルを検索することを可能にします。
Comment[nb]=Integrer «find|grep» i KDevelop (gjør raskt søk i flere filer mulig ved hjelp av mønstre og regulære uttrykk.
Comment[nl]=Integreert "find|grep" in KDevelop - snel zoeken door verschillende bestanden naar patronen of reguliere expressies.
Comment[pl]=Integracja "find|grep" z KDevelop - pozwala na szybie wyszukiwanie wielu plików przy użyciu wzorców i wyrażeń regularnych.
Comment[pt]=Integra o "find|grep" no KDevelop - permite a procura rápida em vários ficheiros usando padrões ou expressões regulares.
Comment[pt_BR]=Integra o "find/grep" no KDevelop - permite busca rápida de múltiplos arquivos usando padrões e expressões regulares.
Comment[ru]=Интегрирует "find|grep" в KDevelop - позволяет производить быстрый поиск по нескольким файлам с использованием шаблонов или регулярных выражений.
Comment[sr]=Интегрише „find|grep“ у KDevelop — омогућава брзо претраживање више фајлова коришћењем облика имена или регуларних израза.
Comment[sr@Latn]=Integriše „find|grep“ u KDevelop — omogućava brzo pretraživanje više fajlova korišćenjem oblika imena ili regularnih izraza.
Comment[sv]=Integrerar "find | grep" med KDevelop - tillåter snabb sökning i flera filer med mönster eller reguljära uttryck.
Comment[ta]=KDevelopபில் "find|grep" ஒருங்கினை-வடிவங்கள் அல்லது வழக்கமான தொடர்களை பயன்படுத்தி பல்வகை கோப்பினை மிக வேகமாய் தேடலாம்.
Comment[tg]=Интегралёбии "find|grep" дар KDevelop - бо истифодаи қолиб ё инки баёни ботартиб имкон медиҳад бо якчанд файлҳо ковтуковро барпо намоед.
Comment[xx]=xxIntegrates "find|grep" in KDevelop - allows fast searching of multiple files using patterns or regular expressions.xx
Comment[zh_CN]=在KDevelop中集成“查找|grep” - 可以使用模式或正则表达式在多个文件中快速查找。
Name=KDevGrepView
Name[de]=Grep-Ansicht (KDevelop)
Name[hi]=के-डेव-ग्रेप-व्यू
Name[pl]=KDevWidokGrep
Name[sv]=KDevelop grep-visning
Name[ta]=KDevGrep காட்சி
Name[tg]=Намоиши KDevGrep
Name[xx]=xxKDevGrepViewxx
GenericName=Grep Frontend
GenericName[ca]=Entorn per a grep
GenericName[de]=Grep-Ansicht
GenericName[es]=Entorno para grep
GenericName[et]=Programmi grep kasutajaliides
GenericName[eu]=Grep interfazea
GenericName[fr]=Interface pour grep
GenericName[hi]=ग्रेप फ्रन्टएण्ड
GenericName[hu]=Grafikus felület a Grep-hez
GenericName[it]=Interfaccia a "grep"
GenericName[ja]=Grep フロントエンド
GenericName[nb]=Grensesnitt for Grep
GenericName[nl]=Grep-frontend
GenericName[pl]=Interfejs do grepa
GenericName[pt]=Interface do Grep
GenericName[pt_BR]=Frontend do Grep
GenericName[ru]=Интеграция Grep
GenericName[sl]=Vmesnik za Grep
GenericName[sr]=Кориснички интерфејс за grep
GenericName[sr@Latn]=Korisnički interfejs za grep
GenericName[sv]=Gränssnitt till grep
GenericName[ta]=Grep முன் பகுதி
GenericName[tg]=Интегратсияи Grep 
GenericName[xx]=xxGrep Frontendxx
GenericName[zh_CN]=Grep前端
Icon=find
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevgrepview
X-KDevelop-Version=3
X-KDevelop-Scope=Global
X-KDevelop-Properties=FileSearch
