[Desktop Entry]
Type=Service
Comment=This plugin provides integration between the projects and their VCS infrastructure
Comment[el]=Το πρόσθετο αυτό παρέχει ολοκλήρωση ανάμεσα στα έργα και της VCS υποδομής τους
Comment[es]=Este complemento proporciona integración entre los proyectos y su infraestructura VCS
Comment[nl]=Deze plugin geeft integratie tussen de projecten en hun VCS-infrastructuur
Comment[pt]=Este 'plugin' oferece a integração entre os projectos e a sua infra-estrutura de SCV
Comment[uk]=Цей додаток забезпечує інтеграцію між проектами та їхньою структурою системи керування версіями
Comment[x-test]=xxThis plugin provides integration between the projects and their VCS infrastructurexx
Name=VCS Integration
Name[el]=VCS ολοκλήρωση
Name[es]=Integración VCS
Name[nl]=VCS-integratie
Name[pt]=Integração com o SCV
Name[uk]=Інтеграція з системами керування версіями
Name[x-test]=xxVCS Integrationxx
GenericName=VCS Integration
GenericName[el]=VCS ολοκλήρωση
GenericName[es]=Integración VCS
GenericName[nl]=VCS-integratie
GenericName[pt]=Integração com o SCV
GenericName[uk]=Інтеграція з системами керування версіями
GenericName[x-test]=xxVCS Integrationxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevvcschangesviewplugin
X-KDE-PluginInfo-Name=kdevvcschangesviewplugin
X-KDE-PluginInfo-Author=Aleix Pol
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-License=GPL
X-KDevelop-Version=12
X-KDevelop-Category=Global
X-KDevelop-Mode=NoGUI
X-KDevelop-LoadMode=AlwaysOn
