[Desktop Entry]
Type=Service
Comment=This plugin provides integration between the projects and their VCS infrastructure
Comment[de]=Dieses Modul stellt eine Integration zwischen Projekten und ihrer VCS-Infrastruktur her.
Comment[el]=Το πρόσθετο αυτό παρέχει ολοκλήρωση ανάμεσα στα έργα και της VCS υποδομής τους
Comment[es]=Este complemento proporciona integración entre los proyectos y su infraestructura VCS
Comment[et]=See plugin võimaldab lõimida projektid ja nende versioonihalduse infrastruktuuri
Comment[fr]=Ce module externe fournit une intégration entre les projets et leur infrastructure VCS
Comment[it]=Questa estensione fornisce integrazione tra i progetti e la loro infrastruttura VCS
Comment[nb]=Dette programtillegget gir integrering mellom prosjektene og deres VCS infrastruktur
Comment[nl]=Deze plugin geeft integratie tussen de projecten en hun VCS-infrastructuur
Comment[pl]=Wtyczka ta zapewnia integracje pomiędzy projektami i ich infrastrukturą systemu kontroli wersji (VCS)
Comment[pt]=Este 'plugin' oferece a integração entre os projectos e a sua infra-estrutura de SCV
Comment[pt_BR]=Este plugin fornece a integração entre os projetos e sua infraestrutura de VCS
Comment[sv]=Det här insticksprogrammet tillhandahåller integrering mellan projekten och deras infrastruktur för versionskontroll
Comment[tr]=Bu eklenti, projeler ile projelerin sürüm kontrol sistemi altyapıları arasında bütünleşme sağlar
Comment[uk]=Цей додаток забезпечує інтеграцію між проектами та їхньою структурою системи керування версіями
Comment[x-test]=xxThis plugin provides integration between the projects and their VCS infrastructurexx
Comment[zh_CN]=此插件提供工程和它们的代码管理系统的集成
Comment[zh_TW]=此外掛程式提供專案與它們之間版本控制系統基礎間的整合
Name=VCS Integration
Name[bg]=Интеграция с VCS
Name[de]=VCS-Integration
Name[el]=VCS ολοκλήρωση
Name[es]=Integración VCS
Name[et]=Versioonihalduse lõimimine
Name[fr]=Intégration de VCS
Name[it]=Integrazione VCS
Name[nb]=VCS-integrering
Name[nl]=VCS-integratie
Name[pl]=Integracja VCS
Name[pt]=Integração com o SCV
Name[pt_BR]=Integração com o VCS
Name[sv]=Integrering av versionskontroll
Name[tr]=Sürüm Kontrol Sistemi Bütünleşmesi
Name[ug]=VCS يۈرۈشلەشتۈرۈلۈشى
Name[uk]=Інтеграція з системами керування версіями
Name[x-test]=xxVCS Integrationxx
Name[zh_CN]=VCS 工程集成
Name[zh_TW]=版本控制系統整合
GenericName=VCS Integration
GenericName[bg]=Интеграция с VCS
GenericName[de]=VCS-Integration
GenericName[el]=VCS ολοκλήρωση
GenericName[es]=Integración VCS
GenericName[et]=Versioonihalduse lõimimine
GenericName[fr]=Intégration de VCS
GenericName[it]=Integrazione VCS
GenericName[nb]=VCS-integrering
GenericName[nl]=VCS-integratie
GenericName[pl]=Integracja VCS
GenericName[pt]=Integração com o SCV
GenericName[pt_BR]=Integração com o VCS
GenericName[sv]=Integrering av versionskontroll
GenericName[tr]=Sürüm Kontrol Sistemi Bütünleşmesi
GenericName[ug]=VCS يۈرۈشلەشتۈرۈلۈشى
GenericName[uk]=Інтеграція з системами керування версіями
GenericName[x-test]=xxVCS Integrationxx
GenericName[zh_CN]=VCS 工程集成
GenericName[zh_TW]=版本控制系統整合
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevvcschangesviewplugin
X-KDE-PluginInfo-Name=kdevvcschangesviewplugin
X-KDE-PluginInfo-Author=Aleix Pol
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Version Control
X-KDevelop-Version=12
X-KDevelop-Category=Global
X-KDevelop-Mode=GUI
