[General]
Name=Implicitly shared class
Name[az]=Dolayısı ilə paylaşılan sinif
Name[bs]=Implicitno dijeljena klasa
Name[ca]=Classe compartida implícita
Name[ca@valencia]=Classe compartida implícita
Name[da]=Implicit delt klasse
Name[de]=„Implicitly shared“-Klasse
Name[el]=Σιωπηρά διαμοιραζόμενη class
Name[en_GB]=Implicitly shared class
Name[eo]=Implicite dividita klaso
Name[es]=Clase compartida implícitamente
Name[et]=Implitsiitselt jagatud klass
Name[eu]=Inplizituki partekatutako klasea
Name[fi]=Implisiittisesti jaettu luokka
Name[fr]=Classe partagée implicitement
Name[gl]=Clase compartida implicitamente
Name[hu]=Impliciten megosztott osztály
Name[it]=Classe implicitamente condivisa
Name[ka]=არააშკარად გაზიარებული კლასი
Name[kk]=Айқындалмаған ортақ класы
Name[ko]=암시적으로 공유된 클래스
Name[nb]=Implisitt delt klasse
Name[nl]=Impliciet gedeelde klasse
Name[pl]=Bezwarunkowo współdzielona klasa
Name[pt]=Classe partilhada implicitamente
Name[pt_BR]=Classe compartilhada implicitamente
Name[ru]=Неявно разделяемый класс
Name[sk]=Implicitne zdieľaná trieda
Name[sl]=Implicitno deljen razred
Name[sv]=Implicit delad klass
Name[tr]=Örtük paylaşılan sınıf
Name[uk]=Клас з неявним спільним використанням
Name[x-test]=xxImplicitly shared classxx
Name[zh_CN]=隐式共享类
Name[zh_TW]=隱性分享類別
Comment=Class with a private QSharedData member
Comment[az]=Xüsusi QSharedData üzvü ilə sinif
Comment[bs]=Klasa s privatnim QSharedData članom
Comment[ca]=Classe amb un membre QSharedData privat
Comment[ca@valencia]=Classe amb un membre QSharedData privat
Comment[da]=Klasse med et privat QSharedData-medlem
Comment[de]=Klasse mit einem privaten QSharedData-Member
Comment[el]=Class με private QSharedData member
Comment[en_GB]=Class with a private QSharedData member
Comment[eo]=Klaso kun privata membro de QSharedData
Comment[es]=Clase con un miembro QSharedData privado
Comment[et]=Klass privaatse QSharedData liikmega
Comment[eu]=Klase bat QSharedData kide pribatu batekin
Comment[fi]=Luokka, jolla on yksityinen QSharedData-jäsen
Comment[fr]=Classe avec un membre privé QSharedData
Comment[gl]=Clase cun membro QSharedData privado
Comment[hu]=Osztály privát QSharedData taggal
Comment[it]=Classe con un membro privato di tipo QSharedData
Comment[ka]=კლასი პირადი QSharedData წევრით
Comment[kk]=Сырлы (private) мүшесі бар QSharedData класы
Comment[ko]=비밀 QSharedData 구성원이 있는 클래스
Comment[nb]=Klasse med et privat QSharedData-medlem
Comment[nl]=Klasse met een private QSharedData member
Comment[pl]=Klasa z prywatnym członkiem QSharedData
Comment[pt]=Classe com um membro QSharedData privado
Comment[pt_BR]=Classe com um membro QSharedData privado
Comment[ru]=Класс с закрытым членом QSharedData
Comment[sk]=Trieda so súkromným členom QSharedData
Comment[sl]=Razred z zasebnim članom QSharedData
Comment[sv]=Klass med en privat QSharedData-medlem
Comment[tr]=Bir özel QSharedData üyeli sınıf
Comment[uk]=Клас з закритим елементом QSharedData
Comment[x-test]=xxClass with a private QSharedData memberxx
Comment[zh_CN]=带有一个私有 QSharedData 成员的类
Comment[zh_TW]=含私密的 QSharedData 成員的類別
Category=C++/Qt
Language=C++
Language[az]=C++
Language[bs]=C++
Language[ca]=C++
Language[ca@valencia]=C++
Language[cs]=C++
Language[da]=C++
Language[de]=C++
Language[el]=C++
Language[en_GB]=C++
Language[eo]=C++
Language[es]=C++
Language[et]=C++
Language[eu]=C++
Language[fi]=C++
Language[fr]=C++
Language[ga]=C++
Language[gl]=C++
Language[hi]=C++
Language[hu]=C++
Language[ia]=C++
Language[it]=C++
Language[ka]=C++
Language[kk]=C++
Language[ko]=C++
Language[mr]=C++
Language[nb]=C++
Language[nds]=C++
Language[nl]=C++
Language[nn]=C++
Language[pl]=C++
Language[pt]=C++
Language[pt_BR]=C++
Language[ru]=C++
Language[se]=C++
Language[sk]=C++
Language[sl]=C++
Language[sv]=C++
Language[tr]=C++
Language[ug]=C++
Language[uk]=C++
Language[x-test]=xxC++xx
Language[zh_CN]=C++
Language[zh_TW]=C++
Type=Class
Files=Header,Implementation

[Header]
Name=Public Header
Name[az]=Açıq başlıq
Name[bs]=Javno zaglavlje
Name[ca]=Capçalera pública
Name[ca@valencia]=Capçalera pública
Name[da]=Offentlig header
Name[de]=Public Header
Name[el]=Public Header
Name[en_GB]=Public Header
Name[eo]=Publika Kapo
Name[es]=Cabecera pública
Name[et]=Avalik päis
Name[eu]=Goiburu publikoa
Name[fi]=Julkinen otsikkotiedosto
Name[fr]=En-tête public
Name[gl]=Cabeceira pública
Name[hu]=Publikus fejléc
Name[it]=Intestazione pubblica
Name[ka]=საჯარო თავსართი
Name[kk]=Ашық (public) айдар
Name[ko]=공개 헤더
Name[nb]=Public hode
Name[nl]=Publieke kop
Name[pl]=Publiczny Nagłówek
Name[pt]=Inclusão Pública
Name[pt_BR]=Inclusão pública
Name[ru]=Открытый заголовок
Name[sk]=Verejná hlavička
Name[sl]=Javna glava
Name[sv]=Public-deklaration
Name[tr]=Genel Üstbilgi
Name[uk]=Відкритий (public) заголовок
Name[x-test]=xxPublic Headerxx
Name[zh_CN]=公有头文件
Name[zh_TW]=公開標頭
File=class.h
OutputFile={{ name }}.h

[Implementation]
Name=Implementation
Name[az]=Tətbiq olunma
Name[bs]=Implementacija
Name[ca]=Implementació
Name[ca@valencia]=Implementació
Name[cs]=Implementace
Name[da]=Implementering
Name[de]=Implementation
Name[el]=Υλοποίηση
Name[en_GB]=Implementation
Name[eo]=Efektivigo
Name[es]=Implementación
Name[et]=Teostus
Name[eu]=Inplementazioa
Name[fi]=Toteutus
Name[fr]=Implémentation
Name[gl]=Implementación
Name[hu]=Megvalósítás
Name[ia]=Implementation
Name[it]=Implementazione
Name[ka]=განხორციელება
Name[kk]=Іске асыруы
Name[ko]=구현
Name[nb]=Implementering
Name[nds]=Ümsetten
Name[nl]=Implementatie
Name[pl]=Implementacja
Name[pt]=Implementação
Name[pt_BR]=Implementação
Name[ru]=Реализация
Name[sk]=Implementácia
Name[sl]=Izvedba
Name[sv]=Implementering
Name[tr]=Gerçekleme
Name[ug]=ئەمەلگە ئاشۇرۇش
Name[uk]=Реалізація
Name[x-test]=xxImplementationxx
Name[zh_CN]=接口
Name[zh_TW]=實作
File=class.cpp
OutputFile={{ name }}.cpp
