[Desktop Entry]
Icon=kdevelop
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdevcustomdefinesandincludes
X-KDE-ParentApp=kdevplatformproject
X-KDE-ParentComponents=kdevplatformproject

Name=Custom Defines And Includes
Name[ca]=Personalitza les definicions i inclusions
Name[de]=Eigene Definitionen und Includes
Name[en_GB]=Custom Defines And Includes
Name[es]=Personalizar definiciones e inclusiones
Name[et]=Kohandatud definitsioonid ja päised
Name[fi]=Mukautetut definet ja includet
Name[fr]=Définitions et inclusions personnalisées
Name[it]=Definizioni e inclusioni personalizzate
Name[nl]=Zelf gedefinieerd en invoegingen
Name[pl]=Własne definicje i pliki dołączane
Name[pt]=Definições e Inclusões Personalizadas
Name[pt_BR]=Definições e inclusões personalizadas
Name[sk]=Vlastné definície a zahrnutia
Name[sl]=Določitve in vključitve po meri
Name[sv]=Egna definitioner och inkluderingar
Name[tr]=Özel Tanımlamalar ve İçermeler
Name[uk]=Нетипові визначення і включення
Name[x-test]=xxCustom Defines And Includesxx

Comment=Configure which macros and include directories/files will be added to the parser during project parsing.
Comment[ca]=Configura quines macros i directoris/fitxers s'afegiran a l'analitzador durant l'anàlisi del projecte.
Comment[de]=Einstellung der Makros und Include-Ordner/-Dateien, die zum für den Parser während des Einlesens des Projekts hinzugefügt werden.
Comment[en_GB]=Configure which macros and include directories/files will be added to the parser during project parsing.
Comment[es]=Configurar las macros y los directorios/archivos a incluir que se añadirán al analizador sintáctico durante el análisis de los proyectos.
Comment[et]=Aitab seadistada, millised makrod ja päistekataloogid või -failid lisada parserile projekti parsimiseks.
Comment[fi]=Määritä, mitkä makrot ja include-hakemistot/tiedostot lisätään jäsentimelle projektin jäsentämisen aikana.
Comment[fr]=Configurer quelles macros et dossiers ou fichiers d'inclusions seront ajoutés à l'analyseur pendant l'analyse du projet.
Comment[it]=Configura quali macro e cartelle/file di inclusione saranno aggiunti all'analizzatore durante l'analisi del progetto.
Comment[nl]=Stel in welke macro's en ingevoegde mappen/bestanden toegevoegd zullen worden aan de parser bij het ontleden van het project.
Comment[pl]=Ustaw jakie pliki/katalogi makr i plików dołączanych będą dodawane do przetwarzania przy przetwarzaniu projektu.
Comment[pt]=Configure quais as macros e pastas/ficheiros de inclusão que serão adicionados ao processador do projecto.
Comment[pt_BR]=Configura quais macros e arquivos/pastas incluídos serão adicionados ao processador durante o processamento do projeto.
Comment[sk]=Nastaviť, ktoré makrá a zahrnuté adresáre/súbory sa pridajú do spracovača počas spracovania projektu.
Comment[sl]=Nastavite, kateri makri in mape oz. datoteke z vključitvami bodo dodane razčlenjevalniku med razčlenjevanjem projekta.
Comment[sv]=Anpassa vilka makron och filer eller kataloger att inkludera som läggs till i tolken under projekttolkning
Comment[tr]=Proje ayrıştırılırken hangi makroların ve içerme dizinlerinin/dosyaların ayrıştırıcıya ekleneceğini yapılandırın.
Comment[uk]=Налаштувати макроси і включені каталоги або файли, які буде додано під час обробки проекту.
Comment[x-test]=xxConfigure which macros and include directories/files will be added to the parser during project parsing.xx
Comment[zh_CN]=配置在解析项目时加入哪些宏、引用目录和文件。
