[Desktop Entry]
Icon=kdevelop
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_qmakebuilder
X-KDE-FactoryName=kcm_kdev_qmakebuilder
X-KDE-ParentApp=kdevplatformproject
X-KDE-ParentComponents=KDevQMakeBuilder
X-KDE-CfgDlgHierarchy=BUILDTOOL

Name=QMake
Name[ca]=QMake
Name[ca@valencia]=QMake
Name[cs]=QMake
Name[de]=QMake
Name[en_GB]=QMake
Name[eo]=QMake
Name[es]=QMake
Name[et]=QMake
Name[fr]=QMake
Name[ga]=QMake
Name[hu]=QMake
Name[it]=QMake
Name[nds]=QMake
Name[nl]=QMake
Name[pa]=QMake
Name[pl]=QMake
Name[pt]=QMake
Name[pt_BR]=QMake
Name[sk]=QMake
Name[sv]=QMake
Name[tr]=QMake
Name[uk]=QMake
Name[x-test]=xxQMakexx
Comment=Configure QMake settings
Comment[ca]=Configura els arranjaments de QMake
Comment[ca@valencia]=Configura els arranjaments de QMake
Comment[de]=QMake-Einstellungen festlegen
Comment[en_GB]=Configure QMake settings
Comment[es]=Configurar preferencias de QMake
Comment[et]=QMake'i seadistamine
Comment[fr]=Configure les paramètres de QMake
Comment[ga]=Cumraigh socruithe QMake
Comment[hu]=QMake beállításainak módosítása
Comment[it]=Configura le impostazioni di QMake
Comment[nds]=QMake instellen
Comment[nl]=QMake-configuratie instellen
Comment[pl]=Konfiguruj ustawienia QMake
Comment[pt]=Configurar as opções do QMake
Comment[pt_BR]=Configurar as opções do QMake
Comment[sk]=Nastaviť nastavenia QMake
Comment[sv]=Anpassa QMake-inställningar
Comment[tr]=QMake ayarlarını yapılandır
Comment[uk]=Налаштувати параметри QMake
Comment[x-test]=xxConfigure QMake settingsxx

