[Desktop Entry]
Type=Service
Name=QMake Project Builder
Name[es]=Constructor de proyectos QMake
Name[nds]=QMake-Projektbuumoduul
Name[pt]=Construtor de Projectos do QMake
Name[pt_BR]=Construtor de Projectos do QMake
Name[sv]=Bygg QMake-projekt
Name[uk]=Інструмент збирання проектів QMake
Comment=Builds QMake Projects
Comment[es]=Construye proyectos de QMake
Comment[nds]=Buut QMake-Projekten
Comment[pt]=Compila projectos do QMake
Comment[pt_BR]=Compila projectos do QMake
Comment[sv]=Bygger QMake-projekt
Comment[uk]=Збирає проекти QMake
Icon=gear
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevqmakebuilder
X-KDE-PluginInfo-Name=KDevQMakeBuilder
X-KDevelop-ProjectBuilder=QMake
X-KDevelop-Version=7
X-KDevelop-Category=Project
X-KDevelop-Interfaces=org.kdevelop.IQMakeBuilder
X-KDevelop-IRequired=org.kdevelop.IOutputView,org.kdevelop.IMakeBuilder
X-KDevelop-Mode=NoGUI
