[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Valgrind is a tool that helps you find memory management problems in programs. http://developer.kde.org/~sewardj/
Name=KDevvalgrind
Name[sv]=KDevelop valgrind
Name[xx]=xxKDevvalgrindxx
GenericName=Valgrind Frontend
Icon=kdevelop
ServiceTypes=KDevelop/Plugin
X-KDevelop-Scope=Global
X-KDE-Library=libkdevvalgrind
X-KDevelop-Version=1
