[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Ada Project
Comment[br]=Raktres Ada
Comment[ca]=Projecte Ada
Comment[da]=Ada-projekt
Comment[de]=Ada-Projekt für KDevelop
Comment[el]=Εργασία Ada
Comment[es]=Projecto Ada
Comment[et]=Ada projekt
Comment[eu]=Ada proiektua
Comment[fr]=Projet avec Ada
Comment[ga]=Tionscadal Ada
Comment[hi]=एडीए परियोजना
Comment[hu]=Ada-projekt
Comment[is]=Ada verkefni
Comment[it]=Progetto Ada
Comment[ja]=Ada プロジェクト
Comment[nb]=Ada-prosjekt
Comment[nl]=Ada-project
Comment[pa]=Ada ਪ੍ਰੋਜੈਕਟ
Comment[pl]=Projekt: Ada
Comment[pt]=Projecto Ada
Comment[pt_BR]=Projeto Ada
Comment[ro]=Proiect Ada
Comment[ru]=Проект Ada
Comment[sl]=Projekt Ada
Comment[sr]=Ada пројекат
Comment[sr@Latn]=Ada projekat
Comment[sv]=Ada-projekt
Comment[ta]=அடா பிராஜக்ட்
Comment[tg]=Нақшаи Ada
Comment[uk]=Проект Ada
Comment[uz]=Ada лойиҳаси
Comment[xx]=xxAda Projectxx
Comment[zh_CN]=Ada项目
Name=KDevAdaProject
Name[da]=KDevelop Ada-projekt
Name[de]=Ada-Projekt (KDevelop)
Name[hi]=के-डेव-एडीए-परियोजना
Name[pl]=KDevProjektAda
Name[sv]=KDevelop Ada-projekt
Name[ta]=கெடெவ் அடா பிராஜக்ட்
Name[tg]=Нақшаи KDevAda
Name[xx]=xxKDevAdaProjectxx
GenericName=Ada Project
GenericName[br]=Raktres Ada
GenericName[ca]=Projecte Ada
GenericName[da]=Ada-projekt
GenericName[de]=Ada-Projekt
GenericName[el]=Εργασία Ada
GenericName[es]=Projecto Ada
GenericName[et]=Ada projekt
GenericName[eu]=Ada proiektua
GenericName[fr]=Projet avec Ada
GenericName[ga]=Tionscadal Ada
GenericName[hi]=एडीए परियोजना
GenericName[hu]=Ada-projekt
GenericName[is]=Ada verkefni
GenericName[it]=Project con Ada
GenericName[ja]=Ada プロジェクト
GenericName[nb]=Ada-prosjekt
GenericName[nl]=Ada-project
GenericName[pa]=Ada ਪ੍ਰੋਜੈਕਟ
GenericName[pl]=Projekt: Ada
GenericName[pt]=Projecto Ada
GenericName[pt_BR]=Projeto Ada
GenericName[ru]=Проект Ada
GenericName[sl]=Projekt Ada
GenericName[sr]=Ada пројекат
GenericName[sr@Latn]=Ada projekat
GenericName[sv]=Ada-projekt
GenericName[ta]=அடா பிராஜக்ட்
GenericName[tg]=Нақшаи Ada
GenericName[uk]=Проект Ada
GenericName[uz]=Ada лойиҳаси
GenericName[xx]=xxAda Projectxx
GenericName[zh_CN]=Ada 项目
ServiceTypes=KDevelop/Project
X-KDE-Library=libkdevadaproject
X-KDevelop-Version=4
X-KDevelop-Language=Ada
