[Desktop Entry]
Type=Service
Icon=dashboard-show
Exec=blubb
Comment=This plugin shows relevant information of some project when it's invoked
Comment[el]=Το πρόσθετο αυτό εμφανίζει σχετικές πληροφορίες κάποιου έργου όταν εκτελείται
Comment[es]=Cuando se llama, este complemento muestra información pertinente sobre algunos proyectos
Comment[et]=See plugin näitab kasutamise korral asjakohast teavet mingi projekti kohta
Comment[nb]=Dette programtillegget viser informasjon om et prosjekt når det blir kalt opp
Comment[nl]=Deze plugin toont relevante informatie over een project wanneer het wordt geactiveerd
Comment[pt]=Este 'plugin' mostra alguma informação relevante sobre um projecto quando for invocado
Comment[pt_BR]=Este plugin mostra informações relevantes de algum projeto quando ele é invocado
Comment[sv]=Det här insticksprogrammet visar relevant information för ett projekt när det anropas
Comment[tr]=Bu eklenti çağrıldığında projelere ilişkin uygun bilgileri gösterir
Comment[uk]=Цей додаток показує дані щодо певного проекту, якщо його буде викликано
Comment[x-test]=xxThis plugin shows relevant information of some project when it's invokedxx
Comment[zh_TW]=這個外掛程式在某些專案被調用時顯示一些有用的資訊
Name=Project Dashboard
Name[el]=Πίνακας ελέγχου έργου
Name[es]=Tablero de mandos del proyecto
Name[et]=Projekti vidinavaade
Name[nb]=Prosjekt-kontrollpult
Name[nl]=Dashboard van het project
Name[pt]=Quadro do Projecto
Name[pt_BR]=Quadro do projeto
Name[sv]=Projektinstrumentpanel
Name[tr]=Proje Kontrol Paneli
Name[uk]=Панель приладів проекту
Name[x-test]=xxProject Dashboardxx
Name[zh_TW]=專案資訊看板
GenericName=Project Dashboard
GenericName[el]=Πίνακας ελέγχου έργου
GenericName[es]=Tablero de mandos del proyecto
GenericName[et]=Projekti vidinavaade
GenericName[nb]=Prosjekt-kontrollpult
GenericName[nl]=Dashboard van het project
GenericName[pt]=Quadro do Projecto
GenericName[pt_BR]=Quadro do projeto
GenericName[sv]=Projektinstrumentpanel
GenericName[tr]=Proje Kontrol Paneli
GenericName[uk]=Панель приладів проекту
GenericName[x-test]=xxProject Dashboardxx
GenericName[zh_TW]=專案資訊看板
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevprojectdashboard
X-KDE-PluginInfo-Name=kdevprojectdashboard
X-KDE-PluginInfo-Author=Aleix Pol
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Version=12
X-KDevelop-Category=Global
X-KDE-PluginInfo-Category=Core
X-KDevelop-Mode=GUI
