[Desktop Entry]
Type=Service
Icon=dashboard-show
Exec=blubb
Comment=This plugin shows relevant information of some project when it's invoked
Comment[bs]=Ovaj dodatak pokazuje odgovarajuće informacije nekih projekata kad su pozvani
Comment[ca]=Aquest connector mostra la informació apropiada d'alguns projectes quan s'invoca
Comment[ca@valencia]=Este connector mostra la informació apropiada d'alguns projectes quan s'invoca
Comment[da]=Dette plugin viser relevant information for et projekt når det kaldes
Comment[de]=Dieses Modul zeigt wichtige Informationen zu einem Projekt, wenn es aufgerufen wird.
Comment[el]=Το πρόσθετο αυτό εμφανίζει σχετικές πληροφορίες κάποιου έργου όταν εκτελείται
Comment[es]=Cuando se llama, este complemento muestra información pertinente sobre algunos proyectos
Comment[et]=See plugin näitab kasutamise korral asjakohast teavet mingi projekti kohta
Comment[fi]=Tämä liitännäinen näyttää sitä kutsuttaessa projektin kannalta olennaista tietoa
Comment[fr]=Ce module externe affiche des informations pertinentes sur un projet lorsqu'il est exécuté
Comment[gl]=Este engadido mostra información relevante sobre algún proxecto ao ser invocado
Comment[hu]=Ez a bővítmény néhány projekt lényeges információit jelenít meg, amikor felhasználják
Comment[it]=Questa estensione mostra le informazioni rilevanti di qualche progetto quando viene invocato
Comment[kk]=Бұл плагин сұралғанда бір жоба туралы тиісті мәліметті көрсетеді
Comment[nb]=Dette programtillegget viser informasjon om et prosjekt når det blir kalt opp
Comment[nds]=Dit Moduul wiest wichtige Projekt-Informatschonen.
Comment[nl]=Deze plugin toont relevante informatie over een project wanneer het wordt geactiveerd
Comment[pl]=Wtyczka ta pokazuje odpowiednie dla projektu informacje, gdy zostanie on wywołany
Comment[pt]=Este 'plugin' mostra informações relevantes sobre um dado projecto quando for invocado
Comment[pt_BR]=Este plugin mostra informações relevantes de algum projeto quando ele é invocado
Comment[ru]=Это расширение при вызове показывает сводную информацию по проекту
Comment[sk]=Tento plugin ukáže relevantné informácie o o nejakom projekte, keď je vyvolaný
Comment[sl]=Ta vstavek prikazuje ustrezne podatke za projekt, ko je priklican
Comment[sv]=Det här insticksprogrammet visar relevant information för ett projekt när det anropas
Comment[tr]=Bu eklenti çağrıldığında projelere ilişkin uygun bilgileri gösterir
Comment[uk]=Цей додаток показує дані щодо певного проекту, якщо його буде викликано
Comment[x-test]=xxThis plugin shows relevant information of some project when it's invokedxx
Comment[zh_CN]=此插件在打开工程时会显示相关信息
Comment[zh_TW]=這個外掛程式在某些專案被調用時顯示一些有用的資訊
Name=Project Dashboard
Name[bs]=Kontrolna ploča za projekte
Name[ca]=Tauler d'estris de projecte
Name[ca@valencia]=Tauler d'estris de projecte
Name[cs]=Přístrojová deska projektu
Name[da]=Instrumentbræt for projekt
Name[de]=Projekt-Dashboard
Name[el]=Πίνακας ελέγχου έργου
Name[es]=Tablero de mandos del proyecto
Name[et]=Projekti vidinavaade
Name[fi]=Projektin kojelauta
Name[fr]=Tableau de bord de projets
Name[ga]=Painéal an Tionscadail
Name[gl]=Cadro de control do proxecto
Name[hu]=Projektáttekintő
Name[it]=Progetto Dashboard
Name[kk]=Жоба аспаптар панелі
Name[nb]=Prosjekt-kontrollpult
Name[nds]=Projekt-Klockpaneel
Name[nl]=Dashboard van het project
Name[pl]=Tablica projektu
Name[pt]=Quadro do Projecto
Name[pt_BR]=Quadro do projeto
Name[ru]=Панель управления проектом
Name[sk]=Prístrojová doska projektu
Name[sl]=Nadzorna plošča projektov
Name[sv]=Projektinstrumentpanel
Name[tr]=Proje Kontrol Paneli
Name[uk]=Панель приладів проекту
Name[x-test]=xxProject Dashboardxx
Name[zh_CN]=工程面板
Name[zh_TW]=專案資訊看板
GenericName=Project Dashboard
GenericName[bs]=Kontrolna ploča za projekte
GenericName[ca]=Tauler d'estris de projecte
GenericName[ca@valencia]=Tauler d'estris de projecte
GenericName[cs]=Přístrojová deska projektu
GenericName[da]=Instrumentbræt for projekt
GenericName[de]=Projekt-Dashboard
GenericName[el]=Πίνακας ελέγχου έργου
GenericName[es]=Tablero de mandos del proyecto
GenericName[et]=Projekti vidinavaade
GenericName[fi]=Projektin kojelauta
GenericName[fr]=Dashboard de projets
GenericName[ga]=Painéal an Tionscadail
GenericName[gl]=Cadro de control do proxecto
GenericName[hu]=Projektáttekintő
GenericName[it]=Progetto Dashboard
GenericName[kk]=Жоба аспаптар панелі
GenericName[nb]=Prosjekt-kontrollpult
GenericName[nds]=Projekt-Klockpaneel
GenericName[nl]=Dashboard van het project
GenericName[pl]=Tablica projektu
GenericName[pt]=Quadro do Projecto
GenericName[pt_BR]=Quadro do projeto
GenericName[ru]=Панель управления проектом
GenericName[sk]=Prístrojová doska projektu
GenericName[sl]=Nadzorna plošča projektov
GenericName[sv]=Projektinstrumentpanel
GenericName[tr]=Proje Kontrol Paneli
GenericName[uk]=Панель приладів проекту
GenericName[x-test]=xxProject Dashboardxx
GenericName[zh_CN]=工程面板
GenericName[zh_TW]=專案資訊看板
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevprojectdashboard
X-KDE-PluginInfo-Name=kdevprojectdashboard
X-KDE-PluginInfo-Author=Aleix Pol
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Version=15
X-KDevelop-Category=Global
X-KDE-PluginInfo-Category=Core
X-KDevelop-Mode=GUI
