[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=FullScreen
Comment[hu]=Teljes képernyős
Comment[pt_BR]=Tela Cheia
Comment[sv]=Fullskärm
Comment[xx]=xxFullScreenxx
Name=KDevFullScreen
Name[sv]=KDevelop fullskärm
Name[xx]=xxKDevFullScreenxx
GenericName=FullScreen
GenericName[hu]=teljes képernyős
GenericName[pt_BR]=Tela Cheia
GenericName[sv]=Fullskärm
GenericName[xx]=xxFullScreenxx
Icon=kdevelop
ServiceTypes=KDevelop/Plugin
X-KDevelop-Scope=Core
X-KDE-Library=libkdevfullscreen
