[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=FullScreen
Comment[br]=Skramm leun
Comment[ca]=Pantalla completa
Comment[da]=Fuldskærm
Comment[de]=Vollbild
Comment[el]=ΠλήρηςΟθόνη
Comment[es]=Pantalla completa
Comment[eu]=Pantaila osoa
Comment[fr]=Plein écran
Comment[ga]=Lánscáileán
Comment[hi]=फुल-स्क्रीन
Comment[hu]=Teljes képernyő
Comment[it]=Schermo pieno
Comment[ja]=フルスクリーン
Comment[nb]=Fullskjerm
Comment[nl]=Volledig scherm
Comment[pl]=Pełny ekran
Comment[pt]=Todo o Ecrã
Comment[pt_BR]=Tela Cheia
Comment[ru]=Полноэкранный режим
Comment[sl]=Celozaslonski način
Comment[sr]=Преко целог екрана
Comment[sr@Latn]=Preko celog ekrana
Comment[sv]=Fullskärm
Comment[ta]=முழுத்திரை
Comment[tg]=Тартиботи экрани пурра
Comment[tr]=Tam Ekran
Comment[uk]=Повноекранний режим
Comment[xx]=xxFullScreenxx
Name=KDevFullScreen
Name[da]=KDevelop fuldskærm
Name[de]=Vollbild (KDevelop)
Name[hi]=के-डेव-फुलस्क्रीन
Name[pl]=KDevPełnyEkran
Name[sv]=KDevelop fullskärm
Name[ta]=KDev முழுத்திரை
Name[tg]=Васеъкуниии KDev
Name[xx]=xxKDevFullScreenxx
GenericName=FullScreen
GenericName[br]=Skramm leun
GenericName[ca]=Pantalla completa
GenericName[da]=Fuldskærm
GenericName[de]=Vollbild
GenericName[el]=ΠλήρηςΟθόνη
GenericName[es]=Pantalla completa
GenericName[et]=Täisekraan
GenericName[eu]=Pantaila osoa
GenericName[fr]=Gestion du plein écran
GenericName[ga]=Lánscáileán
GenericName[hi]=फुल-स्क्रीन
GenericName[hu]=Teljes képernyő
GenericName[it]=Schermo pieno
GenericName[ja]=フルスクリーン
GenericName[nb]=Fullskjerm
GenericName[nl]=Volledig scherm
GenericName[pl]=Pełny ekran
GenericName[pt]=Todo o Ecrã
GenericName[pt_BR]=Tela Cheia
GenericName[ru]=Полноэкранный режим
GenericName[sl]=Celozaslonski način
GenericName[sr]=Преко целог екрана
GenericName[sr@Latn]=Preko celog ekrana
GenericName[sv]=Fullskärm
GenericName[ta]=முழுத்திரை
GenericName[tg]=Тартиботи экрани пурра
GenericName[tr]=Tam Ekran
GenericName[uk]=Повноекранний режим
GenericName[xx]=xxFullScreenxx
Icon=kdevelop
ServiceTypes=KDevelop/Plugin
X-KDevelop-Scope=Core
X-KDE-Library=libkdevfullscreen
X-KDevelop-Version=3
X-KDevelop-Properties=ViewManagement
