[Desktop Entry]
Encoding=UTF-8
Icon=kdevelop
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_cppdebugger
X-KDE-FactoryName=kcm_kdev_cppdebugger
X-KDE-ParentApp=kdevplatformproject
X-KDE-ParentComponents=kdevplatformproject
X-KDE-CfgDlgHierarchy=GENERAL

Name=Debugger Settings
Comment=Configure GDB settings
