[Desktop Entry]
Type=Service
Exec=blubb
Comment=This plugin integrates common vcs functionality to KDevelop.
Comment[el]=Αυτό το πρόσθετο ενσωματώνει λειτουργίες vcs στο KDevelop
Comment[es]=Este complemento integra funcionalidad VCS común en KDevelop.
Comment[fr]=Ce module externe intègre la fonctionnalité vcs à KDevelop.
Comment[gl]=Esta extensión integra as funcionalidades básicas dos vcs en KDevelop
Comment[nds]=Dit Moduul bett allmeen Verschoonkuntrullsysteem-Funkschonen na KDevelop in
Comment[pt]=Este 'plugin' integra as funcionalidades comuns de controlo de versões no KDevelop.
Comment[pt_BR]=Esta extensão permite funcionalidades comuns de vcs ao KDevelop
Comment[sv]=Insticksprogrammet integrerar gemensamma versionskontrollfunktioner i KDevelop.
Comment[tr]=Bu eklenti common vcs uygulamasını KDevelop ile bütünleştirir.
Comment[uk]=За допомогою цього додатка можна інтегрувати загальні функції систем керування версіями до KDevelop.
Comment[x-test]=xxThis plugin integrates common vcs functionality to KDevelop.xx
Comment[zh_CN]=此插件对 KDevelop 整合通用版本控制系统的功能。
Comment[zh_TW]=此外掛程式將一般 vcs 功能整合進 KDevelop。
Name=Common Version Control Support
Name[el]=Υποστήριξη Commmon Version Control
Name[es]=Implementación de Control Común de Versiones
Name[fr]=Prise en charge du contrôle de versions commun
Name[gl]=Soporte de sistemas de versións comúns
Name[nds]=Allmeen Verschoonkuntrull-Ünnerstütten
Name[pt]=Suporte Comum de Controlo de Versões
Name[pt_BR]=Suporte a CVS (Common Version Control - Controle de Versão Comum)
Name[sv]=Stöd för gemensam versionskontroll
Name[uk]=Підтримка Commmon Version Control
Name[x-test]=xxCommon Version Control Supportxx
Name[zh_CN]=通用版本控制支持
Name[zh_TW]=一般版本控制支援
GenericName=Common Version Control Support
GenericName[es]=Implementación de Control Común de Versiones
GenericName[nds]=Allmeen Verschoonkuntrull-Ünnerstütten
GenericName[pt]=Suporte Comum de Controlo de Versões
GenericName[pt_BR]=Suporte Comum de Controlo de Versões
GenericName[sv]=Stöd för gemensam versionskontroll
GenericName[uk]=Підтримка Commmon Version Control
GenericName[zh_TW]=一般版本控制支援
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevvcscommon
X-KDE-PluginInfo-Name=kdevvcscommon
X-KDE-PluginInfo-Author=Andreas Pakulat
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDevelop-Version=6
X-KDevelop-Category=Global
X-KDevelop-Mode=GUI
