[Desktop Entry]
Type=Service
Exec=blubb
Comment=KDevelop GUI Builder based on Qt Designer
Comment[de]=Oberflächengenerator von KDevelop basierend auf Qt Designer
Comment[el]=Κατασκευή GUI με βάση το σχεδιαστή Qt του KDevelop
Comment[es]=Constructor de interfaces de KDevelop basado en el Diseñador Qt
Comment[et]=KDevelopi GUI ehitaja QT Disaineri põhjal
Comment[fr]=Constructeur d'interfaces graphiques KDevelop reposant sur Qt Designer
Comment[ga]=Tógálaí Comhéadan Grafach le haghaidh KDevelop, bunaithe ar Qt Designer
Comment[gl]=Construtor de GUIs de KDevelop baseado no Qt Designer
Comment[hi]=क्यूटी डिजाइनर पर आधारित केडेवलप जीयूआई बिल्डर
Comment[it]=Compilatore GUI di KDevelop basato su Designer di Qt
Comment[ja]=Qt デザイナーに基づく KDevelop GUI ビルダー
Comment[ko]=Qt 디자이너 기반 KDevelop GUI 빌더
Comment[lv]=KDevelop saskarnes veidotājs, balstīts uz Qt Designer
Comment[nds]=KDevelop-Böversietmaker, op Qt-Designer opbuut
Comment[ne]=Qt डिजाइनरमा आधारित केडीई विकास जीयूआई निर्माणकर्ता
Comment[pl]=Budowanie GUI w KDevelopie za pomocą Qt Designera
Comment[pt]=Um criador de interfaces GUI do KDevelop com base no Qt Designer
Comment[pt_BR]=Construtor de Interfaces Gráficas do KDevelop baseado no Qt Designer
Comment[sv]=KDevelop byggverktyg för grafiska gränssnitt baserat på Qt Designer
Comment[tr]=Qt Tasarımcı Temelli KDevelop Arayüz Oluşturucu
Comment[uk]=Створення графічного інтерфейсу з Дизайнера Qt у KDevelop
Comment[x-test]=xxKDevelop GUI Builder based on Qt Designerxx
Comment[zh_CN]=基于 Qt 设计师的 KDevelop 图形界面构建器
Comment[zh_TW]=以 Qt 設計器為基礎的 KDevelop 使用者介面建立器
Name=Qt Designer Integration
GenericName=GUI Designer Integration
icon=kdevelop
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevqtdesigner
X-KDE-PluginInfo-Name=kdevqtdesigner
X-KDE-PluginInfo-Author=Matt Rogers
X-KDE-PluginInfo-Email=mattr@kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDevelop-Version=6
X-KDevelop-SupportedMimeTypes=application/x-designer
X-KDevelop-Mode=GUI
