[Desktop Entry]
Type=Service
Exec=blubb
Icon=edit-copy
Comment=This plugin allows to store code snippets and insert them into open files
Name=Code Snippets Support
GenericName=Code Snippets Support
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevsnippet
X-KDE-PluginInfo-Name=kdevsnippet
X-KDE-PluginInfo-Author=Robert Gruber, Milian Wolff
X-KDE-PluginInfo-Version=0.75
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Utilities
X-KDevelop-Version=12
X-KDevelop-Category=Global
X-KDevelop-Mode=GUI
