[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=
Comment=Part for closing selected windows
Name=KDevcloser
GenericName=Window Closer
GenericName[sv]=Fönsterstängare
Icon=kdevelop
ServiceTypes=KDevelop/Plugin
X-KDevelop-Scope=Core
X-KDE-Library=libkdevcloser
