[General]
Name=Test Suite
Name[es]=Suite de pruebas
Name[nl]=Testsuite
Name[pt]=Conjunto de Testes
Name[pt_BR]=Conjunto de testes
Name[sv]=Testsvit
Name[uk]=Комплекс для перевірки
Name[x-test]=xxTest Suitexx
Comment=A unit test suite using the QTest library without a graphical user interface
Comment[es]=Una suite de pruebas unitarias que usa la biblioteca QTest sin una interfaz gráfica de usuario
Comment[nl]=Een testsuite van een eenheid met gebruik van de QTest-bibliotheek zonder een grafisch gebruikersinterface
Comment[pt]=Um conjunto de testes unitários, com a biblioteca QTest, sem uma interface gráfica do utilizador
Comment[pt_BR]=Conjunto de testes unitário que usa a biblioteca QTest sem uma interface gráfica do usuário
Comment[sv]=En enhetstestsvit som använder QTest-biblioteket utan grafiskt gränssnitt
Comment[uk]=Комплекс для перевірки модулів за допомогою бібліотеки QTest без графічного інтерфейсу користувача
Comment[x-test]=xxA unit test suite using the QTest library without a graphical user interfacexx
Category=C++/Qt
Language=C++
Language[es]=C++
Language[ga]=C++
Language[nl]=C++
Language[pt]=C++
Language[pt_BR]=C++
Language[sv]=C++
Language[uk]=C++
Language[x-test]=xxC++xx
Type=Test
Files=Header,Implementation

[Header]
Name=Header
Name[el]=Header
Name[es]=Cabecera
Name[et]=Päis
Name[hu]=Fejléc
Name[nl]=Kop
Name[pt]=Inclusão
Name[pt_BR]=Cabeçalho
Name[sk]=Hlavička
Name[sv]=Deklaration
Name[uk]=Заголовок
Name[x-test]=xxHeaderxx
File=class.h
OutputFile={{ name }}.h

[Implementation]
Name=Implementation
Name[cs]=Implementace
Name[el]=Υλοποίηση
Name[es]=Implementación
Name[et]=Teostus
Name[fi]=Toteutus
Name[hu]=Megvalósítás
Name[nl]=Implementatie
Name[pt]=Implementação
Name[pt_BR]=Implementação
Name[sk]=Implementácia
Name[sv]=Implementering
Name[uk]=Реалізація
Name[x-test]=xxImplementationxx
File=class.cpp
OutputFile={{ name }}.cpp

