[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=A documentation control with support for browsing and searching in multiple help documents and documentation systems.
Comment[hu]=Dokumentációmegjelenítő elem a dokumentáció böngészéséhez, többféle formátumú kereséssel.
Comment[pt_BR]=Um controle de documentação com seporte paa navegação e busca em múltiplos documentos de ajuda e sistemas de documentação.
Comment[sv]=En dokumentationskomponent med stöd för bläddring och sökning i flera hjälpdokument och dokumentationssystem.
Comment[xx]=xxA documentation control with support for browsing and searching in multiple help documents and documentation systems.xx
Name=KDevDocTreeView
Name[sv]=KDevelop dokumentationsträdvy
Name[xx]=xxKDevDocTreeViewxx
GenericName=Documentation
GenericName[hu]=dokumentáció
GenericName[pt_BR]=Documentação
GenericName[sv]=Dokumentation
GenericName[xx]=xxDocumentationxx
Icon=mini-book1
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevdoctreeview
X-KDevelop-Version=1
X-KDevelop-Scope=Global
