<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="KDevDocTreeView" version="3">
<MenuBar>
 <Menu name="help">
<!--  <Action name="help_fulltextsearch"/>
  <Action name="help_manpage"/> -->
 </Menu>
</MenuBar>
</kpartgui>

