[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=A documentation control with support for browsing and searching in multiple help documents and documentation systems.
Comment[ca]=Un sistema de control per a la documentació amb suport per a navegar i cercar en múltiples fitxers d'ajuda i sistemes de documentació.
Comment[da]=En dokumentationskontrol med støtte for netsøgning og søgning i flere hjælpedokumenter og dokumentationssystemer.
Comment[de]=Eine Komponente mit Browsefunktion und Unterstützung für die Suche in mehreren Hilfedokumenten und Dokumentations-Systemen.
Comment[es]=Un sistema de control de documentación con soporte para navegar y buscar en múltiples archivos de ayuda y sistemas de documentación.
Comment[et]=Dokumentatsioonivahend, mis võimaldab sirvida ja otsida paljudes abidokumentides ja nende süsteemides.
Comment[fr]=Outil de contrôle de la documentation avec gestion de la navigation et la recherche dans les documents d'aide multiples et les systèmes de documentation.
Comment[hu]=Dokumentációmegjelenítő elem a dokumentáció böngészéséhez, többféle formátumú kereséssel.
Comment[it]=Un controllo sulla documentazione con supporto per la navigazione e la ricerca in documenti multipli della guida e del sistema.
Comment[ja]=多様なヘルプ文書や文書システムを表示したり検索することをサポートしたドキュメント管理
Comment[nb]=En dokumentkontroll med støtte for å bla og søke i flere hjelpedokumenter og dokumentasjonssystemer.
Comment[nl]=Een documentatietool die door verschillende help-documenten en help-systemen kan bladeren.
Comment[pl]=Kontrola dokumentacji z obsługą przeglądania i wyszukiwania w różnych plikach pomocy i systemach dokumnentacji.
Comment[pt]=Um controlo de documentação com o suporte para navegar e procurar em vários documentos de ajuda e sistemas de documentação.
Comment[pt_BR]=Um controle de documentação com seporte paa navegação e busca em múltiplos documentos de ajuda e sistemas de documentação.
Comment[ru]=Модуль просмотра и поиска в документации, поддерживающий множество форматов и систем документирования.
Comment[sr]=Контрола документације са подршком за претраживање и тражење у више докумената помоћи и документационих система.
Comment[sr@Latn]=Kontrola dokumentacije sa podrškom za pretraživanje i traženje u više dokumenata pomoći i dokumentacionih sistema.
Comment[sv]=En dokumentationskomponent med stöd för bläddring och sökning i flera hjälpdokument och dokumentationssystem.
Comment[ta]=ஆவணத்தின் அனைத்து உதவி மற்றும் ஆவணத்தின் அமைப்புகளை தேட மற்றும் பார்க்க ஆவண கட்டுப்பாடு ஆதரவு தரும்.
Comment[tg]=Модул барои намоиш ва ковтукови ҳуҷҷатҳое, ки бисёри форматҳо ва барномаи ҳуҷҷатсозиро тарафдорӣ менамояд.
Comment[zh_CN]=一个支持在多个帮助文档和文档系统中查找和浏览的程序。
Name=KDevDocTreeView
Name[de]=Dokumentationsbaum-Komponente (KDevelop)
Name[hi]=के-डेव-डॉक-ट्री-व्यू
Name[pl]=KDevWidokDrzewaDok
Name[sv]=KDevelop dokumentationsträdvy
Name[ta]=KDevDoc மரக்காட்சி
GenericName=Documentation
GenericName[ca]=Documentació
GenericName[da]=Dokumentation
GenericName[de]=Dokumentationsbaum
GenericName[el]=Τεκμηρίωση
GenericName[es]=Documentación
GenericName[et]=Dokumentatsioon
GenericName[hi]=दस्तावेज़ीकरण
GenericName[hu]=dokumentáció
GenericName[it]=Documentazione
GenericName[ja]=ドキュメンテーション
GenericName[nb]=Dokumentasjon
GenericName[nl]=Documentatie
GenericName[pl]=Dokumentacja
GenericName[pt]=Documentação
GenericName[pt_BR]=Documentação
GenericName[ru]=Просмотр документации
GenericName[sl]=Dokumentacija
GenericName[sr]=Документација
GenericName[sr@Latn]=Dokumentacija
GenericName[sv]=Dokumentation
GenericName[ta]=ஆவணமாக்கல்
GenericName[tg]=Намоиши ҳуҷҷатҳо
GenericName[zh_CN]=文档
Icon=mini-book1
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevdoctreeview
X-KDevelop-Version=0
X-KDevelop-Scope=Global
