[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDevelop MSVC Manager
Name[uk]=Інструмент керування MSVC для KDevelop
Comment=Imports MSVC projects
Comment[uk]=Імпортує проекти MSVC
Icon=gear
ServiceTypes=KDevelop/Plugin
X-KDE-Library=KDevMSVCManager/KDevMSVCManager.py
X-KDE-PluginInfo-Name=KDevMSVCManager
X-KDevelop-PluginType=Kross
X-KDevelop-FileManager=MSVC
X-KDevelop-Version=6
X-KDevelop-Interfaces=org.kdevelop.IBuildSystemManager,org.kdevelop.IProjectFileManager
