[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=This plugin displays a graphical view of all the classes in the project, complete with methods and attributes, and provides a way of direct source navigation.
Comment[da]=Dette plugin giver en grafisk visning af alle klasserne i projektet, fuldstændig med metoder og attributter, og sørger for en måde at have direkte kildenavigation.
Comment[de]=Dieses Plugin stellt eine graphische Ansicht der aller Klassen des Projektes, mit allen Methoden und Attributen bereit. Ausserdem stellt es Direktnavigation durch den Quellcode bereit.
Comment[es]=Este plugin muestra una vista gráfica de todas las clases del proyecto, completándolo con métodos y atributos, y proporciona una forma de navegar directamente por el código fuente.
Comment[hu]=Bővítőmodul egy projekt osztályainak áttekintéséhez, a tagfüggvényekkel és az attribútumokkal együtt, navigálási lehetőséggel
Comment[pt_BR]=Este plugin exibe uma visão gráfica de todas as classes no projeto, juntamente com métodos e atributos, e fornece uma maneira de navegar diretamente no código.
Comment[sr]=Овај прикључак приказује графички изглед свих класа у пројекту, заједно са методама и атрибутима, и обезбеђује начин директне навигације изворног кода.
Comment[sv]=Insticksprogrammet visar en grafisk bild av alla klasser i ett projekt, tillsammans med metoder och egenskaper, och ger möjlighet till direkt navigering i källkoden.
Comment[xx]=xxThis plugin displays a graphical view of all the classes in the project, complete with methods and attributes, and provides a way of direct source navigation.xx
Name=KDevClassView
Name[de]=KDevKlassenAnsicht
Name[sv]=KDevelop klassvisning
Name[xx]=xxKDevClassViewxx
GenericName=Class View
GenericName[da]=Klassevisning
GenericName[de]=Klassenansicht
GenericName[es]=Visor de clases
GenericName[hu]=osztálynézegető
GenericName[pt]=Vista de Classe
GenericName[pt_BR]=Visualizador de Classe
GenericName[sr]=Преглед класа
GenericName[sv]=Klassvisning
GenericName[xx]=xxClass Viewxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevclassview
X-KDevelop-Version=1
X-KDevelop-Scope=Project
