[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Class View
Name=KDevClassView
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevclassview
X-KDevelop-Scope=Project
