[Desktop Entry]
Type=Service
Icon=code-class
Exec=blubb
Comment=This plugin provides a browsable model of the currently parsed classes and other items.
Comment[uk]=За допомогою цього додатка можна створити придатну для перегляду модель класів та інших елементів, над якими ви працюєте.
Name=KDevClassBrowser
Name[uk]=KDevClassBrowser
GenericName=Class Browser
GenericName[uk]=Переглядач класів
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevclassbrowser
X-KDevelop-Version=7
X-KDevelop-Category=Global
X-KDE-PluginInfo-Name=kdevclassbrowser
X-KDE-PluginInfo-Author=Hamish Rodda
X-KDE-PluginInfo-License=GPL
X-KDevelop-Mode=GUI
