[Desktop Entry]
Type=Service
Exec=blubb
Comment=This plugin integrates Mercurial to KDevelop
Comment[x-test]=xxThis plugin integrates Mercurial to KDevelopxx
Name=KDevMercurial
Name[x-test]=xxKDevMercurialxx
GenericName=Mercurial frontend
GenericName[x-test]=xxMercurial frontendxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevhg
X-KDE-PluginInfo-Name=kdevhg
X-KDE-PluginInfo-Author=Evgeniy Ivanov
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDevelop-Version=6
X-KDevelop-Category=Global
X-KDevelop-Properties=GlobalFileManagement
X-KDevelop-Interfaces=org.kdevelop.IBasicVersionControl, IDistributedVersionControl
