[Desktop Entry]
Type=Service
Exec=blubb
Comment=This plugin integrates Mercurial to KDevelop
Comment[el]=Αυτό το πρόσθετο ενσωματώνει το Mercurial στο KDevelop
Comment[es]=Este complemento integra Mercurial en KDevelop
Comment[pt]=Este 'plugin' integra o Mercurial com o KDevelop
Comment[pt_BR]=Este 'plugin' integra o Mercurial com o KDevelop
Comment[uk]=За допомогою цього додатка можна інтергувати Mercurial до KDevelop
Name=KDevMercurial
GenericName=Mercurial frontend
GenericName[el]=Σύστημα περιβάλλοντος Mercurial
GenericName[es]=Interfaz para Mercurial
GenericName[pt]=Interface para o Mercurial
GenericName[pt_BR]=Interface para o Mercurial
GenericName[uk]=Графічна оболонка до Mercurial
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevhg
X-KDE-PluginInfo-Name=kdevhg
X-KDE-PluginInfo-Author=Evgeniy Ivanov
X-KDE-PluginInfo-Email=powerfox@kde.ru
X-KDE-PluginInfo-Version=0.5
X-KDE-PluginInfo-License=GPL
X-KDevelop-Version=6
X-KDevelop-Category=Global
X-KDevelop-Interfaces=org.kdevelop.IBasicVersionControl, org.kdevelop.IDistributedVersionControl
X-KDevelop-Mode=GUI
