[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Java Support
Comment[ca]=Suport per a Java
Comment[da]=Java støtte
Comment[de]=Sprachunterstützung für Java für KDevelop
Comment[es]=Soporte para Java
Comment[et]=Java toetus
Comment[fr]=Gestion du langage JAVA
Comment[hi]=जावा समर्थन
Comment[hu]=Java-támogatás
Comment[is]=Java stuðningur
Comment[it]=Supporto per Java
Comment[nb]=Java-støtte
Comment[nl]=Ondersteuning voor Java
Comment[pl]=Obsługa Javy
Comment[pt]=Suporte a Java
Comment[pt_BR]=Suporte ao Java
Comment[ru]=Поддержка языка Java
Comment[sl]=Podpora javi
Comment[sr]=Подршка за Java-у
Comment[sr@Latn]=Podrška za Java-u
Comment[sv]=Java-stöd
Comment[ta]=ஜாவா ஆதரவு
Comment[xx]=xxJava Supportxx
Comment[zh_CN]=Java 支持
Name=KDevJavaSupport
Name[de]=Unterstützung für Java (KDevelop)
Name[hi]=के-डेव-जावा-समर्थन
Name[pl]=KDevObsługaJavy
Name[sv]=KDevelop Java-stöd
Name[ta]=கெடெவ் ஜாவா ஆதரவு
Name[xx]=xxKDevJavaSupportxx
GenericName=Java Support
GenericName[ca]=Suport per a Java
GenericName[da]=Java støtte
GenericName[de]=Unterstützung für Java
GenericName[es]=Soporte para Java
GenericName[et]=Java toetus
GenericName[fr]=Langage JAVA
GenericName[hi]=जावा समर्थन
GenericName[hu]=Java-támogatás
GenericName[it]=Supporto Java
GenericName[nb]=Java-støtte
GenericName[nl]=Ondersteuning voor Java
GenericName[pl]=Obsługa Javy
GenericName[pt]=Suporte a Java
GenericName[pt_BR]=Suporte ao Java
GenericName[ru]=Поддержка языка Java
GenericName[sl]=Podpora javi
GenericName[sr]=Подршка за Java-у
GenericName[sr@Latn]=Podrška za Java-u
GenericName[sv]=Java-stöd
GenericName[ta]=ஜாவா ஆதரவு
GenericName[xx]=xxJava Supportxx
GenericName[zh_CN]=Java 支持
ServiceTypes=KDevelop/LanguageSupport
X-KDE-Library=libkdevjavasupport
X-KDevelop-Version=1
X-KDevelop-Language=Java
X-KDevelop-Args=Java
