[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Scripting Language Project
Name=KDevScriptProject
ServiceTypes=KDevelop/Project
X-KDE-Library=libkdevscriptproject
