[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Tip of the Day
Comment[fr]=Un module externe pour la gestion des astuces du jour.
Comment[x-test]=xxTip of the Dayxx
Name=KDevTipOfDay
Name[x-test]=xxKDevTipOfDayxx
GenericName=Tip of the Day
GenericName[fr]=Astuces du jour
GenericName[x-test]=xxTip of the Dayxx
Icon=kdevelop
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevtipofday
X-KDevelop-Version=4
X-KDevelop-Category=Core
X-KDevelop-Properties=Documentation
