[Desktop Entry]
Type=Service
Exec=blubb
Name=Project Information
Name[el]=Πληροφορίες έργου
Name[es]=Información del proyecto
Name[pt]=Informação do Projecto
Name[uk]=Параметри проекту
Name[x-test]=xxProject Informationxx
GenericName=Project Information
GenericName[el]=Πληροφορίες έργου
GenericName[es]=Información del proyecto
GenericName[pt]=Informação do Projecto
GenericName[uk]=Параметри проекту
GenericName[x-test]=xxProject Informationxx
Comment=Shows information related to the project
Comment[el]=εμφανίζει πληροφορίες σχετικά με το έργο
Comment[es]=Muestra información relacionada con el proyecto
Comment[pt]=Mostra informações relacionadas com o projecto
Comment[uk]=Показує дані щодо проекту
Comment[x-test]=xxShows information related to the projectxx
Icon=project-new
ServiceTypes=KDevelop/Dashboard
X-KDE-PluginInfo-Name=org.kdevelop.project
X-KDE-PluginInfo-Author=Aleix Pol
X-KDE-PluginInfo-License=LGPL
