[Desktop Entry]
Type=Service
Exec=blubb
Name=Project Information
Name[el]=Πληροφορίες έργου
Name[es]=Información del proyecto
Name[nb]=Prosjektinformasjon
Name[nl]=Projectinformatie
Name[pt]=Informação do Projecto
Name[pt_BR]=Informações do projeto
Name[sv]=Projektinformation
Name[tr]=Proje Bilgileri
Name[uk]=Параметри проекту
Name[x-test]=xxProject Informationxx
Name[zh_TW]=專案資訊
GenericName=Project Information
GenericName[el]=Πληροφορίες έργου
GenericName[es]=Información del proyecto
GenericName[nb]=Prosjektinformasjon
GenericName[nl]=Projectinformatie
GenericName[pt]=Informação do Projecto
GenericName[pt_BR]=Informações do projeto
GenericName[sv]=Projektinformation
GenericName[tr]=Proje Bilgileri
GenericName[uk]=Параметри проекту
GenericName[x-test]=xxProject Informationxx
GenericName[zh_TW]=專案資訊
Comment=Shows information related to the project
Comment[el]=εμφανίζει πληροφορίες σχετικά με το έργο
Comment[es]=Muestra información relacionada con el proyecto
Comment[nb]=Viser informasjon relatert til prosjektet
Comment[nl]=Toont informatie over het project
Comment[pt]=Mostra informações relacionadas com o projecto
Comment[pt_BR]=Mostra informações relacionadas ao projeto
Comment[sv]=Visar information om projektet
Comment[tr]=Proje ile ilgili bilgileri gösterir
Comment[uk]=Показує дані щодо проекту
Comment[x-test]=xxShows information related to the projectxx
Comment[zh_TW]=顯示與此專案相關的資訊
Icon=project-new
ServiceTypes=KDevelop/Dashboard
X-KDE-PluginInfo-Name=org.kdevelop.project
X-KDE-PluginInfo-Author=Aleix Pol
X-KDE-PluginInfo-License=LGPL
