[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=
Comment=This plugin allows you to store code snippets and add them to your code
Comment[ca]=Aquest connector permet guardar trossos de codi i afegir-los més tard al vostre codi
Comment[da]=Dette plugin tillader dig at opbevare kodeestumper og tilføje dem til din kode
Comment[de]=Dieses Plugin erlaubt das Abspeichern und Wiederverwenden von Code-Schnipseln
Comment[es]=Esta extensión permite almacenar trozos de código y añadirlos a su código fuente
Comment[et]=See plugin võimaldab salvestada koodijuppe ja neid koodi lisada
Comment[fr]=Ce module vous permet de stocker des petits morceaux de code et de les ajouter à votre code
Comment[hu]=Ez a modul kódrészletek eltárolását és programkódba való beillesztését teszi lehetővé
Comment[it]=Questo plugin consente di memorizzare frammenti di codice e di aggiungerli al tuo codice
Comment[ja]=このプラグインはコード断片を格納し、あなたのコードにそれらを加えることを可能にします。
Comment[nl]=Deze plugin staat u toe om tekstbokken op te slaan en dez toe te voegen aan uw code
Comment[pl]=Wtyczka umożliwiająca zapisanie fragmentów kodu i wstawianie ich później do kodu
Comment[pt]=Este 'plugin' permite-lhe guardar pedaços de códigos e adicioná-los ao seu código
Comment[pt_BR]=Este plug-in permite a você armazenar os pedaços de código e adicioná-los em seu código
Comment[ru]=Модуль сохранения часто используемых частей кода в одно место для быстрого доступа к ним
Comment[sr]=Овај прикључак вам омогућава да чувате исечке кôда и додајете их у сопствени кôд
Comment[sr@Latn]=Ovaj priključak vam omogućava da čuvate isečke kôda i dodajete ih u sopstveni kôd
Comment[sv]=Det här insticksprogrammet gör det möjligt att lagra kodsnuttar och lägga till dem i din kod
Comment[ta]=இந்த உள்ளீடுகள் ஸ்னிப்பட் குறியீடுகளை சேமிக்கவும் மற்றும் அக்குறியீட்டை சேர்க்கவும் வழிவகுக்கிறது
Comment[tg]=Нигоҳ дории модул баъзан истифодашавии як қисми код дар як ҷой барои зуд роҳ гирифтан ба он ҷо
Comment[zh_CN]=这个插件允许您保存代码片段并将这些片段插入到您的代码中
Name=Code Snippets
Name[ca]=Trossos de codi
Name[da]=Kodestumper
Name[de]=Code-Schnipsel
Name[es]=Trozos de código
Name[et]=Koodijupid
Name[fr]=Morceaux de code
Name[hu]=Kódrészletek
Name[it]=Frammenti di codice
Name[ja]=コード断片
Name[pl]=Fragmenty kodu
Name[pt]=Pedaços de Código
Name[pt_BR]=Pedaços de Código
Name[ru]=Заготовки кода
Name[sl]=Odseki kode
Name[sv]=Kodsnuttar
Name[ta]=ஸ்னிப்பட் குறியீடுகள்
Name[tg]=Тайёр намудани код
Name[zh_CN]=代码片段
GenericName=Code Snippets
GenericName[ca]=Trossos de codi
GenericName[da]=Kodestumper
GenericName[de]=Code-Schnipsel
GenericName[es]=Trozos de código
GenericName[et]=Koodijupid
GenericName[fr]=Morceaux de code
GenericName[hu]=Kódrészletek
GenericName[it]=Frammenti di codice
GenericName[ja]=コード断片
GenericName[nl]=Tekstblokken
GenericName[pl]=Fragmenty kodu
GenericName[pt]=Pedaços de Código
GenericName[pt_BR]=Pedaços de código
GenericName[ru]=Заготовки кода
GenericName[sl]=Odseki kode
GenericName[sr]=Исечци кôда
GenericName[sr@Latn]=Isečci kôda
GenericName[sv]=Kodsnuttar
GenericName[ta]=ஸ்ப்பட் குறியீடு
GenericName[tg]=Тайёр намудани кодҳо
GenericName[zh_CN]=代码片段
Icon=editcut
ServiceTypes=KDevelop/Plugin
X-KDevelop-Scope=Global
X-KDE-Library=libkdevsnippet
X-KDevelop-Version=1
