[General]
Name=Basic
Name[es]=Básica
Name[gl]=Básico
Name[nl]=Basis
Name[pt]=Básico
Name[pt_BR]=Básico
Name[sv]=Enkel
Name[uk]=Базовий
Name[x-test]=xxBasicxx
Comment=Basic C++ Class
Comment[es]=Clase de C++ básica
Comment[gl]=Clase básica para C++
Comment[nl]=Basis C++ klasse
Comment[pt]=Classe Básica de C++
Comment[pt_BR]=Classe básica em C++
Comment[sv]=Enkel C++ klass
Comment[uk]=Базовий клас C++
Comment[x-test]=xxBasic C++ Classxx
Category=Testing/C++
Type=Class
Files=Header,Implementation

[Header]
Name=Header
Name[es]=Cabecera
Name[gl]=Cabeceira
Name[nl]=Kop
Name[pt]=Inclusão
Name[pt_BR]=Inclusão
Name[sv]=Deklaration
Name[uk]=Заголовок
Name[x-test]=xxHeaderxx
File=class.h
OutputFile={{ name }}.h

[Implementation]
Name=Implementation
Name[de]=Implementation
Name[es]=Implementación
Name[gl]=Implementación
Name[nl]=Implementatie
Name[pt]=Implementação
Name[pt_BR]=Implementação
Name[sv]=Implementering
Name[uk]=Реалізація
Name[x-test]=xxImplementationxx
File=class.cpp
OutputFile={{ name }}.cpp
