[General]
Name=Basic
Name[bs]=Osnovno
Name[da]=Simpel
Name[el]=Βασική
Name[es]=Básica
Name[et]=Basic
Name[ga]=Bunúsach
Name[gl]=Básico
Name[hu]=Alap
Name[nb]=Enkel
Name[nl]=Basis
Name[pl]=Podstawowy
Name[pt]=Básico
Name[pt_BR]=Básico
Name[sk]=Základné
Name[sl]=Osnovno
Name[sv]=Enkel
Name[uk]=Базовий
Name[x-test]=xxBasicxx
Comment=Basic C++ Class
Comment[da]=Simpel C++-klasse
Comment[el]=Βασική C++ Class
Comment[es]=Clase de C++ básica
Comment[et]=Basic C++ klass
Comment[gl]=Clase básica para C++
Comment[hu]=Alap C++ osztály
Comment[nb]=Enkel C++-klasse
Comment[nl]=Basis C++ klasse
Comment[pl]=Podstawowa klasa C++
Comment[pt]=Classe Básica em C++
Comment[pt_BR]=Classe básica em C++
Comment[sl]=Osnovni razred C++
Comment[sv]=Enkel C++ klass
Comment[uk]=Базовий клас C++
Comment[x-test]=xxBasic C++ Classxx
Category=Testing/C++
Type=Class
Files=Header,Implementation

[Header]
Name=Header
Name[da]=Header
Name[el]=Header
Name[es]=Cabecera
Name[et]=Päis
Name[gl]=Cabeceira
Name[hu]=Fejléc
Name[nb]=Hode
Name[nl]=Kop
Name[pl]=Nagłówek
Name[pt]=Inclusão
Name[pt_BR]=Cabeçalho
Name[sk]=Hlavička
Name[sl]=Glava
Name[sv]=Deklaration
Name[uk]=Заголовок
Name[x-test]=xxHeaderxx
File=class.h
OutputFile={{ name }}.h

[Implementation]
Name=Implementation
Name[da]=Implementering
Name[de]=Implementation
Name[el]=Υλοποίηση
Name[es]=Implementación
Name[et]=Teostus
Name[gl]=Implementación
Name[hu]=Megvalósítás
Name[nb]=Implementering
Name[nl]=Implementatie
Name[pl]=Implementacja
Name[pt]=Implementação
Name[pt_BR]=Implementação
Name[sk]=Implementácia
Name[sl]=Izvedba
Name[sv]=Implementering
Name[uk]=Реалізація
Name[x-test]=xxImplementationxx
File=class.cpp
OutputFile={{ name }}.cpp
