[General]
Name=Basic
Name[el]=Βασική
Name[es]=Básica
Name[et]=Basic
Name[ga]=Bunúsach
Name[hu]=Alap
Name[nl]=Basis
Name[pt]=Básico
Name[pt_BR]=Básico
Name[sk]=Základné
Name[sl]=Osnovno
Name[sv]=Enkel
Name[uk]=Базовий
Name[x-test]=xxBasicxx
Comment=Basic C++ Class
Comment[el]=Βασική C++ Class
Comment[es]=Clase de C++ básica
Comment[et]=Basic C++ klass
Comment[hu]=Alap C++ osztály
Comment[nl]=Basis C++ klasse
Comment[pt]=Classe Básica em C++
Comment[pt_BR]=Classe básica em C++
Comment[sl]=Osnovni razred C++
Comment[sv]=Enkel C++ klass
Comment[uk]=Базовий клас C++
Comment[x-test]=xxBasic C++ Classxx
Category=Testing/C++
Type=Class
Files=Header,Implementation

[Header]
Name=Header
Name[el]=Header
Name[es]=Cabecera
Name[et]=Päis
Name[hu]=Fejléc
Name[nl]=Kop
Name[pt]=Inclusão
Name[pt_BR]=Cabeçalho
Name[sk]=Hlavička
Name[sl]=Glava
Name[sv]=Deklaration
Name[uk]=Заголовок
Name[x-test]=xxHeaderxx
File=class.h
OutputFile={{ name }}.h

[Implementation]
Name=Implementation
Name[el]=Υλοποίηση
Name[es]=Implementación
Name[et]=Teostus
Name[hu]=Megvalósítás
Name[nl]=Implementatie
Name[pt]=Implementação
Name[pt_BR]=Implementação
Name[sk]=Implementácia
Name[sl]=Izvedba
Name[sv]=Implementering
Name[uk]=Реалізація
Name[x-test]=xxImplementationxx
File=class.cpp
OutputFile={{ name }}.cpp
