[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=DevHelpPlugin
Name[da]=DevHelp-plugin
Name[sv]=DevHelp-insticksmodul
Name[ta]=Devஉதவி சொருகு
Name[xx]=xxDevHelpPluginxx
Comment=Documentation plugin for DevHelp documentation
Comment[ca]=Connector de documentació per a documentació DevHelp
Comment[da]=Dokumentations-plugin for DevHelp-dokumentation
Comment[de]=Komponente für DevHelp-Dokumentation
Comment[es]=Extensión de documentación para documentación DevHelp
Comment[et]=DevHelp dokumentatsiooni plugin
Comment[eu]=DevHelp dokumentaziorako dokumentazio plugin-a
Comment[fr]=Module de documentation pour DevHelp
Comment[hu]=Dokumentációmodul DevHelp-dokumentációhoz
Comment[it]=Plugin di documentazione per file DevHelp
Comment[ja]=DevHelp ドキュメンテーションのためのドキュメンテーションプラグイン
Comment[nl]=Documentatie plugin fvoor DevHelp documentatie
Comment[pl]=Wtyczka dokumentacji dla dokumentacji w formacie DevHelp
Comment[pt]='Plugin' para documentação DevHelp
Comment[pt_BR]=Plugin de documentação para documento DevHelp
Comment[ru]=Модуль для просмотра документации DevHelp
Comment[sl]=Dokumentacijski vstavek za dokumentacijo DevHelp
Comment[sr]=Документациони прикључак за DevHelp документацију
Comment[sr@Latn]=Dokumentacioni priključak za DevHelp dokumentaciju
Comment[sv]=Dokumentationsinsticksmodul för DevHelp-dokumentation
Comment[ta]= DevHelp ஆவணத்திற்கான ஆவணச் சொருகு
Comment[tg]=Модул барои наоиш намудани DevHelp-и асоснок карда шуда
Comment[tr]=DevHelp belgelendirmesi için belgelendirme eklentisi
Comment[xx]=xxDocumentation plugin for DevHelp documentationxx
Comment[zh_CN]=DevHelp 文档的文档插件
Exec=blubb
ServiceTypes=KDevelop/DocumentationPlugins
X-KDevelop-Version=3
X-KDE-Library=libdocdevhelpplugin
