[Desktop Entry]
Name=KWriteEditorPart
Comment=KWrite Editor Part
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart,KDevelop/Editor
X-KDE-Library=libkwriteeditorpart
Type=Service
InitialPreference=100
