<!DOCTYPE gui SYSTEM "kpartgui.dtd">
<gui name="KDevClangSupport" version="1" translationDomain="kdevclang">
<MenuBar>
  <Menu name="code">
    <Action name="code_rename_declaration"/>
  </Menu>
</MenuBar>
</gui>
