[General]
Name=Basic
Name[bs]=Basic
Name[ca]=Bàsic
Name[ca@valencia]=Bàsic
Name[cs]=Základní
Name[da]=Basal
Name[de]=Einfach
Name[el]=Βασική
Name[es]=Básica
Name[et]=Lihtne
Name[fi]=Yksinkertainen
Name[fr]=De base
Name[gl]=Básico
Name[hu]=Alap
Name[it]=Base
Name[kk]=Негізі
Name[mr]=बेसिक
Name[nb]=Enkel
Name[nl]=Basis
Name[pl]=Podstawowy
Name[pt]=Básico
Name[pt_BR]=Básico
Name[ru]=Простой класс
Name[sk]=Základné
Name[sl]=Osnovno
Name[sv]=Enkel
Name[tr]=Temel
Name[uk]=Базовий
Name[x-test]=xxBasicxx
Name[zh_CN]=基本
Name[zh_TW]=基本
Comment=Basic C++ Class
Comment[bs]=Osnovna C++ Cklasa
Comment[ca]=Classe C++ bàsica
Comment[ca@valencia]=Classe C++ bàsica
Comment[cs]=Základní třída C++
Comment[da]=Basal C++-klasse
Comment[de]=Einfache C++-Klasse
Comment[el]=Βασική C++ Class
Comment[es]=Clase de C++ básica
Comment[et]=C++ lihtklass
Comment[fi]=Yksinkertainen C++-luokka
Comment[fr]=Classe C++ de base
Comment[gl]=Clase básica para C++
Comment[hu]=Alap C++ osztály
Comment[it]=Classe base in C++
Comment[kk]=Негізгі С++ класы
Comment[nb]=Enkel C++-klasse
Comment[nl]=Basis C++ klasse
Comment[pl]=Podstawowa klasa C++
Comment[pt]=Classe Básica em C++
Comment[pt_BR]=Classe básica em C++
Comment[ru]=Простой класс C++
Comment[sk]=Základná C++ trieda
Comment[sl]=Osnovni razred C++
Comment[sv]=Enkel C++ klass
Comment[tr]=Temel C++ Sınıfı
Comment[uk]=Базовий клас C++
Comment[x-test]=xxBasic C++ Classxx
Comment[zh_CN]=基本 C++ 类
Comment[zh_TW]=基本 C++ 類別
Category=Testing/C++
Type=Class
Files=Header,Implementation

[Header]
Name=Header
Name[bs]=Zaglavlje
Name[ca]=Capçalera
Name[ca@valencia]=Capçalera
Name[da]=Header
Name[de]=Header
Name[el]=Header
Name[es]=Cabecera
Name[et]=Päis
Name[fi]=Otsikkotiedosto
Name[fr]=En-tête
Name[gl]=Cabeceira
Name[hu]=Fejléc
Name[it]=Intestazione
Name[kk]=Айдар
Name[mr]=हेडर
Name[nb]=Hode
Name[nl]=Kop
Name[pl]=Nagłówek
Name[pt]=Inclusão
Name[pt_BR]=Inclusão
Name[ru]=Заголовок
Name[sk]=Hlavička
Name[sl]=Glava
Name[sv]=Deklaration
Name[tr]=Başlık
Name[uk]=Заголовок
Name[x-test]=xxHeaderxx
Name[zh_CN]=头文件
Name[zh_TW]=標頭
File=class.h
OutputFile={{ name }}.h

[Implementation]
Name=Implementation
Name[bs]=Implementacija
Name[ca]=Implementació
Name[ca@valencia]=Implementació
Name[cs]=Implementace
Name[da]=Implementation
Name[de]=Implementation
Name[el]=Implementation
Name[es]=Implementación
Name[et]=Teostus
Name[fi]=Toteutus
Name[fr]=Implémentation
Name[gl]=Implementación
Name[hu]=Megvalósítás
Name[it]=Implementazione
Name[kk]=Іске асыруы
Name[nb]=Implementering
Name[nl]=Implementatie
Name[pl]=Implementacja
Name[pt]=Implementação
Name[pt_BR]=Implementação
Name[ru]=Реализация
Name[sk]=Implementácia
Name[sl]=Izvedba
Name[sv]=Implementering
Name[tr]=Gerçekleme
Name[uk]=Реалізація
Name[x-test]=xxImplementationxx
Name[zh_CN]=实现
Name[zh_TW]=實作
File=class.cpp
OutputFile={{ name }}.cpp
