[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Application Wizard
Comment[br]=Skoazeller meziant
Comment[ca]=Assistent d'aplicacions
Comment[da]=Programguide
Comment[de]=Anwendungs-Assistent für KDevelop
Comment[el]=Μάγος εφαρμογής
Comment[es]=Asistente de aplicaciones
Comment[et]=Rakenduse nõustaja
Comment[eu]=Aplikazio morroia
Comment[fr]=Un module externe pour la gestion de l'assistant de création d'applications.
Comment[ga]=Draoi Feidhmchláir
Comment[hi]=अनुप्रयोग विज़ार्ड
Comment[hu]=Alkalmazásvarázsló
Comment[it]=Procedura guidata applicazione
Comment[ja]=アプリケーションウィザード
Comment[nb]=Programveiviser
Comment[nl]=Toepassingassistent
Comment[pl]=Asystent tworzenia programu
Comment[pt]=Assistente de Aplicações
Comment[pt_BR]=Assistente de Aplicativo
Comment[ru]=Мастер создания приложений
Comment[sl]=Čarovnik za programe
Comment[sr]=Чаробњак за програме
Comment[sr@Latn]=Čarobnjak za programe
Comment[sv]=Programguide
Comment[ta]=பயன்பாட்டு வழிகாட்டி
Comment[tg]=Устои сохтани гузориш
Comment[tr]=Uygulama Sihirbazı
Comment[xx]=xxApplication Wizardxx
Comment[zh_CN]=应用程序向导
Name=KDevAppWizard
Name[da]=KDevelop Programguide
Name[de]=Anwendungs-Assistent (KDevelop)
Name[hi]=के-डेव-एप-विज़ार्ड
Name[pl]=KDevAsystentApli
Name[sv]=KDevelop programguide
Name[xx]=xxKDevAppWizardxx
GenericName=Application Wizard
GenericName[br]=Skoazeller meziant
GenericName[ca]=Assistent d'aplicacions
GenericName[da]=Programguide
GenericName[de]=Anwendungs-Assistent
GenericName[el]=Μάγος εφαρμογής
GenericName[es]=Asistente de aplicaciones
GenericName[et]=Rakenduse nõustaja
GenericName[eu]=Aplikazio morroia
GenericName[fr]=Création d'applications
GenericName[ga]=Draoi Feidhmchláir
GenericName[hi]=अनुप्रयोग विज़ार्ड
GenericName[hu]=Alkalmazásvarázsló
GenericName[it]=Procedura guidata applicazione
GenericName[ja]=アプリケーションウィザード
GenericName[nb]=Programveiviser
GenericName[nl]=Toepassingassistent
GenericName[pl]=Asystent tworzenia programu
GenericName[pt]=Assistente de Aplicações
GenericName[pt_BR]=Assistente de Aplicativo
GenericName[ru]=Мастер создания приложений
GenericName[sl]=Čarovnik za programe
GenericName[sr]=Чаробњак за програме
GenericName[sr@Latn]=Čarobnjak za programe
GenericName[sv]=Programguide
GenericName[ta]=பயன்பாடு வழிகாட்டி 
GenericName[tg]=Устои сохтани гузориш
GenericName[tr]=Uygulama Sihirbazı
GenericName[xx]=xxApplication Wizardxx
GenericName[zh_CN]=应用程序向导
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevappwizard
X-KDevelop-Scope=Core
X-KDevelop-Version=3
X-KDevelop-Properties=ProjectCreation
