[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Application Wizard
Name=KDevAppWizard
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevappwizard
X-KDevelop-Scope=Global
