[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Application Wizard
Comment[da]=Program-guide
Comment[de]=Anwendungsassistent
Comment[es]=Asistente de aplicaciones
Comment[hu]=Alkalmazásvarázsló
Comment[pt]=Assistente de Aplicações
Comment[pt_BR]=Assistente de Aplicativo
Comment[sr]=Чаробњак за апликације
Comment[sv]=Programguide
Comment[xx]=xxApplication Wizardxx
Name=KDevAppWizard
Name[de]=KDevAnwAssistent
Name[sv]=KDevelop programguide
Name[xx]=xxKDevAppWizardxx
GenericName=Application Wizard
GenericName[da]=Program-guide
GenericName[de]=Anwendungsassistent
GenericName[es]=Asistente de aplicaciones
GenericName[hu]=Alkalmazásvarázsló
GenericName[pt]=Assistente de Aplicações
GenericName[pt_BR]=Assistente de Aplicativo
GenericName[sr]=Чаробњак за апликације
GenericName[sv]=Programguide
GenericName[xx]=xxApplication Wizardxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevappwizard
X-KDevelop-Scope=Core
X-KDevelop-Version=1
