[Desktop Entry]
Type=Service
Name=CMake Project Manager
GenericName=Project Manager
Comment=Allows KDevelop to manage CMake-based projects
Icon=cmake
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevcmakemanager
X-KDE-PluginInfo-Author=Matt Rogers
X-KDE-PluginInfo-Email=mattr@kde.org
X-KDE-PluginInfo-Name=KDevCMakeManager
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Project Management
X-KDevelop-Version=12
X-KDevelop-Category=Project
X-KDevelop-Language=CMake
X-KDevelop-Interfaces=org.kdevelop.IBuildSystemManager,org.kdevelop.IProjectFileManager,ILanguageSupport
X-KDevelop-SupportedMimeTypes=text/x-cmake
X-KDevelop-Mode=GUI
X-KDevelop-ProjectFilesFilter=CMakeLists.txt
X-KDevelop-ProjectFilesFilterDescription=CMake Project Files
X-KDevelop-LoadMode=AlwaysOn
