[Desktop Entry]
Type=Service
Name=CMakeDocumentation
Name[es]=CMakeDocumentation
Name[nds]=CMake-Dokmentatschoon
Name[pt]=Documentação do CMake
Name[pt_BR]=CMakeDocumentation
Name[sv]=CMake-dokumentation
Name[tr]=CMake Belgelendirmesi
Name[uk]=CMakeDocumentation
Name[x-test]=xxCMakeDocumentationxx
Comment=Allows KDevelop to provide CMake documentation
Comment[es]=Permite que KDevelop proporcione documentación de CMake
Comment[nds]=Mit KDevelop Dokmentatschoon för CMake praatstellen
Comment[pt]=Permite ao KDevelop fornecer a documentação do CMake
Comment[sv]=Låter KDevelop tillhandahålla CMake-dokumentation
Comment[tr]=KDevelop uygulamasına CMake belgelendirmesi sağlar
Comment[uk]=Надає змогу KDevelop показувати документацію CMake
Comment[x-test]=xxAllows KDevelop to provide CMake documentationxx
Icon=gear
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevcmakedocumentation
X-KDE-PluginInfo-Author=Aleix Pol
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=KDevCMakeDocumentation
X-KDE-PluginInfo-License=GPL
X-KDevelop-Version=7
X-KDevelop-Category=Global
X-KDevelop-Language=CMake
X-KDevelop-Interfaces=org.kdevelop.IDocumentationProvider,org.kdevelop.ICMakeDocumentation
X-KDevelop-SupportedMimeTypes=text/x-cmake
X-KDevelop-Mode=GUI
