[Desktop Entry]
Type=Service
Name=KDevQMakeEditor
Name[sv]=KDevelop Qmake-editor
Comment=Imports and edits qmake projects
Comment[et]=Qmake'i projektide importimine ja muutmine
Comment[sl]=Uvozi in uredi projekte qmake
Comment[sv]=Importerar och redigerar Qmake-projekt
Icon=gear
X-KDevelop-Version=3
ServiceTypes=KDevelop/ProjectImporter
X-KDevelop-ProjectImporter=
X-KDE-Library=libqmakeimporter
