[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=pghpf
Comment=Portland Group High Performance Fortran compiler
Comment[ca]=Compilador Fortran d'altes prestacions de Portland Group
Comment[da]=Portland Group Fortran oversætter
Comment[de]=Portland Group High Performance Fortran-Compiler
Comment[el]=Μεταγλωττιστής υψηλής ταχύτητας Fortran της ομάδας Portland
Comment[es]=Compilador de Fortran de alto rendimiento de Portland Group
Comment[et]=Portland Groupi suure jõudlusega Fortrani kompilaator
Comment[eu]=Portland Group-en errendimendu handiko Fortran konpiladorea
Comment[fr]=Compilateur Fortran hautes performances du Portland Group
Comment[hi]=पोर्टलैंड समूह उच्च परफ़ार्मेंस फ़ोरट्रॉन कम्पायलर
Comment[hu]=Portland Group nagyteljesítményű Fortran fordítóprogram
Comment[it]=Compilatore ad alte prestazioni per Fortran del Portland Group
Comment[ja]=Portland グループ ハイパフォーマンス Fortran コンパイラ
Comment[nb]=Portland Group High Performance Fortran-kompilator
Comment[nds]=Portland Group-Hoochleistenkompilerer för Fortran
Comment[nl]=Portland Group High Performance Fortran-compiler
Comment[pl]=Kompilator Portland Group High Performance Fortran
Comment[pt]=Compilador Portland Group High Performance Fortran
Comment[pt_BR]=Compilador Portland Group Alta Performance
Comment[ru]=Компилятор Portland Group High Performance Fortran
Comment[sk]=Portland Group vysoko výkonný Fortran kompilátor
Comment[sr]=Преводилац Fortran-а високих перформанси, из Portland Group-а
Comment[sr@Latn]=Prevodilac Fortran-a visokih performansi, iz Portland Group-a
Comment[sv]=Portland gruppens högprestanda Fortran 77-kompilator
Comment[ta]=பொர்ட்லான்ட் குழு உயர் செயல்பாடு பொர்ட்ரான் தொகுப்பி
Comment[tg]=Талфифгари Portland Group High Performance Fortran 
Comment[tr]=Portland Grubu Yüksek Başarımlı Fortran Derleyicisi
Comment[zh_CN]=Portland Group 高性能 Fortran 编译器
Comment[zh_TW]=Portland Group 高效能 Fortran 編譯器
Name=PghpfOptions
Name[da]=Portland Group oversætter-indstillinger
Name[de]=Pghpf-Einstellungen (KDevelop)
Name[hi]=पीजीएचपीएफ़-विकल्प
Name[nds]=Pghpf-Optschonen
Name[pl]=Opcje Pghpf
Name[sk]=Pghpf možnosti
Name[sv]=Alternativ för pghpf
Name[ta]=Pghpf விருப்பங்கள் 
Name[tg]=PghpfИнтихобҳо
Name[zh_TW]=Pghpf 選項
ServiceTypes=KDevelop/CompilerOptions
X-KDE-Library=libkdevpgioptions
X-KDevelop-Version=3
X-KDevelop-Language=Fortran
X-KDevelop-Args=pghpf
