[Desktop Entry]
Icon=kdevelop
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdevsourceformattersettings
X-KDE-FactoryName=kcm_kdevsourceformattersettings
X-KDE-ParentApp=kdevplatform
X-KDE-ParentComponents=kdevplatform
X-KDE-CfgDlgHierarchy=USERINTERFACE
Name=Source Formatter Settings
Name[el]=Ρυθμίσεις διαμόρφωσης πηγαίου
Name[es]=Preferencias del formateador de código
Name[fr]=Paramètres du formateur de sources
Name[gl]=Configuración do formatador do código
Name[lv]=Pirmkoda formatēšanas iestatījumi
Name[nds]=Bornformateren instellen
Name[pt]=Configuração da Formatação do Código
Name[pt_BR]=Configurações do formatador de código-fonte
Name[sv]=Inställningar för källkodsformatering
Name[tr]=Kaynak Biçimlendirici Ayarları
Name[uk]=Параметри інструменту форматування коду
Name[x-test]=xxSource Formatter Settingsxx
Name[zh_CN]=源代码格式化器设置
Name[zh_TW]=源碼格式化設定


