[Desktop Entry]
Icon=kdevelop
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdevsourceformattersettings
X-KDE-FactoryName=kcm_kdevsourceformattersettings
X-KDE-ParentApp=kdevplatform
X-KDE-ParentComponents=kdevplatform
X-KDE-CfgDlgHierarchy=USERINTERFACE
Name=Source Formatter Settings
Name[el]=Ρυθμίσεις διαμόρφωσης πηγαίου
Name[es]=Preferencias del formateador de código
Name[nds]=Bornformateren instellen
Name[pt]=Configuração da Formatação do Código
Name[pt_BR]=Configuração da Formatação do Código
Name[tr]=Kaynak Biçimlendirici Ayarları
Name[uk]=Параметри інструменту форматування коду


