[Desktop Entry]
Type=Service
Exec=blubb
Comment=KNotes Plugin
Comment[ca]=Connector de KNotes
Comment[da]=KNotes plugin
Comment[de]=KNotes-Komponente für KDevelop
Comment[es]=Plugin de KNotes
Comment[et]=KNotesi plugin
Comment[fr]=Un module externe pour « KNotes »
Comment[hi]=के-नोट्स प्लगइन
Comment[hu]=KNotes-bővítőmodul
Comment[it]=Plugin per KNotes
Comment[nb]=KNotes-programtillegg
Comment[nl]=KNotes-plugin
Comment[pl]=Wtyczka KNotes
Comment[pt]='Plugin' do KNotes
Comment[pt_BR]=Plugin do KNotes
Comment[ru]=Модуль KNotes
Comment[sl]=Vstavek KNotes
Comment[sr]=Прикључак за KNotes
Comment[sr@Latn]=Dodatak za KNotes
Comment[sv]=Insticksprogram för anteckningar
Comment[ta]=KNotes சொருகு
Comment[xx]=xxKNotes Pluginxx
Comment[zh_CN]=KNotes插件
Name=KDevNotes
Name[de]=KNotes-Komponente (KDevelop)
Name[hi]=के-डेव-नोट्स
Name[pl]=KDevNotatki
Name[sv]=KDevelop anteckningar
Name[ta]=KDev குறிப்புகள்
Name[xx]=xxKDevNotesxx
GenericName=KNotes Plugin
GenericName[ca]=Connector de KNotes
GenericName[da]=KNotes plugin
GenericName[de]=KNotes-Komponente
GenericName[es]=Plugin de KNotes
GenericName[et]=KNotesi plugin
GenericName[fr]=Gestion des annotations
GenericName[hi]=के-नोट्स प्लगइन
GenericName[hu]=KNotes-bővítőmodul
GenericName[it]=Plugin per KNotes
GenericName[nb]=KNotes-programtillegg
GenericName[nl]=KNotes-plugin
GenericName[pl]=Wtyczka KNotes
GenericName[pt]='Plugin' do KNotes
GenericName[pt_BR]=Plugin do KNotes
GenericName[ru]=Модуль KNotes
GenericName[sl]=Vstavek KNotes
GenericName[sr]=Прикључак за KNotes
GenericName[sr@Latn]=Dodatak za KNotes
GenericName[sv]=Insticksprogram för anteckningar
GenericName[ta]=KNotes சொருகு
GenericName[xx]=xxKNotes Pluginxx
GenericName[zh_CN]=KNotes插件
Icon=knotes
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevnotes
X-KDevelop-Version=1
X-KDevelop-Scope=Global
