[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=DocPDFPlugin
Name[da]=DocPDF-plugin
Name[sv]=DocPDF-insticksmodul
Name[ta]=DocQt  சொருகுபொருள்
Name[xx]=xxDocPDFPluginxx
Exec=blubb
Comment=Documentation plugin for PDF format
Comment[da]=Dokumentations-plugin for PDF-format
Comment[de]=Komponente für das PDF-Dokumentationsformat
Comment[es]=Extensión de documentación para el formato PDF
Comment[et]=PDF-vormingus dokumentatsiooni plugin
Comment[eu]=PDF formaturako dokumentazio plugin-a
Comment[fr]=Module de documentation pour le format PDF
Comment[hu]=Dokumentációmodul PDF formátumú dokumentációhoz
Comment[it]=Plugin di documentazione per formato PDF
Comment[ja]=PDF フォーマットのためのドキュメンテーションプラグイン
Comment[nl]=Documentatie plugin voor PDF documentatie
Comment[pl]=Wtyczka dokumentacji dla dokumentacji w formacie PDF
Comment[pt]='Plugin' para documentação no formato PDF
Comment[pt_BR]=Plugin de documentação para o formato PDF
Comment[ru]=Модуль для просмотра PDF
Comment[sr]=Документациони прикључак за PDF формат
Comment[sr@Latn]=Документациони прикључак за PDF формат
Comment[sv]=Dokumentationsinsticksmodul för PDF-format
Comment[ta]= Qt DCF ஆவணத்திற்கான ஆவணச் சொருகு
Comment[tg]=Модул барои наоиши PDF
Comment[xx]=xxDocumentation plugin for PDF formatxx
Comment[zh_CN]=PDF 格式的文档插件
ServiceTypes=KDevelop/DocumentationPlugins
X-KDevelop-Version=1
X-KDE-Library=libdocpdfplugin
