[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Source Code Navigation
Comment[ca]=Navegació a través del codi font
Comment[da]=Kildekode navigation
Comment[de]=Quelltext-Navigation für KDevelop
Comment[es]=Navegación del código fuente
Comment[et]=Lähtekoodis liikumine
Comment[fr]=Un module externe pour la gestion d'un navigateur du code source.
Comment[hi]=स्रोत कोड नेविग़ेशन
Comment[hu]=Forráskód-navigáció
Comment[it]=Navigatore per codice sorgente
Comment[ja]=ソースコードナビゲーション
Comment[nl]=Navigatie door broncode
Comment[pl]=Nawigacja w kodzie źródłowym
Comment[pt]=Navegação no Código-Fonte
Comment[pt_BR]=Navegação de Código Fonte
Comment[ru]=Навигация по исходному коду
Comment[sl]=Navigacija po izvorni kodi
Comment[sr]=Навигација изворним кодом
Comment[sr@Latn]=Navigacija izvornim kodom
Comment[sv]=Källkodsnavigering
Comment[ta]=மூல குறிப்பரை வழி செலுத்து
Comment[tg]=Навигатсия бо коди берунӣ
Comment[zh_CN]=源代码浏览
Name=KDevSourceNav
Name[de]=Quelltextnavigator-Komponente (KDevelop)
Name[hi]=के-डेव-स्रोत-नेव
Name[pl]=KDevNawŹródła
Name[sv]=KDevelop källkodsnavigering
Name[ta]=Kடேவ் மூலம் Nav
GenericName=Source Code Navigation
GenericName[ca]=Navegació a través del codi font
GenericName[da]=Kildekode navigation
GenericName[de]=Quelltext-Navigator
GenericName[es]=Navegación del código fuente
GenericName[et]=Lähtekoodis liikumine
GenericName[fr]=Navigation dans le code source
GenericName[hi]=स्रोत कोड नेविग़ेशन
GenericName[hu]=Forráskód-navigáció
GenericName[it]=Navigazione nel codice sorgente
GenericName[ja]=ソースコードナビゲーション
GenericName[nl]=Navigatie door broncode
GenericName[pl]=Nawigacja w kodzie źródłowym
GenericName[pt]=Navegação no Código Fonte
GenericName[pt_BR]=Navegação de Código Fonte
GenericName[ru]=Навигация по исходному коду
GenericName[sl]=Navigacija po izvorni kodi
GenericName[sr]=Навигација изворним кодом
GenericName[sr@Latn]=Navigacija izvornim kodom
GenericName[sv]=Källkodsnavigering
GenericName[ta]=மூல குறிப்பரை வழி செலுத்து
GenericName[tg]=Навигатсия бо коди берунӣ
GenericName[zh_CN]=源代码浏览
Icon=kdevelop
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevsourcenav
X-KDevelop-Version=1
X-KDevelop-Scope=Global
