[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Source Code Navigation
Comment[da]=Kildekode navigation
Comment[de]=Quellcodenavigation
Comment[es]=Navegación del código fuente
Comment[hu]=Forráskód-navigáció
Comment[pt_BR]=Navegação de Código Fonte
Comment[sr]=Навигација изворног кода
Comment[sv]=Källkodsnavigering
Comment[xx]=xxSource Code Navigationxx
Name=KDevSourceNav
Name[de]=KDevQuellcodeNav
Name[sv]=KDevelop källkodsnavigering
Name[xx]=xxKDevSourceNavxx
GenericName=Source Code Navigation
GenericName[da]=Kildekode navigation
GenericName[de]=Quellcodenavigation
GenericName[es]=Navegación del código fuente
GenericName[hu]=forráskód-navigáció
GenericName[pt]=Navegação no Código Fonte
GenericName[pt_BR]=Navegação de Código Fonte
GenericName[sr]=Навигација изворног кода
GenericName[sv]=Källkodsnavigering
GenericName[xx]=xxSource Code Navigationxx
Icon=kdevelop
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevsourcenav
X-KDevelop-Version=1
X-KDevelop-Scope=Global
