[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDevelop Kross Support
Name[bg]=Поддръжка на KDevelop Kross
Name[bs]=KDevelop Kross podrška
Name[ca]=Implementació de Kross per KDevelop
Name[ca@valencia]=Implementació de Kross per KDevelop
Name[da]=Kross-understøttelse
Name[de]=KDevelop-Unterstützung für Kross
Name[el]=Υποστήριξη Kross του KDevelop
Name[en_GB]=KDevelop Kross Support
Name[es]=Implementación Kross de KDevelop
Name[et]=KDevelopi Krossi toetus
Name[fi]=KDevelop Kroos -tuki
Name[fr]=Prise en charge de Kross pour KDevelop
Name[gl]=Soporte de Kross para KDevelop
Name[hu]=KDevelop Kross támogatás
Name[it]=Supporto Kross di KDevelop
Name[ja]=KDevelop Kross サポート
Name[kk]=KDevelop Kross қолдауы
Name[lv]=KDevelop Kross atbalsts
Name[nb]=Støtte for Kross i KDevelop
Name[nds]=KDevelop-Kross-Ünnerstütten
Name[nl]=Kross ondersteuning van KDevelop 
Name[pl]=Obsługa Kross dla KDevelopa
Name[pt]=Suporte do Kross para o KDevelop
Name[pt_BR]=Suporte do KDevelop ao Kross
Name[ro]=Suport Kross KDevelop
Name[ru]=Поддержка Kross в KDevelop
Name[sk]=Podpora KDevelop Kross
Name[sl]=Podpora za Kross
Name[sv]=KDevelop stöd för Kross
Name[tr]=KDevelop Kross Desteği
Name[ug]= KDevelop Kross قوللىشى
Name[uk]=Підтримка Kross у KDevelop
Name[x-test]=xxKDevelop Kross Supportxx
Name[zh_CN]=KDevelop Kross 支持
Name[zh_TW]=KDevelop Kross 支援
Comment=KDevelop Kross Support
Comment[bg]=Поддръжка на KDevelop Kross
Comment[bs]=KDevelop Kross podrška
Comment[ca]=Implementació de Kross per KDevelop
Comment[ca@valencia]=Implementació de Kross per KDevelop
Comment[cs]=Podpora Kdevelop Kross
Comment[da]=Kross-understøttelse
Comment[de]=KDevelop-Unterstützung für Kross
Comment[el]=Υποστήριξη Kross του KDevelop
Comment[en_GB]=KDevelop Kross Support
Comment[es]=Implementación Kross de KDevelop
Comment[et]=KDevelopi Krossi toetus
Comment[fi]=KDevelop Kross -tuki
Comment[fr]=Prise en charge de Kross pour KDevelop
Comment[gl]=Soporte de Kross para KDevelop
Comment[hu]=KDevelop Kross támogatás
Comment[it]=Supporto Kross di KDevelop
Comment[ja]=KDevelop の Kross サポート
Comment[kk]=KDevelop Kross қолдауы
Comment[lv]=KDevelop Kross atbalsts
Comment[nb]=Støtte for Kross i KDevelop
Comment[nds]=KDevelop-Ünnerstütten för Kross
Comment[nl]=Kross ondersteuning van KDevelop 
Comment[pl]=Obsługa Kross dla KDevelopa
Comment[pt]=Suporte do Kross para o KDevelop
Comment[pt_BR]=Suporte do KDevelop ao Kross
Comment[ro]=Suport Kross KDevelop
Comment[ru]=Поддержка Kross в KDevelop
Comment[sk]=Podpora KDevelop Kross
Comment[sl]=Podpora za Kross
Comment[sv]=KDevelop stöd för Kross
Comment[tr]=KDevelop Kross Desteği
Comment[ug]= KDevelop Kross قوللىشى
Comment[uk]=Підтримка Kross у KDevelop
Comment[x-test]=xxKDevelop Kross Supportxx
Comment[zh_CN]=KDevelop Kross 支持
Comment[zh_TW]=KDevelop Kross 支援
Icon=gear
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevkrossplugin
X-KDE-PluginInfo-Author=Aleix Pol
X-KDE-PluginInfo-Email=aleixpol@gmail.com
X-KDE-PluginInfo-Name=KDevKrossManager
X-KDE-PluginInfo-License=GPL
X-KDevelop-FileManager=Kross
X-KDevelop-Version=15
X-KDevelop-Category=Project
X-KDevelop-Interfaces=org.kdevelop.IBuildSystemManager,org.kdevelop.IProjectFileManager,org.kdevelop.ILanguageSupport
