[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=This plugin provides an easy way to add external applications to the Tools menu and toolbar.
Comment[fr]=Un module externe pour l'ajout d'applications externes au menu « Outils » et à la barre d'outils.
Comment[x-test]=xxThis plugin provides an easy way to add external applications to the Tools menu and toolbar.xx
Name=KDevTools
Name[x-test]=xxKDevToolsxx
GenericName=Tools Menu Addition
GenericName[fr]=Suppléments au menu Outils
GenericName[x-test]=xxTools Menu Additionxx
Icon=configure
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevtools
X-KDevelop-Version=4
X-KDevelop-Scope=Global
X-KDevelop-Properties=AdditionalTools
