[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Tools
Name=KDevTools
Icon=kdevelop
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevtools
X-KDevelop-Scope=Global 
