[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=This plugin provides an easy way to add external applications to the Tools menu and toolbar.
Comment[ca]=Aquest connector proporciona un mètode fàcil per afegir aplicacions externes en el menú Eines i a la barra d'eines.
Comment[da]=Dette plugin sørger for en nem måde at tilføje eksterne programmer til værktøjsmenuen og værktøjslinjen.
Comment[de]=Diese Komponente erleichtert das Hinzufügen externer Anwendungen zum Menü Werkzeuge und in die Werkzeugleiste.
Comment[es]=Este plugin proporciona un método sencillo para añadir aplicaciones externas en el menú de Herramientas y en la barra de herramientas.
Comment[et]=See plugin võimaldab hõlpsasti lisada väliseid rakendusi tööriistade menüüsse ja tööriistaribale.
Comment[eu]=Plugin honek kanpoko aplikazioak Tresnak menu eta tresna-barran erraz gehitzeko aukera eskeintzen du.
Comment[fr]=Un module externe pour l'ajout d'applications externes au menu « Outils » et à la barre d'outils.
Comment[hu]=Ez a bővítőmodul lehetővé teszi az Eszközök menü és az eszköztár egyszerű kibővítését
Comment[it]=Questo plugin offre un modo per aggiungere applicazioni esterne al menu o alla barra degli strumenti.
Comment[ja]=このプラグインはツールメニューやツールバーに外部のアプリケーションを追加する簡単な方法を提供します。
Comment[nl]=Met deze plugin kunt u op eenvoudige wijze externe toepassingen aan het menu Gereedschap en de werkbalk toevoegen.
Comment[pl]=Ta wtyczka umożliwia łatwe dodawanie zewnętrznych programów do menu Narzędzia i do paska narzędzi.
Comment[pt]=Este 'plugin' oferece uma forma simples de adicionar as aplicações externas ao menu Ferramentas e à barra de ferramentas.
Comment[pt_BR]=Este plugin fornece uma maneira fácil de adicionar aplicativos externos ao menu Ferramentas e barra de ferramentas.
Comment[ru]=Предоставляет возможности добавления в меню пунктов вызова внешних приложений.
Comment[sl]=Ta vstavek omogoča preprost način dodajanja zunanjih programov v meni Orodja in v orodjarno.
Comment[sr]=Овај прикључак обезбеђује лак начин за додавање спољних програма у мени „Алати“ и у траку са алатима.
Comment[sr@Latn]=Ovaj priključak obezbeđuje lak način za dodavanje spoljnih programa u meni „Alati“ i u traku sa alatima.
Comment[sv]=Insticksprogrammet tillhandahåller ett enkelt sätt att lägga till yttre program i verktygsmenyn och verktygsraden.
Comment[ta]=இந்த சொருகி கருவிப்பட்டியல் மற்றும் கருவிப்பட்டையில் வெளிபுற பயன்பாடு எளிய முறையில் சேர்க்கலாம். 
Comment[tg]=Барои илова намудан дар меню нуқтаҳои ҷеғ задани гузоришҳои берунро имкон медиҳад.
Comment[xx]=xxThis plugin provides an easy way to add external applications to the Tools menu and toolbar.xx
Comment[zh_CN]=这个插件提供向工具菜单和工具栏添加外部程序的方法。
Name=KDevTools
Name[da]=KDevelop Værktøjer
Name[de]=Werkzeug-Menüerweiterung (KDevelop)
Name[hi]=के-डेव-टूल्स
Name[pl]=KDevNarzędzia
Name[sv]=KDevelop verktyg
Name[ta]=KDev கருவிகள்
Name[tg]=Асбобҳои KDev
Name[xx]=xxKDevToolsxx
GenericName=Tools Menu Addition
GenericName[ca]=Afegiment al menú Eines
GenericName[da]=Værktøjsmenu tilføjelse
GenericName[de]=Werkzeuge Menüerweiterung
GenericName[es]=Adición al menú Herramientas
GenericName[et]=Tööriistade menüü lisamine
GenericName[eu]=Tresnak menuan gehitu
GenericName[fr]=Suppléments au menu Outils
GenericName[hu]=Bővítés az Eszközök menühöz
GenericName[it]=Aggiunte al menu Strumenti
GenericName[ja]=ツールメニュー追加
GenericName[nl]=Gereedschapsmenu-toevoeging
GenericName[pl]=Dodatek do menu Narzędzia
GenericName[pt]=Adicionar ao Menu de Ferramentas
GenericName[pt_BR]=Adição ao Menu Ferramentas
GenericName[ru]=Дополнение меню инструментов
GenericName[sl]=Dodatek menija orodij
GenericName[sr]=Додаци менију „Алати“
GenericName[sr@Latn]=Dodaci meniju „Alati“
GenericName[sv]=Tillägg i verktygsmenyn
GenericName[ta]=கருவிப்பட்டியல் சேர்ப்பு
GenericName[tg]=Асбобҳои иловагии меню
GenericName[xx]=xxTools Menu Additionxx
GenericName[zh_CN]=工具菜单附加
Icon=configure
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevtools
X-KDevelop-Version=3
X-KDevelop-Scope=Global
X-KDevelop-Properties=AdditionalTools
