[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=This plugin displays a graphical view of all documents currently loaded and separates them by mimetype.
Comment[x-test]=xxThis plugin displays a graphical view of all documents currently loaded and separates them by mimetype.xx
Name=KDevDocumentView
Name[x-test]=xxKDevDocumentViewxx
GenericName=Document View
GenericName[x-test]=xxDocument Viewxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevdocumentview
X-KDevelop-Version=4
X-KDevelop-Category=Global
X-KDevelop-Properties=GlobalFileManagement
