[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=This plugin displays a graphical view of all documents currently loaded and separates them by mimetype.
Comment[de]=Dieses Modul zeigt eine graphische Darstellung aller gerade offenen Dokumente nach Mime-Typ getrennt an.
Comment[el]=Αυτό το πρόσθετο εμφανίζει μια γραφική προβολή όλων των φορτωμένων εγγράφων και τα διαχωρίζει κατά τον τύπο mime τους.
Comment[es]=Este complemento muestra una vista gráfica de todos los documentos cargados y los organiza por su tipo MIME.
Comment[fr]=Ce module externe affiche une vue graphique de tous les documents actuellement chargés et les sépare par type MIME.
Comment[ga]=Taispeánann an breiseán seo amharc grafach ar gach cáipéis atá luchtaithe faoi láthair, agus dealaíonn sé iad de réir a gcineál MIME.
Comment[gl]=Esta extensión mostra unha vista gráfica de todos os documentos agora cargados e sepáraos segundo o seu tipo mime.
Comment[it]=Questo plugin mostra una vista grafica di tutti i documenti attualmente caricati e li separa dal tipo di MIME
Comment[ko]=이 플러그인은 현재 불러온 모든 문서를 보여 주며 MIME 형식으로 구분합니다.
Comment[lv]=Šis spraudnis grafiski parāda visus šobrīd ielādētos dokumentus un sadala tos pēc mime tipiem.
Comment[nds]=Dit Moduul wiest all opstunns laadt Dokmenten graafsch un sorteert se na MIME-Typ.
Comment[ne]=यो प्लगइनले हालै लोड गरिएको सबै कागजातहरूको ग्राफिकल दृश्य प्रदर्शन गर्दछ र माइमप्रकारद्वारा तिनीहरूलाई अलग गर्दछ ।
Comment[pl]=Ta wtyczka wyświetla informacje o wszystkich wczytanych dokumentach oddzielonych ich typami MIME
Comment[pt]=Este 'plugin' mostra uma visão gráfica de todos os documentos carregados de momento e separa-os por tipo MIME.
Comment[pt_BR]=Este plugin mostra uma visão gráfica de todos os documentos carregados atualmente e separa-os por tipo MIME.
Comment[sv]=Insticksprogrammet visar en grafisk vy av alla dokument som för närvarande har laddats och delar upp dem enligt Mime-typ.
Comment[tr]=Bu eklenti şimdi yüklenmiş olan tüm belgeleri grafik arayüzde gösterir ve belgeleri mime tipine göre ayırır.
Comment[uk]=Цей додаток відображає у графічному вигляді всі відкриті документи і впорядковує їх за типом MIME.
Comment[x-test]=xxThis plugin displays a graphical view of all documents currently loaded and separates them by mimetype.xx
Comment[zh_CN]=此插件可显示所有当前装入文档的视图，并根据 MIME 类型互相分隔。
Comment[zh_TW]=這個外掛程式顯示目前載入並依 MIME 型態分類的文件的圖形檢視。
Name=Document View
Name[de]=Dokumentansicht
Name[el]=Προβολή εγγράφου
Name[es]=Visor de documentos
Name[fa]=نمای مستندات
Name[fr]=Vue du document
Name[ga]=Amharc Cáipéise
Name[gl]=Vista dos documentos
Name[hi]=दस्तावेज़ दृश्य
Name[it]=Visualizzatore documento
Name[ko]=문서 보기
Name[lv]=Dokumentu skats
Name[nds]=Dokmenten-Ansicht
Name[ne]=कागजात दृश्य
Name[pl]=Przeglądarka dokumentacji
Name[pt]=Visualizador de Documentos
Name[pt_BR]=Visualizador de Documentos
Name[sv]=Dokumentvy
Name[tr]=Belge Görünümü
Name[uk]=Перегляд документа
Name[x-test]=xxDocument Viewxx
Name[zh_CN]=文档视图
Name[zh_TW]=文件檢視
GenericName=Document View
GenericName[de]=Dokumentansicht
GenericName[el]=Προβολή εγγράφου
GenericName[es]=Visor de documentos
GenericName[fa]=نمای مستندات
GenericName[fr]=Vue du document
GenericName[ga]=Amharc Cáipéise
GenericName[gl]=Vista dos documentos
GenericName[hi]=दस्तावेज़ दृश्य
GenericName[it]=Visualizzatore documento
GenericName[ko]=문서 보기
GenericName[lv]=Dokumentu skats
GenericName[nds]=Dokmentenansicht
GenericName[ne]=कागजात दृश्य
GenericName[pl]=Przeglądarka dokumentacji
GenericName[pt]=Visualizador de Documentos
GenericName[pt_BR]=Visualizador de Documentos
GenericName[sv]=Dokumentvy
GenericName[tr]=Belge Görünümü
GenericName[uk]=Перегляд документа
GenericName[x-test]=xxDocument Viewxx
GenericName[zh_CN]=文档视图
GenericName[zh_TW]=文件檢視
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevdocumentview
X-KDE-PluginInfo-Name=kdevdocumentview
X-KDE-PluginInfo-Author=Adam Treat
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Version=6
X-KDevelop-Category=Global
X-KDevelop-Properties=GlobalFileManagement
