[KDE Desktop Entry]
BinaryPattern=kdevelop;
Type=Application
Exec=gideon -caption "%c" %i %m %u
MimeType=application/x-kdevelop;
Icon=kdevelop
DocPath=kdevelop/index.html
Terminal=0
Name=KDevelop 3.0
Comment=IDE for C++/Qt/KDE
X-DCOP-ServiceType=Multi
