[Desktop Entry]
Icon=go-up
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_cppcheck
X-KDE-FactoryName=kcm_kdev_cppcheck
X-KDE-ParentApp=kdevplatformproject
X-KDE-ParentComponents=kdevplatformproject,kdevcppcheck
X-KDE-CfgDlgHierarchy=GENERAL

Name=Cppcheck
Name[cs]=Cppcheck
Name[de]=Cppcheck
Name[fr]=Cppcheck
Name[nl]=Cppcheck
Name[pt]=Cppcheck
Name[pt_BR]=Cppcheck
Name[sk]=Cppcheck
Name[sv]=Cppcheck
Name[uk]=Cppcheck
Name[x-test]=xxCppcheckxx
Comment=Configure Cppcheck
Comment[cs]=Nastavit Cppcheck
Comment[de]=Cppcheck einrichten
Comment[fr]=Configurer Cppcheck
Comment[nl]=Cppcheck instellen
Comment[pt]=Configurar o CppCheck
Comment[pt_BR]=Configurar o Cppcheck
Comment[sk]=Nastaviť CPPCheck
Comment[sv]=Anpassa Cppcheck
Comment[uk]=Налаштовування Cppcheck
Comment[x-test]=xxConfigure Cppcheckxx
