[Desktop Entry]
Type=Service

Name=Okteta Integration
Name[pt]=Integração com o Okteta
Name[pt_BR]=Integração com o Okteta
Name[sv]=Integrering med Okteta
Name[uk]=Інтеграція з Okteta
Name[x-test]=xxOkteta Integrationxx
GenericName=Hex Editor Integration
GenericName[pt]=Integração com o Editor Hexadecimal
GenericName[pt_BR]=Integração com o Editor Hexadecimal
GenericName[sv]=Integrering med hexeditor
GenericName[uk]=Інтеграція з шістнадцятковим редактором
GenericName[x-test]=xxHex Editor Integrationxx
Comment=KDevelop Hex Editor based on Okteta
Comment[pt]=Editor Hexadecimal do do KDevelop, baseado no Okteta
Comment[pt_BR]=Editor Hexadecimal do KDevelop, baseado no Okteta
Comment[sv]=Hexeditor i KDevelop baserad på Okteta
Comment[uk]=Шістнадцятковий редактор KDevelop, заснований на Okteta
Comment[x-test]=xxKDevelop Hex Editor based on Oktetaxx
Icon=okteta
ServiceTypes=KDevelop/Plugin

X-KDE-Library=kdevokteta
X-KDE-PluginInfo-Name=kdevokteta
X-KDE-PluginInfo-Author=Friedrich W. H. Kossebau
X-KDE-PluginInfo-Email=kossebau@kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDevelop-Version=8
X-KDevelop-Category=Global
X-KDevelop-SupportedMimeTypes=audio/x-wav;
X-KDevelop-Mode=GUI
