[KDE Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kdevelop --profile CandCppIDE %u
MimeType=application/x-kdevelop;
Icon=kdevelop
DocPath=kdevelop/index.html
Terminal=false
Name=KDevelop: C/C++
Name[fr]=KDevelop : Développement C / C++
Name[it]=KDevelop: Sviluppo C/C++
Name[pt]=KDevelop: Desenvolvimento em C/C++
Name[pt_BR]=KDevelop: Desenvolvimento em C/C++
Name[ru]=KDevelop: Разработка на языках C/C++
Name[sv]=KDevelop: C/C++ utveckling
GenericName=IDE for C/C++
GenericName[fr]=Environnement de développement intégré pour C / C++
GenericName[it]=Ambiente di sviluppo integrato per lo sviluppo C/C++
GenericName[pt]=Ambiente de Desenvolvimento Integrado para a programação em C/C++
GenericName[pt_BR]=Ambiente de Desenvolvimento Integrado para a programação em C/C++
GenericName[ru]=Интегрированная среда разработки на C/C++
GenericName[sv]=Integrerad utvecklingsmiljö för C/C++ utveckling
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Development;IDE;X-KDE-KDevelopIDE;

