[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=QML Language Support
Comment[de]=Sprachunterstützung für QML
Comment[nl]=QML-taalondersteuning
Comment[pt]=Suporte para a Linguagem QML
Comment[pt_BR]=Suporte à linguagem QML
Comment[x-test]=xxQML Language Supportxx
Name=QML Support
Name[de]=Unterstützung für QML
Name[nl]=QML-ondersteuning
Name[pt]=Suporte para QML
Name[pt_BR]=Suporte à QML
Name[x-test]=xxQML Supportxx
GenericName=QML Support
GenericName[de]=Unterstützung für QML
GenericName[nl]=QML-ondersteuning
GenericName[pt]=Suporte para QML
GenericName[pt_BR]=Suporte à QML
GenericName[x-test]=xxQML Supportxx
ServiceTypes=KDevelop/Plugin
Icon=text-x-qml
X-KDE-Library=kdevqmljslanguagesupport
X-KDevelop-Version=16
X-KDevelop-Language=QML/JS
X-KDevelop-Interfaces=ILanguageSupport
X-KDevelop-SupportedMimeTypes=text/x-qml,application/javascript
X-KDE-PluginInfo-Name=KDevQmlJsSupport
X-KDevelop-Mode=NoGUI
X-KDE-PluginInfo-Category=Language Support
