[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kdevelop --profile ScriptingLanguageIDE %u
MimeType=application/x-kdevelop;
Icon=kdevelop
DocPath=kdevelop/index.html
Terminal=false
Name=KDevelop: Scripting
Name[ca]=KDevelop: Scripts
Name[cs]=KDevelop: skriptování
Name[da]=KDevelop: Scriptning
Name[de]=KDevelop: Skripten
Name[el]=KDevelop: γραφή σεναρίων
Name[et]=KDevelop: skriptikeeled
Name[eu]=KDevelop: Script-ak
Name[fa]=KDevelop: دست‌نوشته
Name[fr]=KDevelop : Scripts
Name[ga]=KDevelop: Scriptiú
Name[hu]=KDevelop: Szkriptkészítő
Name[it]=KDevelop: scripting
Name[ja]=KDevelop: スクリプティング
Name[nds]=KDevelop: Skripten
Name[pl]=KDevelop: Skrypty
Name[pt]=KDevelop: 'Scripting'
Name[ru]=KDevelop: Сценарии
Name[sk]=KDevelop: Skriptovanie
Name[sl]=KDevelop: Skriptiranje
Name[sr]=KDevelop: Скриптовање
Name[sr@Latn]=KDevelop: Skriptovanje
Name[sv]=KDevelop: skript
Name[tr]=KDevelop: Betik
Name[zh_CN]=KDevelop：脚本
Name[zh_TW]=KDevelop：文稿
GenericName=IDE for Scripting Language
GenericName[ca]=IDE per al llenguatge d'scripts
GenericName[cs]=IDE pro skriptovací jazyky
GenericName[da]=Integreret udviklingsmiljø for scriptsprog
GenericName[de]=IDE für Skript-Sprachen
GenericName[el]=IDE για γλώσσα γραφής σεναρίων
GenericName[es]=IDE para lenguaje de guiones
GenericName[et]=Skriptikeelte IDE
GenericName[eu]=Script lengoaientzatko IDE-a
GenericName[fa]=IDE برای زبانهای دست‌نوشته‌ای
GenericName[fr]=IDE pour les langages de scripts
GenericName[hu]=Fejlesztőkörnyezet szkriptnyelvekhez
GenericName[it]=IDE per linguaggi di scripting
GenericName[ja]=スクリプト言語のための統合開発環境
GenericName[nds]=Skriptspraak-Programmsmeed
GenericName[nl]=IDE voor Scripting Language
GenericName[pl]=IDE dla języków skryptowych
GenericName[pt]=IDE para Linguagens de 'Scripting'
GenericName[pt_BR]=IDE para Linguagem de Script
GenericName[ru]=Среда разработки на интерпретируемых языках
GenericName[sk]=IDE pre skriptovací jazyk
GenericName[sl]=IDE za skriptni jezik
GenericName[sr]=IDE за скриптне језике
GenericName[sr@Latn]=IDE za skriptne jezike
GenericName[sv]=Utvecklingsmiljö för skriptspråk
GenericName[tr]=Betik Dili için Bütünleşik Geliştirme Ortamı
GenericName[zh_CN]=脚本语言的 IDE
GenericName[zh_TW]=文稿語言的整合開發環境
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Development;IDE;X-KDE-KDevelopIDE;

