[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kdevassistant %u
Icon=kdevelop
DocPath=kdevelop/index.html
Terminal=false
Name=KDevelop Assistant
Name[ca]=Assistent per a KDevelop
Name[da]=KDevelop assistent
Name[de]=KDevelop Assistent
Name[es]=Asistente de KDevelop
Name[et]=KDevelopi abiline
Name[eu]=KDevelop laguntzailea
Name[fr]=Assistant de KDevelop
Name[it]=Assistente di KDevelop
Name[ja]=KDevelop アシスタント
Name[nl]=KDevelop Assistent
Name[pl]=Asystent KDevelop
Name[pt]=Assistente do KDevelop
Name[pt_BR]=Assistente do KDevelop
Name[sl]=Pomočnik za KDevelop
Name[sr]=KDevelop-ов асистент
Name[sr@Latn]=KDevelop-ov asistent
Name[sv]=KDevelop assistent
Name[ta]=Kஉருவாக்கு உதவி 
Name[tg]=KDevelop Ассистент
Name[xx]=xxKDevelop Assistantxx
Name[zh_CN]=KDevelop 助手
GenericName=Documentation Viewer
GenericName[br]=Gweler an teuliadur
GenericName[ca]=Visor de documentació
GenericName[da]=Dokumentationsviser
GenericName[de]=Dokumentationsbetrachter
GenericName[es]=Visor de documentación
GenericName[et]=Dokumentatsiooninäitaja
GenericName[eu]=Documentazio ikustailea
GenericName[fr]=Afficheur de documentation
GenericName[hu]=Dokumentációmegjelenítő
GenericName[it]=Visualizzatore documentazione
GenericName[ja]=ドキュメンテーションビューア
GenericName[nl]=Documentatie Browser
GenericName[pa]=ਦਸਤਾਵੇਜ਼ ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka dokumentacji
GenericName[pt]=Visualizador de Documentação
GenericName[pt_BR]=Visualizador de Documentação
GenericName[ru]=Просмотр документации
GenericName[sl]=Pregledovalnik dokumentacije
GenericName[sr]=Приказивач документације
GenericName[sr@Latn]=Prikazivač dokumentacije
GenericName[sv]=Dokumentationsvisning
GenericName[ta]=ஆவணமாக்கல் காட்சியமைப்பாளர்
GenericName[tg]=Аз назар бо ҳуҷҷатнок гузарондан 
GenericName[tr]=Belge Gösterici
GenericName[xx]=xxDocumentation Viewerxx
GenericName[zh_CN]=文档查看器
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Development;Documentation;X-KDE-KDevelopIDE;

