[Desktop Entry]
Type=Service
Icon=kdevelop
Exec=blubb
Comment=CPPCheck is a tool that helps you find syntax problems in programs. http://cppcheck.sf.net/
Comment[de]=CPPCheck ist ein Werkzeug, das Ihnen hilft, Syntaxfehler in Programmen zu finden. http://cppcheck.sf.net/
Comment[x-test]=xxCPPCheck is a tool that helps you find syntax problems in programs. http://cppcheck.sf.net/xx
Name=Cppcheck Support
Name[de]=Unterstützung für CPPCheck
Name[x-test]=xxCppcheck Supportxx
GenericName=Syntax check
GenericName[de]=Oberfläche für CPPCheck
GenericName[x-test]=xxSyntax checkxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevcppcheck
X-KDevelop-Version=15
X-KDE-PluginInfo-Name=kdevcppcheck
X-KDE-PluginInfo-Author=Christoph Thielecke
X-KDE-PluginInfo-License=GPL
X-KDevelop-Category=Global
X-KDevelop-IRequired=org.kdevelop.IExecutePlugin
X-KDevelop-Mode=GUI


