[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=QML Language Support
Name=QML Support
GenericName=QML Support
ServiceTypes=KDevelop/Plugin
Icon=text-x-qml
X-KDE-Library=kdevqmljslanguagesupport
X-KDevelop-Version=16
X-KDevelop-Language=QML/JS
X-KDevelop-Interfaces=ILanguageSupport
X-KDevelop-SupportedMimeTypes=text/x-qml,application/javascript
X-KDE-PluginInfo-Name=KDevQmlJsSupport
X-KDevelop-Mode=NoGUI
X-KDE-PluginInfo-Category=Language Support
