[Desktop Entry]
Type=Service
Exec=blubb
Comment=This plugin allows running of scripts.
Comment[en_GB]=This plugin allows running of scripts.
Comment[es]=Este complemento permite ejecutar scripts.
Comment[pt]=Este 'plugin' permite a execução de programas.
Comment[sv]=Insticksprogrammet tillåter körning av skript.
Comment[tr]=Bu eklenti betiklerin çalıştırılmasına zin verir.
Comment[uk]=За допомогою цього додатка можна запускати скрипти.
Comment[x-test]=xxThis plugin allows running of scripts.xx
Name=Execute Scripts
Name[en_GB]=Execute Scripts
Name[es]=Ejecutar scripts
Name[pt]=Executar os Programas
Name[sv]=Kör skript
Name[tr]=Betik Çalıştır
Name[uk]=Виконати скрипти
Name[x-test]=xxExecute Scriptsxx
GenericName=Script Execution Support
GenericName[en_GB]=Script Execution Support
GenericName[es]=Implementación de la ejecución de scripts
GenericName[pt]=Suporte à Execução de Programas
GenericName[sv]=Stöd för skriptkörning
GenericName[tr]=Betik Çalıştırma Desteği
GenericName[uk]=Підтримка виконання скриптів
GenericName[x-test]=xxScript Execution Supportxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevexecutescript
X-KDevelop-Version=8
X-KDevelop-Category=Global
X-KDE-PluginInfo-Name=kdevexecutescript
X-KDE-PluginInfo-Author=Niko Sams
X-KDE-PluginInfo-License=GPL
X-KDevelop-Interfaces=org.kdevelop.IExecuteScriptPlugin
X-KDevelop-Mode=NoGUI
