[KDE Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kdevelop %u
MimeType=application/x-kdevelop;
Icon=kdevelop
DocPath=kdevelop/index.html
Terminal=false
Name=KDevelop
Name[hi]=के-डेवलप
Name[ta]=கெடெவலப்
Name[xx]=xxKDevelopxx
GenericName=Integrated Development Environment
GenericName[ca]=Entorn de desenvolupament integrat
GenericName[da]=Integreret udviklingsmiljø
GenericName[de]=Integrierte Entwicklungsumgebung
GenericName[es]=Entorno de desarrollo integrado
GenericName[et]=Integreeritud arenduskeskkond
GenericName[fr]=Environnement de développement intégré
GenericName[hi]=एकीकृत डेवलपमेंट वातावरण.
GenericName[hu]=fejlesztőkörnyezet
GenericName[it]=Ambiente di sviluppo integrato
GenericName[nb]=Innebygget utviklingsmiljø
GenericName[nl]=Geïntegreerde ontwikkelomgeving
GenericName[pl]=Zintegrowane środkowisko programistyczne
GenericName[pt]=Ambiente de Desenvolvimento Integrado
GenericName[pt_BR]=IDE - Ambiente de Desenvolvimento Integrado
GenericName[ru]=Интегрированная среда разработки
GenericName[sl]=Integrirano razvojno okolje
GenericName[sr]=Интегрисано развојно окружење
GenericName[sr@Latn]=Integrisano razvojno okruženje
GenericName[sv]=Integrerad utvecklingsmiljö
GenericName[ta]=இன்டகரேடட் டெவலப்மென்ட் என்விரான்மன்ட்
GenericName[tg]=Интегратсия наудани муҳити тайёркунӣ
GenericName[xx]=xxIntegrated Development Environmentxx
GenericName[zh_CN]=集成开发环境
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Development;IDE;

