[Desktop Entry]
Type=Service
Name=Custom BuildSystem
Name[es]=Sistema de construcción personalizado
Name[nds]=Topasst Buusystem
Name[pt]=Sistema de Compilação Personalizado
Name[pt_BR]=Sistema de Compilação personalizado
Name[sv]=Eget byggsystem
Name[uk]=Нетипова система збирання
Name[x-test]=xxCustom BuildSystemxx
Comment=KDevelop Custom BuildSystem Support
Comment[es]=Implementación del sistema de construcción personalizado de KDevelop
Comment[pt]=Suporte para Sistemas de Compilação Personalizados
Comment[pt_BR]=Suporte para Sistemas de Compilação personalizados
Comment[sv]=Kdevelop stöd för eget byggsystem
Comment[uk]=Підтримка нетипових систем збирання у KDevelop
Comment[x-test]=xxKDevelop Custom BuildSystem Supportxx
Icon=gear
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevcustombuildsystem
X-KDE-PluginInfo-Name=KDevCustomBuildSystem
X-KDevelop-Version=11
X-KDevelop-Category=Project
X-KDevelop-Interfaces=org.kdevelop.IProjectBuilder,org.kdevelop.IProjectFileManager,org.kdevelop.IBuildSystemManager
X-KDevelop-IRequired=org.kdevelop.IOutputView,org.kdevelop.IGenericProjectManager
X-KDevelop-Mode=NoGUI
