[KDE Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kdevelop --profile RubyIDE %u
MimeType=application/x-kdevelop;
Icon=kdevelop
DocPath=kdevelop/index.html
Terminal=false
Name=KDevelop: Ruby
Name[fr]=KDevelop : Développement Ruby
Name[it]=KDevelop: sviluppo Ruby
Name[pt]=KDevelop: Desenvolvimento em Ruby
Name[pt_BR]=KDevelop: Desenvolvimento em Ruby
Name[ru]=KDevelop: Разработка на языке Ruby
Name[sv]=KDevelop: Ruby-utveckling
GenericName=IDE for Ruby
GenericName[fr]=Environnement de développement intégré pour Ruby
GenericName[it]=Ambiente di sviluppo integrato per lo sviluppo Ruby
GenericName[pt]=Ambiente de Desenvolvimento Integrado para a Programação em Ruby
GenericName[pt_BR]=Ambiente de Desenvolvimento Integrado para a Programação em Ruby
GenericName[ru]=Интегрированная среда разработки на Ruby
GenericName[sv]=Integrerad utvecklingsmiljö för Ruby-utveckling
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Development;IDE;X-KDE-KDevelopIDE;

