[KDE Desktop Entry]
Encoding=UTF-8
BinaryPattern=kdevelop;
Type=Application
Exec=kdevelop %u
MimeType=application/x-kdevelop;
Icon=kdevelop
DocPath=kdevelop/index.html
Terminal=0
Name=KDevelop
GenericName=Integrated Development Environment
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Development;IDE;

