[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Python Language Support
Name=Python Support
GenericName=Python Support
ServiceTypes=KDevelop/Plugin
Icon=source
X-KDE-Library=kdevpythonlanguagesupport
X-KDevelop-Version=15
X-KDevelop-Language=QML/JS
X-KDevelop-Interfaces=ILanguageSupport
X-KDevelop-SupportedMimeTypes=text/x-qml,application/javascript
X-KDE-PluginInfo-Name=kdev-qmljsplugin
X-KDevelop-Mode=NoGUI
X-KDE-PluginInfo-Category=Language Support
