[Desktop Entry]
Type=Service
Icon=system-file-manager
Exec=blubb
Comment=This plugin brings a filemanager to KDevelop.
Comment[uk]=За допомогою цього додатка можна отримати доступ до менеджера файлів у KDevelop.
Name=KDE File Manager Integration
Name[uk]=Інтеграція засобу керування файлами KDE
GenericName=File Manager
GenericName[uk]=Менеджер файлів
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevfilemanager
X-KDE-PluginInfo-Name=kdevfilemanager
X-KDE-PluginInfo-Author=Alexander Dymo
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDevelop-Version=7
X-KDevelop-Category=Global
X-KDevelop-Mode=GUI
