[Desktop Entry]
Type=Service
Exec=blubb
Comment=This plugin brings a filemanager to KDevelop.
Comment[de]=Dieses Modul integriert einen Datei-Browser in KDevelop.
Comment[el]=Αυτό το πρόσθετο ενσωματώνει ένα διαχειριστή αρχείων στο KDevelop
Comment[es]=Este complemento proporciona un gestor de archivos a KDevelop.
Comment[fr]=Ce module externe offre un gestionnaire de fichiers pour KDevelop.
Comment[gl]=Esta extensión incorpora en KDevelop un xestor de ficheiros.
Comment[ja]=このプラグインはファイルマネージャを KDevelop に統合します
Comment[lv]=Šis spraudnis nodrošina failu pārvaldnieka funkcionalitāti iekš KDevelop.
Comment[nds]=Dit Moduul stellt en Dateipleger för KDevelop praat.
Comment[pt]=Este 'plugin' oferece um gestor de ficheiros para o KDevelop.
Comment[pt_BR]=Esta extensão provê um gerenciador de arquivos ao KDevelop
Comment[ru]=Этот модуль добавляет диспетчер файлов в KDevelop
Comment[sv]=Insticksprogrammet ger KDevelop en filhanterare.
Comment[tr]=Bu eklenti KDevelop için bir dosya yönetici sağlar.
Comment[uk]=За допомогою цього додатка можна отримати доступ до менеджера файлів у KDevelop.
Comment[x-test]=xxThis plugin brings a filemanager to KDevelop.xx
Comment[zh_CN]=此插件对 KDevelop 整合一个文件管理器。
Comment[zh_TW]=此外掛程式讓 KDevelop 可使用檔案管理員。
Name=KDE File Manager Integration
Name[de]=KDE-Dateimanager-Integration
Name[es]=Integración del gestor de archivos de KDE
Name[fr]=Intégration du gestionnaire de fichiers de KDE
Name[ja]=KDE のファイルマネージャの統合
Name[nds]=KDE-Dateiplegerünnerstütten
Name[pt]=Integração com o Gestor de Ficheiros do KDE
Name[pt_BR]=Integração com o Gestor de Ficheiros do KDE
Name[ru]=Интеграция файлового менеджера KDE
Name[sv]=Integrering med KDE:s filhanterare
Name[tr]=KDE Dosya Yöneticisi Bütünleşmesi
Name[uk]=Інтеграція засобу керування файлами KDE
Name[x-test]=xxKDE File Manager Integrationxx
Name[zh_CN]=KDE 文件管理器整合
Name[zh_TW]=KDE 檔案管理員整合
GenericName=File Manager
GenericName[de]=Dateimanager
GenericName[el]=Διαχειριστής αρχείων
GenericName[es]=Gestor de archivos
GenericName[fr]=Gestionnaire de fichiers
GenericName[ga]=Bainisteoir Comhad
GenericName[gl]=Xestor de ficheiros
GenericName[ja]=ファイルマネージャ
GenericName[lv]=Failu pārvaldnieks
GenericName[nds]=Dateipleger
GenericName[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
GenericName[pt]=Gestor de Ficheiros
GenericName[pt_BR]=Gerenciador de arquivos
GenericName[ro]=Gestionar de fișiere
GenericName[ru]=Файловый менеджер
GenericName[sv]=Filhanterare
GenericName[tr]=Dosya Yönetici
GenericName[uk]=Менеджер файлів
GenericName[x-test]=xxFile Managerxx
GenericName[zh_CN]=文件管理器
GenericName[zh_TW]=檔案管理員
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevfilemanager
X-KDE-PluginInfo-Name=kdevfilemanager
X-KDE-PluginInfo-Author=Alexander Dymo
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDevelop-Version=7
X-KDevelop-Category=Global
X-KDevelop-Mode=GUI
