[Desktop Entry]
Type=Service
Exec=blubb
Icon=kdevelop
Comment=A plugin for formatting of sourcecode according to a specified set of rules
Comment[uk]=Додаток для форматування коду у відповідності до вказаного набору правил
Name=AStyle Formatter Backend
Name[uk]=Сервер форматування AStyle
GenericName=Formatter Backend
GenericName[uk]=Сервер форматування

ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevastyle
X-KDevelop-Version=7
X-KDE-PluginInfo-Name=kdevastyle
X-KDE-PluginInfo-Author=Cedric Pasteur, Matthias Hölzer-Klüpfel
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Category=Global
X-KDevelop-Interfaces=org.kdevelop.ISourceFormatter
X-KDevelop-SupportedMimeTypes=text/x-c++src,text/x-chdr,text/x-c++hdr,text/x-csrc,text/x-java,text/x-csharp
X-KDevelop-Mode=NoGUI
