[Desktop Entry]
Type=Service
Exec=blubb
Icon=kdevelop
Comment=A plugin for formatting C files using GNU indent
Comment[de]=Modul zum Formattieren von C-Dateien mit GNU Indent
Comment[el]=Ένα πρόσθετο μορφοποίησης αρχείων C με χρήση εσοχών GNU
Comment[es]=Un complemento para formatear archivos C usando el sangrado GNU
Comment[et]=Plugin C-failide vormindamiseks GNU indent'iga
Comment[fr]=Un module externe pour le formatage de fichiers C utilisant l'indentation GNU
Comment[gl]=Unha extensión para formatar os ficheiros en C empregando o GNU indent
Comment[lv]=Spraudnis C failu formatēšanai izmantojot GNU indent
Comment[nds]=En Moduul, dat C-Dateien mit "indent" vun GNU formateert
Comment[pl]=Wtyczka do formatowania plików C za pomocą GNU indent
Comment[pt]=Um 'plugin' para formatar ficheiros em C com o 'indent' da GNU
Comment[pt_BR]=Uma extensão para formatar arquivos C usando o GNU Indent
Comment[sv]=Ett insticksprogram för att formatera C-filer med GNU indent
Comment[tr]=GNU indent kullanan, C dosyalarını biçimlendirmek için kullanılan bir eklenti
Comment[uk]=Додаток для форматування файлів мовою C за допомогою GNU indent
Comment[x-test]=xxA plugin for formatting C files using GNU indentxx
Comment[zh_CN]=使用 GNU 缩进格式化 C 文件的插件
Comment[zh_TW]=使用 GNU 規則排列 C 語言程式碼的外掛程式
Name=Indent Formatter Backend
Name[es]=Motor del formateador Indent
Name[fr]=Moteur de l'outil de formatage Indent
Name[nds]=Inrück-Formateerhölpprogramm
Name[pt]=Infra-Estrutura de Formatação do Indent
Name[pt_BR]=Infra-Estrutura de Formatação do Indent
Name[sv]=Indent-formateringsgränssnitt
Name[uk]=Сервер форматування Indent
Name[zh_CN]=Indent 格式化器后端
Name[zh_TW]=Indent 格式器後端介面

ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevindent
X-KDevelop-Version=6
X-KDE-PluginInfo-Name=kdevindent
X-KDE-PluginInfo-Author=Cedric Pasteur
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Category=Global
X-KDevelop-Interfaces=org.kdevelop.ISourceFormatter
X-KDevelop-SupportedMimeTypes=text/x-c++src,text/x-chdr,text/x-c++hdr,text/x-csrc
X-KDevelop-Mode=NoGUI
