[Desktop Entry]
Type=Service
Icon=applications-engineering
Exec=blubb
Comment=This plugin allows reviewing patches directly in the editor.
Name=Patch Review
GenericName=Patch Review
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevpatchreview
X-KDevelop-Version=12
X-KDevelop-Category=Global
X-KDevelop-Interfaces=org.kdevelop.IPatchReview
X-KDE-PluginInfo-Name=kdevpatchreview
X-KDE-PluginInfo-Author=David Nolden
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Utilities
X-KDevelop-Mode=GUI
