<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="KDevGenericProject" version="1">
<MenuBar>
  <Menu name="build">
    <Action name="build" />
    <Action name="install" />
    <Separator/>
    <Action name="clean" />
    <Separator/>
    <Action name="execute" />
  </Menu>
</MenuBar>
<ToolBar name="buildToolBar" noMerge="1">
    <Action name="build" group="build_operations" />
    <Separator group="build_operations"/>
    <Action name="execute" group="build_operations" />
</ToolBar>
</kpartgui>
