[Desktop Entry]
Type=Service
Name=KDevPCSCustomImporter
Name[da]=KDevelop brugerdefineret PCS-importør
Name[pl]=KDevWłasnyImportPCS
Name[sv]=KDevelop egen import av PCS
Comment=KDevelop Custom Directory PCS Importer
Comment[ca]=Importador PCS de directori personalitzat per a KDevelop
Comment[da]=KDevelop brugerdefineret mappe-PCS-importør
Comment[de]=Import für persistenten Klassenspeicher aus benutzerdefinierten Ordnern
Comment[es]=Importador de PCS de directorio personalizado de KDevelop
Comment[et]=KDevelopi kohandatud kataloogi PCS importija
Comment[eu]=KDevelop-en direktorio pertsonalizatuko PCS inportatzailea
Comment[fr]=Importation PCS de dossier personnalisé pour KDevelop
Comment[hi]=के-डेवलप मनपसंद डिरेक्ट्री पीसीएस आयातक
Comment[it]=Directory per l'importatore personalizzato PCS di KDevelop
Comment[ja]=KDevelop カスタムディレクトリ PCS インポータ
Comment[nb]=KDevelop Custom Directory PCS-importverktøy
Comment[nl]=KDevelop PCS Importer voor eigen mappen
Comment[pl]=Własny program do importowania PCS dla KDevelopa
Comment[pt]=Importador de PCS com Directoria Personalizada do KDevelop
Comment[pt_BR]=Importador de Diretório PCS Personalizado para o KDevelop
Comment[ru]=Загрузка символов из любого каталога в хранилище классов
Comment[sr]=KDevelop-ов PCS увозник прилагођеног директоријума
Comment[sr@Latn]=KDevelop-ov PCS uvoznik prilagođenog direktorijuma
Comment[sv]=KDevelop PCS-import för egen katalog
Comment[ta]=கெடெவலப் கஸ்டம் டைரக்ட்ரி இறக்குமதியாளர்
Comment[tg]=Пурборкунии нишонаҳо аз анбори синфҳои каталог
Comment[zh_CN]=KDevelop 自定义目录的 PCS 导入器
Icon=gear
ServiceTypes=KDevelop/PCSImporter
X-KDE-Library=libkdevcustompcsimporter
X-KDevelop-PCSImporter=
