[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDevelop CMake Manager
Name[de]=CMake-Manager von KDevelop
Name[el]=Διαχειριστής CMake του KDevelop
Name[es]=Gestor CMake de KDevelop
Name[fa]=مدیر KDevelop CMake
Name[fr]=Gestionnaire CMake pour KDevelop
Name[ga]=Bainisteoir CMake le haghaidh KDevelop
Name[gl]=Xestor de CMake de KDevelop
Name[it]=Gestore CMake di KDevelop
Name[ja]=KDevelop CMake マネージャ
Name[ko]=KDevelop CMake 관리자
Name[nds]=KDevelop-CMake-Pleger
Name[ne]=केडीई विकास सीमेक प्रबन्धक
Name[pa]=KDevelop CMake ਮੈਨੇਜਰ
Name[pl]=KDevelop: zarządzanie CMake
Name[pt]=Gestor do CMake para o KDevelop
Name[pt_BR]=Gerenciador do CMake para o KDevelop
Name[sv]=KDevelop hantering av CMake
Name[tr]=KDevelop CMake Yöneticisi
Name[x-test]=xxKDevelop CMake Managerxx
Name[zh_CN]=KDevelop CMake 管理器
Name[zh_TW]=KDevelop CMake 管理員
Comment=Allows KDevelop to manager CMake based projects
Comment[de]=Erlaubt das Erstellen CMake basierter Projekte mit KDevelop
Comment[el]=Επιτρέπει στο KDevelop το χειρισμό έργων με βάση το CMake
Comment[es]=Permite que KDevelop gestione proyectos basados en CMake
Comment[fr]=Permet à KDevelop de gérer les projets basés sur CMake
Comment[ga]=Ceadaigh do KDevelop tionscadail CMake a bhainistiú
Comment[gl]=Permítelle a KDevelop xestionar proxectos baseados en CMake
Comment[it]=Permette a KDevelop di gestire i progetti basati su CMake
Comment[ja]=KDevelop で CMake ベースのプロジェクトを管理できるようにします
Comment[ko]=KDevelop에서 CMake 기반 프로젝트를 관리하도록 도와줍니다
Comment[nds]=Projekten mit KDevelop plegen, de op CMake opbuut
Comment[ne]=सीमेक आधारित परियोजनाको प्रबन्धकलाई केडीई विकास अनुमति दिन्छ
Comment[pl]=Pozwala na zarządzanie przez KDevelopa projektami wykorzystującymi CMake
Comment[pt]=Permite ao KDevelop gerir os projectos baseados no CMake
Comment[pt_BR]=Permite ao KDevelop gerenciar projetos baseados no CMake
Comment[sv]=Låter KDevelop hantera CMake-baserade projekt
Comment[tr]=KDevelop uygulamasının CMake temelli projeleri yönetmesine izin verir
Comment[x-test]=xxAllows KDevelop to manager CMake based projectsxx
Comment[zh_CN]=允许 KDevelop 管理基于 CMake 的工程
Comment[zh_TW]=允許 KDevelop 管理 CMake-based 專案
Icon=gear
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevcmakemanager
X-KDE-PluginInfo-Author=Matt Rogers
X-KDE-PluginInfo-Email=mattr@kde.org
X-KDE-PluginInfo-Name=KDevCMakeManager
X-KDE-PluginInfo-License=GPL
X-KDevelop-FileManager=CMake
X-KDevelop-Version=4
X-KDevelop-Category=Project
X-KDevelop-Interfaces=org.kdevelop.IBuildSystemManager,org.kdevelop.IProjectFileManager,org.kdevelop.ILanguageSupport
