[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=A Graphical tool for performing KTrader-like queries about registered services
Comment[fr]=Une interface graphique pour effectuer des requêtes sur les services enregistrés
Comment[x-test]=xxA Graphical tool for performing KTrader-like queries about registered servicesxx
Name=KDevPartExplorer
Name[x-test]=xxKDevPartExplorerxx
GenericName=Part Explorer Tool
GenericName[fr]=Outil d'exploration des composants
GenericName[x-test]=xxPart Explorer Toolxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevpartexplorer
X-KDevelop-Version=4
X-KDevelop-Category=Global
X-KDevelop-Properties=KDEDevelopment
