[General]
Name=Private Pointer
Comment=C++ Class with a private D-pointer
Category=C++/Basic
Language=C++
Type=Class
Files=Header,PrivateHeader,Implementation
OptionsFile=options.kcfg

[Header]
Name=Public Header
File=class.h
OutputFile={{ name }}.h

[PrivateHeader]
Name=Private Header
File=class_p.h
OutputFile={{ name }}_p.h

[Implementation]
Name=Implementation
File=class.cpp
OutputFile={{ name }}.cpp
