<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="KDevCvsServicePart" version="2">
<MenuBar>
    <Menu name="tools">
        <Menu name="version_control">
            <Text>&amp;Version Control</Text>
            <Merge />
            <Menu name="version_control_tools_cvsservice" group="tools_project_operations">
                <Text>&amp;CVS Service</Text>
                <Action name="cvsservice_commit" />
                <Action name="cvsservice_diff" />
                <Action name="cvsservice_log" />
                <Action name="cvsservice_editors" />
                <Action name="cvsservice_edit" />
                <Action name="cvsservice_unedit" />
                <Action name="cvsservice_add" />
                <Action name="cvsservice_add_bin" />
                <Action name="cvsservice_remove" />
                <Separator />
                <Action name="cvsservice_tag" />
                <Action name="cvsservice_untag" />
                <Action name="cvsservice_update" />
                <Action name="cvsservice_removesticky" />
                <Separator />
                <Action name="cvsservice_ignore" />
                <Action name="cvsservice_donot_ignore" />
                <Separator />
                <Action name="cvsservice_login" />
                <Action name="cvsservice_logout" />
            </Menu>
        </Menu>
    </Menu>
</MenuBar>
</kpartgui>

