[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=CVS Integration using Cervisia's cvsservice. http://www.kde.org/apps/cervisia/
Comment[ca]=Integració amb el CVS emprant el cvsservice de Cervisia. http://www.kde.org/apps/cervisia/
Comment[da]=CVS Integration ved brug af Cervisias cvsservice. http://www.kde.org/apps/cervisia/
Comment[de]=CVS-Integration mit Hilfe von Cervisias cvsservice. http://www.kde.org/apps/cervisia/
Comment[el]=Ενσωμάτωση CVS χρησιμοποιώντας τη cvsservice του Cervisia. http://www.kde.org/apps/cervisia/
Comment[es]=Integración con CVS utilizando el cvsservice. http://www.kde.org/apps/cervisia/
Comment[et]=CVS põimimine Cervisia cvsservice'i abil. http://www.kde.org/apps/cervisia/
Comment[eu]=CVS integrazioa Cervisia-ren cvsservice erabiliz. http://www.kde.org/apps/cervisia/
Comment[fr]=Intégration de CVS via le service de Cervisia. http://www.kde.org/apps/cervisia/
Comment[hu]=CVS-integráció a Cervisia cvsservice segítségével. http://www.kde.org/apps/cervisia/
Comment[it]=Integrazione del CVS utilizzando il cvsservice di Cervisia. http://www.kde.org/apps/cervisia/
Comment[ja]=CVS 統合は、Cervisia の CVS サービスを利用しますhttp://www.kde.org/apps/cervisia/
Comment[nds]=CVS-Integreren över den CVS-Service vun Cervisia. http://www.kde.org/apps/cervisia/
Comment[nl]=CVS-integratie via Cervisia's cvsservice. Zie http://www.kde.org/apps/cervisia/
Comment[pl]=Integracja z CVS-em za pomocą usługi CVS Cervisii http://www.kde.org/apps/cervisia/
Comment[pt]=Integração do CVS usando o cvsservice do Cervisia. http://www.kde.org/apps/cervisia/
Comment[pt_BR]=Integração com o CVS usando o cvsservice do Cervisia. http://www.kde.org/apps/cervisia/
Comment[ru]=Интеграция CVS с использованием Cervisia cvsservice. http://www.kde.org/apps/cervisia/
Comment[sk]=Integrácia CVS pomocou Cervisia Cvs služby. http://www.kde.org/apps/cervisia/
Comment[sl]=Integracija CVS z uporabo Cervisijeve cvsservice. http://www.kde.org/apps/cervisia/
Comment[sr]=Интеграција CVS-а помоћу Cervisia-jиног cvsservice. http://www.kde.org/apps/cervisia/
Comment[sr@Latn]=Integracija CVS-a pomoću Cervisia-jinog cvsservice. http://www.kde.org/apps/cervisia/
Comment[sv]=Integrering av CVS med användning av Cervisias CVS-tjänst. http://www.kde.org/apps/cervisia/
Comment[tr]=Cervisia'nın cvsservice'i kullanılarak CVS bütünleştirilmesi http://www.kde.org/apps/cervisia/
Comment[zh_CN]=使用 Cervisia 的 cvsservice 的 CVS 集成。http://www.kde.org/apps/cervisia/
Comment[zh_TW]=使用 Cervisia 服務做 CVS 整合。http://www.kde.org/apps/cervisia/
Name=KDevCvsService
Name[da]=KDevelop CVS-service
Name[sk]=KDev Cvs služba
Name[sv]=KDevelop CVS-tjänst
Name[zh_TW]=KDevelop CVS 服務
GenericName=CVS Integration (Cervisia)
GenericName[ca]=Integració amb CVS (Cervisia)
GenericName[de]=Unterstützung für CVS (Cervisia)
GenericName[el]=Ενσωμάτωση CVS (Cervisia)
GenericName[es]=Integración con CVS (Cervisia)
GenericName[et]=CVS põimimine (Cervisia)
GenericName[eu]=CVS integrazioa (Cervisia)
GenericName[fr]=Intégration de CVS (Cervisia)
GenericName[hu]=CVS-integráció (Cervisia)
GenericName[it]=Integratione CVS (Cervisia)
GenericName[ja]=CVS 統合 (Cervisia)
GenericName[nds]=Ünnerstütten för CVS (Cervisia)
GenericName[nl]=CVS-integratie (Cervisia)
GenericName[pl]=Integracja z CVS-em (Cervisia)
GenericName[pt]=Integração com CVS (Cervisia)
GenericName[pt_BR]=Integração com o CVS (Cervisia)
GenericName[ru]=Интеграция CVS (Cervisia)
GenericName[sk]=CVS integrácia (Cervisia)
GenericName[sl]=Integracija CVS (Cervisia)
GenericName[sr]=Интеграција CVS-а (Cervisia)
GenericName[sr@Latn]=Integracija CVS-a (Cervisia)
GenericName[sv]=Integrering av CVS (Cervisia)
GenericName[ta]=CVS ஒருங்கிணை (செர்விசியா)
GenericName[tg]=Интегратсияи CVS (Cervisia)
GenericName[tr]=CVS Bütünleştirmesi (Cervisia)
GenericName[zh_CN]=CVS 集成(Cervisia)
GenericName[zh_TW]=CVS 整合（Cervisia）
Icon=cervisia
ServiceTypes=KDevelop/VersionControl
X-KDE-Library=libkdevcvsservice
X-KDevelop-Version=3
X-KDevelop-Properties=VCS,CVSService
