[General]
Name=Testing YAML template
Name[el]=Δοκιμή προτύπου YAML
Name[es]=Prueba de plantilla YAML
Name[et]=YAML malli testimine
Name[hu]=YAML sablon tesztelése
Name[nl]=YAML-sjabloon testen
Name[pt]=A testar o modelo em YAML
Name[pt_BR]=Testando o modelo em YAML
Name[sl]=Preizkusna predloga YAML
Name[sv]=YAML-mall för test
Name[uk]=Тестовий шаблон YAML
Name[x-test]=xxTesting YAML templatexx
Comment=Describes a class using YAML syntax
Comment[el]=Περιγράφει μια class με χρήση σύνταξης YAML
Comment[es]=Describe una clase usando la sintaxis YAML
Comment[et]=Klassi kirjeldamine YAML süntaksiga
Comment[hu]=Leír egy osztályt a YAML szintaxis használatával
Comment[nl]=Beschrijft een klasse met gebruik van YAML-syntaxis
Comment[pt]=Descreve uma classe com uma sintaxe em YAML
Comment[pt_BR]=Descreve uma classe que usa a sintaxe em YAML
Comment[sl]=Opiše razred z uporabo skladnje YAML
Comment[sv]=Beskriver en klass med YAML-syntax
Comment[uk]=Описує клас з використанням синтаксису YAML
Comment[x-test]=xxDescribes a class using YAML syntaxxx
Category=Testing/YAML
Type=Class
Files=Description
OptionsFile=options.kcfg

[Description]
Name=Description
Name[el]=Περιγραφή
Name[es]=Descripción
Name[et]=Kirjeldus
Name[hu]=Leírás
Name[nl]=Beschrijving
Name[pt]=Descrição
Name[pt_BR]=Descrição
Name[sk]=Popis
Name[sl]=Opis
Name[sv]=Beskrivning
Name[uk]=Опис
Name[x-test]=xxDescriptionxx
File=class.yaml
OutputFile={{ name }}.yaml
