[General]
Name=Testing YAML template
Name[ca]=Plantilla YAML de prova
Name[el]=Δοκιμή προτύπου YAML
Name[es]=Prueba de plantilla YAML
Name[fi]=Testi-YAML-malli
Name[gl]=Modelo de YAML de probas
Name[nl]=YAML-sjabloon testen
Name[pl]=Szablon testowy YAML
Name[pt]=Modelo de YAML de testes
Name[pt_BR]=Testando o modelo em YAML
Name[sv]=YAML-mall för test
Name[uk]=Тестовий шаблон YAML
Name[x-test]=xxTesting YAML templatexx
Comment=Describes a class using YAML syntax
Comment[ca]=Descriu una classe utilitzant la sintaxi YAML
Comment[de]=Beschreibt ein Klasse, die YAML-Syntax verwendet
Comment[el]=Περιγράφει μια class με χρήση σύνταξης YAML
Comment[es]=Describe una clase usando la sintaxis YAML
Comment[fi]=Kuvaa luokan YAML-syntaksilla
Comment[gl]=Describe unha clase que emprega a sintaxe de YAML
Comment[nl]=Beschrijft een klasse met gebruik van YAML-syntaxis
Comment[pl]=Opisuje klasę wykorzystującą składnię YAML
Comment[pt]=Descreve uma classe com uma sintaxe em YAML
Comment[pt_BR]=Descreve uma classe que usa a sintaxe em YAML
Comment[sv]=Beskriver en klass med YAML-syntax
Comment[uk]=Описує клас з використанням синтаксису YAML
Comment[x-test]=xxDescribes a class using YAML syntaxxx
Category=Testing/YAML
Type=Class
Files=Description
OptionsFile=options.kcfg

[Description]
Name=Description
Name[ca]=Descripció
Name[de]=Beschreibung
Name[el]=Περιγραφή
Name[es]=Descripción
Name[fi]=Kuvaus
Name[gl]=Descrición
Name[nl]=Beschrijving
Name[pl]=Opis
Name[pt]=Descrição
Name[pt_BR]=Descrição
Name[sk]=Popis
Name[sv]=Beskrivning
Name[uk]=Опис
Name[x-test]=xxDescriptionxx
File=class.yaml
OutputFile={{ name }}.yaml
