[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDevelop Kross Support
Name[de]=KDevelop-Unterstützung für Kross
Name[el]=Υποστήριξη Kross του KDevelop
Name[es]=Implementación Kross de KDevelop
Name[fr]=Prise en charge de Kross pour KDevelop
Name[gl]=Soporte de Kross para KDevelop
Name[nds]=KDevelop-Kross-Ünnerstütten
Name[pt]=Suporte do Kross para o KDevelop
Name[pt_BR]=Suporte do KDevelop ao Kross
Name[ro]=Suport Kross KDevelop
Name[sv]=KDevelop stöd för Kross
Name[tr]=KDevelop Kross Desteği
Name[uk]=Підтримка Kross у KDevelop
Name[x-test]=xxKDevelop Kross Supportxx
Name[zh_CN]=KDevelop Kross 支持
Name[zh_TW]=KDevelop Kross 支援
Comment=KDevelop Kross Support
Comment[de]=KDevelop-Unterstützung für Kross
Comment[el]=Υποστήριξη Kross του KDevelop
Comment[es]=Implementación Kross de KDevelop
Comment[fr]=Prise en charge de Kross pour KDevelop
Comment[gl]=Soporte de Kross para KDevelop
Comment[nds]=KDevelop-Ünnerstütten för Kross
Comment[pt]=Suporte do Kross para o KDevelop
Comment[pt_BR]=Suporte do KDevelop ao Kross
Comment[ro]=Suport Kross KDevelop
Comment[sv]=KDevelop stöd för Kross
Comment[tr]=KDevelop Kross Desteği
Comment[uk]=Підтримка Kross у KDevelop
Comment[x-test]=xxKDevelop Kross Supportxx
Comment[zh_CN]=KDevelop Kross 支持
Comment[zh_TW]=KDevelop Kross 支援
Icon=gear
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevkrossplugin
X-KDE-PluginInfo-Author=Aleix Pol
X-KDE-PluginInfo-Email=aleixpol@gmail.com
X-KDE-PluginInfo-Name=KDevKrossManager
X-KDE-PluginInfo-License=GPL
X-KDevelop-FileManager=Kross
X-KDevelop-Version=6
X-KDevelop-Category=Project
X-KDevelop-Interfaces=org.kdevelop.IBuildSystemManager,org.kdevelop.IProjectFileManager,org.kdevelop.ILanguageSupport
