[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=
Comment=This plugin is an interactive projectwide "Search and Replace" tool. Search using string or regexp matching, and select the replacements to be made from a preview before the action is finalized. When loaded it appears in the Edit menu.
Comment[x-test]=xxThis plugin is an interactive projectwide "Search and Replace" tool. Search using string or regexp matching, and select the replacements to be made from a preview before the action is finalized. When loaded it appears in the Edit menu.xx
Name=KDevReplace
Name[x-test]=xxKDevReplacexx
GenericName=Replace Part
GenericName[x-test]=xxReplace Partxx
Icon=kdevelop
ServiceTypes=KDevelop/Plugin
X-KDevelop-Scope=Global
X-KDE-Library=libkdevreplace
X-KDevelop-Version=4
X-KDevelop-Properties=FileReplace
