[Desktop Entry]
Encoding=UTF-8
Comment=Bug Tracking Application
Comment[ca]=Aplicació per al seguiment d'errors
Comment[da]=Fejlsporings program
Comment[de]=Fehlerverfolgung-Unerstützung
Comment[es]=Aplicación de gestión de fallos
Comment[et]=Vigade haldamine
Comment[fr]=Application de la recherche de bogues
Comment[hi]=बग पता लगाने के अनुप्रयोग
Comment[hu]=Hibanyilvántartó alkalmazás
Comment[it]=Applicazione per la raccolta dei bug
Comment[ja]=バグ追跡アプリケーション
Comment[nb]=Feilhåndteringsprogram
Comment[nl]=Toepassing voor het bijhouden van bugs
Comment[pl]=Aplikacja do śledzenia błędów
Comment[pt]=Aplicação de Gestão de Erros
Comment[pt_BR]=Aplicativo de Rastreamento de Erro
Comment[ru]=Обработка списка ошибок
Comment[sl]=Program za sledenje hroščem
Comment[sr]=Програм за праћење грешака
Comment[sr@Latn]=Program za praćenje grešaka
Comment[sv]=Program för att spåra fel
Comment[ta]=பிழை காணும் பயன்பாடு
Comment[tg]=Коркард намудани рӯйхати хатогиҳо
Comment[zh_CN]=Bug追踪程序
Exec=blubb
Icon=find
Name=KDevBugList
Name[de]=Unterstützung für Fehlerverfolgung (KDevelop)
Name[hi]=के-डेव-बग-लिस्ट
Name[pl]=KDevListaBłędów
Name[sv]=KDevelop fellista
GenericName=Bug Tracking Application
GenericName[ca]=Aplicació per al seguiment d'errors
GenericName[da]=Fejlsporings program
GenericName[de]=Anwendung zur Fehlerverfolgung
GenericName[es]=Aplicación de gestión de fallos
GenericName[et]=Vigade haldamine
GenericName[fr]=Application de recherche de bogues
GenericName[hi]=बग पता लगाने के अनुप्रयोग
GenericName[hu]=hibanyilvántartó
GenericName[it]=Applicazione per tracciare i bug
GenericName[ja]=バグ追跡アプリケーション
GenericName[nb]=Feilhåndteringsprogram
GenericName[nl]=Programma voor bugtracking
GenericName[pl]=Aplikacja do śledzenia błędów
GenericName[pt]=Aplicação de Gestão de Erros
GenericName[pt_BR]=Aplicativo de Rastreamento de Erro
GenericName[ru]=Обработка списка ошибок
GenericName[sl]=Program za sledenje hroščem
GenericName[sr]=Програм за праћење грешака
GenericName[sr@Latn]=Program za praćenje grešaka
GenericName[sv]=Program för att spåra fel
GenericName[ta]=பிழை காணும் பயன்பாடு 
GenericName[tg]=Коркард намудани рӯйхати хатогиҳо
GenericName[zh_CN]=Bug追踪程序
ServiceTypes=KDevelop/Plugin
Type=Service
X-KDE-Library=libkdevbuglist
X-KDevelop-Version=1
X-KDevelop-Scope=Global
