[Desktop Entry]
Encoding=UTF-8
Comment=Bug Tracking Application
Comment[fr]=Un module externe pour la recherche de bogues dans une application.
Exec=blubb
Icon=find
Name=KDevBugList
GenericName=Bug Tracking Application
GenericName[fr]=Recherche de bogues
ServiceTypes=KDevelop/Plugin
Type=Service
X-KDE-Library=libkdevbuglist
X-KDevelop-Scope=Global
