[Desktop Entry]
Type=Service
Name=CMake Project Builder
Name[uk]=Інструмент збирання проектів CMake
Comment=Builds CMake Projects
Comment[uk]=Збирає проекти CMake
Icon=system-run
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevcmakebuilder
X-KDE-PluginInfo-Name=KDevCMakeBuilder
X-KDevelop-ProjectBuilder=CMake
X-KDevelop-Version=7
X-KDevelop-Category=Project
X-KDevelop-Interfaces=org.kdevelop.IProjectBuilder,org.kdevelop.ICMakeBuilder
X-KDevelop-IRequired=org.kdevelop.IOutputView,org.kdevelop.IMakeBuilder
X-KDevelop-Mode=NoGUI
