[Desktop Entry]
Type=Service
Icon=system-run
Exec=
Comment=Run external scripts or applications to manipulate the editor contents or do other arbitrary actions.
Comment[ca]=Executa scripts externs o aplicacions per a manipular el contingut de l'editor o altres accions arbitràries.
Comment[en_GB]=Run external scripts or applications to manipulate the editor contents or do other arbitrary actions.
Comment[es]=Ejecutar aplicaciones o scripts externos para manipular el contenido del editor o realizar otras acciones.
Comment[nds]=Utföhren vun extern Skripten oder Programmen för't Ännern vun den Editor-Inholt oder anner Akschonen.
Comment[nl]=Externe scripts of programma's uitvoeren om de inhoud van de bewerker te manipuleren of andere acties uit te voeren.
Comment[pt]=Executa programas ou aplicações externas para manipular o conteúdo do editor ou para efectuar outras acções arbitrárias.
Comment[pt_BR]=Executa scripts ou aplicativos externos para manipular o conteúdo do editor ou para efetuar outras ações arbitrárias.
Comment[sv]=Kör externa skript eller program för att behandla editorns innehåll eller utför andra godtyckliga åtgärder.
Comment[uk]=Запускає зовнішні скрипти або програми для обробки текстових даних редактора або виконання інших потрібних дій.
Comment[x-test]=xxRun external scripts or applications to manipulate the editor contents or do other arbitrary actions.xx
Name=External Scripts
Name[ca]=Scripts externs
Name[en_GB]=External Scripts
Name[es]=Scripts externos
Name[nds]=Extern Skripten
Name[nl]=Externe scripts
Name[pt]=Programas Externos
Name[pt_BR]=Scripts externos
Name[sv]=Externa skript
Name[uk]=Зовнішні скрипти
Name[x-test]=xxExternal Scriptsxx
GenericName=External Scripts
GenericName[ca]=Scripts externs
GenericName[en_GB]=External Scripts
GenericName[es]=Scripts externos
GenericName[nds]=Extern Skripten
GenericName[nl]=Externe scripts
GenericName[pt]=Programas Externos
GenericName[pt_BR]=Scripts externos
GenericName[sv]=Externa skript
GenericName[uk]=Зовнішні скрипти
GenericName[x-test]=xxExternal Scriptsxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevexternalscript
X-KDevelop-Version=10
X-KDevelop-Category=Global
X-KDE-PluginInfo-Name=kdevexternalscript
X-KDE-PluginInfo-Author=Milian Wolff
X-KDE-PluginInfo-License=GPL
X-KDevelop-Interfaces=org.kdevelop.IPlugin
X-KDevelop-Mode=GUI
X-KDevelop-IRequired=org.kdevelop.IOutputView
