[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Java Debugger Frontend
Comment[fr]=Un module externe pour la gestion du débogueur JAVA.
Name=KDevJavaDebugger
GenericName=Java Debugger Frontend
GenericName[fr]=Débogueur JAVA
Icon=
ServiceTypes=KDevelop/Part
X-KDE-Library=libkdevjavadebugger
X-KDevelop-Scope=Project
X-KDevelop-ProgrammingLanguages=Java
Keywords=JVM
