[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=CTags is a source navigation tool with support for many languages. When loaded it provides a context menu for finding type declarations/definitions and also a query dialog in the Tools menu. http://ctags.sourceforge.net/
Name=KDevCTags
Name[sv]=KDevelop ctags
Name[xx]=xxKDevCTagsxx
GenericName=CTags Frontend
GenericName[hu]=CTags-kezelő
GenericName[pt_BR]=Frontend do CTags
GenericName[sv]=Ctags-gränssnitt
GenericName[xx]=xxCTags Frontendxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevctags
X-KDevelop-Version=1
X-KDevelop-Scope=Project
