[General]
Name=QObject subclass
Name[bs]=QObject podklasa
Name[ca]=Subclasse QObject
Name[ca@valencia]=Subclasse QObject
Name[de]=GObject-Unterklasse
Name[el]=QObject subclass
Name[es]=Subclase de QObject
Name[et]=QObjecti alamklass
Name[fi]=QObject-aliluokka
Name[fr]=Sous-classe QObject
Name[gl]=Subclase de QObject
Name[hu]=QObject alosztály
Name[it]=Sottoclasse GObject
Name[kk]=QObject субкласы
Name[nb]=QObject subklasse
Name[nl]=Subklasse van QObject
Name[pl]=Podklasa QObject
Name[pt]=Sub-classe de QObject
Name[pt_BR]=Subclasse de QObject
Name[sk]=Podtrieda QObject
Name[sl]=Pod-razred OObject
Name[sv]=QObject-delklass
Name[uk]=Підклас QObject
Name[x-test]=xxQObject subclassxx
Name[zh_CN]=QObject 子类
Name[zh_TW]=QObject 子類別
Comment=QObject subclass with properties
Comment[bs]=QObject podklasa s svojstvima
Comment[ca]=Subclasse QObject amb propietats
Comment[ca@valencia]=Subclasse QObject amb propietats
Comment[el]=QObject subclass με ιδιότητες
Comment[es]=Subclase de QObject con propiedades
Comment[et]=QObjecti alamklass omadustega
Comment[fi]=QObject-aliluokka ominaisuuksilla
Comment[fr]=Sous-classe QObject avec des propriétés
Comment[gl]=Subclase de QObject con propiedades
Comment[hu]=QObject alosztály tulajdonságokkal
Comment[it]=Sottoclasse GObject con delle proprietà
Comment[kk]=Қасиеттері бар QObject субкласы
Comment[nb]=QObject subklasse med egenskaper
Comment[nl]=Subklasse van QObject met eigenschappen
Comment[pl]=Podklasa QObject z właściwościami
Comment[pt]=Sub-classe de QObject com propriedades
Comment[pt_BR]=Subclasse de QObject com propriedades
Comment[sk]=Podtrieda QObject s vlastnosťami
Comment[sl]=Pod-razred OObject z lastnostmi
Comment[sv]=QObject-delklass med egenskaper
Comment[uk]=Підклас QObject з властивостями
Comment[x-test]=xxQObject subclass with propertiesxx
Comment[zh_CN]=带有属性的 QObject 子类
Comment[zh_TW]=QObject 子類別含屬性
Category=C++/Qt
Language=C++
Language[bs]=C++
Language[ca]=C++
Language[ca@valencia]=C++
Language[cs]=C++
Language[da]=C++
Language[de]=C++
Language[el]=C++
Language[es]=C++
Language[et]=C++
Language[fi]=C++
Language[fr]=C++
Language[ga]=C++
Language[gl]=C++
Language[hu]=C++
Language[it]=C++
Language[kk]=C++
Language[mr]=C++
Language[nb]=C++
Language[nl]=C++
Language[nn]=C++
Language[pl]=C++
Language[pt]=C++
Language[pt_BR]=C++
Language[se]=C++
Language[sk]=C++
Language[sl]=C++
Language[sv]=C++
Language[tr]=C++
Language[uk]=C++
Language[x-test]=xxC++xx
Language[zh_CN]=C++
Language[zh_TW]=C++
Type=Class
BaseClasses=public QObject
Files=Header,Implementation

[Header]
Name=Public Header
Name[bs]=Javno zaglavlje
Name[ca]=Capçalera pública
Name[ca@valencia]=Capçalera pública
Name[da]=Offentlig header
Name[de]=Public Header
Name[el]=Public Header
Name[es]=Cabecera pública
Name[et]=Avalik päis
Name[fi]=Julkinen otsikkotiedosto
Name[fr]=En-tête public
Name[gl]=Cabeceira pública
Name[hu]=Publikus fejléc
Name[it]=Intestazione pubblica
Name[kk]=Ашық (public) айдар
Name[nb]=Public hode
Name[nl]=Publieke kop
Name[pl]=Publiczny Nagłówek
Name[pt]=Inclusão Pública
Name[pt_BR]=Inclusão pública
Name[sk]=Verejná hlavička
Name[sl]=Javna glava
Name[sv]=Public-deklaration
Name[tr]=Genel Başlık
Name[uk]=Відкрийти (public) заголовок
Name[x-test]=xxPublic Headerxx
Name[zh_CN]=公有头文件
Name[zh_TW]=公開標頭
File=class.h
OutputFile={{ name }}.h

[Implementation]
Name=Implementation
Name[bs]=Implementacija
Name[ca]=Implementació
Name[ca@valencia]=Implementació
Name[cs]=Implementace
Name[da]=Implementering
Name[de]=Implementation
Name[el]=Υλοποίηση
Name[es]=Implementación
Name[et]=Teostus
Name[fi]=Toteutus
Name[fr]=Implémentation
Name[gl]=Implementación
Name[hu]=Megvalósítás
Name[it]=Implementazione
Name[kk]=Іске асыруы
Name[nb]=Implementering
Name[nl]=Implementatie
Name[pl]=Implementacja
Name[pt]=Implementação
Name[pt_BR]=Implementação
Name[sk]=Implementácia
Name[sl]=Izvedba
Name[sv]=Implementering
Name[uk]=Реалізація
Name[x-test]=xxImplementationxx
Name[zh_CN]=实现
Name[zh_TW]=實作
File=class.cpp
OutputFile={{ name }}.cpp

