[General]
Name=Qt Object
Name[el]=Qt Object
Name[es]=Objeto Qt
Name[et]=Qt objekt
Name[gl]=Obxecto Qt
Name[hu]=Qt objektum
Name[nb]=Qt-objekt
Name[nl]=Qt-object
Name[pl]=Obiekt Qt
Name[pt]=Objecto do Qt
Name[pt_BR]=Qt Object
Name[sl]=Predmet Qt
Name[sv]=Qt-objekt
Name[uk]=Об’єкт Qt
Name[x-test]=xxQt Objectxx
Name[zh_TW]=Qt 物件
Comment=QObject subclass with properties and private member
Comment[el]=QObject subclass με ιδιότητες και private member
Comment[es]=Subclase de QObject con propiedades y miembro privado
Comment[et]=QObjecti alamklass omaduste ja privaatliikmega
Comment[gl]=Subclase de QObject con propiedades e membros privados.
Comment[hu]=QObject alosztály tulajdonságokkal és privát taggal
Comment[nb]=QObject subklasse ,med egenskaper og privat medlem
Comment[nl]=Subklasse QObject met eigenschappen en private member
Comment[pl]=Podklasa QObject z właściwościami i prywatnym członkiem
Comment[pt]=Sub-classe de QObject com propriedades e um membro privado
Comment[pt_BR]=Subclasse de QObject com propriedades e membro privado
Comment[sl]=Pod-razred QObject z lastnostmi in zasebnim članom
Comment[sv]=QObject-delklass med egenskaper och privat medlem
Comment[uk]=Підклас QObject з властивостями і закритим (private) елементом
Comment[x-test]=xxQObject subclass with properties and private memberxx
Comment[zh_TW]=QObject 子類別，含屬性與私密成員
Category=C++/Qt
Language=C++
Language[el]=C++
Language[es]=C++
Language[et]=C++
Language[ga]=C++
Language[gl]=C++
Language[hu]=C++
Language[nb]=C++
Language[nl]=C++
Language[nn]=C++
Language[pl]=C++
Language[pt]=C++
Language[pt_BR]=C++
Language[se]=C++
Language[sl]=C++
Language[sv]=C++
Language[uk]=C++
Language[x-test]=xxC++xx
Language[zh_TW]=C++
Type=Class
BaseClasses=public QObject
Files=Header,Implementation

[Header]
Name=Public Header
Name[el]=Public Header
Name[es]=Cabecera pública
Name[et]=Avalik päis
Name[gl]=Cabeceira pública
Name[hu]=Publikus fejléc
Name[nb]=Public hode
Name[nl]=Publieke kop
Name[pl]=Publiczny Nagłówek
Name[pt]=Inclusão Pública
Name[pt_BR]=Inclusão pública
Name[sl]=Javna glava
Name[sv]=Public-deklaration
Name[uk]=Відкрийти (public) заголовок
Name[x-test]=xxPublic Headerxx
Name[zh_TW]=公開標頭
File=class.h
OutputFile={{ name }}.h

[Implementation]
Name=Implementation
Name[cs]=Implementace
Name[el]=Υλοποίηση
Name[es]=Implementación
Name[et]=Teostus
Name[fi]=Toteutus
Name[gl]=Definición
Name[hu]=Megvalósítás
Name[nb]=Implementering
Name[nl]=Implementatie
Name[pl]=Implementacja
Name[pt]=Implementação
Name[pt_BR]=Implementação
Name[sk]=Implementácia
Name[sl]=Izvedba
Name[sv]=Implementering
Name[uk]=Реалізація
Name[x-test]=xxImplementationxx
Name[zh_TW]=實作
File=class.cpp
OutputFile={{ name }}.cpp

