[Desktop Entry]
Encoding=UTF-8
Comment=Qt Designer Based Text Editor
Comment[ca]=Editor de texts basat en Qt Designer
Comment[da]=Qt Designer baseret teksteditor
Comment[de]=Auf Qt-Designer basierender Texteditor
Comment[el]=Επεξεργαστής κειμένου βασισμένος στο Qt Designer
Comment[es]=Editor de textos basado en Qt Designer
Comment[et]=Qt Designerile tuginev tekstiredaktor
Comment[eu]=Qt Designer-en oinarritutako testu editorea
Comment[fr]=Éditeur de texte basé sur « Qt Designer »
Comment[hi]=क्यूटी डिज़ाइनर आधारित पाठ संपादक
Comment[hu]=Qt Designer-alapú szövegszerkesztő
Comment[is]=Textaritill byggður á Qt Designer
Comment[it]=Editor di testo basato su Qt Designer
Comment[ja]=Qt デザイナベースのテキストエディタ
Comment[nb]=Tekstredigerer basert på Qt Designer
Comment[nl]=Teksteditor gebaseerd op Qt Designer
Comment[pt]=Editor de Texto Baseado no Qt Designer
Comment[pt_BR]=Editor de Texto Baseado no Qt Designer
Comment[ru]=Текстовый редактор из Qt Designer
Comment[sl]=Urejevalnik besedil na osnovi Qt Designerja
Comment[sr]=Уређивач текста заснован на QT Designer-у
Comment[sr@Latn]=Uređivač teksta zasnovan na QT Designer-u
Comment[sv]=Qt Designer-baserad texteditor
Comment[ta]=Qtயை சார்ந்த வடிவமைப்பு உரை தொகுப்பாளர்
Comment[tg]=Муҳаррири матни аз Qt Designer 
Comment[zh_CN]=基于文本编辑器的 Qt 设计师
Name=Qt Designer Based Text Editor
Name[ca]=Editor de texts basat en Qt Designer
Name[da]=Qt Designer baseret teksteditor
Name[de]=Texteditor (Qt-Designer-basiert)
Name[el]=Επεξεργαστής κειμένου βασισμένος στο Qt Designer
Name[es]=Editor de textos basado en Qt Designer
Name[et]=Qt Designerile tuginev tekstiredaktor
Name[eu]=Qt Designer-en oinarritutako testu-editorea
Name[fr]=Editeur de texte basé sur Qt Designer
Name[hi]=क्यूटी डिज़ाइनर आधारित पाठ संपादक
Name[hu]=Qt Designer-alapú szövegszerkesztő
Name[it]=Editor di testo basato su Qt Designer
Name[ja]=Qt デザイナベースのテキストエディタ
Name[nb]=Tekstredigerer basert på Qt Designer
Name[nl]=Teksteditor gebaseerd op Qt Designer
Name[pl]=Oparty na Qt edytor tekstu
Name[pt]=Editor de Texto Baseado no Qt Designer
Name[pt_BR]=Editor de Texto Baseado no Qt Designer
Name[ru]=Qt Designer Based Editor
Name[sl]=Urejevalnik besedil na osnovi Qt Designerja
Name[sr]=Уређивач текста заснован на QT Designer-у
Name[sr@Latn]=Uređivač teksta zasnovan na QT Designer-u
Name[sv]=Qt Designer-baserad texteditor
Name[ta]=Qtயை சார்ந்த வடிவமைப்பு உரை தொகுப்பாளர்
Name[tg]=Дизайнгари Qt муҳаррири матни база карда шуда
Name[zh_CN]=基于文本编辑器的 Qt 设计师
GenericName=QEditor Support
GenericName[ca]=Suport per a QEditor
GenericName[da]=QEditor understøttelse
GenericName[de]=Unterstützung für QEditor
GenericName[es]=Soporte para QEditor
GenericName[et]=QEditori toetus
GenericName[eu]=QEditor-en euskarria
GenericName[fr]=Editeur QEditor
GenericName[hi]=क्यू-संपादक समर्थन
GenericName[hu]=QEditor-támogatás
GenericName[it]=Supporto per QEditor
GenericName[ja]=QEditor サポート
GenericName[nb]=QEditor-støtte
GenericName[nl]=Ondersteuning voor QEditor
GenericName[pl]=Obsługa QEditor-a
GenericName[pt]=Suporte ao QEditor
GenericName[pt_BR]=Suporte ao QEditor
GenericName[ru]=Поддержка QEditor
GenericName[sl]=Podpora QEditor
GenericName[sr]=Подршка за QEditor
GenericName[sr@Latn]=Podrška za QEditor
GenericName[sv]=Qeditor-stöd
GenericName[ta]=Qதொகுப்பாளர் ஆதரவு
GenericName[tg]=Ёри намудан ба QEditor 
GenericName[zh_CN]=QEditor 支持
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;text/x-sql;
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart,KTextEditor/Document,KTextEditor/Editor
X-KDE-Library=libqeditorpart
Type=Service
