[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Cervisia Integration
Name=CervisiaPart
GenericName=Cervisia Integration
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevcervisia
X-KDevelop-Scope=Global
X-KDevelop-Version=1
