<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kdevgrepview" version="4">
<MenuBar>
  <Menu name="edit">
    <Text context="@title:menu">Edit</Text>
    <Action name="edit_grep" />
  </Menu>
</MenuBar>
</kpartgui>

