[Desktop Entry]
Type=Service
Exec=blubb
Comment=Allows fast searching of multiple files using patterns or regular expressions.
Comment[el]=Επιτρέπει τη γρήγορη αναζήτηση σε πολλαπλά αρχεία χρησιμοποιώντας μοτίβα ή κανονικές εκφράσεις.
Comment[es]=Permite búsquedas rápidas en múltiples archivos usando patrones o expresiones regulares.
Comment[et]=Lubab mustreid või regulaaravaldisi kasutades kiiresti paljudes failides teksti otsida.
Comment[fr]=Permet d'effectuer une recherche rapide dans des fichiers multiples à l'aide de motifs ou d'expressions rationnelles.
Comment[ga]=Ceadaíonn sé duit il-comhaid a chuardach go tapa le patrúin nó sloinn ionadaíochta.
Comment[gl]=Permite facer unha procura rápida en varios ficheiros empregando patróns ou expresións regulares.
Comment[ja]=パターンや正規表現やパターンを用いて素早く複数のファイルを検索できるようにします。
Comment[lv]=Ļauj ātri meklēt daudzos failus izmantojot šabonus vai regulāras izteiksmes.
Comment[nds]=Stellt gau Dörsöken vun mehr Dateien mit Söökmustern oder reguleer Utdrück praat.
Comment[pt]=Permite a pesquisa rápida de vários ficheiros com padrões ou expressões regulares.
Comment[pt_BR]=Permite uma pesquisa rápida por múltiplos arquivos usando padrões ou expressões regulares.
Comment[sv]=Tillåter snabb sökning i flera filer med mönster eller reguljära uttryck.
Comment[tr]=Desen veya düzenli ifadeler kullanarak birden fazla dosyada hızlı arama yapmayı sağlar.
Comment[uk]=Надає можливості швидкого пошуку декількох файлів на основі шаблонів або формальних виразів.
Comment[x-test]=xxAllows fast searching of multiple files using patterns or regular expressions.xx
Comment[zh_CN]=使用模式或正则表达式在多个文件中快速搜索。
Comment[zh_TW]=允許使用樣式或正規表示式來快速搜尋多個檔案。
Name=Find In Files
Name[es]=Encontrar en archivos
Name[fr]=Chercher dans les fichiers
Name[ja]=ファイル内を検索
Name[nds]=Binnen Dateien söken
Name[pt]=Procurar nos Ficheiros
Name[pt_BR]=Procurar nos Ficheiros
Name[sv]=Sök i filer
Name[uk]=Пошук у файлах
Name[zh_CN]=在文件中查找
Name[zh_TW]=在檔案中尋找
GenericName=Search Tool
GenericName[es]=Herramienta de búsqueda
GenericName[fr]=Outil de recherche
GenericName[ja]=検索ツール
GenericName[nds]=Söökwarktüüch
GenericName[pt]=Ferramenta de Pesquisa
GenericName[pt_BR]=Ferramenta de Pesquisa
GenericName[sv]=Sökverktyg
GenericName[uk]=Інструмент пошуку
GenericName[zh_CN]=搜索工具
GenericName[zh_TW]=搜尋工具
Icon=find
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevgrepview
X-KDE-PluginInfo-Name=kdevgrepview
X-KDevelop-Version=6
X-KDevelop-Category=Global
X-KDevelop-IRequired=org.kdevelop.IOutputView
X-KDevelop-Mode=GUI
