[Desktop Entry]
Type=Service
Exec=blubb
Comment=This plugin allows collaboration using kdevelop
Comment[el]=Το πρόσθετο αυτό επιτρέπει τη συνεργασία στη χρήση του kdevelop
Comment[es]=Este complemento permite colaborar usando KDevelop.
Comment[nds]=Mit dit Moduul kannst Du mit KDevelop mit anner Lüüd tosamenarbeiden
Comment[pt]=Este 'plugin' permite um trabalho colaborativo com o KDevelop
Comment[pt_BR]=Este 'plugin' permite um trabalho colaborativo com o KDevelop
Comment[uk]=За допомогою цього додатка можна здійснювати співпрацю у межах KDevelop
Name=KDevTeamwork
Name[nds]=KDevKoppelarbeit
GenericName=Teamwork
GenericName[el]=Ομαδική εργασία
GenericName[nds]=Koppelarbeit
GenericName[pt]=Trabalho em Equipa
GenericName[pt_BR]=Trabalho em Equipa
GenericName[uk]=Командна робота
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevteamwork
X-KDE-PluginInfo-Name=kdevteamwork
X-KDE-PluginInfo-Author=David Nolden
X-KDE-PluginInfo-Version=0.15
X-KDE-PluginInfo-License=GPL
X-KDevelop-Version=6
X-KDevelop-Category=Global
X-KDevelop-Mode=GUI
