[Desktop Entry]
Encoding=UTF-8
Comment=Qt Designer Based Text Editor
Comment[hu]=Qt Designer-alapú szövegszerkesztő
Comment[pt_BR]=Editor de Texto Baseado no Qt Designer
Comment[sv]=Qt Designer-baserad texteditor
Comment[xx]=xxQt Designer Based Text Editorxx
Name=Qt Designer Based Text Editor
Name[hu]=Qt Designer-alapú szövegszerkesztő
Name[pt_BR]=Editor de Texto Baseado no Qt Designer
Name[sv]=Qt Designer-baserad texteditor
Name[xx]=xxQt Designer Based Text Editorxx
GenericName=QEditor Support
GenericName[hu]=QEditor-támogatás
GenericName[pt_BR]=Suporte ao QEditor
GenericName[sv]=Qeditor-stöd
GenericName[xx]=xxQEditor Supportxx
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;text/x-sql;
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart,KTextEditor/Document,KTextEditor/Editor
X-KDE-Library=libqeditorpart
Type=Service
