[Desktop Entry]
Type=Service
Name=KDevelop Autotools Importer
Name[x-test]=xxKDevelop Autotools Importerxx
Comment=Allows KDevelop to manage projects using a GNU-based build system
Comment[x-test]=xxAllows KDevelop to manage projects using a GNU-based build systemxx
Icon=gear
ServiceTypes=KDevelop/FileManager
X-KDE-Library=kdevautomakeimporter
X-KDE-PluginInfo-Author=Matt Rogers
X-KDE-PluginInfo-Email=mattr@kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Name=KDevAutotoolsImporter
X-KDevelop-FileManager=GNU Autotools
X-KDevelop-Version=4
