[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDevelop Autotools Importer
Name[de]=Autotools-Import für KDevelop
Name[el]=Εισαγωγέας Autotools του KDevelop
Name[es]=Importador de Autotools de KDevelop
Name[fa]=واردکنندۀ ابزارهای خودکار KDevelop
Name[fr]=Importation des « Autotools » pour KDevelop
Name[ga]=Iompórtálaí Autotools de chuid KDevelop
Name[gl]=Importador das Autotools de KDevelop
Name[hi]=के-डेवलप ऑटोटूल्ज़ आयातक
Name[it]=Importatore di Autotools per KDevelop
Name[ja]=KDevelop オートツールインポータ
Name[ko]=KDevelop Autotools 가져오기 도구
Name[lv]=KDevelop Autotools importētājs
Name[nds]=KDev-Autotools-Importwarktüüch
Name[ne]=केडीई विकास स्वचालित उपकरणको आयातकर्ता
Name[pl]=KDevelop: importowanie z Autotools
Name[pt]=Importador das Autotools para o KDevelop
Name[pt_BR]=Importador de Autotools para o KDevelop
Name[sv]=KDevelop import av Autotools
Name[tr]=KDevelop Autotools İçeriye Aktarıcı
Name[uk]=Імпортування з Autotools у KDevelop
Name[x-test]=xxKDevelop Autotools Importerxx
Name[zh_CN]=KDevelop Autotools 导入器
Name[zh_TW]=KDevelop Autotools 匯入器
Comment=Allows KDevelop to manage projects using a GNU-based build system
Comment[de]=Ermöglicht die Verwaltung von Projekten mit GNU-basiertem Erstellungssystem mit KDevelop
Comment[el]=Επιτρέπει στο KDevelop το χειρισμό έργων που χρησιμοποιούν ένα σύστημα κατασκευής GNU
Comment[es]=Permite que KDevelop gestione proyectos que usan un sistema de construcción basado en GNU
Comment[fr]=Permet à KDevelop de gérer les projets utilisant un système de construction reposant sur GNU
Comment[ga]=Ceadaigh do KDevelop tionscadail a bhainistiú le córas tógála atá bunaithe ar GNU
Comment[gl]=Permítelle a KDevelop xestionar proxectos usando un sistema de compilación baseado en GNU
Comment[hi]=केडेवलप को ग्नू आधारित बिल्ड तंत्र के जरिए परियोजनाओं का प्रबंधन करने देता है
Comment[it]=Permette a KDevelop di gestire progetti usando il sistema di compilazione basato su GNU
Comment[ja]=KDevelop で GNU ベースのビルドシステムを使うプロジェクトを管理できるようにします
Comment[ko]=KDevelop에서 GNU 기반 빌드 시스템 프로젝트를 관리하도록 도와줍니다
Comment[lv]=Ļauj no KDevelop pārvaldīt projektus, kas izmanto GNU-bāzētu būvēšanas sistēmu
Comment[nds]=Projekten mit KDevelop plegen, de op dat GNU-Buusysteem opbuut
Comment[ne]=जीएनयूमा आधारित निर्माण प्रणाली प्रयोग गरेर परियोजना प्रबन्ध गर्न केडीई विकासलाई अनुमति दिन्छ
Comment[pl]=Pozwala na zarządzanie za pomocą KDevelopa projektami wykorzystującymi system budowania GNU
Comment[pt]=Permite ao KDevelop gerir os projectos com um sistema de compilação baseado na GNU
Comment[pt_BR]=Permite ao KDevelop gerenciar projetos usando um sistema de compilação baseado em GNU
Comment[sv]=Låter KDevelop hantera projekt som använder ett GNU-baserat byggsystem
Comment[tr]=KDevelop uygulamasının projeleri GNU-temelli derleme sistemi ile yönetmesine izin ver
Comment[uk]=Дозволяє KDevelop керувати проектами за допомогою заснованої на GNU системи збирання
Comment[x-test]=xxAllows KDevelop to manage projects using a GNU-based build systemxx
Comment[zh_CN]=允许 KDevelop 管理使用了 GNU 构建系统的工程
Comment[zh_TW]=允許 KDevelop 使用 GNU-based 建立系統來管理專案
Icon=gear
ServiceTypes=KDevelop/FileManager
X-KDE-Library=kdevautomakeimporter
X-KDE-PluginInfo-Author=Matt Rogers
X-KDE-PluginInfo-Email=mattr@kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Name=KDevAutotoolsImporter
X-KDevelop-FileManager=GNU Autotools
X-KDevelop-Version=4
