[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDevelop Autotools Importer
Name[de]=Autotools-Import für KDevelop
Name[el]=Εισαγωγέας Autotools του KDevelop
Name[es]=Importador de Autotools de KDevelop
Name[fa]=واردکنندۀ ابزارهای خودکار KDevelop
Name[ga]=Iompórtálaí Autotools de chuid KDevelop
Name[it]=Importatore di Autotools per KDevelop
Name[ja]=KDevelop オートツールインポータ
Name[ne]=केडीई विकास स्वचालित उपकरणको आयातकर्ता
Name[pt]=Importador das Autotools para o KDevelop
Name[pt_BR]=Importador das Autotools para o KDevelop
Name[sv]=KDevelop import av Autotools
Name[x-test]=xxKDevelop Autotools Importerxx
Name[zh_TW]=KDevelop Autotools 匯入器
Comment=Allows KDevelop to manage projects using a GNU-based build system
Comment[de]=Ermöglicht die Verwaltung von Projekten mit GNU-basiertem Erstellungssystem mit KDevelop
Comment[el]=Επιτρέπει στο KDevelop το χειρισμό έργων που χρησιμοποιούν ένα σύστημα κατασκευής GNU
Comment[es]=Permite que KDevelop gestione proyectos que usan un sistema de construcción basado en GNU
Comment[ga]=Ceadaigh do KDevelop tionscadail a bhainistiú le córas tógála atá bunaithe ar GNU
Comment[it]=Permette a KDevelop di gestire progetti usando il sistema di compilazione basato su GNU
Comment[ja]=KDevelop で GNU ベースのビルドシステムを使うプロジェクトを管理できるようにします
Comment[ne]=जीएनयूमा आधारित निर्माण प्रणाली प्रयोग गरेर परियोजना प्रबन्ध गर्न केडीई विकासलाई अनुमति दिन्छ
Comment[pt]=Permite ao KDevelop gerir os projectos com um sistema de compilação baseado na GNU
Comment[pt_BR]=Permite ao KDevelop gerir os projectos com um sistema de compilação baseado na GNU
Comment[sv]=Låter KDevelop hantera projekt som använder ett GNU-baserat byggsystem
Comment[x-test]=xxAllows KDevelop to manage projects using a GNU-based build systemxx
Comment[zh_TW]=允許 KDevelop 使用 GNU-based 建立系統來管理專案
Icon=gear
ServiceTypes=KDevelop/FileManager
X-KDE-Library=kdevautomakeimporter
X-KDE-PluginInfo-Author=Matt Rogers
X-KDE-PluginInfo-Email=mattr@kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Name=KDevAutotoolsImporter
X-KDevelop-FileManager=GNU Autotools
X-KDevelop-Version=4
