[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Java Debugger Frontend
Comment[da]=Java fejlretter-forende
Comment[de]=Java-Debugger-Benutzerschnittstelle
Comment[es]=Entorno para el depurador de Java
Comment[hu]=Grafikus kezelőfelület a Java-nyomkövetőhöz
Comment[pt]=Interface de Depuração Java
Comment[pt_BR]=Frontend do Depurador Java
Comment[sr]=Сучеље java програма за проналажење грешака
Comment[sv]=Gränssnitt för Java-avlusare
Comment[xx]=xxJava Debugger Frontendxx
Name=KDevJavaDebugger
Name[de]=KDevJavaDebugger
Name[sv]=KDevelop Java-avlusare
Name[xx]=xxKDevJavaDebuggerxx
GenericName=Java Debugger Frontend
GenericName[da]=Java fejlretter-forende
GenericName[de]=Java-Debugger-Benutzerschnittstelle
GenericName[es]=Entorno para el depurador de Java
GenericName[hu]=grafikus Java-nyomkövető
GenericName[pt]=Interface de Depuração para Java
GenericName[pt_BR]=Frontend do Depurador Java
GenericName[sr]=Сучеље java програма за проналажење грешака
GenericName[sv]=Gränssnitt för Java-avlusare
GenericName[xx]=xxJava Debugger Frontendxx
Icon=
ServiceTypes=KDevelop/Part
X-KDE-Library=libkdevjavadebugger
X-KDevelop-Version=1
X-KDevelop-Scope=Project
X-KDevelop-ProgrammingLanguages=Java
Keywords=JVM
Keywords[xx]=xxJVMxx
