[Desktop Entry]
Type=Service
Exec=blubb
Comment=This plugin allows to open with files with associated external applications.
Comment[pt]=Este 'plugin' permite abrir os ficheiros com as aplicações externas associadas.
Comment[pt_BR]=Este 'plugin' permite abrir os ficheiros com as aplicações externas associadas.
Comment[sv]=Insticksprogrammet tillåter att öppna med filer med tillhörande externa program.
Comment[uk]=За допомогою цього додатка ви зможете відкривати файли у пов’язаній з ними зовнішній програмі.
Comment[x-test]=xxThis plugin allows to open with files with associated external applications.xx
Comment[zh_TW]=此外掛程式讓您可以用外部應用程式開啟檔案。
Name=Open With
Name[pt]=Abrir Com
Name[pt_BR]=Abrir Com
Name[sv]=Öppna med
Name[uk]=Відкриття у зовнішніх програмах
Name[x-test]=xxOpen Withxx
Name[zh_TW]=開啟方式
GenericName=Open With
GenericName[pt]=Abrir Com
GenericName[pt_BR]=Abrir Com
GenericName[sv]=Öppna med
GenericName[uk]=Відкриття у зовнішніх програмах
GenericName[x-test]=xxOpen Withxx
GenericName[zh_TW]=開啟方式
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevopenwith
X-KDevelop-Version=7
X-KDevelop-Category=Global
X-KDE-PluginInfo-Name=kdevopenwith
X-KDE-PluginInfo-Author=Andreas Pakulat
X-KDE-PluginInfo-License=GPL
X-KDevelop-Mode=GUI
