[Desktop Entry]
Type=Service
Icon=document-open
Exec=blubb
Comment=This plugin allows to open files with associated external applications.
Comment[uk]=За допомогою цього додатка ви зможете відкривати файли у пов’язаній з ними зовнішній програмі.
Name=Open With
Name[uk]=Відкриття у зовнішніх програмах
GenericName=Open With
GenericName[uk]=Відкриття у зовнішніх програмах
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevopenwith
X-KDevelop-Version=7
X-KDevelop-Category=Global
X-KDE-PluginInfo-Name=kdevopenwith
X-KDE-PluginInfo-Author=Andreas Pakulat
X-KDE-PluginInfo-License=GPL
X-KDevelop-Mode=GUI
