[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=This plugin provides additional "open" alternatives for various context menus in KDevelop.
Comment[fr]=Un module externe pour la gestion alternative de l'ouverture de fichiers via les menus contextuels (option « Ouvrir avec... »).
Comment[x-test]=xxThis plugin provides additional "open" alternatives for various context menus in KDevelop.xx
Name=KDevOpenWith
Name[x-test]=xxKDevOpenWithxx
GenericName="Open with" Menu Addon
GenericName[fr]=Menu supplémentaire « Ouvrir avec... »
GenericName[x-test]=xx"Open with" Menu Addonxx
icon=kdevelop
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevopenwith
X-KDevelop-Version=4
X-KDevelop-Category=Global
X-KDevelop-Properties=GlobalFileManagement
