[Desktop Entry]
Type=Service
Exec=blubb
Comment=KDE ProjectSpace (handels KDE Projects,po files...)
Name=KDE
Icon=find
ServiceTypes=KDevelop/ProjectSpace
X-KDE-Library=libkdevkdeprojectspace
X-KDevelop-Language=C++
