[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDevClearcaseIntegrator
Name[da]=KDevelop Clearcase-integration
Name[sk]=KDev ClearCase integrácia
Name[sv]=KDevelop Clearcase-integration
Name[zh_TW]=KDevelop Clearcase 整合器
Comment=Clearcase Project Integration Facility
Comment[ca]=Faciliat per a la integració amb projectes Clearcase
Comment[da]=Clearcase projektintegration
Comment[de]=Clearcase-Integration
Comment[el]=Λειτουργία ενσωμάτωσης Clearcase στο έργο
Comment[es]=Facilidad para integración con proyectos Clearcase
Comment[et]=Clearcase projekti põimimisvahend
Comment[eu]=Clearcase proiektu-integraziorako tresna
Comment[fr]=Service d'intégration pour un projet utilisant Clearcase
Comment[hu]=Integrálás Clearcase-projektekkel
Comment[it]=Funzione di integrazione del progetto Clearcase
Comment[ja]=Clearcase プロジェクト統合ツール
Comment[nds]=Projektintegreren för Clearcase
Comment[nl]=Clearcase-projectintegratie
Comment[pl]=Integracja z Clearcase
Comment[pt]=Integração com Projectos Clearcase
Comment[pt_BR]=Facilidade de Integração ao Projeto de Clearcase
Comment[ru]=Интеграция Clearcase
Comment[sk]=Integrácia ClearCase projektu
Comment[sr]=Интеграција Clearcase-а у пројекат
Comment[sr@Latn]=Integracija Clearcase-a u projekat
Comment[sv]=Funktion för integrering av Clearcase i projekt
Comment[tr]=Clearcase Proje Bütünleştirilmesi Aracı
Comment[zh_CN]=Clearcase 工程集成功能
Comment[zh_TW]=Clearcase 專案整合工具
Exec=blubb
ServiceTypes=KDevelop/VCSIntegrator
X-KDE-Library=libclearcaseintegrator
X-KDevelop-Default=false
X-KDevelop-VCS=ClearCase
X-KDevelop-VCSPlugin=kdevclearcase
X-KDevelop-Version=3
