[Desktop Entry]
Type=Service
Name=KDevMakeBuilder
Name[x-test]=xxKDevMakeBuilderxx
Comment=KDevelop Automake Importer
Comment[el]=Εισαγωγέας Automake του KDevelop
Comment[fr]=Importation d'Automake pour KDevelop
Comment[x-test]=xxKDevelop Automake Importerxx
Icon=gear
ServiceTypes=KDevelop/ProjectBuilder
X-KDE-Library=kdevmakebuilder
X-KDevelop-ProjectBuilder=
X-KDevelop-Version=4
