[Desktop Entry]
Type=Service
Name=KDevMakeBuilder
Name[x-test]=xxKDevMakeBuilderxx
Comment=KDevelop Make Builder
Comment[x-test]=xxKDevelop Make Builderxx
Icon=gear
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevmakebuilder
X-KDE-PluginInfo-Name=KDevMakeBuilder
X-KDevelop-Version=4
X-KDevelop-Interfaces=IMakeBuilder
X-KDevelop-IRequired=IOutputView