[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Compiler Frontend
Comment[fr]=Interface avec un compilateur
Comment[x-test]=xxCompiler Frontendxx
Name=KDevMakeView
Name[x-test]=xxKDevMakeViewxx
GenericName=Compiler Frontend
GenericName[fr]=Interface pour compilateur
GenericName[x-test]=xxCompiler Frontendxx
Icon=konsole
ServiceTypes=KDevelop/MakeFrontend
X-KDE-Library=libkdevmakeview
X-KDevelop-Version=4
X-KDevelop-Scope=Core
X-KDevelop-Properties=OutputTool
