[Desktop Entry]
Icon=kdevelop
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_documentview_settings
X-KDE-FactoryName=kcm_documentview_settings
X-KDE-ParentApp=kdevelop
X-KDE-ParentComponents=kdevelop
X-KDE-CfgDlgHierarchy=CORE

Name=Document View
Comment=Configure Document View settings

