body {background-color: #3679AD;
      color: #000000;
      margin-left: 0;
      margin-right: 0;
      margin-top: 5;
      padding: 0;
      background-image: url(kdevelop_bg.png);
      background-repeat: no-repeat;
      background-position: top-center;}

td.trans {background-image: url(bgtable.png);
      background-repeat: no-repeat;}
td.shadow1 {background-image: url(shadow1.png);
      background-repeat: x-repeat;}

table.vnice { font-family: verdana,geneva,arial,helvetica,sans-serif;
          font-size: x-small;}

a:link    {background-color: transparent;
           color: #191970;
           text-decoration:none;}
a:visited {background-color: transparent;
           color: #551a8a;
           text-decoration:none;}
a:active  {background-color: transparent;
           color: #fe0000;
           text-decoration:none;}
a:hover   {background-color: transparent;
           color: #1919aa;
           text-decoration:underline;}

tr.menurow {background-color: #505050;
            color: #000000;
            vertical-align: middle;}

td.deco      {color: #ffffff;
             background-color: #505050;
             font-family: verdana,geneva,arial,helvetica,sans-serif;
             font-size: small;}

td.menuactive      {color: #ffcc00;
             background-color: #777777;
             font-family: verdana,geneva,arial,helvetica,sans-serif;
             font-size: small;}
 
td.menu      {color: #ffffff;
             background-color: #505050;
             font-family: verdana,geneva,arial,helvetica,sans-serif;
             font-size: small;}

a.menu 	    {color: #eeeeee;
            font-family: verdana,geneva,arial,helvetica,sans-serif;
            font-size: small;}

a.menu:hover {color: #ffffff;
                  text-decoration:none;}

