[Desktop Entry]
Name=KApp4
Name[nds]=KProg4
Name[sv]=KDE 4-program
Name[zh_TW]=KApp4 程式
Exec=kapp4 %i -caption "%c"
Icon=kapp4
Type=Application
X-DocPath=kapp4/kapp4.html
GenericName=A KDE4 Application
GenericName[ca]=Una aplicació del KDE4
GenericName[da]=Et KDE4-program
GenericName[de]=Eine KDE 4-Anwendung
GenericName[el]=Μία εφαρμογή του KDE4
GenericName[es]=Una aplicación para KDE4
GenericName[et]=KDE4 rakendus
GenericName[hu]=KDE4-alapú alkalmazás
GenericName[it]=Applicazione KDE4
GenericName[nds]=En KDE4-Programm
GenericName[nl]=Een KDE4-programma
GenericName[pl]=Program dla KDE4
GenericName[pt]=Uma Aplicação do KDE4
GenericName[pt_BR]=Uma Aplicação do KDE4
GenericName[ru]=Приложение KDE 4
GenericName[sk]=KDE4 aplikácia
GenericName[sr]=KDE4 програм
GenericName[sr@Latn]=KDE4 program
GenericName[sv]=Ett KDE 4-program
GenericName[zh_TW]=KDE4 應用程式
Terminal=false
