[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=kdevelop
Exec=blubb
Comment=QTestLib test runner
Comment[el]=Εκτέλεση ελέγχου QTestLib
Comment[fr]=Exécuteur de test QTestLib
Comment[ga]=Feidhmitheoir thástáil QTestLib
Comment[gl]=Executor de probas QTestLib
Comment[it]=Esecuzione di test QTestLib
Comment[pt]=Execução de testes QTestLib
Comment[pt_BR]=Execução de testes QTestLib
Comment[sv]=X-enhetstestkörning
Comment[uk]=Засіб перевірки QTestLib
Comment[x-test]=xxQTestLib test runnerxx
Comment[zh_TW]=QTestLib 測試執行者

Name=QTest runner
Name[el]=Εκτέλεση QTest
Name[fr]=Exécuteur QTest
Name[ga]=Feidhmitheoir QTest
Name[gl]=Executor de QTest
Name[it]=Esecuzione di QTest
Name[pt]=Execução do QTest
Name[pt_BR]=Execução do QTest
Name[sv]=X-testkörning
Name[uk]=Засіб запуску QTest
Name[x-test]=xxQTest runnerxx
Name[zh_TW]=QTest 執行者
GenericName=Unit test runner
GenericName[el]=Εκτέλεση ελέγχου Unit
GenericName[fr]=Exécuteur de test Unit
GenericName[ga]=Feidhmitheoir tástála aonad
GenericName[gl]=Executor de probas unitarias
GenericName[it]=Esecuzione di unità di test
GenericName[pt]=Execução de testes unitários
GenericName[pt_BR]=Execução de testes unitários
GenericName[sv]=Enhetstestkörning
GenericName[uk]=Засіб запуску перевірки модулів
GenericName[x-test]=xunit test runnerxx
GenericName[zh_TW]=Unit 測試執行者
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevqtestview
X-KDE-PluginInfo-Name=qtestview
X-KDE-PluginInfo-Author=Manuel Breugelmans
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Version=6
X-KDevelop-Category=Global
X-KDevelop-Properties=GlobalFileManagement
