[Desktop Entry]
Type=Service
Exec=blubb
Comment=Allows fast searching of multiple files using patterns or regular expressions, and allows replacement too.
Name=Find/Replace In Files
Name[ca]=Cerca i substitució en fitxers
Name[da]=Find/erstat i filer
Name[de]=In Dateien suchen/ersetzen
Name[en_GB]=Find/Replace In Files
Name[es]=Buscar/sustituir en archivos
Name[et]=Failides otsimine ja asendamine
Name[fr]=Chercher / Remplacer dans les fichiers
Name[it]=Trova/Sostituisci nei file
Name[nb]=Finn/erstatt i filer
Name[nds]=Söken un Utwesseln in Dateien
Name[nl]=Zoeken/vervangen in bestanden
Name[pt]=Procurar/Substituir nos Ficheiros
Name[pt_BR]=Procurar/Substituir nos arquivos
Name[ru]=Поиск и замена в файлах
Name[sv]=Sök eller ersätt i filer
Name[uk]=Пошук або заміна у файлах
Name[x-test]=xxFind/Replace In Filesxx
Name[zh_TW]=在檔案中尋找/取代
GenericName=Search Tool
GenericName[bg]=Инструмент за търсене
GenericName[ca]=Eina de cerca
GenericName[ca@valencia]=Eina de cerca
GenericName[da]=Søgeværktøj
GenericName[de]=Such-Werkzeug
GenericName[en_GB]=Search Tool
GenericName[es]=Herramienta de búsqueda
GenericName[et]=Otsimise tööriist
GenericName[fr]=Outil de recherche
GenericName[ga]=Uirlis Chuardaigh
GenericName[gl]=Utilidade de procura
GenericName[it]=Strumento ricerca
GenericName[ja]=検索ツール
GenericName[nb]=Søkeverktøy
GenericName[nds]=Söökwarktüüch
GenericName[nl]=Hulpmiddel voor zoeken
GenericName[pl]=Narzędzie wyszukiwania
GenericName[pt]=Ferramenta de Pesquisa
GenericName[pt_BR]=Ferramenta de Pesquisa
GenericName[ru]=Инструмент поиска
GenericName[sl]=Orodje za iskanje
GenericName[sv]=Sökverktyg
GenericName[tr]=Arama Aracı
GenericName[uk]=Інструмент пошуку
GenericName[x-test]=xxSearch Toolxx
GenericName[zh_CN]=搜索工具
GenericName[zh_TW]=搜尋工具
Icon=kfind
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevgrepview
X-KDE-PluginInfo-Name=kdevgrepview
X-KDE-PluginInfo-Category=Utilities
X-KDevelop-Version=12
X-KDevelop-Category=Global
X-KDevelop-IRequired=org.kdevelop.IStatus
X-KDevelop-Mode=GUI
