[Desktop Entry]
Type=Service
Exec=blubb
Comment=Allows fast searching of multiple files using patterns or regular expressions.
Name=File Searching Support
GenericName=Grep Frontend
GenericName[da]=Grep-grænseflade
GenericName[de]=Oberfläche für Grep
GenericName[el]=Διασύνδεση Grep
GenericName[es]=Interfaz para Grep
GenericName[et]=Programmi grep kasutajaliides
GenericName[eu]=Grep interfazea
GenericName[fr]=Interface pour Ggrep
GenericName[ga]=Comhéadan Grep
GenericName[gl]=Interface para Grep
GenericName[hi]=ग्रेप फ्रन्टएण्ड
GenericName[hu]=Grafikus felület a Grep-hez
GenericName[it]=Interfaccia a "grep"
GenericName[ja]=Grep フロントエンド
GenericName[ko]=Grep 프론트엔드
GenericName[lv]=Grep priekšpuse
GenericName[nb]=Grensesnitt for Grep
GenericName[nds]=Grep-Böversiet
GenericName[nl]=Grep-frontend
GenericName[pl]=Interfejs do grepa
GenericName[pt]=Interface para o Grep
GenericName[pt_BR]=Interface para o Grep
GenericName[ru]=Интеграция Grep
GenericName[sk]=Grep rozhranie
GenericName[sl]=Vmesnik za Grep
GenericName[sv]=Gränssnitt till grep
GenericName[ta]=Grep முன் பகுதி
GenericName[tg]=Интегратсияи Grep 
GenericName[tr]=Grep Önucu
GenericName[uk]=Клієнтська програма для Grep
GenericName[x-test]=xxGrep Frontendxx
GenericName[zh_CN]=Grep 前端
GenericName[zh_TW]=Grep 前端介面
Icon=find
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevgrepview
X-KDE-PluginInfo-Name=kdevgrepview
X-KDevelop-Version=6
X-KDevelop-Category=Global
X-KDevelop-IRequired=org.kdevelop.IOutputView
X-KDevelop-Mode=GUI
