[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KDevelop/CodeBrowserFrontend
X-KDE-Derived=KDevelop/Plugin
Name=Code Browser Frontend
Name[ca]=Interfície per al navegador de codi
Name[de]=Quelltextbrowser-Oberfläche
Name[es]=Interfaz para el navegador de código
Name[hu]=Kódböngésző
Name[nds]=Kodekieker-Böversiet
Name[pt]=Interface de Navegação do Código
Name[pt_BR]=Interface de Navegação do Código
Name[sk]=Rozhranie pre prehliadač kódu
Name[sv]=Kodbläddringsgränssnitt
Name[zh_TW]=源碼瀏覽器前端介面

[PropertyDef::X-KDevelop-Version]
Type=int
