[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KDevelop/VersionControl
X-KDE-Derived=KDevelop/Plugin
Name=KDevelop Version Control Interface
Name[ca]=Interfície del control de versions per a KDevelop
Name[da]=KDevelop versionskontrol grænseflade
Name[de]=Versionsverwaltung-Schnittstelle (KDevelop)
Name[el]=Διασύνδεση ελέγχου εκδόσεων KDevelop
Name[es]=Interfaz del control de versiones de KDevelop
Name[et]=KDevelopi versioonide kontrollimise liides
Name[eu]=KDevelop bertsio kontrol interfazea
Name[fr]=Interface du contrôle de version de KDevelop
Name[hi]=के-डेवलप संस्करण नियंत्रण इंटरफ़ेस
Name[hu]=KDevelop verziókezelési felület
Name[ja]=KDevelop バージョンコントロールインターフェース
Name[nb]=Grensesnitt for versjonshåndtering i KDevelop
Name[nl]=KDevelop Versiebeheer-interface
Name[pl]=Interfejs Kdevelopa do kontroli wersji
Name[pt]=Interface de Controlo de Versões do KDevelop
Name[pt_BR]=Interface de Controle de Versão do KDevelop
Name[ru]=Интерфейс системы управления версиями
Name[sl]=Vmesnik nadzora različic za KDevelop
Name[sr]=KDevelop-ов интерфејс за контролу верзије
Name[sr@Latn]=KDevelop-ov interfejs za kontrolu verzije
Name[sv]=KDevelop gränssnitt för versionskontroll
Name[ta]=KDevelop  பதிப்பு கட்டுப்பாட்டு இடைஇணைப்பு
Name[tg]=Интерфейс барномаи идоракунии тафсирҳо
Name[tr]=KDevelop Sürüm Kontrol Arayüzü
Name[zh_CN]=KDevelop 版本控制接口

# versioning - prevent DLL hell
[PropertyDef::X-KDevelop-Version]
Type=int

