[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KDevelop/ProjectImporter
X-KDE-Derived=KDevelop/Plugin
Name=KDevelop Project Importer
Name[ca]=Importador de projecte per a KDevelop
Name[da]=KDevelop Projektimportør
Name[de]=Projekt-Import für KDevelop
Name[el]=Εισαγωγέας έργου του KDevelop
Name[es]=Importador de proyectos de KDevelop
Name[et]=KDevelopi projekti importija
Name[eu]=KDevelop-en proiektu-inportatzailea
Name[fa]=واردکنندۀ پروژۀ KDevelop
Name[fr]=Importation de projet KDevelop
Name[ga]=Iompórtálaí Tionscadal KDevelop
Name[hu]=KDevelop projektimportáló
Name[it]=Importatore di progetto di KDevelop
Name[ja]=KDevelop プロジェクト インポータ
Name[nds]=KDevelop-Projektimport
Name[pl]=KDevelop: import projektu
Name[pt]=Importador de Projectos do KDevelop
Name[pt_BR]=Importador de Projeto para o KDevelop
Name[ru]=Импорт проектов KDevelop
Name[sk]=KDevelop importér projektu
Name[sl]=Uvoz projektov v KDevelop
Name[sr]=KDevelop-ов увозник за пројекте
Name[sr@Latn]=KDevelop-ov uvoznik za projekte
Name[sv]=KDevelop projektimport
Name[tr]=KDevelop Proje Aktarıcısı
Name[zh_CN]=KDevelop 工程导入器
Name[zh_TW]=KDevelop 專案匯入器

[PropertyDef::X-KDevelop-ProjectImporter]
Type=QString
