[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KDevelop/ProjectBuilder
X-KDE-Derived=KDevelop/Plugin
Name=KDevelop Project Builder

[PropertyDef::X-KDevelop-ProjectBuilder]
Type=QString
