[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Aids in building and publishing the final project. Only RPM package format is supported for now.
Comment[hu]=A végső projekt felépítésében és publikálásában segít. Egyelőre csak az RPM csomagformátum támogatott.
Comment[pt_BR]=Auxilia na compilação e ublicação do projeto final. Somente o formato de pacote RPM é suportado por enquanto.
Comment[sv]=Hjälper till att bygga och publicera det färdiga projektet. Endast RPM-paketformatet stöds för närvarande.
Comment[xx]=xxAids in building and publishing the final project. Only RPM package format is supported for now.xx
Name=KDevdistpart
Name[sv]=KDevelop distributionsdel
Name[xx]=xxKDevdistpartxx
GenericName=Final packaging support
GenericName[hu]=csomagkészítési támogatás
GenericName[pt_BR]=Suporte ao empacotamento final
GenericName[sv]=Stöd för slutpaketering
GenericName[xx]=xxFinal packaging supportxx
Icon=kdevelop
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevdistpart
X-KDevelop-Version=1
X-KDevelop-Scope=Project 
