[Desktop Entry]
Type=Service
Exec=blubb
Comment=QMake Project
Comment[da]=QMake projekt
Comment[de]=QMake-Projekt
Comment[es]=Proyecto QMake
Comment[hu]=QMake-projekt
Comment[pt]=Projecto QMake
Comment[pt_BR]=Projeto QMake
Comment[sr]=QMake пројекат
Comment[sv]=Qmake-projekt
Comment[xx]=xxQMake Projectxx
Name=KDevTrollProject
Name[de]=KDevTrollProjekt
Name[sv]=KDevelop Troll-projekt
Name[xx]=xxKDevTrollProjectxx
GenericName=QMake Project
GenericName[da]=QMake projekt
GenericName[es]=Proyecto QMake
GenericName[hu]=QMake-projekt
GenericName[pt]=Projecto QMake
GenericName[pt_BR]=Projeto QMake
GenericName[sr]=QMake пројекат
GenericName[sv]=Qmake-projekt
GenericName[xx]=xxQMake Projectxx
ServiceTypes=KDevelop/Project
X-KDE-Library=libkdevtrollproject
X-KDevelop-Version=1
X-KDevelop-Args=
