<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="KDevAppWizard" version="4" translationDomain="kdevappwizard">
<MenuBar>
  <Menu name="project" >
    <text context="@title:menu">Project</text>
    <Action name="project_new" group="project_new"/>
  </Menu>
</MenuBar>
</kpartgui>
