[Desktop Entry]
Type=Service
Icon=project-development-new-template
Exec=blubb
Comment=Application Wizard
Comment[uk]=Майстер створення програм
Name=New Project Wizard
Name[uk]=Майстер створення проекту
GenericName=Application Wizard
GenericName[uk]=Майстер створення програм
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevappwizard
X-KDE-PluginInfo-Name=kdevappwizard
X-KDE-PluginInfo-Author=Alexander Dymo
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDevelop-Category=Global
X-KDevelop-Version=7
X-KDevelop-Mode=NoGUI
