[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Application Wizard
Comment[fr]=Un module externe pour la gestion de l'assistant de création d'applications.
Comment[x-test]=xxApplication Wizardxx
Name=KDevAppWizard
Name[x-test]=xxKDevAppWizardxx
GenericName=Application Wizard
GenericName[fr]=Création d'applications
GenericName[x-test]=xxApplication Wizardxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevappwizard
X-KDevelop-Category=Core
X-KDevelop-Version=4
X-KDevelop-Properties=ProjectCreation
