[Desktop Entry]
Name=KDevelop Sessions
Name[bs]=KDevelop sesije
Name[ca]=Sessions del KDevelop
Name[ca@valencia]=Sessions del KDevelop
Name[cs]=relace KDevelop
Name[da]=KDevelop-sessioner
Name[de]=KDevelop-Sitzungen
Name[el]=Συνεδρίες KDevelop
Name[es]=Sesiones de KDevelop
Name[et]=KDevelopi seansid
Name[fi]=KDevelop-istunnot
Name[fr]=Sessions KDevelop
Name[ga]=Seisiúin KDevelop
Name[gl]=Sesións de KDevelop
Name[hu]=KDevelop munkamenetek
Name[it]=Sessioni KDevelop
Name[kk]=KDevelop сеанстары
Name[lt]=KDevelop seansas
Name[nb]=KDevelop-økter
Name[nds]=KDevelop-Törns
Name[nl]=KDevelop sessies
Name[pl]=Sesje KDevelop
Name[pt]=Sessões do KDevelop
Name[pt_BR]=Sessões do KDevelop
Name[ru]=Сеансы KDevelop
Name[sk]=Sedenia KDevelop
Name[sl]=Seje za KDevelop
Name[sv]=KDevelop-sessioner
Name[uk]=Сеанси KDevelop
Name[x-test]=xxKDevelop Sessionsxx
Name[zh_CN]=KDevelop 会话
Name[zh_TW]=KDevelop 工作階段
Comment=Matches KDevelop Sessions
Comment[bs]=Usaglašuje KDevelop Sesije
Comment[ca]=Concorda amb sessions del KDevelop
Comment[ca@valencia]=Concorda amb sessions del KDevelop
Comment[da]=Matcher KDevelop-sessioner
Comment[de]=Findet KDevelop-Sitzungen
Comment[el]=Ταιριάζει με συνεδρίες KDevelop
Comment[es]=Sesiones coincidentes de KDevelop
Comment[et]=KDevelopi seansside leidmine
Comment[fi]=Täsmää KDevelop-istuntoihin
Comment[fr]=Correspond aux sessions KDevelop
Comment[ga]=Comhoiriúnach le Seisiúin KDevelop
Comment[gl]=Atopa as sesións de KDevelop
Comment[hu]=Illeszkedő KDevelop munkamenetek
Comment[it]=Sessioni KDevelop corrispondenti
Comment[kk]=Сәйкесті KDevelop сеанстарын іздеу
Comment[nb]=Treffer KDevelop-økter
Comment[nds]=Kiekt na passen KDevelop-Törns
Comment[nl]=Komt overeen met KDevelop sessies
Comment[pl]=Dopasowuje sesje KDevelop
Comment[pt]=Corresponde às Sessões do KDevelop
Comment[pt_BR]=Corresponder às sessões do KDevelop
Comment[ru]=Выбирает сеансы KDevelop
Comment[sk]=Porovnáva sedenia KDevelop
Comment[sl]=Se ujema s sejami za KDevelop
Comment[sv]=Matchar KDevelop-sessioner
Comment[uk]=Пошук відповідних сеансів KDevelop
Comment[x-test]=xxMatches KDevelop Sessionsxx
Comment[zh_CN]=匹配 KDevelop 会话
Comment[zh_TW]=比對 KDevelop 工作階段
Icon=kdevelop

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
TryExec=kdevelop
X-KDE-Library=krunner_kdevelopsessions
X-KDE-PluginInfo-Author=Sebastian Kügler
X-KDE-PluginInfo-Email=sebas@kde.org
X-KDE-PluginInfo-Name=kdevelopsessions
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-AdvertiseSingleRunnerQueryMode=true
