[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Subversion Integration
Comment[hu]=Subversion-integráció
Comment[pt_BR]=Integração de Subversão
Comment[sv]=Integrering av delversion
Comment[xx]=xxSubversion Integrationxx
Name=KDevsvn
Name[sv]=KDevelop delversion
Name[xx]=xxKDevsvnxx
GenericName=Subversion Integration
GenericName[hu]=Subversion-integráció
GenericName[pt_BR]=Integração de Subversão
GenericName[sv]=Integrering av delversion
GenericName[xx]=xxSubversion Integrationxx
Icon=kdevelop
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevsvn
X-KDevelop-Version=1
X-KDevelop-Scope=Project
