[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=CSharp Support
Comment[de]=CSharp-Unterstützung für KDevelop
Comment[es]=Soporte para CSharp
Comment[pt]=Suporte a C#
Comment[pt_BR]=Suporte a C#
Comment[sv]=C#-stöd
Name=KDevCSharpSupport
Name[de]=Unterstützung für CSharp (KDevelop)
Name[sv]=KDevelop C#-stöd
GenericName=CSharp Support
GenericName[de]=Unterstützung für CSharp
GenericName[es]=Soporte para CSharp
GenericName[pt]=Suporte a C#
GenericName[pt_BR]=Suporte a C#
GenericName[sv]=C#-stöd
ServiceTypes=KDevelop/LanguageSupport
X-KDE-Library=libkdevcsharpsupport
X-KDevelop-Version=4
X-KDevelop-Language=CSharp

