[Desktop Entry]
Type=Service
Exec=blubb
Icon=git
Comment=This plugin integrates Git to KDevelop
Comment[bg]=Тaзи приставка вгражда Git в KDevelop
Comment[bs]=Ovaj dodatak integriše Git u KDevelop
Comment[ca]=Aquest connector integra Git en KDevelop
Comment[ca@valencia]=Este connector integra Git en KDevelop
Comment[da]=Dette plugin integrerer Git med KDevelop
Comment[de]=Dieses Modul integriert Git in KDevelop.
Comment[el]=Αυτό το πρόσθετο ενσωματώνει το Git στο KDevelop
Comment[en_GB]=This plugin integrates Git to KDevelop
Comment[es]=Este complemento integra Git en KDevelop
Comment[et]=See plugin lõimib Giti KDevelopiga
Comment[fi]=Tämä liitännäinen integroi Git-ohjelman KDevelop-ympäristöön
Comment[fr]=Ce module externe intègre Git dans KDevelop
Comment[gl]=Este engadido integra Git en KDevelop
Comment[hu]=Ez a bővítmény integrálja a Gitet a KDevelopba
Comment[it]=Questa estensione integra Git in KDevelop
Comment[ja]=このプラグインは Git を KDevelop に統合します
Comment[lv]=Šis spraudnis integrē Git iekš KDevelop
Comment[nb]=Dette programtillegget integrerer Git i KDevelop
Comment[nds]=Dit Moduul bett Git na KDevelop in
Comment[nl]=Deze plugin integreert Git in KDevelop
Comment[pl]=Wtyczka ta integruje Git z KDevelop
Comment[pt]=Este 'plugin' integra o Git no KDevelop
Comment[pt_BR]=Este plugin integra o Git ao KDevelop
Comment[ro]=Acest modul integrează Git în KDevelop
Comment[ru]=Это расширение интегрирует Git в KDevelop
Comment[sk]=Tento plugin integruje GIT do KDevelop.
Comment[sl]=Vstavek v KDevelop integrira Git
Comment[sv]=Insticksprogrammet integrerar Git i KDevelop
Comment[tr]=Bu eklenti Git uygulamasını KDevelop ile bütünleştirir
Comment[ug]=بۇ قىستۇرما Git  نى KDevelop قا يۈرۈشلەشتۈرىدۇ
Comment[uk]=Цей додаток призначено для забезпечення підтримки Git у KDevelop
Comment[x-test]=xxThis plugin integrates Git to KDevelopxx
Comment[zh_CN]=此插件对 KDevelop 整合 Git
Comment[zh_TW]=此外掛程式將 Git 整合進 KDevelop
Name=Git Support
Name[bg]=Поддръжка на Git
Name[bs]=Git podrška
Name[ca]=Implementació de Git
Name[ca@valencia]=Implementació de Git
Name[cs]=Podpora Git
Name[da]=Git-understøttelse
Name[de]=Git-Unterstützung
Name[el]=Υποστήριξη Git
Name[en_GB]=Git Support
Name[es]=Implementación de Git
Name[et]=Giti toetus
Name[fi]=Git-tuki
Name[fr]=Prise en charge de Git
Name[ga]=Tacaíocht Git
Name[gl]=Soporte de GIT
Name[hu]=Git támogatás
Name[it]=Supporto Git
Name[ja]=Git サポート
Name[nb]=Git-støtte
Name[nds]=Git-Ünnerstütten
Name[nl]=Git-ondersteuning
Name[pa]=Git ਸਹਿਯੋਗ
Name[pl]=Obsługa Git
Name[pt]=Suporte para o Git
Name[pt_BR]=Suporte ao Git
Name[ru]=Поддержка Git
Name[sk]=Podpora GIT
Name[sl]=Podpora za Git
Name[sv]=Stöd för Git
Name[tr]=Git Desteği
Name[ug]=Git قوللىشى
Name[uk]=Підтримка Git
Name[x-test]=xxGit Supportxx
Name[zh_CN]=Git 支持
Name[zh_TW]=Git 支援
GenericName=Version Control Support
GenericName[bg]=Поддръжка на управление на версиите
GenericName[bs]=Podrška za kontrolu verzija
GenericName[ca]=Implementació del control de versions
GenericName[ca@valencia]=Implementació del control de versions
GenericName[cs]=Podpora správy verzí
GenericName[da]=Understøttelse af versionstyring
GenericName[de]=Unterstützung für Versionsverwaltungssysteme
GenericName[el]=Υποστήριξη Version Control
GenericName[en_GB]=Version Control Support
GenericName[es]=Implementación de Control de Versiones
GenericName[et]=Versioonihalduse toetus
GenericName[fi]=Versionhallintatuki
GenericName[fr]=Prise en charge du contrôle de versions
GenericName[gl]=Soporte de sistemas de versións
GenericName[hu]=Verziókezelő támogatás
GenericName[it]=Supporto controllo versione
GenericName[ja]=バージョン管理のサポート
GenericName[kk]=Нұсқаларын қадағалауды қолдау
GenericName[nb]=Støtte for versjonskontroll 
GenericName[nds]=Verschoonkuntrull-Ünnerstütten
GenericName[nl]=Ondersteuning voor versiecontrole
GenericName[pl]=Obsługa kontroli wersji
GenericName[pt]=Suporte ao Controlo de Versões
GenericName[pt_BR]=Suporte a controle de versão
GenericName[ru]=Поддержка систем контроля версий
GenericName[sk]=Podpora správy verzií
GenericName[sl]=Podpora za nadzor različic
GenericName[sv]=Stöd för versionskontroll
GenericName[tr]=Sürüm Kontrol Desteği
GenericName[ug]=نەشر باشقۇرۇش قوللىشى
GenericName[uk]=Підтримка керування версіями
GenericName[x-test]=xxVersion Control Supportxx
GenericName[zh_CN]=版本控制支持
GenericName[zh_TW]=版本控制支援
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevgit
X-KDE-PluginInfo-Name=kdevgit
X-KDE-PluginInfo-Author=Evgeniy Ivanov
X-KDE-PluginInfo-Email=powerfox@kde.ru
X-KDE-PluginInfo-Version=0.9
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Version Control
X-KDevelop-Version=15
X-KDevelop-Category=Global
X-KDevelop-Interfaces=org.kdevelop.IBasicVersionControl, org.kdevelop.IDistributedVersionControl
X-KDevelop-Mode=GUI
