[Desktop Entry]
Type=Service
Exec=blubb
Icon=git
Comment=This plugin integrates Git to KDevelop
Comment[de]=Dieses Modul integriert Git in KDevelop.
Comment[en_GB]=This plugin integrates Git to KDevelop
Comment[es]=Este complemento integra Git en KDevelop
Comment[fr]=Ce module externe intègre Git à KDevelop
Comment[nds]=Dit Moduul bett Git na KDevelop in.
Comment[pt]=Este 'plugin' integra o Git no KDevelop
Comment[pt_BR]=Este plug-in integra o Git no KDevelop
Comment[sv]=Insticksprogrammet integrerar Git i KDevelop
Comment[uk]=Цей додаток призначено для забезпечення підтримки Git у KDevelop
Comment[x-test]=xxThis plugin integrates Git to KDevelopxx
Name=Git Support
Name[cs]=Podpora Git
Name[de]=Git-Unterstützung
Name[en_GB]=Git Support
Name[es]=Implementación de Git
Name[fr]=Prise en charge de Git
Name[nds]=Git-Ünnerstütten
Name[pt]=Suporte para o Git
Name[pt_BR]=Suporte ao Git
Name[sv]=Stöd för Git
Name[uk]=Підтримка Git
Name[x-test]=xxGit Supportxx
GenericName=Version Control Support
GenericName[cs]=Podpora správy verzí
GenericName[de]=Unterstützung für Versionsverwaltungssysteme
GenericName[en_GB]=Version Control Support
GenericName[es]=Implementación de Control de Versiones
GenericName[fr]=Prise en charge du contrôle de versions
GenericName[nds]=Verschoonkuntrull-Ünnerstütten
GenericName[pt]=Suporte ao Controlo de Versões
GenericName[pt_BR]=Suporte a controle de versão
GenericName[sv]=Stöd för versionskontroll
GenericName[uk]=Підтримка керування версіями
GenericName[x-test]=xxVersion Control Supportxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevgit
X-KDE-PluginInfo-Name=kdevgit
X-KDE-PluginInfo-Author=Evgeniy Ivanov
X-KDE-PluginInfo-Email=powerfox@kde.ru
X-KDE-PluginInfo-Version=0.9
X-KDE-PluginInfo-License=GPL
X-KDevelop-Version=10
X-KDevelop-Category=Global
X-KDevelop-Interfaces=org.kdevelop.IBasicVersionControl, org.kdevelop.IDistributedVersionControl
X-KDevelop-Mode=GUI
