[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Python Support
Comment[ca]=Suport per a Python
Comment[da]=Python støtte
Comment[de]=Python-Sprachunterstützung
Comment[es]=Soporte para Python
Comment[et]=Pythoni toetus
Comment[fr]=Un module externe pour la gestion du langage PYTHON.
Comment[hu]=Python-támogatás
Comment[it]=Supporto per Python
Comment[nl]=Ondersteuning voor Python
Comment[pt]=Suporte a Python
Comment[pt_BR]=Suporte ao Python
Comment[ru]=Поддержка языка Python
Comment[sr]=Подршка за Python
Comment[sv]=Python-stöd
Comment[xx]=xxPython Supportxx
Comment[zh_CN]=Python语言支持
Name=KDevPythonSupport
Name[de]=Python-Sprachunterstützung (KDevelop)
Name[sv]=KDevelop Python-stöd
Name[xx]=xxKDevPythonSupportxx
GenericName=Python Support
GenericName[ca]=Suport per a Python
GenericName[da]=Python støtte
GenericName[de]=Python-Sprachunterstützung
GenericName[es]=Soporte para Python
GenericName[et]=Pythoni toetus
GenericName[fr]=Langage PYTHON
GenericName[hu]=Python-támogatás
GenericName[it]=Supporto per Python
GenericName[nl]=Ondersteuning voor Python
GenericName[pt]=Suporte a Python
GenericName[pt_BR]=Suporte ao Python
GenericName[ru]=Поддержка языка Python
GenericName[sr]=Подршка за Python
GenericName[sv]=Python-stöd
GenericName[xx]=xxPython Supportxx
GenericName[zh_CN]=Python语言支持
ServiceTypes=KDevelop/LanguageSupport
X-KDE-Library=libkdevpythonsupport
X-KDevelop-Version=1
X-KDevelop-Language=Python
