[Desktop Entry]
Encoding=UTF-8
Name=%{APPNAME}
Exec=%{APPNAMELC} %i %m -caption "%c"
Icon=%{APPNAMELC}
Type=Application
DocPath=%{APPNAMELC}/%{APPNAMELC}.html
Comment=A KDE KPart Application
Comment[br]=Ur meziant Kpart evit KDE
Comment[ca]=Una aplicació KPart per a KDE
Comment[cy]=Cymhwysiad KPart KDE
Comment[da]=Et KDE KPart program
Comment[de]=Eine KDE-Komponenten-Anwendung
Comment[el]=Μια εφαρμογή KPart του KDE
Comment[es]=Una aplicación KPart de KDE
Comment[et]=KDE KPart rakendus
Comment[eu]=KDE KPart aplikazio bat
Comment[fr]=Une application KPart pour KDE.
Comment[ga]=Feidhmchlár KPart KDE
Comment[hi]=एक केडीई के-पार्ट अनुप्रयोग
Comment[is]=KDE KPart forrit
Comment[it]=Applicazione KPart di KDE
Comment[ja]=KDE KPart アプリケーション
Comment[lt]=KDE KPart programa
Comment[nb]=Et KDE KPart-program
Comment[nl]=Een KDE KPart-toepassing
Comment[pl]=Osadzalny element KPart KDE
Comment[pt]=Uma aplicação KPart do KDE
Comment[pt_BR]=Um Aplicativo KPart do KDE
Comment[ru]=Приложение KPart для KDE
Comment[sl]=Program KPart za KDE
Comment[sr]=KDE KPart програм
Comment[sr@Latn]=KDE KPart program
Comment[sv]=Ett KDE Kpart-program
Comment[ta]=கெடி கெபார்ட்  பயன்பாடு 
Comment[tg]=Ба кор андохтани KPart барои KDE
Comment[uk]=Програма KPart для KDE
Comment[zh_CN]=一个 KDE KPart 应用程序
Terminal=false
