[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDevCVSIntegrator
Name[da]=KDevelop CVS-integration
Name[sv]=KDevelop CVS-integration
Comment=CVS Service Project Integration Facility
Comment[da]=CVS service projektintegration
Comment[et]=CVS teenuse projekti põimimisvahend
Comment[fr]=Service d'intégration pour un projet utilisant CVS
Comment[it]=Funzione di integrazione del progetto CVS Service
Comment[pt]=Integração com Projectos de Serviço CVS
Comment[pt_BR]=Facilidade de Integração ao Projeto do Serviço CVS
Comment[ru]=Интеграция CVS
Comment[sv]=Funktion för integrering av CVS-tjänst i projekt
Icon=cervisia
Exec=blubb
ServiceTypes=KDevelop/VCSIntegrator
X-KDE-Library=libcvsserviceintegrator
X-KDevelop-Default=true
X-KDevelop-VCS=CVS
X-KDevelop-VCSPlugin=KDevCvsService
X-KDevelop-Version=3
