[Desktop Entry]
Icon=kdevelop
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdevcustombuildsystem
X-KDE-ParentApp=kdevplatformproject
X-KDE-ParentComponents=KDevCustomBuildSystem,KDevGenericManager
X-KDE-CfgDlgHierarchy=BUILDTOOL

Name=Custom BuildSystem
Name[cs]=Vlastní systém pro sestavení
Name[de]=Eigenes Build-System
Name[es]=Sistema de construcción personalizado
Name[hu]=Egyéni fordítórendszer
Name[nl]=Eigen bouwsysteem
Name[pt]=Sistema de Compilação Personalizado
Name[pt_BR]=Sistema de compilação personalizado
Name[sv]=Eget byggsystem
Name[uk]=Нетипова система збирання
Name[x-test]=xxCustom BuildSystemxx
Comment=Configure a projects custom build tool and includes/defines for the language support.
Comment[es]=Configurar una herramienta de construcción personalizada de proyectos e includes y defines para el lenguaje.
Comment[hu]=A projektek egyéni fordítóeszközének beállítása és tartalmazása/meghatározása a nyelvi támogatáshoz.
Comment[nl]=Stel het eigen bouwhulpmiddel van een project in en voeg toe/definieer de ondersteuning van taal.
Comment[pt]=Configura uma ferramenta de compilação de projectos personalizada e as inclusões/definições do suporte para uma linguagem.
Comment[pt_BR]=Configura uma ferramenta de compilação de projetos personalizados e inclusões/definições para suporte de linguagens.
Comment[sv]=Anpassa ett projekts egna byggsystem samt deklarationer och definitioner för språkstödet.
Comment[uk]=Налаштування типового інструмента збирання проектів та включень або визначень щодо підтримки мов.
Comment[x-test]=xxConfigure a projects custom build tool and includes/defines for the language support.xx
