[Desktop Entry]
Type=Service
Exec=blubb
Comment=This plugin shows information about the current language context in a side view, and highlights relevant declarations and uses.
Comment[el]=Αυτό το πρόσθετο εμφανίζει πληροφορίες σχετικά με την τρέχουσα γλώσσα σε μια πλευρική προβολή, και τονίζει τις σχετικές δηλώσεις και χρήσεις.
Comment[es]=Este complemento muestra información sobre el contexto del lenguaje actual en una vista lateral, resaltando declaraciones relevantes y usos.
Comment[nds]=Dit Moduul wiest binnen en Sietpaneel Informatschonen över den aktuellen Spraakkontext un heevt wichtig Deklaratschonen un Bruken rut.
Comment[pt]=Este 'plugin' mostra informações sobre o contexto actual da linguagem numa visão lateral, realçando as declarações e utilizações relevantes.
Comment[pt_BR]=Este 'plugin' mostra informações sobre o contexto actual da linguagem numa visão lateral, realçando as declarações e utilizações relevantes.
Comment[uk]=За допомогою цього додатка можна переглянути у перегляді на бічній панелі відомості про поточний контекст мови, а також підсвітити пов’язані оголошення і випадки використання.
Name=KDevContextBrowser
Name[nds]=KDevKontextkieker
GenericName=ContextBrowser
GenericName[el]=Περιηγητής περιεχομένου
GenericName[nds]=Kontextkieker
GenericName[pt]=Navegador de Contexto
GenericName[pt_BR]=Navegador de Contexto
GenericName[uk]=Переглядач контексту
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevcontextbrowser
X-KDevelop-Version=6
X-KDevelop-Category=Global
X-KDE-PluginInfo-Name=kdevcontextbrowser
X-KDE-PluginInfo-Author=David Nolden
X-KDE-PluginInfo-License=GPL
X-KDevelop-Mode=GUI
