[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=DocPDBPlugin
Name[da]=DocPDB-plugin
Name[sv]=DocPDB-insticksmodul
Name[ta]=DocQt  சொருகு
Name[xx]=xxDocPDBPluginxx
Exec=blubb
Comment=Documentation plugin for Palmdoc format
Comment[da]=Dokumentations-plugin for Palmdoc-format
Comment[de]=Komponente für das Palmdoc-Dokumentationsformat
Comment[es]=Extensión de documentación para el formato Palmdoc
Comment[et]=PalmDOC-vormingus dokumentatsiooni plugin
Comment[eu]=Palmdoc formaturako dokumentazio plugin-a
Comment[fr]=Module de documentation pour le format Palmdoc
Comment[hu]=Dokumentációmodul Palmdoc formátumú dokumentációhoz
Comment[it]=Plugin di documentazione per il formato Palmdoc
Comment[ja]=Palmdoc フォーマットのためのドキュメンテーションプラグイン
Comment[nl]=Documentatie plugin voor Palmdoc documentatie
Comment[pl]=Wtyczka dokumentacji dla dokumentacji w formacie Palmdoc
Comment[pt]='Plugin' para documentação no formato Palmdoc
Comment[pt_BR]=Plugin de documentação para o formato Palmdoc
Comment[ru]=Модуль для просмотра документации в формате Palmdoc
Comment[sr]=Документациони прикључак за Palmdoc формат
Comment[sr@Latn]=Документациони прикључак за Palmdoc формат
Comment[sv]=Dokumentationsinsticksmodul för Palmdoc-format
Comment[ta]= CHM ஆவணத்திற்கான ஆவணச் சொருகு
Comment[tg]=Модул барои наоиш намудани ҳуҷҷатҳо дар формати Palmdoc
Comment[xx]=xxDocumentation plugin for Palmdoc formatxx
Comment[zh_CN]=Palmdoc 格式的文档插件
ServiceTypes=KDevelop/DocumentationPlugins
X-KDevelop-Version=1
X-KDE-Library=libdocpdbplugin
