[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=The doxygen plugin provides a way to specify and control generation of documentation for a project, based on source code content. You need to have doxygen installed to be able to use this. For more info goto http://www.doxygen.org
Comment[ca]=El connector doxygen proporciona una forma d'especificar i controlar la generació de documentació d'un projecte, basant-se en el contingut del codi font. Necessitareu tenir instal·lat doxygen. Per a més informació visiteu http://www.doxygen.org
Comment[da]=Doxygen-plugin sørger for en måde at angive og kontrollere generering af dokumentation for et projekt, baseret på kildekodens indhold. Du skal have doxygen installeret for at kunne bruge dette. For mere info gå til http://www.doxygen.org
Comment[de]=Diese Komponente bietet Unterstützung bei der Erstellung von Projektdokumentation, die auf den Quelltexten basiert. Um diese Funktionalität zu nutzen, muss doxygen installiert sein. Weitere Informationen finden sie auf http://www.doxygen.org
Comment[el]=Το πρόσθετο doxygen προσφέρει μια μέθοδο ορισμού και ελέγχου της δημιουργίας της τεκμηρίωσης για ένα έργο, βασισμένο στον πηγαίο κώδικα. Πρέπει να έχετε το doxygen εγκατεστημένο για να το χρησιμοποιήσετε. Για περισσότερες πληροφορίες πηγαίνετε στο http://www.doxygen.org
Comment[es]=El plugin doxygen proporciona una forma de especificar y controlar la generación de documentación de un proyecto, basándose en el contenido del código fuente. Necesita tener instalado doxygen. Para más información visite http://www.doxygen.org
Comment[et]=Doxygeni plugin võimaldab määrata ja kontrollida projekti dokumentatsiooni loomist vastavalt lähtekoodi sisule. Selleks peab olema paigaldatud ka programm 'doxygen'. Vaata täpsemalt http://www.doxygen.org
Comment[eu]=Doxygen plugin-ak, iturburu kodean oinarrituta, proiektu baterako dokumentazio sorkuntza eta kontrola zehazteko aukera ematen dizu. Doxygen instalatuta eduki behar duzu hau erabiltzeko. Informazio gehiagorako joan hona:http://www.doxygen.org
Comment[fr]=Le module externe pour le programme « doxygen » fournit des fonctionnalités de contrôle et de production de la documentation spécifique à un projet, en se basant sur le code source. Le programme « doxygen » doit être installé sur votre système. Pour plus d'informations, consultez l'URL suivante : http://www.doxygen.org
Comment[hu]=A Doxygen bővítőmodullal a projekt teljes dokumentációjának készítése elvégezhető, közvetlenül a forráskódból. Használatához előbb telepíteni kell a Doxygen programcsomagot. Részletes információ itt található: http://www.doxygen.org
Comment[it]=Il plugin doxygen offre un modo per specificare e controllare la generazione della documentazione di un progetto, basato sul contenuto del codice sorgente. Devi avere doxygen installato per utilizzarlo. Per maggiori informazioni vai su http://www.doxygen.org
Comment[ja]=doxygen プラグインは、ソース・コード内容に基づいて、プロジェクトのためのドキュメンテーションの生成を指定しコントロールする方法を提供します。これを使用するには doxygen をインストールする必要があります。 より多くの情報は http://www.doxygen.org にあります。
Comment[nb]=Programtillegget doxygen gir deg mulighet til å angi og kontrollere opprettelsen av dokumentasjon for prosjektet basert på innholdet i kildekoden. doxygen må være installert for at du kan bruke denne funksjonen. For mer informasjon, se: http://www.doxygen.org
Comment[nl]=De doxygen-plugin biedt hulp bij het vervaardigen van documentatie voor een project, gebaseerd op documentatie in de broncode. Om deze functie te kunnen gebruiken dient u doxygen te hebben geïnstalleerd. Meer info: http://www.doxygen.org/
Comment[pl]=Wtyczka doxygena pozwala kontrolować generację dokumentacji projektu, bazując na zawartości kodu źródłowego. Aby użyć tej opcji trzeba mieć zainstalowany doxygen. Więcej informacji można uzyskać na http://www.doxygen.org
Comment[pt]=O 'plugin' do doxygen oferece uma forma de especificar e controlar a geração de documentação de um projecto, baseada no conteúdo do código-fonte. Você necessita de ter o 'doxygen' instalado para poder usar isto. Para obter mais informações vá a http://www.doxygen.org
Comment[pt_BR]=O plugin do doxygen fornece uma maneira de especificar e controlar a geração de documentação para um projeto, baseado no conteúdo do código fonte. Você precisa ter o doxygen instalado para poder usar isto. Para mais informações vá em http://www.doxygen.org
Comment[ru]=Модуль поддержки doxygen предоставляет возможности контроля генерации проектной документации на основе содержимого исходных файлов. Для использования необходим doxygen. Подробнее об этом смотрите на http://www.doxygen.org.
Comment[sr]=Doxygen прикључак обезбеђује начин да се прецизира и контролише документација за пројекат, на основу садржаја изворног кôда. Потребно је да имате инсталиран doxygen да бисте били у могућности да користите ово. За више информација идите на http://www.doxygen.org
Comment[sr@Latn]=Doxygen priključak obezbeđuje način da se precizira i kontroliše dokumentacija za projekat, na osnovu sadržaja izvornog kôda. Potrebno je da imate instaliran doxygen da biste bili u mogućnosti da koristite ovo. Za više informacija idite na http://www.doxygen.org
Comment[sv]=Doxygen-insticksprogrammet tillhandahåller ett sätt att ange och styra hur dokument skapas för ett projekt, baserat på källkodens innehåll. Du måste ha installerat Doxygen för att kunna använda det. För mer information besök http://www.doxygen.org.
Comment[ta]=டிஆக்சிஜன் சொருகி உங்கள் திட்டப்பணிக்கு குறிப்பிட்ட வழி மற்றும் ஆவணத்தின் கட்டுபாட்டு உற்பத்திக்கு இது உதவும். இதை உபயோகிக்க முதலில் நீங்கள் டிஆக்சிஜன் நிறுவ வேண்டும். மேலும் விவரங்களுக்கு http://www.doxygen.org
Comment[tg]=Модули тарафдорбудаи doxygen барои идора намудани генератсияи ҳуҷҷатҳо дар асоси файлҳои берунӣ буда имконият медиҳад.Барои истифодаи doxygen-и лозимӣ.Барои пурратар гирифтани маълумот ба http://www.doxygen.org назар намоед
Comment[tr]=Doxygen eklentisi, kaynak kod içeriğine göre bir projenin belgelerinin yaratılmasının belirtilmesi ve kontrolü için bir yol sağlar. Bunu kullanabilmek için doxygen'ın kurulu olması lazımdır. Daha fazla bilgi için http://www.doxygen.org adresine gidin.
Comment[zh_CN]=doxygen 是基于源文件产生文档的控制插件。必须安装 doxygen 才能使用。更多信息参考 http://www.doxygen.org
Name=KDevDoxygen
Name[da]=KDevelop Doxygen
Name[de]=Unterstützung für Doxygen (KDevelop)
Name[hi]=के-डेव-डॉक्सीज़ेन
Name[sv]=KDevelop Doxygen
GenericName=Doxygen Support
GenericName[ca]=Suport per a doxygen
GenericName[da]=Doxygen understøttelse
GenericName[de]=Unterstützung für Doxygen
GenericName[el]=Υποστήριξη Doxygen
GenericName[es]=Soporte para Doxygen
GenericName[et]=Doxygeni toetus
GenericName[eu]=Doxygen euskarria
GenericName[fr]=Gestion de Doxygen
GenericName[ga]=Tacaíocht Doxygen
GenericName[hu]=Doxygen-támogatás
GenericName[it]=Supporto Doxygen
GenericName[ja]=Doxygen サポート
GenericName[nl]=Doxygen ondersteuning
GenericName[pl]=Obsług Doxygena
GenericName[pt]=Suporte a Doxygen
GenericName[pt_BR]=Suporte ao Doxygen
GenericName[ru]=Поддержка Doxygen
GenericName[sl]=Podpora za Doxygen
GenericName[sr]=Doxygen подршка
GenericName[sr@Latn]=Doxygen podrška
GenericName[sv]=Doxygen-stöd
GenericName[ta]=Doxygen ஆதரவு
GenericName[tg]=Тарафдори намудани Doxygen
GenericName[tr]=Doxygen Desteği
GenericName[uk]=Підтримка Doxygen
GenericName[zh_CN]=Doxygen 支持
ServiceTypes=KDevelop/Plugin
Icon=kdevelop
X-KDE-Library=libkdevdoxygen
X-KDevelop-Version=3
X-KDevelop-Scope=Project
X-KDevelop-Properties=CProjectDocumentation,CPPProjectDocumentation,JavaProjectDocumentation
