<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="KDevDoxygen" version="2">
<MenuBar>
  <Menu name="build" >
    <Action name="build_doxygen"/>
    <Action name="clean_doxygen"/>
  </Menu>
</MenuBar>
</kpartgui>

