[Desktop Entry]
Type=Service
Name=KDevQt4Importer
Name[de]=Qt4-PCS-Import (KDevelop)
Name[nds]=Qt4-PCS-Import (KDevelop)
Name[sv]=KDevelop QT4-import
Comment=KDevelop Qt4 PCS Importer
Comment[ca]=Importador PCS de Qt4 per a KDevelop
Comment[de]=Qt4-Import für persistenten Klassenspeicher
Comment[es]=Importador PCS de Qt4 de KDevelop
Comment[it]=Importatore PCS di Qt4 di KDevelop
Comment[nds]=Qt4-Import för duerhaftig Klassenspieker
Comment[pt]=Importador de PCS para Qt4 do KDevelop
Comment[pt_BR]=Importador de PCS para Qt4 do KDevelop
Comment[sv]=KDevelop QT4 PCS-import
Icon=gear
ServiceTypes=KDevelop/PCSImporter
X-KDE-Library=libkdevqt4importer
X-KDevelop-PCSImporter=
X-KDevelop-Version=4
