[Desktop Entry]
Comment=HTML Help Document
Comment[de]=HTML-Hilfe-Dokument
Hidden=false
Icon=help
MimeType=application/chm
Patterns=*.chm;*.CHM
Type=MimeType
