[Desktop Entry]
Encoding=UTF-8
Comment=Pascal Source File
Comment[af]=Pascal Bron Lêer
Comment[ar]=ملف شفرة باسكال
Comment[bs]=Pascal izvorni kod
Comment[ca]=Fitxer amb codi Pascal
Comment[cs]=Zdrojový kód v jazyku Pascal
Comment[cy]=Ffeil Tarddiad Pascal
Comment[da]=Pascal-kildefil
Comment[de]=Pascal-Quellcode
Comment[el]=Αρχείο κώδικα Pascal
Comment[eo]=Paskal-fontoj
Comment[es]=Archivo con código Pascal
Comment[et]=Pascali lähtetekst
Comment[eu]=Pascal Ituruburu Fitxategia
Comment[fa]=پرونده‌ی کد پاسکال
Comment[fi]=Pascal-lähdekoodi
Comment[fr]=Fichier source Pascal
Comment[ga]=Comhad Foinseach Pascal
Comment[he]=קובץ קוד מקור של פסקל
Comment[hu]=Pascal forrásfájl
Comment[is]=Pascal-frumforrit
Comment[it]=File sorgente Pascal
Comment[ja]=Pascal ソースファイル
Comment[ko]=파스칼 밑그림 파일
Comment[lt]=Pascal išeities tekstų byla
Comment[mn]=Pascal-Эх файл
Comment[mt]=Sors Pascal
Comment[nb]=Pascal-kildekode
Comment[nl]=Pascal-bronbestand
Comment[nn]=Pascal-kjelde
Comment[nso]=Faele ya Mothopo wa Pascal
Comment[pl]=Źródło Pascala
Comment[pt]=Programa em Pascal
Comment[pt_BR]=Arquivo-fonte do Pascal
Comment[ro]=Fişier sursă Pascal
Comment[ru]=Программа на Паскале
Comment[sk]=Zdrojový kód Pascal
Comment[sl]=Izvirna koda pascal
Comment[sr]=Pascal изворни код
Comment[sv]=Pascal-källkod
Comment[ta]=Pascal ãÄì §¸¡ôÒ
Comment[tr]=Pascal Kaynak Kodu
Comment[uk]=Вихідний файл Pascal
Comment[ven]=Faela ya Vhubvo ha Pascal
Comment[wa]=Fitchî sourdant Pascal
Comment[xh]=Ifayile Zemvelaphi ze Pascal
Comment[xx]=xxPascal Source Filexx
Comment[zh_CN]=Pascal 源文件
Comment[zh_TW]=Pascal 源碼
Comment[zu]=Ifayela Lemvelaphi ye-Pascal
Icon=source_p
Type=MimeType
MimeType=text/x-pascal
Patterns=*.p;*.pas;*.pp;*.dpr;*.DPR;*.PP;*.PAS;*.P

[Property::X-KDE-text]
Type=bool
Value=true
