[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Name=KDevscripting
Name[da]=KDevelop scriptning
Name[sv]=KDevelop-skriptanvändning
Name[xx]=xxKDevscriptingxx
GenericName=Scripting
GenericName[da]=Scriptning
GenericName[de]=Skriptunterstützung
GenericName[el]=Γραφή σεναρίων
GenericName[es]=Guiones
GenericName[et]=Skriptikeele plugin
GenericName[eu]=Script-a
GenericName[fr]=Édition de scripts
GenericName[ga]=Scriptiú
GenericName[hu]=Szkriptszerkesztő
GenericName[it]=Script
GenericName[pl]=Skrypty
GenericName[pt]='Scripting'
GenericName[ru]=Сценарии
GenericName[sl]=Skriptiranje
GenericName[sr]=Скриптовање
GenericName[sr@Latn]=Skriptovanje
GenericName[sv]=Skriptanvändning
GenericName[tr]=Betik Yazma
GenericName[xx]=xxScriptingxx
GenericName[zh_CN]=脚本
Comment=The Scripting plugin offers KScript based scripting of the KDevelop application
Comment[da]=Scriptning-plugin stiller KScript-baseret scriptning til rådighed for KDevelop
Comment[de]=Die Komponente Skript bietet KScript-basierte Automatisierung für KDevelop
Comment[el]=Το πρόσθετο γραφής σεναρίων προσφέρει σενάρια της μορφής KScript της εφαρμογής KDevelop
Comment[es]=El plugin de guiones ofrece guiones basados en KScript de la aplicación KDevelop
Comment[et]=Skriptikeele plugin võimaldab KDevelopis kasutada skriptikeelt KScripti alusel
Comment[eu]=Script-a pluginak KScript-en oinarritutako KDevelop aplikazioaren script zerbitzuak eskeintzen ditu
Comment[fr]=Le module de script autorise l'édition de scripts basée sur KScript de l'application KDevelop
Comment[hu]=A Szkriptszerkesztő KScript-alapú szkriptkészítést tesz lehetővé a KDevelophoz
Comment[it]=Il plugin di script offre lo script basato su KScript dell'applicazione KDevelop
Comment[nl]=De scripting-plugin maakt KScript gebaseerde scripting van de KDevelop-toepassing mogelijk.
Comment[pl]=Wtyczka skrypty pozwala ja skrypty oparte o KScript w programie KDevelop
Comment[pt]=O 'plugin' de 'scripting' oferece funcionalidade de 'scripting' da aplicação KDevelop baseados no KScript
Comment[pt_BR]=O plugin de scripting oferece scripts baseados no KScript do aplicativo KDevelop
Comment[ru]=Моудль сценариев позволяет автоматизировать работу с помощью KScript
Comment[sr]=Прикључак за скриптовање нуди скриптовање помоћу KScript-а за KDevelop
Comment[sr@Latn]=Priključak za skriptovanje nudi skriptovanje pomoću KScript-a za KDevelop
Comment[sv]=Skriptinsticksprogrammet erbjuder KScript-baserad styrning av programmet KDevelop.
Comment[tr]=Betik Yazma eklentisi KDevelop uygulamasına KScript tabanlı betik yazmayı sunar.
Comment[xx]=xxThe Scripting plugin offers KScript based scripting of the KDevelop applicationxx
Comment[zh_CN]=脚本插件可为 KDevelop 应用程序提供基于 KScript 的脚本。
Icon=shellscript
ServiceTypes=KDevelop/Plugin

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://www.sourcextreme.com/projects/kdevelop
X-KDevelop-Plugin-BugsEmailAddress=geiseri@sourcextreme.com
X-KDevelop-Plugin-Copyright=(C) by ian reinhart geiser

X-KDevelop-Args=

X-KDevelop-Scope=Global
X-KDE-Library=libkdevscripting
X-KDevelop-Version=3
X-KDevelop-Properties=CodeEditing
