[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=This plugin displays a graphical view of the codemodel produced by the language part.
Comment[x-test]=xxThis plugin displays a graphical view of the codemodel produced by the language part.xx
Name=Code View
GenericName=Code View
GenericName[x-test]=xxCode Viewxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevcodeview
X-KDE-PluginInfo-Name=kdevcodeview
X-KDE-PluginInfo-Author=Adam Treat
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Version=4
X-KDevelop-Category=Project
X-KDevelop-Properties=CodeNavigation
