[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=This plugin displays a graphical view of the codemodel produced by the language part.
Comment[de]=Dieses Modul stellt eine graphische Darstellung des Code-Modells dar, das vom Sprachmodul erstellt wurde.
Comment[el]=Αυτό το πρόσθετο εμφανίζει μια γραφική προβολή του μοντέλου κώδικα που δημιουργήθηκε από το τμήμα γλώσσας.
Comment[es]=Esta extensión muestra una vista gráfica del modelo de código producido por la parte de lenguaje.
Comment[pt]=Este 'plugin' mostra uma visão gráfico do modelo de código produzido pela componente da linguagem.
Comment[pt_BR]=Este 'plugin' mostra uma visão gráfico do modelo de código produzido pela componente da linguagem.
Comment[sv]=Insticksprogrammet visar en grafisk vy av kodmodellen som skapats av språkdelen.
Comment[x-test]=xxThis plugin displays a graphical view of the codemodel produced by the language part.xx
Comment[zh_TW]=這個外掛程式顯示此語言部件產生的程式模組的圖形檢視。
Name=Code View
Name[de]=Code-Ansicht
Name[el]=Προβολή κώδικα
Name[es]=Visor de código fuente
Name[fa]=نمای کد
Name[ja]=コードビュー
Name[pt]=Visualizador de Código
Name[pt_BR]=Visualizador de Código
Name[sv]=Kodvy
Name[x-test]=xxCode Viewxx
Name[zh_TW]=程式碼檢視
GenericName=Code View
GenericName[de]=Code-Ansicht
GenericName[el]=Προβολή κώδικα
GenericName[es]=Visor de código fuente
GenericName[fa]=نمای کد
GenericName[ja]=コードビュー
GenericName[pt]=Visualizador de Código
GenericName[pt_BR]=Visualizador de Código
GenericName[sv]=Kodvy
GenericName[x-test]=xxCode Viewxx
GenericName[zh_TW]=程式碼檢視
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevcodeview
X-KDE-PluginInfo-Name=kdevcodeview
X-KDE-PluginInfo-Author=Adam Treat
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-Version=0.1
X-KDevelop-Version=4
X-KDevelop-Category=Project
X-KDevelop-Properties=CodeNavigation
