<!DOCTYPE kpartgui>
<kpartplugin name="subversion" library="libsubversionplugin" version="2">
<MenuBar>
 <Menu name="tools"><Text>&amp;Tools</Text>
 	<Menu name="version_control"><Text>&amp;Version Control</Text>
	<Merge/>
		<Menu name="version_control_tools_subversion" group="tools_project_operations">
                <Text>&amp;Subversion</Text>
                <Action name="subversion_commit" />
                <Action name="subversion_diff" />
                <Action name="subversion_log" />
                <Action name="subversion_add" />
                <Action name="subversion_add_bin" />
                <Action name="subversion_remove" />
                <Separator />
                <Action name="subversion_tag" />
                <Action name="subversion_untag" />
                <Action name="subversion_update" />
                <Action name="subversion_removesticky" />
                <Action name="subversion_revert" />
                <Separator />
                <Action name="subversion_ignore" />
                <Action name="subversion_donot_ignore" />
<!--                <Separator />
                <Action name="subversion_login" />
                <Action name="subversion_logout" /> -->
            </Menu>
	</Menu>
 </Menu>
</MenuBar>
</kpartplugin>
