[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Bash Support
Comment[fr]=Un module externe pour la gestion de l'interpréteur BASH.
Name=KDevBashSupport
GenericName=Bash Support
GenericName[fr]=Gestion de BASH
ServiceTypes=KDevelop/LanguageSupport
X-KDE-Library=libkdevbashsupport
X-KDevelop-Language=Bash
