[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=KDevelop GUI Builder based on Qt Designer
Comment[x-test]=xxKDevelop GUI Builder based on Qt Designerxx
Name=Qt Designer Support
Name[x-test]=xxQt Designer Supportxx
GenericName=KDevelop Qt Designer Support
GenericName[x-test]=xxKDevelop Qt Designer Supportxx
icon=kdevelop
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=kdevqtdesigner
X-KDE-PluginInfo-Name=kdevqtdesigner
X-KDE-PluginInfo-Author=Matt Rogers
X-KDE-PluginInfo-Email=mattr@kde.org
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDevelop-Version=4
X-KDevelop-Category=Global
MimeType=application/x-designer
