[Desktop Entry]
Icon=kdevelop
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_ccsettings
X-KDE-FactoryName=kcm_kdev_ccsettings
X-KDE-ParentApp=kdevplatform
X-KDE-ParentComponents=kdevplatform
X-KDE-CfgDlgHierarchy=GENERAL

Name=Language Support
Name[uk]=Підтримка мов
Comment=Configure code-completion and semantic highlighting
Comment[uk]=Налаштування параметрів автозавершення коду та семантичного підсвічування
