[Desktop Entry]
Icon=page-zoom
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_ccsettings
X-KDE-FactoryName=kcm_kdev_ccsettings
X-KDE-ParentApp=kdevplatform
X-KDE-ParentComponents=kdevplatform
X-KDE-CfgDlgHierarchy=GENERAL
X-KDE-Weight=1

Name=Language Support
Name[bg]=Поддържани езици
Name[bs]=Jezička podrška
Name[ca]=Implementació del llenguatge
Name[ca@valencia]=Implementació del llenguatge
Name[da]=Sprogunderstøttelse
Name[de]=Sprachunterstützung
Name[el]=Υποστήριξη γλώσσας
Name[en_GB]=Language Support
Name[es]=Implementación de lenguaje
Name[et]=Keele toetus
Name[fi]=Kielituki
Name[fr]=Prise en charge des langages
Name[gl]=Soporte de linguaxe
Name[hu]=Nyelvi támogatás
Name[it]=Supporto linguaggio
Name[ja]=言語サポート
Name[kk]=Тілді қолдау
Name[nb]=Språkstøtte
Name[nds]=Spraak-Ünnerstütten
Name[nl]=Taalondersteuning
Name[pa]=ਭਾਸ਼ਾ ਸਹਿਯੋਗ
Name[pl]=Obsługa języków
Name[pt]=Suporte às Linguagens
Name[pt_BR]=Suporte à linguagem
Name[ru]=Поддержка языков
Name[sk]=Jazyková podpora
Name[sl]=Podpora jeziku
Name[sv]=Språkstöd
Name[tr]=Dil Desteği
Name[ug]=تىل قوللىشى
Name[uk]=Підтримка мов
Name[x-test]=xxLanguage Supportxx
Name[zh_CN]=语言支持
Name[zh_TW]=語言支援
Comment=Configure code-completion and semantic highlighting
Comment[bg]=Настройка на довършване на заданието и семантично маркиране
Comment[bs]=Konfiguracija dovršavanja koda i sematičko isticanje
Comment[ca]=Configura la compleció de codi i el ressaltat semàntic
Comment[ca@valencia]=Configura la compleció de codi i el ressaltat semàntic
Comment[da]=Indstil kodefuldførelse og semantisk fremhævning
Comment[de]=Quelltextvervollständigung und semantische Hervorhebung einrichten
Comment[el]=Διαμόρφωση συμπλήρωσης κώδικα και σημειολογικού τονισμού
Comment[en_GB]=Configure code-completion and semantic highlighting
Comment[es]=Configurar terminación de código y resalte semántico
Comment[et]=Koodilõpetuse ja semantilise esiletõstmise seadistamine
Comment[fi]=Koodin täydennyksen ja semanttisen korostamisen asetukset
Comment[fr]=Configurer le complétement de code et la mise en surbrillance de la sémantique
Comment[gl]=Configura o completado de código e o realce semántico
Comment[hu]=Kódkiegészítő és szemantikus kiemelő beállítása
Comment[it]=Configura il completamento del codice e l'evidenziazione della semantica
Comment[kk]=Кодты толықтыру және семантикалық бояп белгілеуді баптау
Comment[nb]=Sett opp kodefullføring og semantisk fremheving
Comment[nds]=Kode-Kompletteren un inholtbaseert Rutheven instellen
Comment[nl]=Code-aanvulling en semantische accentuering instellen
Comment[pl]=Konfiguracja uzupełniania kodu i podświetlania semantycznego
Comment[pt]=Configurar as opções da completação de código e realce semântico
Comment[pt_BR]=Configurar os destaques de completação de código e semântica
Comment[ru]=Настройка автодополнения кода и семантической подсветки
Comment[sk]=Nastaviť dokončovanie kódu a sémantické zvýrazňovanie
Comment[sl]=Nastavite dokončevanje kode in semantično poudarjanje
Comment[sv]=Anpassa inställningar av kodkomplettering och semantisk färgläggning
Comment[tr]=Kod tamamlama ve anlamsal vurgulama ayarlarını yapılandır
Comment[uk]=Налаштування параметрів автозавершення коду та семантичного підсвічування
Comment[x-test]=xxConfigure code-completion and semantic highlightingxx
Comment[zh_CN]=配置代码补全和语法加亮
Comment[zh_TW]=設定源碼補完與語意突顯
