[Desktop Entry]
Icon=kdevelop
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_ccsettings
X-KDE-FactoryName=kcm_kdev_ccsettings
X-KDE-ParentApp=kdevplatform
X-KDE-ParentComponents=kdevplatform
X-KDE-CfgDlgHierarchy=GENERAL

Name=Code Completion
Name[el]=Συμπλήρωση κώδικα
Name[es]=Terminación de código
Name[gl]=Completado de código
Name[nds]=Kode-Kompletteren
Name[pt]=Completação de Código
Name[pt_BR]=Completação de Código
Name[sv]=Kodkomplettering
Name[tr]=Kod Tamamlama
Name[uk]=Автозавершення коду
Name[x-test]=xxCode Completionxx
Name[zh_CN]=代码补全
Comment=Configure Code Completion settings
Comment[el]=Ρυθμίσεις συμπλήρωσης κώδικα
Comment[es]=Configurar las preferencias de la terminación de código
Comment[gl]=Configura o completado de código
Comment[nds]=Kode-Kompletteren instellen
Comment[pt]=Configurar as opções da Completação de Código
Comment[pt_BR]=Configurar as opções da Completação de Código
Comment[sv]=Anpassa inställningar av kodkomplettering
Comment[tr]=Kod Tamamlama Ayarlarını Yapılandır
Comment[uk]=Налаштування параметрів автозавершення коду
Comment[x-test]=xxConfigure Code Completion settingsxx

