[Desktop Entry]
Icon=kdevelop
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_projectsettings
X-KDE-FactoryName=kcm_kdev_projectsettings
X-KDE-ParentApp=kdevplatform
X-KDE-ParentComponents=kdevplatform
X-KDE-CfgDlgHierarchy=GENERAL

Name=Project
Name[cs]=Projekt
Name[de]=Projekt
Name[el]=Έργο
Name[es]=Proyecto
Name[fr]=Projet
Name[gl]=Proxecto
Name[lv]=Projekts
Name[nds]=Projekt
Name[pa]=ਪਰੋਜੈਕਟ
Name[pt]=Projecto
Name[pt_BR]=Projeto
Name[ro]=Proiect
Name[sv]=Projekt
Name[tr]=Proje
Name[uk]=Проект
Name[x-test]=xxProjectxx
Name[zh_CN]=工程
Name[zh_TW]=專案
Comment=Configure Project settings
Comment[el]=Ρυθμίσεις έργου
Comment[es]=Configurar las preferencias del proyecto
Comment[fr]=Configurer les paramètres du projet
Comment[gl]=Configura o proxecto
Comment[lv]=Konfigurē projekta iestatījumus
Comment[nds]=Projektinstellen
Comment[pa]=ਪਰੋਜੈੱਕਟ ਸੈਟਿੰਗ ਸੰਰਚਨਾ
Comment[pt]=Configurar as opções do Projecto
Comment[pt_BR]=Configurar as opções de projeto
Comment[sv]=Anpassa projektinställningar
Comment[tr]=Proje Ayarlarını Yapılandır
Comment[uk]=Налаштування параметрів проекту
Comment[x-test]=xxConfigure Project settingsxx
Comment[zh_CN]=配置工程设置
Comment[zh_TW]=設定專案

