[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Provides a list of all currently open files. (Handy when the tab bar is not quite wide enough.)
Comment[ca]=Proporciona una llista de tots els fitxers oberts actualment. (Útil quan la barra de pestanyes no es suficientment ample)
Comment[da]=Sørger for en liste over alle filer der er åbne. (Praktisk når tab-linjen ikke er helt bred nok.)
Comment[de]=Stellt eine Liste aller offenen Dateien bereit.
Comment[es]=Proporciona una lista de los archivos abiertos actualmente. (Útil cuando la barra de pestañas no es lo suficientemente ancha.)
Comment[et]=Näitab kõiki parajasti avatud faile (mugav, kui kaardiriba ei ole piisavalt lai).
Comment[eu]=Uneko irekitako fitxategien zerrenda eskeintzen du. (Erabilgarria fitxa-barra behar den bezain zabala ez bada)
Comment[fr]=Fournit une liste de tous les fichiers ouverts (pratique lorsque la barre d'onglets n'est plus assez grande).
Comment[hu]=Kilistázza a nyitott fájlokat. (Jól jöhet, ha a lapozósáv nem elég széles.)
Comment[it]=Fornisce una lista di tutti i file aperti correntemente. (Utile quando la barra delle linguette non è sufficientemente larga.)
Comment[ja]=現在開かれているファイルのリストを提供します。（タブバーが十分広くない場合に便利です）
Comment[nl]=Geeft een lijst van alle open bestanden. (Handig als de tabbalk niet breed genoeg is.)
Comment[pl]=Pokazuje listę obecnie otwartych plików (przydaje się, gdy pasek kart nie mieści wszystkich)
Comment[pt]=Fornece uma lista de todos os ficheiros actualmente aberto. (Útil quando a barra de página não é suficientemente larga.)
Comment[pt_BR]=Fornece uma lista de todos os arquivos atualmente abertos (acessível quando a barra de abas não for larga o suficiente).
Comment[ru]=Список открытых в данных момент файлов (полезно, когда они не помещаются на панели вкладок).
Comment[sr]=Даје листу свих отворених фајлова. (Згодно кад трака са језичцима није довољно дугачка.)
Comment[sr@Latn]=Daje listu svih otvorenih fajlova. (Zgodno kad traka sa jezičcima nije dovoljno dugačka.)
Comment[sv]=Tillhandahåller en lista av alla för närvarande öppna filer. (Praktiskt när flikraden inte är riktigt bred nog.)
Comment[ta]=தற்போது திறக்கப்பட்ட கோப்புகளின் பட்டியலை வழங்குகிறது. (தத்தல் போதுமான வசதியை வழங்க இயலாத பொழுது)
Comment[tg]=Рӯйхати кушодашудагиҳои ҳозир будаи файлҳо (вақте ки онҳо дар панелмонӣ омехта намешаванд, фоидаовар аст.)
Comment[zh_CN]=提供目前已打开全部文件的列表。(当标签栏不够宽时非常实用。)
Name=KDevfilelist
Name[pt_BR]=Lista de arq. do KDev
Name[sv]=KDevelop fillista
Name[ta]=KDev கோப்புக்காட்சி
Name[tg]=Рӯйхати файли KDev
GenericName=FileList
GenericName[br]=Roll restr
GenericName[de]=Dateiliste
GenericName[eu]=Fitxategi zerrenda
GenericName[fr]=Liste des fichiers
GenericName[hu]=Fájllista
GenericName[it]=ListaFile
GenericName[ja]=ファイルリスト
GenericName[nl]=Bestandenlijst
GenericName[pl]=Lista plików
GenericName[pt]=Lista de Ficheiros
GenericName[pt_BR]=Lista de Arquivos
GenericName[ru]=Список файлов
GenericName[sl]=Seznam datotek
GenericName[sr]=Листа фајлова
GenericName[sr@Latn]=Lista fajlova
GenericName[sv]=Fillista
GenericName[ta]=கோப்புப் பட்டியல்
GenericName[tg]=Рӯйхати файлҳо
GenericName[zh_CN]=文件列表
Icon=kdevelop
ServiceTypes=KDevelop/Plugin
X-KDevelop-Scope=Global
X-KDE-Library=libkdevfilelist
X-KDevelop-Version=1
