[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Regular Expression tester
Name=KDevRegexpTest
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevregexptest
X-KDevelop-Scope=Global

