[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KDevelop/CompilerOptions
X-KDE-Derived=KDevelop/Plugin
Name=KDevelop Compiler Options Dialog Interface
Name[ca]=Interfície del diàleg d'opcions del compilador per a KDevelop
Name[da]=KDevelop grænseflade til oversætterindstillinger
Name[de]=Schnittstelle für Compiler-Einstellungsdialoge (KDevelop)
Name[el]=Διασύνδεση διαλόγου επιλογών μεταγλωττιστή KDevelop
Name[en_GB]=KDevelop Compiler Options Dialogue Interface
Name[es]=Interfaz del diálogo de opciones del compilador de KDevelop
Name[et]=KDevelopi kompilaatori valikute dialoogiliides
Name[eu]=KDevelop-en konpiladore aukeren elkarrizketa-koadro interfazea
Name[fr]=Interface de la boîte de dialogue d'options du compilateur de KDevelop
Name[hi]=के-डेवलप कम्पायलर विकल्प संवाद इंटरफ़ेस
Name[hu]=A KDevelop fordítási opcióinak párbeszédablaka
Name[it]=Interfaccia KDevelop per le opzioni di compilazione
Name[ja]=KDevelop コンパイラオプションダイアログインタフェイス
Name[nb]=Dialogvindu for kompilatorinnstillinger i KDevelop
Name[nl]=KDevelop Compileroptiesdialoog-interface
Name[pl]=Interfejs KDevelopa do okna dialogowego opcji kompilatora
Name[pt]=Interface da Janela de Opções do Compilador do KDevelop
Name[pt_BR]=Interface de Diálogo de Opções do Compilador do KDevelop
Name[ru]=Интерфейс диалога опций компилятора
Name[sl]=Vmesnik za možnosti prevajanja v KDevelopu
Name[sr]=KDevelop-ов интерфејс дијалога „Опције преводиоца“
Name[sr@Latn]=KDevelop-ov interfejs dijaloga „Opcije prevodioca“
Name[sv]=KDevelop dialoggränssnitt för kompilatoralternativ
Name[ta]=கெடெவலப் தொகுப்பித் தேர்வுகள் உரை இடைமுகம்
Name[tg]=Гуфтугуи интерфейси талфифгари интихоб
Name[tr]=KDevelop Derleyici Seçenekleri Pencere Arayüzü
Name[xx]=xxKDevelop Compiler Options Dialog Interfacexx
Name[zh_CN]=KDevelop编译器选项对话框接口

[PropertyDef::X-KDevelop-Language]
Type=QString

[PropertyDef::X-KDevelop-Default]
Type=bool

# versioning - prevent DLL hell
[PropertyDef::X-KDevelop-Version]
Type=int

