[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KDevelop/CompilerOptions
X-KDE-Derived=KDevelop/Plugin
Name=KDevelop Compiler Options Dialog Interface
Name[x-test]=xxKDevelop Compiler Options Dialog Interfacexx

[PropertyDef::X-KDevelop-Language]
Type=QString

[PropertyDef::X-KDevelop-Default]
Type=bool

# versioning - prevent DLL hell
[PropertyDef::X-KDevelop-Version]
Type=int

