[Desktop Entry]
Type=Service
Exec=blubb
Comment=Lets you see and run unit tests.
Comment[bs]=Omogućava da vidite i iztvršite testove jedinica
Comment[ca]=Us permet veure i executar proves unitàries.
Comment[ca@valencia]=Vos permet veure i executar proves unitàries.
Comment[de]=Unit-Tests anzeigen und ausführen.
Comment[el]=Σας επιτρέπει να δείτε και να εκτελέσετε unit tests.
Comment[es]=Le permite ver y ejecutar pruebas unitarias.
Comment[et]=Ühiktestide näitamine ja käivitamine.
Comment[fi]=Mahdollistaa yksikkötestien katselun ja suorittamisen
Comment[fr]=Permet de voir et exécuter des tests unitaires.
Comment[gl]=Permite ver e executar probas unitarias.
Comment[it]=Ti permette di vedere ed eseguire i test d'unità.
Comment[kk]=Модуль сынағын қарап жегу мүмкіндігі.
Comment[nb]=Brukes til å se og kjøre enhetstester.
Comment[nl]=Laat u testen van eenheden zien en uitvoeren.
Comment[pl]=Pozwala tobie na obejrzenie i uruchomienie testów jednostkowych.
Comment[pt]=Permite-lhe ver e executar os testes unitários.
Comment[pt_BR]=Permite-lhe ver e executar testes unitários.
Comment[sk]=Umožní vám vidieť a spustiť unit testy.
Comment[sv]=Låter dig titta på och köra enhetstester.
Comment[uk]=Надає вам змогу переглядати і виконувати перевірки модулів.
Comment[x-test]=xxLets you see and run unit tests.xx
Comment[zh_CN]=让您查看并运行单元测试。
Comment[zh_TW]=讓您查看並執行單元測試。
Name=Unit Test View
Name[bs]=Pogled testa jedinica
Name[ca]=Vista de proves unitàries
Name[ca@valencia]=Vista de proves unitàries
Name[de]=Unittest-Ansicht
Name[el]=Προβολή unit test
Name[es]=Vista de la prueba unitaria
Name[et]=Ühiktestide vaade
Name[fi]=Yksikkötestinäkymä
Name[fr]=Affichage des tests unitaires
Name[gl]=Vista de probas unitarias
Name[it]=Vista test d'unità
Name[kk]=Модульді сынау көрінісі
Name[nb]=Enhetstest-visning
Name[nl]=Weergave van test van eenheid
Name[pl]=Widok jednostkowego testu
Name[pt]=Área de Testes Unitários
Name[pt_BR]=Exibição de testes unitários
Name[sk]=Pohľad unit testov
Name[sv]=Visning av enhetstester
Name[uk]=Перегляд перевірок модулів
Name[x-test]=xxUnit Test Viewxx
Name[zh_CN]=单元测试视图
Name[zh_TW]=單元測試檢視
GenericName=Unit Test View
GenericName[bs]=Pogled testa jedinica
GenericName[ca]=Vista de proves unitàries
GenericName[ca@valencia]=Vista de proves unitàries
GenericName[de]=Unittest-Ansicht
GenericName[el]=Προβολή unit test
GenericName[es]=Vista de la prueba unitaria
GenericName[et]=Ühiktestide vaade
GenericName[fi]=Yksikkötestinäkymä
GenericName[fr]=Affichage des tests unitaires
GenericName[gl]=Vista de probas unitarias
GenericName[it]=Vista test d'unità
GenericName[kk]=Модульді сынау көрінісі
GenericName[nb]=Enhetstest-visning
GenericName[nl]=Weergave van test van eenheid
GenericName[pl]=Widok jednostkowego testu
GenericName[pt]=Área de Testes Unitários
GenericName[pt_BR]=Exibição de testes unitários
GenericName[sk]=Pohľad unit testov
GenericName[sv]=Visning av enhetstester
GenericName[uk]=Перегляд перевірок модулів
GenericName[x-test]=xxUnit Test Viewxx
GenericName[zh_CN]=单元测试视图
GenericName[zh_TW]=單元測試檢視
Icon=preflight-verifier
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevtestview
X-KDE-PluginInfo-Name=kdevtestview
X-KDE-PluginInfo-Author=Miha Čančula
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Testing
X-KDevelop-Version=15
X-KDevelop-Category=Global
X-KDevelop-Mode=GUI
