[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=CVS Integration
Name=KDevCvs
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevcvs
X-KDevelop-Scope=Project
