[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=CVS Integration
Comment[fr]=Un module externe qui gére le programme « CVS » pour la gestion des versions de codes sources.
Name=CVS
GenericName=CVS Integration
GenericName[fr]=Intégration de CVS
ServiceTypes=KDevelop/VersionControl
X-KDE-Library=libkdevcvs
X-KDevelop-Scope=Global
