[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=g++
Comment=GNU C++ Compiler
Comment[ca]=Compilador C++ de GNU
Comment[da]=GNU C++ compiler
Comment[de]=GNU C++-Compiler
Comment[es]=Compilador de C++ de GNU
Comment[et]=GNU C++ kompilaator
Comment[eu]=GNU C++ konpiladorea
Comment[fr]=Compilateur C++ du GNU
Comment[ga]=Tiomsaitheoir C++ GNU
Comment[hi]=जीएनयू सी++ कम्पायलर
Comment[hu]=GNU C++ fordítóprogram
Comment[is]=GNU C++ þýðandi
Comment[it]=Compilatore GNU C++
Comment[ja]=GNU C++ コンパイラ
Comment[nb]=GNU C++ kompilator
Comment[nl]=GNU C++ compiler
Comment[pl]=Kompilator GNU C++
Comment[pt]=Compilador GNU C++
Comment[pt_BR]=Compilador GNU C++
Comment[ru]=Компилятор GNU C++
Comment[sl]=Prevajalnik za GNU C++
Comment[sr]=GNU-ов C++ преводилац
Comment[sr@Latn]=GNU-ov C++ prevodilac
Comment[sv]=GNU C++ kompilator
Comment[ta]=GNU C++தொகுப்பி
Comment[tg]=Талфифгари GNU C++ 
Comment[uk]=Компілятор GNU C++
Comment[zh_CN]=GNU C++ 编译器
Name=GppOptions
Name[de]=GPP-Einstellungen (KDevelop)
Name[hi]=जीपीपी-विकल्प
Name[pl]=Opcje Gpp
Name[sl]=Možnosti Gpp
Name[sv]=Alternativ för g++
Name[ta]=Gppவிருப்பங்கள் 
ServiceTypes=KDevelop/CompilerOptions
X-KDE-Library=libkdevgccoptions
X-KDevelop-Version=3
X-KDevelop-Language=C++
X-KDevelop-Args=g++
X-KDevelop-Default=true

