[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=g77
Comment=GNU Fortran 77 Compiler
Comment[da]=GNU Fortran 77 compiler
Comment[de]=GNU Fortran 77-Compiler
Comment[es]=Compilador de Fortran 77 de GNU
Comment[hu]=GNU Fortran 77 fordítóprogram
Comment[pt]=Compilador GNU Fortran 77
Comment[pt_BR]=Compilador GNU Fortran 77
Comment[sr]=GNU Fortran 77 компајлер
Comment[sv]=GNU Fortran 77-compilator
Comment[xx]=xxGNU Fortran 77 Compilerxx
Name=G77Options
Name[de]=G77Optionen
Name[sv]=Alternativ för g77
Name[xx]=xxG77Optionsxx
ServiceTypes=KDevelop/CompilerOptions
X-KDE-Library=libkdevgccoptions
X-KDevelop-Version=1
X-KDevelop-Language=Fortran
X-KDevelop-Args=g77
X-KDevelop-Default=true
