[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KDevelop/BuildSystems
X-KDE-Derived=KDevelop/Plugin
Name=KDevelop Build System Interface
Name[ca]=Interfície del sistema de construcció per a KDevelop
Name[da]=KDevelop byggesystem grænseflade
Name[de]=Erstellungssystem-Schnittstelle (KDevelop)
Name[es]=Interfaz del sistema de construcción de KDevelop
Name[et]=KDevelopi ehitussüsteemi liides
Name[fr]=Interface du système de construction de KDevelop
Name[hi]=के-डेवलप बिल्ड सिस्टम इंटरफ़ेस
Name[hu]=KDevelop fordításkezelő felület
Name[it]=Interfaccia di compilazione di KDevelop
Name[ja]=KDevelop ビルドシステムインタフェイス
Name[nb]=Grensesnitt for KDevelop-byggesystemet
Name[nl]=KDevelop Buildsysteem-interface
Name[pl]=Interfejs KDevelopa do systemu budowania
Name[pt]=Interface do KDevelop para o Sistema de Compilação
Name[pt_BR]=Interface de Sistema de Construção do KDevelop
Name[ru]=Интерфейс системы сборки
Name[sl]=Sistemski vmesnik za grejenje v KDevelopu
Name[sr]=KDevelop-ов интерфејс система за изградњу
Name[sr@Latn]=KDevelop-ov interfejs sistema za izgradnju
Name[sv]=KDevelop byggsystemgränssnitt
Name[ta]=கெடெவலப் அமை கணினி இடைமுகம்
Name[tg]=Барномаи интерфейси ҷамъкунӣ
Name[zh_CN]=KDevelop编译系统接口

[PropertyDef::X-KDevelop-BuildSystem]
Type=QString
