[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KDevelop/MakeFrontend
X-KDE-Derived=KDevelop/Plugin
Name=Make Frontend Interface
Name[fr]=Interface du programme « make »
Name[x-test]=xxMake Frontend Interfacexx
