[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KDevelop/CreateFile
X-KDE-Derived=KDevelop/Plugin
Name=KDevelop Create File Interface
Name[fr]=Interface de création de fichiers KDevelop
Name[x-test]=xxKDevelop Create File Interfacexx

# versioning - prevent DLL hell
[PropertyDef::X-KDevelop-Version]
Type=int

