[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KDevelop/Plugin
Name=KDevelop Plugin
Name[hu]=KDevelop-bővítőmodul
Name[pt_BR]=Plugin do KDevelop
Name[sv]=KDevelop insticksmodul
Name[xx]=xxKDevelop Pluginxx

# versioning - prevent DLL hell
[PropertyDef::X-KDevelop-Version]
Type=int

[PropertyDef::X-KDevelop-Scope]
Type=QString

# only important for project plugins, you can add a list of programming languages which are supported
# the plugin will be loaded by default, if the project use this language
[PropertyDef::X-KDevelop-ProgrammingLanguages]
Type=QStringList

[PropertyDef::X-KDevelop-Args]
Type=QString
