[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KDevelop/PCSImporter
X-KDE-Derived=KDevelop/Plugin
Name=KDevelop PCS Importer
Name[ar]=مستورد KDevelop PCS
Name[ca]=Importació PCS per a KDevelop
Name[da]=KDevelop PCS importør
Name[de]=PCS-Importierer (KDevelop)
Name[es]=Importación PCS de KDevelop
Name[et]=KDevelopi PCS importija
Name[eu]=KDevelop PCS inportatzailea
Name[fr]=Importateur PCS de KDevelop
Name[hi]=के-डेवलप पीसीएस आयातक
Name[hu]=KDevelop PCS-importáló
Name[ja]=KDevelop PCS インポータ
Name[nb]=KDevelop PCS-importverktøy
Name[nl]=KDevelop PCS importeren
Name[pl]=KDevelop: import PCS
Name[pt]=Importador de PCS do KDevelop
Name[pt_BR]=Importador PCS para o KDevelop
Name[ru]=Загрузчик в хранилище классов
Name[sr]=KDevelop-ов PCS увозник
Name[sr@Latn]=KDevelop-ov PCS uvoznik
Name[sv]=KDevelop PCS-import
Name[ta]=KDevelop  pcs ஏற்றுமதியாளர்
Name[tg]=Пурборкунанда дар анбори синфӣ
Name[zh_CN]=KDevelop PCS导入器

[PropertyDef::X-KDevelop-PCSImporter]
Type=QString
