[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KDevelop/AppWizard
Name=KDevelop AppWizard Interface

[PropertyDef::X-KDevelop-Args]
Type=QString
[PropertyDef::X-KDevelop-ProjectSpace-Name]
Type=QString
[PropertyDef::X-KDevelop-Project-Name]
Type=QString