[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KDevelop/LanguageSupport
X-KDE-Derived=KDevelop/Plugin
Name=KDevelop Language Support Interface
Name[ca]=Interfície del suport de llenguatges per a KDevelop
Name[da]=KDevelop grænseflade for sprogunderstøttelse
Name[de]=Schnittstelle für Sprachunterstützung (KDevelop)
Name[es]=Interfaz del soporte de lenguajes de KDevelop
Name[et]=KDevelopi keeletoetuse liides
Name[fr]=Interface de la gestion de langages de KDevelop
Name[hi]=के-डेवलप भाषा समर्थन इंटरफ़ेस
Name[hu]=KDevelop nyelvtámogatási felület
Name[it]=Interfaccia KDevelop per il supporto di linguaggio
Name[ja]=KDevelop 言語サポートインタフェイス
Name[nb]=Grensesnitt for språkstøtte i KDevelop
Name[nl]=KDevelop Interface voor taalondersteuning
Name[pl]=Interfejs KDevelopa do obsługi języków
Name[pt]=Interface de Suporte a Linguagens do KDevelop
Name[pt_BR]=Interface de Suporte à Linguagem do KDevelop
Name[ru]=Интерфейс языковой поддержки
Name[sl]=Vmesnik jezikovne podpore za KDevelop
Name[sr]=KDevelop-ов интерфејс за језичку подршку
Name[sr@Latn]=KDevelop-ov interfejs za jezičku podršku
Name[sv]=KDevelop gränssnitt för språkstöd
Name[ta]=KDevelop  மொழி ஆதரவான இடைவிளிம்பு
Name[tg]=Интерфейс ёрӣ расони забонӣ
Name[xx]=xxKDevelop Language Support Interfacexx
Name[zh_CN]=KDevelop 语言支持接口

# versioning - prevent DLL hell
[PropertyDef::X-KDevelop-Version]
Type=int

