[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KDevelop/AppFrontend
Name=App frontend interface

[PropertyDef::X-KDevelop-Args]
Type=QString
