[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KDevelop/Project
X-KDE-Derived=KDevelop/Plugin
Name=KDevelop Project Interface
Name[fr]=Interface de projet de KDevelop
Name[x-test]=xxKDevelop Project Interfacexx

# only important for project plugins, you can add a list of programming languages which are supported
# the plugin will be loaded by default, if the project use this language
[PropertyDef::X-KDevelop-ProgrammingLanguages]
Type=QStringList
