[Desktop Entry]
Encoding=UTF-8
Type=ServiceType
X-KDE-ServiceType=KDevelop/CompilerOptions
X-KDE-Derived=KDevelop/Plugin
Name=KDevelop Compiler Options Dialog Interface

[PropertyDef::X-KDevelop-Language]
Type=QString
