[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Ruby Language Support
Name=KDevRubySupport
GenericName=Ruby Support
GenericName[fr]=Langage RUBY
ServiceTypes=KDevelop/LanguageSupport
Icon=source
X-KDE-Library=kdevrubylanguagesupport
X-KDevelop-Version=4
X-KDevelop-Language=Ruby
X-KDevelop-Args=RUBY
