[Desktop Entry]
Type=Service
Exec=blubb
Icon=kdevelop
Comment=A plugin for formatting C files using custom scripts
Name=Custom Script Formatter Backend
GenericName=Formatter Backend
GenericName[ca]=Dorsal del formatador
GenericName[ca@valencia]=Dorsal del formatador
GenericName[da]=Backend til formatering
GenericName[de]=Formatierer
GenericName[el]=Σύστημα υποστήριξης διαμορφωτή κειμένου
GenericName[en_GB]=Formatter Backend
GenericName[es]=Motor del formateador
GenericName[et]=Vormindamise taustaprogramm
GenericName[fi]=Muotoilijan taustaohjelma
GenericName[fr]=Moteur de formatage
GenericName[gl]=Infraestrutura de formato
GenericName[it]=Backend formattatore 
GenericName[ja]=フォーマッタのバックエンド
GenericName[km]=កម្មវិធី​ខាង​ក្រោយ​របស់​កម្មវិធី​ធ្វើ​ទ្រង់ទ្រាយ
GenericName[nb]=Bakgrunnsmotor for formattering
GenericName[nds]=Formateerhülpprogramm
GenericName[nl]=Formatteer-backend
GenericName[pl]=Moduł obsługi formatowania
GenericName[pt]=Infra-Estrutura de Formatação
GenericName[pt_BR]=Formatador
GenericName[ru]=Механизм форматирования исходного кода
GenericName[sl]=Hrbtenica oblikovalnika
GenericName[sv]=Formateringsgränssnitt
GenericName[tr]=Biçimleyici Arka Ucu
GenericName[uk]=Сервер форматування
GenericName[x-test]=xxFormatter Backendxx
GenericName[zh_CN]=格式化器后端
GenericName[zh_TW]=格式器後端介面

ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevcustomscript
X-KDevelop-Version=12
X-KDE-PluginInfo-Name=kdevcustomscript
X-KDE-PluginInfo-Author=David Nolden
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-Category=Utilities
X-KDevelop-Category=Global
X-KDevelop-Interfaces=org.kdevelop.ISourceFormatter
X-KDevelop-SupportedMimeTypes=text/x-c++src,text/x-chdr,text/x-c++hdr,text/x-csrc
X-KDevelop-Mode=NoGUI
X-KDevelop-LoadMode=AlwaysOn
