[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=DocCHMPlugin
Exec=blubb
Comment=Documentation plugin for CHM documentation
ServiceTypes=KDevelop/DocumentationPlugins
X-KDevelop-Version=1
X-KDE-Library=libdocchmplugin
