[Desktop Entry]
Type=Service
Name=Output View
Name[es]=Vista de la salida
Name[fr]=Vue de la sortie
Name[ga]=Amharc Aschurtha
Name[ja]=出力ビュー
Name[nds]=Utgaavansicht
Name[pt]=Área de Resultados
Name[pt_BR]=Área de Resultados
Name[sv]=Utmatningsvy
Name[uk]=Перегляд виводу
Name[x-test]=xxOutput Viewxx
Name[zh_CN]=输出视图
Name[zh_TW]=輸出檢視
Icon=gear
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevstandardoutputview
X-KDE-PluginInfo-Name=KDevStandardOutputView
X-KDevelop-Version=6
X-KDevelop-Interfaces=org.kdevelop.IOutputView
X-KDevelop-Mode=GUI
