<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kdevstandardoutputview" version="6">
<MenuBar>
  <Menu name="navigation">
    <Text context="@title:menu">Navigation</Text>
    <Action name="prev_error" />
    <Action name="next_error" />
  </Menu>
</MenuBar>
</kpartgui>

