[Desktop Entry]
Type=Service
Name=None
Name[el]=Κανένα
Name[fr]=Aucun
Name[gl]=Nengún
Name[nds]=Keen
Name[pt]=Nenhum
Name[pt_BR]=Nenhum
Name[sv]=Ingen
Name[uk]=Немає
Name[x-test]=xxNonexx
Name[zh_CN]=无
Name[zh_TW]=無
Comment=Allow KDevelop to manage generic projects
Comment[el]=Επιτρέπει στο KDevelop τη διαχείριση γενικευμένων έργων
Comment[es]=Permite que KDevelop gestione proyectos genéricos
Comment[fr]=Permet à KDevelop de gérer des projets génériques
Comment[gl]=Permítelle a KDevelop xestionar proxectos xenéricos
Comment[nds]=Lett KDevelop allmeen Projekten plegen
Comment[pt]=Permite ao KDevelop gerir projectos genéricos
Comment[pt_BR]=Permite ao KDevelop gerir projectos genéricos
Comment[ro]=Permite KDevelop să gestioneze proiecte generice
Comment[sv]=Tillåter att KDevelop hanterar generella projekt
Comment[tr]=KDevelop uygulamasının genel projeleri yönetmesine izin ver
Comment[uk]=За допомогою цього додатка можна увімкнути керування загальними проектами у KDevelop
Comment[x-test]=xxAllow KDevelop to manage generic projectsxx
Comment[zh_CN]=允许 KDevelop 管理常规工程
Comment[zh_TW]=讓 KDevelop 管理一般的專案
Icon=gear
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevgenericmanager
X-KDE-PluginInfo-Name=KDevGenericManager
X-KDevelop-FileManager=None
X-KDevelop-Version=6
X-KDevelop-Interfaces=org.kdevelop.IProjectFileManager
X-KDevelop-Mode=GUI

