[Desktop Entry]
Type=Service
Name=Generic Project Manager
GenericName=Project Manager
Comment=Allow KDevelop to manage generic projects
Icon=kdevelop
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevgenericmanager
X-KDE-PluginInfo-Name=KDevGenericManager
X-KDevelop-FileManager=None
X-KDevelop-Version=12
X-KDevelop-Category=Project
X-KDevelop-Interfaces=org.kdevelop.IProjectFileManager,org.kdevelop.IGenericProjectManager
X-KDE-PluginInfo-Author=Milian Wolff
X-KDE-PluginInfo-Category=Project Management
X-KDevelop-Mode=GUI

