[Desktop Entry]
Type=Service
Name=KDevelop QMake Importer
Comment=Imports and edits qmake projects
Comment[el]=Εισαγωγή και επεξεργασία έργων qmake
Comment[fr]=Importe et modifie des projets qmake
Comment[x-test]=xxImports and edits qmake projectsxx
Icon=gear
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevqmakeimporter
X-KDE-PluginInfo-Name=KDevQMakeImporter
X-KDevelop-FileManager=QMake
X-KDevelop-Version=4
X-KDevelop-Interfaces=IBuildManager,IFileManager
