[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Provides an efficient way of finding/opening files, classes and methods in a large project. Appears in the File and Tools menus when loaded.
Comment[fr]=Fournit une manière efficace pour chercher / ouvrir des fichiers, classes et méthodes dans des grands projets. Apparaît dans les menus « Fichier » et « Outils » lorsque chargé.
Comment[x-test]=xxProvides an efficient way of finding/opening files, classes and methods in a large project. Appears in the File and Tools menus when loaded.xx
Name=KDevQuickOpen
Name[x-test]=xxKDevQuickOpenxx
GenericName=QuickOpen
GenericName[fr]=Ouverture rapide
GenericName[x-test]=xxQuickOpenxx
Icon=kdevelop
ServiceTypes=KDevelop/Plugin
X-KDevelop-Scope=Project
X-KDE-Library=libkdevquickopen
X-KDevelop-Version=4
X-KDevelop-Properties=CodeNavigation
