<!DOCTYPE kpartgui>
<kpartplugin name="quickopen" library="libquickopenplugin" version="2">
<MenuBar>
 <Menu name="file">
  <Action name="quick_open" group="open_merge"/>
 </Menu>
 <Menu name="edit">
  <Action name="quick_open_class" group="kdev_edit_find_merge"/>
 </Menu>
</MenuBar>
</kpartplugin>
