[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Integrates Perforce, a software configuration management system. http://www.perforce.com/
Comment[da]=Integrerer Perforce, et software-indstilling håndteringssystem. http://www.perforce.com/
Comment[de]=Integriert Perforce, ein Softwarekonfigurationsverwaltungsssystem. http://www.perforce.com/
Comment[es]=Integra Perforce, un sistema de adminsitración de la configuración del software. http://www.perforce.com/
Comment[hu]=Integrációt biztosít a Perforce szoftverkonfigurációs rendszerrel - http://www.perforce.com/
Comment[pt_BR]=Integra o Perforce, um software de configuração e gerenciamento do sistema. http://www.perforce.com/
Comment[sr]=Интегрише perforce, систем за управљање подешавањем софтвера. http://www.perforce.com/
Comment[sv]=Integrerar Perforce, ett konfigurationshanteringsverktyg för programvara. http://www.perforce.com/
Name=KDevPerforce
Name[de]=KDevPerforce
Name[sv]=KDevelop Perforce
Name[xx]=xxKDevPerforcexx
GenericName=Perforce Integration
GenericName[da]=Perforce integration
GenericName[de]=Perforce-Integration
GenericName[es]=Integración de Perforce
GenericName[hu]=Perforce-integráció
GenericName[pt]=Integração com o Perforce
GenericName[pt_BR]=Integração com o Perforce
GenericName[sr]=Интеграција perforce-а
GenericName[sv]=Integrering av Perforce
GenericName[xx]=xxPerforce Integrationxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevperforce
X-KDevelop-Version=1
X-KDevelop-Scope=Project
