[Desktop Entry]
Type=Service
Exec=blubb
Comment=Lets you view a plasmoid
Comment[de]=Zeigt ein Plasmoid an
Comment[pt]=Permite-lhe ver um plasmóide
Comment[pt_BR]=Permite-lhe visualizar um plasmoide
Comment[uk]=Надає вам змогу переглядати роботу плазмоїдів
Comment[x-test]=xxLets you view a plasmoidxx
Name=Plasmoid Launcher
Name[de]=Plasmoid-Starter
Name[pt]=Lançamento de Plasmóide
Name[pt_BR]=Lançador de plasmoides
Name[uk]=Засіб запуску плазмоїдів
Name[x-test]=xxPlasmoid Launcherxx
GenericName=Plasmoid Launcher Support
GenericName[de]=Unterstützung für Plasmoid-Starter
GenericName[pt]=Suporte para o Lançamento de Plasmóides
GenericName[pt_BR]=Suporte ao lançador de plasmoides
GenericName[uk]=Підтримка засобу запуску плазмоїдів
GenericName[x-test]=xxPlasmoid Launcher Supportxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevexecuteplasmoid
X-KDevelop-Version=15
X-KDevelop-Category=Global
X-KDE-PluginInfo-Name=kdevexecuteplasmoid
X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-License=GPL
X-KDevelop-Mode=NoGUI
