<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="KDevPartExplorer" version="2">
<MenuBar>
  <Menu name="tools" >
    <Action name="show_partexplorerform"/>
    <Merge/>
  </Menu>
</MenuBar>
</kpartgui>
