[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=A Graphical tool for performing KTrader-like queries about registered services
Comment[hu]=Grafikus felületű program a regisztrált szolgáltatások KTrader-szerű lekérdezéséhez
Comment[pt_BR]=Uma ferramenta Gráfica para realizar consultas como KTrader sobre serviços registrados
Comment[sv]=Ett grafiskt verktyg för att utföra KTrader-liknande förfrågningar om registrerade tjänster.
Comment[xx]=xxA Graphical tool for performing KTrader-like queries about registered servicesxx
Name=PartExplorer
Name[sv]=Delutforskare
Name[xx]=xxPartExplorerxx
GenericName=Part Explorer tool
GenericName[hu]=Objektumböngésző
GenericName[pt_BR]=Ferramenta Explorador de Parte
GenericName[sv]=Delutforskningsverktyg
GenericName[xx]=xxPart Explorer toolxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevpartexplorer
X-KDevelop-Version=1
X-KDevelop-Scope=Global
