[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Perl Support
Comment[hu]=Perl-támogatás
Comment[pt_BR]=Suporte ao Perl
Comment[sv]=Perl-stöd
Comment[xx]=xxPerl Supportxx
Name=KDevPerlSupport
Name[sv]=KDevelop Perl-stöd
Name[xx]=xxKDevPerlSupportxx
GenericName=Perl Support
GenericName[hu]=Perl-támogatás
GenericName[pt_BR]=Suporte ao Perl
GenericName[sv]=Perl-stöd
GenericName[xx]=xxPerl Supportxx
ServiceTypes=KDevelop/LanguageSupport
X-KDE-Library=libkdevperlsupport
X-KDevelop-Version=1
X-KDevelop-Language=Perl

