[Desktop Entry]
Type=Service
Name=DocDoxygenPlugin
Exec=blubb
Comment=Documentation plugin for Doxygen documentation
Comment[el]=Πρόσθετο τεκμηρίωσης για τεκμηρίωση τύπου Doxygen
ServiceTypes=KDevelop/DocumentationPlugins
X-KDevelop-Version=5
X-KDE-Library=libdocdoxygenplugin
