[General]
Name=CMake Module with pkg-config
Name[bs]=CMake Modul s pkg-config
Name[ca]=Mòdul CMake amb pkg-config
Name[el]=CMake άρθρωμα με pkg-config
Name[es]=Módulo de CMake con pkg-config
Name[et]=CMake'i moodul pkg-config'iga
Name[fi]=pkg-configia käyttävä CMake-moduuli
Name[gl]=Módulo de CMake con pkg-config
Name[nl]=CMake-module met pkg-config
Name[pl]=Moduł CMake z pkg-config
Name[pt]=Módulo do CMake com Pkg-Config
Name[pt_BR]=Módulo do CMake com o pkg-config
Name[sk]=CMake modul s pkg-config
Name[sv]=CMake-modul med pkg-config
Name[uk]=Модуль CMake з pkg-config
Name[x-test]=xxCMake Module with pkg-configxx
Comment=CMake module for finding a library using pkg-config
Comment[bs]=CMake modul za traženje biblioteke koristeći pkg-config
Comment[ca]=Mòdul CMake per cercar una biblioteca utilitzant pkg-config
Comment[el]=CMake άρθρωμα για ανεύρεση βιβλιοθήκης με χρήση pkg-config
Comment[es]=Módulo de CMake para encontrar una biblioteca usando pkg-config
Comment[et]=CMake'i moodul teegi leidmiseks pkg-config'i abil
Comment[fi]=CMake-moduuli kirjaston löytämiseen käyttäen pkg-configia
Comment[gl]=Módulo de CMake para atopar unha biblioteca con pkg-config
Comment[nl]=CMake-module voor zoeken van een bibliotheek met gebruik van pkg-config
Comment[pl]=Moduł CMake do znajdowania biblioteki używającej pkg-config
Comment[pt]=Um módulo do CMake para procurar uma dada biblioteca com o 'pkg-config'
Comment[pt_BR]=Módulo do CMake para descobrir uma biblioteca com o pkg-config
Comment[sk]=CMake modul na hľadanie knižníc pomocou pkg-config
Comment[sv]=CMake-modul för att hitta ett bibliotek med användning av pkg-config
Comment[uk]=Модуль CMake для пошуку бібліотеки за допомогою pkg-config
Comment[x-test]=xxCMake module for finding a library using pkg-configxx
Category=CMake/Module
Language=CMake
Language[bs]=CMake
Language[ca]=CMake
Language[cs]=CMake
Language[de]=CMake
Language[el]=CMake
Language[es]=CMake
Language[et]=CMake
Language[fi]=CMake
Language[gl]=CMake
Language[nl]=CMake
Language[pl]=CMake
Language[pt]=CMake
Language[pt_BR]=CMake
Language[sk]=CMake
Language[sv]=CMake
Language[uk]=CMake
Language[x-test]=xxCMakexx
Type=Other
Files=Module
OptionsFile=options.kcfg

[Module]
Name=Module
Name[bs]=Modul
Name[ca]=Mòdul
Name[de]=Modul
Name[el]=Άρθρωμα
Name[es]=Módulo
Name[et]=Moodul
Name[fi]=Moduuli
Name[gl]=Módulo
Name[nl]=Module
Name[pl]=Moduł
Name[pt]=Módulo
Name[pt_BR]=Módulo
Name[sk]=Modul
Name[sv]=Modul
Name[uk]=Модуль
Name[x-test]=xxModulexx
File=output.cmake
OutputFile=Find{{ name|capfirst }}.cmake
