[Desktop Entry]
Encoding=UTF-8
Name=%{APPNAME}
Name[xx]=xx%{APPNAME}xx
Comment=
Comment[xx]=xxxx
Exec=%{APPNAMELC}
Icon=%{APPNAMELC}-logo
Terminal=0
Type=Application
