[Desktop Entry]
Type=Service
Name=DocCHMPlugin
Name[sv]=CHM-dokumentationsinsticksmodul
Name[x-test]=xxDocCHMPluginxx
Exec=blubb
Comment=Documentation plugin for CHM documentation
Comment[el]=Πρόσθετο τεκμηρίωσης για τεκμηρίωση CHM
Comment[es]=Complemento para la documentación CHM
Comment[gl]=Extensión para a documentación CHM
Comment[nds]=Dokmentatschoon-Moduul för CHM-Dokmentatschoon
Comment[pt]='Plugin' de documentação para os manuais CHM
Comment[pt_BR]='Plugin' de documentação para os manuais CHM
Comment[sv]=Dokumentationsinsticksmodul för CHM-dokumentation
Comment[tr]=CHM belgeleri için belgelendirme eklentisi
Comment[uk]=Додаток для роботи з документацією CHM
Comment[x-test]=xxDocumentation plugin for CHM documentationxx
ServiceTypes=KDevelop/DocumentationPlugins
X-KDevelop-Version=5
X-KDE-Library=libdocchmplugin
