[Desktop Entry]
Type=Service
Exec=blubb
Comment=Custom project
Name=KDevCustomProject
ServiceTypes=KDevelop/Project
X-KDE-Library=libkdevcustomproject
X-KDevelop-Args=
