[Desktop Entry]
Encoding=UTF-8
Icon=kdevelop
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdevqtest_config
X-KDE-FactoryName=kcm_kdevqtest_config
X-KDE-ParentApp=kdevplatformproject
X-KDE-ParentComponents=kdevplatformproject
X-KDE-CfgDlgHierarchy=GENERAL

Name=QTest
Comment=QTest settings
Comment[es]=Preferencias de QTest
Comment[fr]=Paramètres de  QTest
Comment[ga]=Socruithe QTest
Comment[gl]=Configuración de QTest
Comment[pt]=Configuração do QTest
Comment[pt_BR]=Configuração do QTest
Comment[uk]=Параметри QTest
Comment[zh_TW]=QTest 設定
