[Desktop Entry]
Type=Service
ServiceTypes=Kate/Plugin
X-KDE-Library=lib%{APPNAMELC}plugin
X-Kate-Version=2.2
Name=My First Kate Plugin
Name[el]=Το πρώτο μου πρόσθετο για το Kate
Name[fr]=Mon premier module Kate
Name[x-test]=xxMy First Kate Pluginxx
Comment=Your short description about the plugin goes here
Comment[el]=Η σύντομη περιγραφή σας σχετικά με το πρόσθετο πηγαίνει εδώ
Comment[fr]=La description courte de votre module
Comment[x-test]=xxYour short description about the plugin goes herexx
author=%{AUTHOR}, %{EMAIL}
