[Desktop Entry]
Type=Service
Exec=blubb
Comment=This plugin is purely for unit-test
Comment[el]=Αυτό το πρόσθετο προορίζεται για τον έλεγχο μονάδας
Comment[nds]=Dit Moduul is bloots för't Eenheiten-Testen
Comment[pt]=Este 'plugin' serve apenas para testes unitários
Comment[pt_BR]=Este 'plugin' serve apenas para testes unitários
Comment[tr]=Bu eklenti tamamen birim-testleri içindir
Comment[uk]=Цей додаток призначено лише для перевірки модулів
Name=KDevNonGuiInterface
Name[nds]=KDevKeenBöversiet
GenericName=NonGuiInterface
GenericName[el]=Περιβάλλον χωρίς Gui
GenericName[nds]=Keen graafsch Böversiet
GenericName[pt]=Interface Não-Gráfica
GenericName[pt_BR]=Interface Não-Gráfica
GenericName[tr]=Grafiksel Olmayan Arayüz
ServiceTypes=KDevelop/Plugin
X-KDE-Library=/home/andreas/src/build/kdevplatform/lib/kdevnonguiinterface
X-KDevelop-Version=6
X-KDE-PluginInfo-Name=kdevnonguiinterface
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Interfaces=org.kdevelop.ITestNonGuiInterface
X-KDevelop-Mode=NoGUI
