[Desktop Entry]
Type=Service
Exec=blubb
Comment=This plugin is purely for unit-test
Comment[bg]=Тази приставка е само за проверка на модула
Comment[ca]=Aquest connector és exclusivament per a unitats de proves
Comment[de]=Dieses Modul dient nur Unit-Tests.
Comment[el]=Αυτό το πρόσθετο προορίζεται για τον έλεγχο μονάδας
Comment[en_GB]=This plugin is purely for unit-test
Comment[es]=Este complemento es sólo para unidades de prueba
Comment[fr]=Ce module externe est purement pour unit-test
Comment[gl]=Este engadido é somente para probas de unidades
Comment[nds]=Dit Moduul is bloots för't Eenheiten-Testen
Comment[pa]=ਇਹ ਪਲੱਗਇਨ ਸ਼ੁੱਧ ਯੂਨਿਟ-ਟੈਸਟ ਹੈ
Comment[pt]=Este 'plugin' serve apenas para testes unitários
Comment[pt_BR]=Esta extensão é somente para testes unitários
Comment[sv]=Insticksprogrammet är enbart avsett för enhetstest
Comment[tr]=Bu eklenti tamamen birim-testleri içindir
Comment[uk]=Цей додаток призначено лише для перевірки модулів
Comment[x-test]=xxThis plugin is purely for unit-testxx
Comment[zh_CN]=此插件只用于 unit 测试
Comment[zh_TW]=此外掛程式只是單純做測試
Name=KDevNonGuiInterface
Name[bg]=KDevNonGuiInterface
Name[ca]=KDevNonGuiInterface
Name[de]=KDevNonGuiInterface
Name[el]=KDevNonGuiInterface
Name[en_GB]=KDevNonGuiInterface
Name[es]=KDevNonGuiInterface
Name[fr]=KDevNonGuiInterface
Name[ga]=KDevNonGuiInterface
Name[gl]=KDevNonGuiInterface
Name[nds]=KDevKeenBöversiet
Name[pa]=KDevNonGuiInterface
Name[pt]=KDevNonGuiInterface
Name[pt_BR]=KDevNonGuiInterface
Name[sv]=KDevelop icke grafiskt användargränssnitt
Name[tr]=KDevNonGuiInterface
Name[uk]=KDevNonGuiInterface
Name[x-test]=xxKDevNonGuiInterfacexx
Name[zh_CN]=KDevNonGuiInterface
Name[zh_TW]=KDevNonGuiInterface
GenericName=NonGuiInterface
GenericName[bg]=NonGuiInterface
GenericName[ca]=NonGuiInterface
GenericName[de]=NonGuiInterface
GenericName[el]=Περιβάλλον χωρίς Gui
GenericName[en_GB]=NonGuiInterface
GenericName[es]=NonGuiInterface
GenericName[fr]=NonGuiInterface
GenericName[ga]=NonGuiInterface
GenericName[gl]=Interface sen gui
GenericName[nds]=Keen graafsch Böversiet
GenericName[pa]=NonGuiInterface
GenericName[pt]=Interface Não-Gráfica
GenericName[pt_BR]=NonGuiInterface
GenericName[sv]=Icke grafiskt användargränssnitt
GenericName[tr]=Grafiksel Olmayan Arayüz
GenericName[uk]=NonGuiInterface
GenericName[x-test]=xxNonGuiInterfacexx
GenericName[zh_CN]=非图形用户界面
GenericName[zh_TW]=NonGuiInterface
ServiceTypes=KDevelop/Plugin
X-KDE-Library=/home/andreas/src/build/kdevplatform/lib/kdevnonguiinterface
X-KDevelop-Version=6
X-KDE-PluginInfo-Name=kdevnonguiinterface
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Interfaces=org.kdevelop.ITestNonGuiInterface
X-KDevelop-Mode=NoGUI
