[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Name=KDevannotation
Name[sk]=KDev poznámky
Name[sv]=KDevelop noteringar
GenericName=annotation Plugin
GenericName[ca]=Connector per anotacions
GenericName[da]=annotations-plugin
GenericName[de]=Plugin für Anmerkungen
GenericName[el]=Πρόσθετο επισημάνσεων
GenericName[es]=Plugin para anotaciones
GenericName[et]=Annotatsiooniplugin
GenericName[eu]=oharpen plugina
GenericName[fr]=Module d'annotation
GenericName[ga]=Breiseán Anótála
GenericName[hu]=Megjegyzéskezelő modul
GenericName[it]=Plugin di annotazione
GenericName[ja]=annotation プラグイン
GenericName[nds]=Plugin för Anmarken
GenericName[nl]=annotatie-plugin
GenericName[pl]=Wtyczka annotation
GenericName[pt]='Plugin' de Anotação
GenericName[pt_BR]='Plugin' de Anotação
GenericName[ru]=Модуль Аннотации
GenericName[sk]=Modul poznámok
GenericName[sr]=Прикључак за тумачења
GenericName[sr@Latn]=Priključak za tumačenja
GenericName[sv]=Noteringsinsticksprogram
GenericName[tr]=annotation Eklentisi
GenericName[zh_CN]=批注插件
Comment=annotation Description
Comment[ca]=Descripció de l'anotació
Comment[da]=annotationsbeskrivelse
Comment[de]=Anmerkungs-Beschreibung
Comment[el]=Περιγραφή επισημάνσεων
Comment[es]=Descripción de la anotación
Comment[et]=Annotatsiooni kirjeldus
Comment[eu]=oharpen deskribapena
Comment[fr]=Description de l'annotation
Comment[hu]=annotation leírása
Comment[it]=annotazione Descrizione
Comment[ja]=annotation 説明
Comment[nds]=Anmarkenbeschrieven
Comment[nl]=annotatie-omschrijving
Comment[pl]=Opis annotation
Comment[pt]=Descrição da Anotação
Comment[pt_BR]=Descrição da Anotação
Comment[ru]=Модуль Аннотации
Comment[sk]=Popis poznámok
Comment[sr]=Опис тумачења
Comment[sr@Latn]=Opis tumačenja
Comment[sv]=Noteringsbeskrivning
Comment[tr]=annotation Tanımı
Comment[zh_CN]=批注描述
Icon=kdevelop
ServiceTypes=KDevelop/Plugin

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=
X-KDevelop-Plugin-BugsEmailAddress=mchoui@e-c.qc.ca
X-KDevelop-Plugin-Copyright=(C) by Mathieu Chouinard

X-KDevelop-Args=

X-KDevelop-Scope=Project
X-KDE-Library=libkdevannotation
X-KDevelop-Version=3
X-KDevelop-Properties=Documentation
