[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Name=KDevannotation
Name[sv]=KDevelop noteringar
Name[xx]=xxKDevannotationxx
GenericName=annotation Plugin
GenericName[da]=annotations-plugin
GenericName[de]=Plugin für Anmerkungen
GenericName[el]=Πρόσθετο επισημάνσεων
GenericName[es]=Plugin para anotaciones
GenericName[et]=Annotatsiooniplugin
GenericName[ga]=Breiseán Anótála
GenericName[it]=Plugin di annotazione
GenericName[nl]=annotatie-plugin
GenericName[pl]=Wtyczka annotation
GenericName[pt]='Plugin' de Anotação
GenericName[pt_BR]='Plugin' de Anotação
GenericName[sv]=Noteringsinsticksprogram
GenericName[tr]=annotation Eklentisi
GenericName[xx]=xxannotation Pluginxx
GenericName[zh_CN]=批注插件
Comment=annotation Description
Comment[da]=annotationsbeskrivelse
Comment[de]=Anmerkungs-Beschreibung
Comment[el]=Περιγραφή επισημάνσεων
Comment[es]=Descripción de la anotación
Comment[et]=Annotatsiooni kirjeldus
Comment[it]=annotazione Descrizione
Comment[nl]=annotatie-omschrijving
Comment[pl]=Opis annotation
Comment[pt]=Descrição da Anotação
Comment[pt_BR]=Descrição da Anotação
Comment[sv]=Noteringsbeskrivning
Comment[tr]=annotation Tanımı
Comment[xx]=xxannotation Descriptionxx
Comment[zh_CN]=批注描述
Icon=kdevelop
ServiceTypes=KDevelop/Plugin

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=
X-KDevelop-Plugin-BugsEmailAddress=mchoui@e-c.qc.ca
X-KDevelop-Plugin-Copyright=(C) by Mathieu Chouinard

X-KDevelop-Args=

X-KDevelop-Scope=Project
X-KDE-Library=libkdevannotation
X-KDevelop-Version=3
X-KDevelop-Properties=Documentation
