[Desktop Entry]
Type=Service
Icon=kde
Exec=blubb
Comment=This plugin helps to obtain KDE projects
Comment[fr]=Ce module externe permet d'obtenir des projets KDE
Comment[pt]=Este 'plugin' ajuda a obter projectos do KDE
Comment[pt_BR]=Este plug-in ajuda a obter projetos do KDE
Comment[sv]=Insticksprogrammet hjälper till att erhålla KDE-projekt
Comment[x-test]=xxThis plugin helps to obtain KDE projectsxx
Name=KDE Provider
Name[fr]=Fournisseur KDE
Name[pt]=Fornecedor do KDE
Name[pt_BR]=Fornecedor do KDE
Name[sv]=KDE-leverantör
Name[x-test]=xxKDE Providerxx
GenericName=KDE Provider
GenericName[fr]=Fournisseur KDE
GenericName[pt]=Fornecedor do KDE
GenericName[pt_BR]=Fornecedor do KDE
GenericName[sv]=KDE-leverantör
GenericName[x-test]=xxKDE Providerxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevkdeprovider
X-KDevelop-Version=10
X-KDevelop-Category=Global
X-KDE-PluginInfo-Name=kdevkdeprovider
X-KDE-PluginInfo-Author=Aleix Pol
X-KDE-PluginInfo-License=GPL
X-KDevelop-Mode=GUI
X-KDevelop-Interfaces=org.kdevelop.IProjectProvider
