[Desktop Entry]
Type=Service
Icon=kdevelop
Exec=blubb
Comment=QTestLib test runner
Comment[ca]=Llançador de prova QTestLib
Comment[de]=QTestLib-Test ausführen
Comment[el]=Εκτελεστής ελέγχου QTestLib
Comment[en_GB]=QTestLib test runner
Comment[es]=Ejecución de prueba de QTestLib
Comment[et]=QTestLibi testkäivitaja
Comment[fr]=Exécuteur de test QTestLib
Comment[ga]=Feidhmitheoir tástála QTestLib
Comment[gl]=Executor de probas de QTestLib
Comment[hne]=क्यूटेस्टलिब टेस्ट रनर
Comment[it]=Esecuzione test QTestLib
Comment[lv]=QTestLib testu darbinātājs
Comment[nds]=QTestLib-Testdreger
Comment[pl]=Uruchamianie QTestLib
Comment[pt]=Execução de testes do QTestLib
Comment[pt_BR]=Carregador do testes QTestLib
Comment[ru]=Запуск QTest
Comment[sv]=Testkörning för QTestLib
Comment[tr]=QTestLib test çalıştırıcısı
Comment[uk]=Засіб запуску QTestLib
Comment[x-test]=xxQTestLib test runnerxx
Comment[zh_CN]=QTestLib 测试运行器
Comment[zh_TW]=QTestLib 測試執行者

Name=QTest Runner
Name[ca]=Llançador de QTest
Name[de]=QTest ausführen
Name[en_GB]=QTest Runner
Name[es]=Ejecución de QTest
Name[fr]=Exécuteur de QTest
Name[ga]=Feidhmitheoir QTest
Name[gl]=Executor de QTest
Name[it]=Esecuzione QTest
Name[nds]=QTest-Dreger
Name[pt]=Execução do QTest
Name[ru]=Запуск QTest
Name[sv]=Körning för QTest
Name[tr]=QTest Çalıştırıcı
Name[uk]=Засіб запуску QTest
Name[x-test]=xxQTest Runnerxx
Name[zh_CN]=QTest 运行器
Name[zh_TW]=Qtest 執行者
GenericName=Unit test runner
GenericName[ca]=Llançador de prova Unit
GenericName[de]=Unittest ausführen
GenericName[el]=Εκτέλεση ελέγχου Unit
GenericName[en_GB]=Unit test runner
GenericName[es]=Unidad de ejecución de pruebas
GenericName[et]=Uniti testkäivitaja
GenericName[fr]=Exécuteur de test unitaire
GenericName[ga]=Feidhmitheoir tástála aonad
GenericName[gl]=Executor de probas unitarias
GenericName[hne]=यूनिट टेस्ट रनर
GenericName[it]=Esecuzione di unità di test
GenericName[lv]=Unit testu darbinātājs
GenericName[nds]=Unit-Testdreger
GenericName[pl]=Uruchamianie testu modułu
GenericName[pt]=Execução de testes unitários
GenericName[pt_BR]=Carregador de testes unitários
GenericName[ru]=Программа выполнения тестов кода
GenericName[sv]=Enhetstestkörning
GenericName[tr]=Birim testi çalıştırıcı
GenericName[uk]=Засіб запуску перевірки модулів
GenericName[x-test]=xxUnit test runnerxx
GenericName[zh_CN]=Unit 测试运行器
GenericName[zh_TW]=Unit 測試執行者
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevqtestview
X-KDE-PluginInfo-Name=qtestview
X-KDE-PluginInfo-Author=Manuel Breugelmans
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Interfaces=org.kdevelop.ITestFramework
X-KDevelop-Version=7
X-KDevelop-Mode=NoGUI
X-KDevelop-Category=Global
