[Desktop Entry]
Type=Service
Exec=foobar
Comment=Embeddable HTMLHelp Viewer
Comment[ca]=Visor encastat de l'ajuda HTML
Comment[da]=Indlejrbar HTMLHelp-fremviser
Comment[de]=Eingebetteter Betrachter für HTMLHelp
Comment[es]=Visor de ayuda HTML empotrable
Comment[et]=Põimitav HTML-abifailide näitaja
Comment[fr]=Visionneur intégrée d'aide HTML
Comment[hi]=अंतर्निर्मित योग्य एचटीएमएल मदद प्रदर्शक
Comment[hu]=Beágyazható HTML-es dokumentációnézegető
Comment[it]=Visualizzatore integrabile per la guida HTML
Comment[ja]=埋め込み可能な HTMLHelp ビューア
Comment[nb]=Inkluderbar HTMLHelp-visning
Comment[nl]=Ingebedde HTML Helpweergave
Comment[pl]=Wbudowywalna przeglądarka pomocy w formacie HTML
Comment[pt]=Visualizador de HTMLHelp Embebível
Comment[pt_BR]=Visualizador de Ajuda HTML Embutido
Comment[ru]=Встроенный просмотр HTMLHelp
Comment[sr]=Уградиви приказивач HTMLHelp-а
Comment[sr@Latn]=Ugradivi prikazivač HTMLHelp-a
Comment[sv]=Inbäddningsbar HTML-hjälpvisning
Comment[ta]=HTML உதவி பார்வையாளரை உட்பொதி
Comment[tg]=Намоиши ҳамвори HTMLHelp 
Comment[zh_CN]=嵌入的HTML帮助查看器
MimeType=application/chm
Name=KChmPart
Name[de]=Chm-Betrachter (KDevelop)
Name[hi]=के-सीएचएम-पार्ट
Name[pl]=Program KChm
Name[sv]=Kchm-del
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=libkchmpart
X-KDevelop-Version=1
