[Desktop Entry]
Icon=kdevelop
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_lcovsettings
X-KDE-FactoryName=kcm_kdev_lcovsettings
X-KDE-ParentApp=kdevelop
X-KDE-ParentComponents=kdevelop

Name=lcov settings
Name[ga]=Socruithe lcov
Name[sv]=Inställningar av Lcov
Name[uk]=Параметри lcov
Comment=Configure lcov settings
Comment[ga]=Cumraigh socruithe lcov
Comment[sv]=Anpassa inställningar av Lcov
Comment[uk]=Налаштувати параметри lcov

