[Desktop Entry]
Icon=kdevelop
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_lcovsettings
X-KDE-FactoryName=kcm_kdev_lcovsettings
X-KDE-ParentApp=kdevelop
X-KDE-ParentComponents=kdevelop

Name=lcov settings
Name[ca]=Arranjaments de lcov
Name[de]=Icov-Einstellungen
Name[es]=Preferencias de lcov
Name[fr]=Paramètres d'lcov
Name[ga]=Socruithe lcov
Name[it]=Impostazioni Icov
Name[nds]=LCov-Instellen
Name[pt]=Configuração do LCov
Name[pt_BR]=Configurações do Icov
Name[ru]=Параметры lcov
Name[sv]=Inställningar av Lcov
Name[tr]=lcov ayarları
Name[uk]=Параметри lcov
Name[x-test]=xxlcov settingsxx
Name[zh_CN]=lcov 设置
Name[zh_TW]=Icov 設定
Comment=Configure lcov settings
Comment[ca]=Configura els arranjaments de Icov
Comment[de]=Icov-Einstellungen
Comment[es]=Configurar las preferencias de lcov
Comment[fr]=Configurer les réglages d'lcov
Comment[ga]=Cumraigh socruithe lcov
Comment[it]=Configura le impostazioni di lcov
Comment[nds]=LCov instellen
Comment[pt]=Configurar as opções do LCov
Comment[pt_BR]=Configurar as opções do Icov
Comment[ru]=Настроить опции lcov
Comment[sv]=Anpassa inställningar av Lcov
Comment[tr]=lcov ayarlarını yapılandır
Comment[uk]=Налаштувати параметри lcov
Comment[x-test]=xxConfigure lcov settingsxx
Comment[zh_CN]=配置 lcov 设置
Comment[zh_TW]=設定 Icov

