#!/usr/bin/make -f
# Made with the aid of debmake, by Christoph Lameter,
# games on the sample debian/rules file for GNU hello by Ian Jackson.

# This is the debhelper compatability version to use.
export DH_COMPAT=3

include debian/debiandirs

configkdevelop= --prefix=/usr \
 --enable-debug --enable-docbase \
 --disable-rpath --with-qt-includes=/usr/include/qt \
 --libdir=$(kde_libdir) --includedir=$(kde_includedir) --mandir=$(mandir) \
 --with-kdelibsdoc-dir=/usr/share/doc/kdelibs3-doc/html \
 --enable-gideon-qt2 --enable-docbase \
 --enable-javasupport \
 --with-phpdocdir=/usr/share/doc/php4 \
 --with-glibdocdir=/usr/share/doc/glib-reference/html \
 --with-gdkdocdir=/usr/share/doc/gtk-reference/gdk/html \
 --with-gtkdocdir=/usr/share/doc/gtk-reference/gtk/html \
 --with-gnomedocdir=/usr/share/doc/gnome-dev-doc/html

debdir=$(shell pwd)/debian
instdir=$(debdir)/tmp

configure: configure-stamp
configure-stamp:
	dh_testdir
	if test ! -f configure; then \
	  $(MAKE) -f admin/Makefile.common ;\
	fi
	./configure $(configkdevelop)

	touch configure-stamp

build:  configure-stamp build-stamp
build-stamp:
	dh_testdir
	$(MAKE)

	touch build-stamp

debian-clean:
	dh_testdir
	rm -f build-stamp configure-stamp
	dh_clean

clean: debian-clean
	-make distclean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	install -d debian/tmp/etc/kde2
	$(MAKE) prefix=/usr DESTDIR=$(debdir)/tmp install
#	rm -rf $(instdir)/usr/share/doc/kde/HTML/en/kdevdoctreeview/stl

deb-common:
	dh_movefiles
	dh_undocumented
	dh_installmenu
	dh_installdocs
	dh_installchangelogs
	dh_link

binary-indep: deb-common
	dh_compress -X.database -i

binary-arch: deb-common
	dh_strip -a
	dh_compress -X.database -a

# Below here is fairly generic really

binary:	install binary-arch binary-indep
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums 
	dh_builddeb

# Install local without making a package

install-local:
	$(MAKE) prefix=/usr
	$(MAKE) prefix=/usr install

.PHONY: binary binary-arch binary-indep clean install install-local


