#!/usr/bin/make -f
# Made with the aid of debmake, by Christoph Lameter,
# games on the sample debian/rules file for GNU hello by Ian Jackson.

build: build-stamp
 
-include debian/debiandirs
 
debian/debiandirs: debian/debianrules
	perl -w debian/debianrules echodirs > debian/debiandirs
 
build-stamp:
	dh_testdir
	if test ! -f configure; then \
	  $(MAKE) -f admin/Makefile.common ;\
	fi
	./configure $(configkdevelop)
	$(MAKE)

	touch build-stamp

debian-clean:
	dh_testdir
	-rm -f build-stamp install-stamp
	dh_clean
 
clean: debian-clean
	-rm -f debian/debiandirs 
	if test -d CVS; then \
	make -f admin/Makefile.common cvs-clean ;\
	fi
	-make distclean
	
binary-indep:	build
	dh_testroot
	dh_testdir

binary-arch:	build
	dh_testroot
	dh_testdir
	-rm -rf debian/tmp
	make install DESTDIR=`pwd`/debian/tmp
	perl -w admin/debianrules cleanup
	dh_movefiles
	dh_undocumented 
	dh_installdocs
	dh_installchangelogs
	dh_strip
	dh_compress
	dh_fixperms
	dh_perl
	dh_suidregister
	dh_makeshlibs -V
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb    

# Below here is fairly generic really

binary:		binary-indep binary-arch

.PHONY: binary binary-arch binary-indep clean
