[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Powerful network transparent file browser utility.
Comment[ca]=Potent utilitat per a la navegació entre fitxers, transparent a la xarxa.
Comment[da]=Stærkt netværkstransparent filsøgerredskab.
Comment[de]=Ein mächtiges, netzwerktransparentes Dateiverwaltungswerkzeug.
Comment[es]=Potente utilidad de navegación de archivos transparente a la red.
Comment[et]=Võimas failide lehitsemise rakendus.
Comment[eu]=Fitxategiak arakatzeko sare gardeneko tresna ahaltsua.
Comment[fr]=Utilitaire puissant de sélection de fichiers ayant la transparence réseau
Comment[hi]=शक्तिशाली नेटवर्क ट्रांसपेरेन्ट फ़ाइल ब्राउज़र यूटिलिटी
Comment[hu]=Fájlböngésző program (hálózatkezeléssel)
Comment[it]=Utilità per la navigazione trasparente dei file in rete.
Comment[ja]=強力なネットワーク透過ファイルブラウザユーティリティ
Comment[nb]=Kraftig verktøy for å lete etter filer som ikke er avhengig av hva slags nettverk du bruker.
Comment[nl]=Krachtige, netwerktransparante bestandsbrowser.
Comment[pl]=Potężne narzędzie do przeglądania plików z obsługą sieci.
Comment[pt]=Utilitário de navegação de ficheiros poderoso.
Comment[pt_BR]=Poderoso utilitário de navegação de arquivos transparente à rede.
Comment[ru]=Средство просмотра списка файлов с поддержкой работы по сети.
Comment[sr]=Моћан програмчић за претраживање фајлова који је независтан од мреже.
Comment[sr@Latn]=Moćan programčić za pretraživanje fajlova koji je nezavistan od mreže.
Comment[sv]=Kraftfullt nätverkstransparent filbläddringsverktyg
Comment[ta]=வலிமையுள்ள வலை பின்னல் ஊடக கோப்பினை தேடும் வசதி.
Comment[tg]=Воситаи намоиши файлҳо бо тарафдории корҳо бо шабака.
Comment[tr]=Güçlü, ağdan saydam, dosya gözatma yardımcı programı
Comment[xx]=xxPowerful network transparent file browser utility.xx
Comment[zh_CN]=强有力的网络文件浏览工具。
Name=KDevFileSelector
Name[da]=KDevelop filvælger
Name[de]=Datei-Selektor (KDevelop)
Name[hi]=के-डेव-फ़ाइल-चयनक
Name[pl]=KDevWybórPliku
Name[sv]=KDevelop filväljare
Name[ta]=KDev கோப்பு தேர்வாளன்
Name[tg]=Ҷудосози файли KDev
Name[xx]=xxKDevFileSelectorxx
GenericName=File Selector
GenericName[br]=Dibaber ar restr
GenericName[ca]=Selector de fitxers
GenericName[cy]=Dewisydd Ffeiliau
GenericName[da]=Filvælger
GenericName[de]=Datei-Selektor
GenericName[es]=Selector de archivos
GenericName[et]=Failide valija
GenericName[eu]=Fitxategi hautatzailea
GenericName[fr]=Sélection de fichier
GenericName[ga]=Roghnóir na gComhad
GenericName[hi]=फ़ाइल चयनक
GenericName[hu]=Fájlválasztó
GenericName[it]=Selettore file
GenericName[ja]=ファイル選択
GenericName[nb]=Fil-velger
GenericName[nl]=Bestandsselector
GenericName[pl]=Wybór plików
GenericName[pt]=Selector de Ficheiros
GenericName[pt_BR]=Seletor de Arquivo
GenericName[ru]=Селектор файлов
GenericName[sl]=Izbirnik datotek
GenericName[sr]=Бирач фајлова
GenericName[sr@Latn]=Birač fajlova
GenericName[sv]=Filväljare
GenericName[ta]=கோப்பு தேர்வாளர்
GenericName[tg]=Селектори файлҳо
GenericName[tr]=Dosya Seçici
GenericName[xx]=xxFile Selectorxx
GenericName[zh_CN]=文件选择器
Icon=fileopen
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevfileselector
X-KDevelop-Version=3
X-KDevelop-Scope=Global
X-KDevelop-Mode=AssistantMode
X-KDevelop-Properties=GlobalFileManagement
