[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=File Selector
Name=KDevFileSelector
Icon=kdevelop
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevfileselector
X-KDevelop-Scope=Global
