[General]
Name=Testing YAML Template
Name[bs]=Testiranje YAML predloška
Name[ca]=Plantilla YAML de prova
Name[ca@valencia]=Plantilla YAML de prova
Name[da]=Tester YAML-skabelon
Name[de]=Testvorlage für YAML
Name[el]=Δοκιμή προτύπου YAML
Name[es]=Prueba de plantilla YAML
Name[et]=YAML malli testimine
Name[fi]=Testi-YAML-malli
Name[fr]=Test du modèle YAML
Name[gl]=Modelo de YAML de probas
Name[hu]=YAML sablon tesztelése
Name[it]=Modello di test YAML
Name[kk]=YAML үлгісін сынау
Name[nb]=Mal for YAML-testing
Name[nl]=YAML-sjabloon testen
Name[pl]=Próbny szablon YAML
Name[pt]=Modelo de Testes em YAML
Name[pt_BR]=Testando o modelo em YAML
Name[ru]=Тестовый шаблон YAML
Name[sk]=Testovanie YAML šablóny
Name[sl]=Preizkusna predloga YAML
Name[sv]=YAML-mall för test
Name[tr]=YAML Şablonu Testi
Name[uk]=Тестовий шаблон YAML
Name[x-test]=xxTesting YAML Templatexx
Name[zh_CN]=YAML 测试模板
Name[zh_TW]=測試 YAML 樣本
Comment=A test description in YAML
Comment[bs]=Opis testa u  YAML
Comment[ca]=Una descripció de prova en YAML
Comment[ca@valencia]=Una descripció de prova en YAML
Comment[da]=En testbeskrivelse i YAML
Comment[de]=Eine Test-Beschreibung in YAML
Comment[el]=Μια περιγραφή δοκιμής σε YAML
Comment[es]=Una descripción de prueba en YAML
Comment[et]=Testi kirjeldus YAML süntaksiga
Comment[fi]=Testin kuvaus YAML:llä
Comment[fr]=Une description de test en YAML
Comment[gl]=Unha descrición de texto en YAML
Comment[hu]=Egy teszt leírás YAML-ben
Comment[it]=Una descrizione di un test in YAML
Comment[kk]=Сынақ YAML сипаттамасы
Comment[nb]=En testbeskrivelse i YAML
Comment[nl]=Een beschrijving van een in test in YAML
Comment[pl]=Opis testu w YAML
Comment[pt]=Uma descrição de testes em YAML
Comment[pt_BR]=Descrição de testes em YAML
Comment[ru]=Описание теста в YAML
Comment[sk]=Popis testu v YAML
Comment[sl]=Opis testa v YAML
Comment[sv]=En testbeskrivning i YAML
Comment[tr]=YAML dilinde bir test tanımlaması
Comment[uk]=Опис перевірки у форматі YAML
Comment[x-test]=xxA test description in YAMLxx
Comment[zh_CN]=一个 YAML 写的测试描述
Comment[zh_TW]=用 YAML 的測試描述
Category=Test/Test/YAML
Files=Implementation

[Implementation]
Name=Implementation
Name[bs]=Implementacija
Name[ca]=Implementació
Name[ca@valencia]=Implementació
Name[cs]=Implementace
Name[da]=Implementering
Name[de]=Implementation
Name[el]=Υλοποίηση
Name[es]=Implementación
Name[et]=Teostus
Name[fi]=Toteutus
Name[fr]=Implémentation
Name[gl]=Implementación
Name[hu]=Megvalósítás
Name[it]=Implementazione
Name[kk]=Іске асыруы
Name[nb]=Implementering
Name[nl]=Implementatie
Name[pl]=Implementacja
Name[pt]=Implementação
Name[pt_BR]=Implementação
Name[ru]=Реализация
Name[sk]=Implementácia
Name[sl]=Izvedba
Name[sv]=Implementering
Name[tr]=Gerçekleme
Name[ug]=ئەمەلگە ئاشۇرۇش
Name[uk]=Реалізація
Name[x-test]=xxImplementationxx
Name[zh_CN]=实现
Name[zh_TW]=實作
File=class.yaml
OutputFile={{ name }}.yaml

