[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Ant Project
Comment[ca]=Projecte Ant
Comment[da]=Ant-projekt
Comment[de]=Ant-Projekt für KDevelop
Comment[el]=Εργασία Ant
Comment[es]=Projecto Ant
Comment[et]=Ant projekt
Comment[fr]=Un module externe pour la gestion de projet avec le programme « Ant ».
Comment[hi]=एएनटी परियोजना
Comment[hu]=Ant projekt
Comment[is]=Ant verkefni
Comment[it]=Progetto Ant
Comment[nb]=Ant-prosjekt
Comment[nl]=Ant-project
Comment[pl]=Projekt: Ant
Comment[pt]=Projecto Ant
Comment[pt_BR]=Projeto Ant
Comment[ru]=Проект Ant
Comment[sl]=Projekt Ant
Comment[sr]=Ant пројекат
Comment[sr@Latn]=Ant projekat
Comment[sv]=Ant-projekt
Comment[ta]=ஆன்ட்பிராஜக்ட்
Comment[uz]=Ant лойиҳаси
Comment[xx]=xxAnt Projectxx
Comment[zh_CN]=Ant 项目
Name=KDevAntProject
Name[de]=Ant-Projekt (KDevelop)
Name[hi]=के-डेव-एएनटी-परियोजना
Name[nb]=KDevAnt-prosjekt
Name[pl]=KDevProjektAnt
Name[sv]=KDevelop Ant-projekt
Name[ta]=கெடெவ்ஆன்ட் பிராஜக்ட்
Name[xx]=xxKDevAntProjectxx
GenericName=Ant Project
GenericName[ca]=Projecte Ant
GenericName[da]=Ant-projekt
GenericName[de]=Ant-Projekt
GenericName[el]=Εργασία Ant
GenericName[es]=Projecto Ant
GenericName[et]=Ant projekt
GenericName[fr]=Projet avec Ant
GenericName[hi]=एएनटी परियोजना
GenericName[hu]=Ant projekt
GenericName[it]=Project con Ant
GenericName[nb]=Ant-prosjekt
GenericName[nl]=Ant-project
GenericName[pl]=Projekt: Ant
GenericName[pt]=Projecto Ant
GenericName[pt_BR]=Projeto Ant
GenericName[ru]=Проект Ant
GenericName[sl]=Projekt Ant
GenericName[sr]=Ant пројекат
GenericName[sr@Latn]=Ant projekat
GenericName[sv]=Ant-projekt
GenericName[ta]=ஆன்ட்பிராஜக்ட்
GenericName[uz]=Ant лойиҳаси
GenericName[xx]=xxAnt Projectxx
GenericName[zh_CN]=Ant 项目
ServiceTypes=KDevelop/Project
X-KDE-Library=libkdevantproject
X-KDevelop-Version=1
X-KDevelop-Args=
