[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Ant Project
Comment[da]=Ant-projekt
Comment[de]=Ant-Projekt
Comment[es]=Projecto Ant
Comment[hu]=Ant projekt
Comment[it]=Progetto Ant
Comment[pt]=Projecto Ant
Comment[pt_BR]=Projeto Ant
Comment[sr]=Ant пројекат
Comment[sv]=Ant-projekt
Comment[xx]=xxAnt Projectxx
Name=KDevAntProject
Name[de]=KDevAntProjekt
Name[sv]=KDevelop Ant-projekt
Name[xx]=xxKDevAntProjectxx
GenericName=Ant Project
GenericName[da]=Ant-projekt
GenericName[de]=Ant-projekt
GenericName[es]=Projecto Ant
GenericName[hu]=Ant projekt
GenericName[pt]=Projecto Ant
GenericName[pt_BR]=Projeto Ant
GenericName[sr]=Ant пројекат
GenericName[sv]=Ant-projekt
GenericName[xx]=xxAnt Projectxx
ServiceTypes=KDevelop/Project
X-KDE-Library=libkdevantproject
X-KDevelop-Version=1
X-KDevelop-Args=
