[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=xUnit test runner
Comment[el]=Εκτέλεση ελέγχου xUnit
Comment[fr]=Exécuteur de test xUnit
Comment[ga]=Feidhmitheoir thástáil xUnit
Comment[gl]=Executor de probas xUnit
Comment[it]=Esecuzione di test xUnit
Comment[pt]=Execução de testes xUnit
Comment[pt_BR]=Execução de testes xUnit
Comment[sv]=X-enhetstestkörning
Comment[uk]=Засіб перевірки xUnit
Comment[x-test]=xxxUnit test runnerxx
Comment[zh_TW]=xUnit 測試執行者
Name=Xtest runner
Name[el]=Εκτέλεση Xtest
Name[fr]=Exécuteur Xtest
Name[ga]=Feidhmitheoir Xtest
Name[gl]=Executor de Xtest
Name[it]=Esecuzione di Xtest
Name[pt]=Execução do Xtest
Name[pt_BR]=Execução do Xtest
Name[sv]=X-testkörning
Name[uk]=Засіб запуску Xtest
Name[x-test]=xxXtest runnerxx
Name[zh_TW]=Xtest 執行者
GenericName=Unit test runner
GenericName[el]=Εκτέλεση ελέγχου Unit
GenericName[fr]=Exécuteur de test Unit
GenericName[ga]=Feidhmitheoir tástála aonad
GenericName[gl]=Executor de probas unitarias
GenericName[it]=Esecuzione di unità di test
GenericName[pt]=Execução de testes unitários
GenericName[pt_BR]=Execução de testes unitários
GenericName[sv]=Enhetstestkörning
GenericName[uk]=Засіб запуску перевірки модулів
GenericName[x-test]=xxUnit test runnerxx
GenericName[zh_TW]=Unit 測試執行者
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevxtest
X-KDE-PluginInfo-Name=kdevxtest
X-KDE-PluginInfo-Author=Manuel Breugelmans
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Version=6
X-KDevelop-Category=Global
X-KDevelop-Properties=GlobalFileManagement
