[Desktop Entry]
Icon=kdevelop
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdevcustomdefinesandincludes
X-KDE-ParentApp=kdevplatformproject
X-KDE-ParentComponents=KDevCustomDefinesAndIncludesManager

Name=Custom Defines And Includes

Comment=Configures which defines and includes will be added to the parser during parsing.