[Desktop Entry]
Type=Service
Name=DocKDevTOCPlugin
Exec=blubb
Comment=Documentation plugin for KDevelopTOC documentation
ServiceTypes=KDevelop/DocumentationPlugins
X-KDevelop-Version=5
X-KDE-Library=libdockdevtocplugin
