[Desktop Entry]
Type=Service
Name=DocKDevTOCPlugin
Exec=blubb
Comment=Documentation plugin for KDevelopTOC documentation
Comment[el]=Πρόσθετο τεκμηρίωσης για τεκμηρίωση τύπου KDevelopTOC
Comment[pt]='Plugin' de documentação para os documentos do KDevelopTOC
Comment[pt_BR]='Plugin' de documentação para os documentos do KDevelopTOC
Comment[uk]=Додаток для перегляду документації у форматі KDevelopTOC
ServiceTypes=KDevelop/DocumentationPlugins
X-KDevelop-Version=5
X-KDE-Library=libdockdevtocplugin
