[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KDevelop/VersionControl
Name=KDevelop Version Control Interface

[PropertyDef::X-KDevelop-VersionControlSystem]
Type=QString
