[KDE Desktop Entry]
BinaryPattern=kdevelop;
Type=Application
Exec=kdevelop -caption "%c" %i %m %u
MimeType=application/x-kdevelop-project;
Icon=kdevelop
DocPath=kdevelop2/index.html
Terminal=0
Name=KDevelop 3.0 pre 
Name[de]=KDevelop 3.0 pre
Name[fr]=KDevelop 3.0 pre 
Comment=An Integrated Development Environment for C++/Qt/KDE
Comment[de]=Eine Entwicklungsumgebung für KDE
Comment[fr]=Un Environnement de Développement Intégré pour C++/Qt/KDE
