[Desktop Entry]
Icon=kdevelop
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_makebuilder
X-KDE-FactoryName=kcm_kdev_makebuilder
X-KDE-ParentApp=kdevplatformproject
X-KDE-ParentComponents=KDevMakeBuilder
X-KDE-CfgDlgHierarchy=BUILDTOOL

Name=Make
Comment=Configure Make settings

