[Desktop Entry]
Type=Service
Exec=blubb
Comment=Concurrent Versions System (CVS)
Name=CVSInterface
ServiceTypes=KDevelop/VersionControl
X-KDE-Library=libkdevcvsinterface
