[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDevQMakeBuilder
Name[x-test]=xxKDevQMakeBuilderxx
Comment=Builds QMake Projects
Comment[es]=Construye proyectos QMake
Comment[x-test]=xxBuilds QMake Projectsxx
Icon=gear
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevqmakebuilder
X-KDE-PluginInfo-Name=KDevQMakeBuilder
X-KDevelop-ProjectBuilder=QMake
X-KDevelop-Version=4
X-KDevelop-Interfaces=org.kdevelop.IQMakeBuilder
X-KDevelop-IRequired=org.kdevelop.IOutputView,org.kdevelop.IMakeBuilder
