[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDevQMakeBuilder
Name[sv]=KDevelop QMake-byggverktyg
Name[x-test]=xxKDevQMakeBuilderxx
Comment=Builds QMake Projects
Comment[de]=Erstellt QMake-Projekte
Comment[el]=Κατασκευή έργων QMake
Comment[es]=Construye proyectos QMake
Comment[fa]=پروژه‌های QMake را می‌سازد
Comment[pa]=QMake ਪ੍ਰੋਜੈਕਟ ਬਣਾਓ
Comment[pt]=Compila Projectos do QMake
Comment[pt_BR]=Compila Projectos do QMake
Comment[sv]=Bygger QMake-projekt
Comment[x-test]=xxBuilds QMake Projectsxx
Comment[zh_TW]=建立 QMake 專案
Icon=gear
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevqmakebuilder
X-KDE-PluginInfo-Name=KDevQMakeBuilder
X-KDevelop-ProjectBuilder=QMake
X-KDevelop-Version=4
X-KDevelop-Category=Project
X-KDevelop-Interfaces=org.kdevelop.IQMakeBuilder
X-KDevelop-IRequired=org.kdevelop.IOutputView,org.kdevelop.IMakeBuilder
