<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="KDevXulSupport" version="1">
<MenuBar>
  <Menu name="build" >
    <Action name="build_view" />
  </Menu>
</MenuBar>
<ToolBar name="mainToolBar">
    <Action name="build_view" group="build_operations" />
</ToolBar>
</kpartgui>
