<!DOCTYPE kpartgui>
<kpartplugin name="filecreate" library="libfilecreateplugin" version="1">
<MenuBar>
 <Menu name="file">
   <Action name="file_new"/>
 </Menu>
</MenuBar>
<ToolBar name="extraToolBar">
  <Action name="file_new"/>
</ToolBar>
</kpartplugin>
