[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=FileCreate
Name=KDevFileCreate
Icon=kdevelop
ServiceTypes=KDevelop/CreateFile
X-KDE-Library=libkdevfilecreate
