[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=FileCreate
Comment[hu]=Fájl létrehozása
Comment[sv]=Skapa filer
Comment[xx]=xxFileCreatexx
Name=KDevFileCreate
Name[sv]=KDevelop skapa filer
Name[xx]=xxKDevFileCreatexx
GenericName=FileCreate
GenericName[hu]=fájllétrehozás
GenericName[sv]=Skapa filer
GenericName[xx]=xxFileCreatexx
Icon=kdevelop
ServiceTypes=KDevelop/CreateFile
X-KDE-Library=libkdevfilecreate
X-KDevelop-Version=1
