[Desktop Entry]
Encoding=UTF-8
Name=KDevDesignerPart
Name[x-test]=xxKDevDesignerPartxx
MimeType=application/x-designer
ServiceTypes=KDevelop/ReadOnlyPart,KDevelop/ReadWritePart
X-KDE-Library=kdevdesignerpart
Type=Service
InitialPreference=10

