[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Valgrind is a tool that helps you find memory management problems in programs. http://www.valgrind.org/
Comment[de]=Valgrind ist ein Werkzeug zum Auffinden von Speicherverwaltungsproblemen in Anwendungen. http://www.valgrind.org/
Comment[el]=Το Valgrind είναι ένα εργαλείο που βοηθά στην εύρεση προβλημάτων διαχείρισης μνήμης στα προγράμματα. http://www.valgrind.org/
Comment[es]=Valgrind es una herramienta que le ayuda a encontrar problemas de gestión de memoria en los programas. http://www.valgrind.org/
Comment[fa]=Valgrind ابزاری است که به شما کمک می‌کند تا مسائل مدیریت حافظه را در برنامه‌ها بیابید. http://www.valgrind.org/
Comment[fr]=Valgrind est un outil qui vous aide à trouver les problèmes de gestion de la mémoire dans les programmes. http://valgrind.org/
Comment[ga]=Uirlis é Valgrind a chabhraíonn leat fadhbanna a aimsiú a bhaineann le bainisteoireacht chuimhne i do ríomhchláir.  http://www.valgrind.org/
Comment[gl]=Valgrind é unha ferramenta que lle permite atopar problemas de xestión da memoria nos programas. http://www.valgrind.org/
Comment[it]=Valgrind è uno strumento che ti aiuta a trovare problemi di gestione della memoria nei programmi. http://www.valgrind.org/
Comment[ja]=Valgrind は、プログラム内のメモリ管理問題を発見することを手助けするツールです。http://valgrind.org/
Comment[ko]=Valgrind는 메모리 관리 문제를 찾아 주는 도구입니다. http://www.valgrind.org/를 참고하십시오.
Comment[lv]=Valgrind ir rīks, kas palīdz atrast atmiņas pārvaldības problēmas programmās. http://www.valgrind.org/
Comment[nds]=Mit dat Warktüüch Valgrind laat sik Spiekerpleegproblemen binnen Programmen opspören. (http://www.valgrind.org/)
Comment[ne]=भलग्रिन्ड एउटा उपकरण हो जसले कार्यक्रममा स्मृति व्यवस्थापन समस्याहरू फेला पार्न मद्दत गर्दछ । http://www.valgrind.org/
Comment[pl]=Valgrind jest narzędziem pomagającym znaleźć w programach problemy z zarządzaniem pamięcią. http://www.valgrind.org/
Comment[pt]=O Valgrind é uma ferramenta que o ajuda a descobrir os problemas de gestão de memória nos programas. http://www.valgrind.org/
Comment[pt_BR]=Valgrind é uma ferramenta ajuda você a encontrar problemas de gerenciamento de memória nos programas. http://www.valgrind.org/
Comment[sv]=Valgrind är ett verktyg som hjälper dig hitta minneshanteringsproblem i program. http://www.valgrind.org/
Comment[tr]=Valgrind uygulamalardaki bellek yönetimi sorunlarını bulmanıza yardımcı olan bir araçtır. http://www.valgrind.org/
Comment[uk]=Valgrind — це інструмент, що допомагатиме вам знаходити проблеми у керуванні пам’яттю, що виникають у програмах. http://www.valgrind.org/
Comment[x-test]=xxValgrind is a tool that helps you find memory management problems in programs. http://www.valgrind.org/xx
Comment[zh_CN]=Valgrind 是一个帮助您发现程序中内存管理错误的工具。http://www.valgrind.org/
Comment[zh_TW]=Valgrind 能協助您找到程式中記憶體管理上的問題。http://www.valgrind.org/
Name=KDevValgrind
Name[hi]=के-डेववेलग्रिंड
Name[ne]=केडीई विकास भलग्रिन्ड
Name[sv]=KDevelop valgrind
Name[x-test]=xxKDevValgrindxx
GenericName=Valgrind Frontend
GenericName[ca]=Entorn per a Valgrind
GenericName[da]=Valgrind-grænseflade
GenericName[de]=Oberfläche für Valgrind
GenericName[el]=Πρόγραμμα Valgrind
GenericName[es]=Interfaz para Valgrind
GenericName[et]=Valgrindi kasutajaliides
GenericName[eu]=Valgrind interfazea
GenericName[fa]=پایانۀ Valgrind
GenericName[fr]=Interface de Valgrind
GenericName[ga]=Comhéadan Valgrind
GenericName[gl]=Interface para Valgrind
GenericName[hi]=वेलग्रिन्ड फ्रन्टएण्ड
GenericName[hu]=Valgrind-kezelő
GenericName[it]=Interfaccia a Valgrind
GenericName[ja]=Valgrind フロントエンド
GenericName[ko]=Valgrind 프론트엔드
GenericName[lv]=Valgrind priekšpuse
GenericName[ms]=Frontend Valgrind
GenericName[nds]=Valgrind-Böversiet
GenericName[ne]=भलग्रिन्ड फ्रन्टइन्ड
GenericName[nl]=Valgrind-frontend
GenericName[pl]=Interfejs do Valgrinda
GenericName[pt]=Interface para o Valgrind
GenericName[pt_BR]=Interface para o Valgrind
GenericName[ru]=Интерфейс к Valgrind
GenericName[sk]=Valgrind rozhranie
GenericName[sl]=VMesnik za Valgrind
GenericName[sv]=Valgrind-gränssnitt
GenericName[ta]=Valgrind முன் பகுதி
GenericName[tg]=Интерфейс дар Valgrind 
GenericName[tr]=Valgrind Önucu
GenericName[uk]=Клієнтська програма Valgrind
GenericName[x-test]=xxValgrind Frontendxx
GenericName[zh_CN]=Valgrind 前端
GenericName[zh_TW]=Valgrind 前端介面
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevvalgrind
X-KDevelop-Version=6
X-KDevelop-Properties=CodeNavigation
X-KDE-PluginInfo-Name=kdevvalgrind
X-KDE-PluginInfo-Author=Harald Fernengel, Hamish Rodda
X-KDE-PluginInfo-License=GPL
X-KDevelop-Category=Global
X-KDevelop-Interfaces=org.kdevelop.IRunProvider
