[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=VisualBoyAdvance
Name=KDevVisualBoyAdvance
Icon=kdevelop
ServiceTypes=KDevelop/Part
X-KDE-Library=libkdevvisualboyadvance
X-KDevelop-Scope=Project
Keywords=GBA