[Desktop Entry]
Type=Service
Name=DocQtPlugin
Name[pt_BR]=DocPDBPlugin
Name[sv]=Qt-dokumentationsinsticksmodul
Name[x-test]=xxDocQtPluginxx
Exec=blubb
Comment=Documentation plugin for Qt DCF documentation
Comment[el]=Πρόσθετο τεκμηρίωσης για τεκμηρίωση τύπου Qt DCF
Comment[es]=Complemento para la documentación DCF de Qt
Comment[fr]=Module externe Documentation pour la documentation Qt DCF
Comment[gl]=Extensión de documentación do Qt DCF
Comment[lv]=Dokumentācijas spraudnis priekš Qt DCF dokumentācijas
Comment[nds]=Dokmentatschoon-Moduul för Qt-DCF-Dokmentatschoon
Comment[pt]='Plugin' de documentação para a documentação DCF do Qt
Comment[pt_BR]=Extensão de documentação para o Qt DCF
Comment[sv]=Dokumentationsinsticksmodul för Qt DCF-dokumentation
Comment[tr]=Qt DCF  belgeleri için belgelendirme eklentisi
Comment[uk]=Додаток для перегляду документації у форматі Qt DCF
Comment[x-test]=xxDocumentation plugin for Qt DCF documentationxx
Comment[zh_CN]=Qt DCF 文档的文档插件
Comment[zh_TW]=Qt DCF 文件的外掛程式
ServiceTypes=KDevelop/DocumentationPlugins
X-KDevelop-Version=5
X-KDE-Library=libdocqtplugin
