[Desktop Entry]
Encoding=UTF-8
Comment=NEdit support
Comment[ca]=Suport per a NEdit
Comment[da]=NEdit støtte
Comment[de]=NEdit-Unterstützung
Comment[es]=Soporte para NEdit
Comment[et]=NEDiti toetus
Comment[fr]=Un module externe pour la gestion du programme « nedit ».
Comment[hi]=एन-एडिट समर्थन
Comment[hu]=NEdit-támogatás
Comment[is]=NEdit stuðningur
Comment[it]=Supporto per NEdit
Comment[nb]=NEdit-støtte
Comment[nl]=Ondersteuning voor NEdit
Comment[pl]=Obsługa NEdit-a
Comment[pt]=Suporte ao NEdit
Comment[pt_BR]=Suporte ao NEdit
Comment[ru]=Поддержка редактора NEdit
Comment[sl]=Podpora NEdit
Comment[sr]=Подршка за NEdit
Comment[sr@Latn]=Podrška za NEdit
Comment[sv]=Nedit-stöd
Comment[ta]=Nதொகுப்பு ஆதரவு
Comment[xx]=xxNEdit supportxx
Comment[zh_CN]=NEdit支持
Name=NEdit
Name[hi]=एन-एडिट
Name[sv]=Nedit
Name[ta]=Nதொகுப்பு
Name[xx]=xxNEditxx
GenericName=NEdit support
GenericName[ca]=Suport per a NEdit
GenericName[da]=NEdit støtte
GenericName[de]=NEdit-Unterstützung
GenericName[es]=Soporte para NEdit
GenericName[et]=NEDiti toetus
GenericName[fr]=Gestion de NEdit
GenericName[hi]=एन-एडिट समर्थन
GenericName[hu]=NEdit-támogatás
GenericName[it]=Supporto per NEdit
GenericName[nb]=NEdit-støtte
GenericName[nl]=Ondersteuning voor NEdit
GenericName[pl]=Obsługa NEdit-a
GenericName[pt]=Suporte ao NEdit
GenericName[pt_BR]=Suporte ao NEdit
GenericName[ru]=Поддержка редактора NEdit
GenericName[sl]=Podpora NEdit
GenericName[sr]=Подршка за NEdit
GenericName[sr@Latn]=Podrška za NEdit
GenericName[sv]=Nedit-stöd
GenericName[ta]=Nதொகுப்பு ஆதரவு
GenericName[xx]=xxNEdit supportxx
GenericName[zh_CN]=NEdit支持
X-KDE-Library=libkneditpart
X-KDevelop-Version=1
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;text/x-diff;
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart,KTextEditor/Document,KTextEditor/Editor
Type=Service
InitialPreference=8
