[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDevelop subversion module
Name[ca]=Mòdul de Subversion per a KDevelop
Name[de]=Subversion-Komponente (KDevelop)
Name[es]=Módulo de Subversion de KDevelop
Name[it]=Modulo subversion di KDevelop
Name[ms]=Modul Subversion KDevelop
Name[nds]=KDevelop-Moduul för Subversion
Name[pt]=Módulo de Subversion do KDevelop
Name[pt_BR]=Módulo de Subversion do KDevelop
Name[sv]=KDevelop Subversion-modul
ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=kdevsvnd
X-KDE-FactoryName=kdevsvnd
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
