[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Subversion
Comment[es]=Subversión
Comment[hi]=सबवर्सन
Comment[pt_BR]=Subversão
Comment[ru]=Интеграция Subversion
Comment[sv]=Delversion
Comment[ta]=உப பதிப்பு
Comment[tg]=Интегратсия Subversion
Comment[xx]=xxSubversionxx
Name=KDevsubversion
Name[da]=KDevelop Subversion
Name[de]=Unterstützung für Subversion (KDevelop)
Name[hi]=के-डेव-सबवर्सन
Name[sv]=KDevelop delversion
Name[ta]=kdev உப பதிப்பு
Name[tg]=KDevзер-ривоят
Name[xx]=xxKDevsubversionxx
GenericName=Subversion
GenericName[es]=Subversión
GenericName[hi]=सबवर्सन
GenericName[pt_BR]=Subversão
GenericName[ru]=Интеграция Subversion
GenericName[sv]=Delversion
GenericName[ta]=துணை பதிப்பு
GenericName[tg]=Зер-ривоят
GenericName[xx]=xxSubversionxx
Icon=misc
ServiceTypes=KDevelop/VersionControl
X-KDE-Library=libkdevsubversion
X-KDevelop-Version=3
X-KDevelop-Properties=VCS,SubversionVCS
