<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kdevcodeutils" version="7" translationDomain="kdevcodeutils">
<MenuBar>
  <Menu name="code">
    <Text context="@title:menu">Code</Text>
    <Action name="document_declaration" />
    <Action name="class_from_template" />
    <Action name="test_from_template" />
  </Menu>
</MenuBar>
</kpartgui>

