[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Ada Project
Comment[fr]=Un module externe pour la gestion de projet avec le langage ADA.
Name=KDevAdaProject
GenericName=Ada Project
GenericName[fr]=Projet avec ADA
ServiceTypes=KDevelop/Project
X-KDE-Library=libkdevadaproject
X-KDevelop-Language=Ada
