[Desktop Entry]
Type=Service
Name=KDevMakeBuilder
Name[sv]=KDevelop MakeBuilder
Name[xx]=xxKDevMakeBuilderxx
Comment=KDevelop Automake Importer
Comment[de]=Automake-Import für KDevelop
Comment[es]=Importador de Automake de KDevelop
Comment[et]=KDevelopi Automake'i importija
Comment[fr]=Importation d'Automake pour KDevelop
Comment[hu]=KDevelop Automake-importáló
Comment[it]=Importatore per automake di KDevelop
Comment[pl]=KDevelop: importowanie automake
Comment[pt]=Importador de Automake do KDevelop
Comment[pt_BR]=Importador Automake do KDevelop Automake
Comment[ru]=Импорт проектов Automake
Comment[sr]=KDevelop-ов automake увозник
Comment[sr@Latn]=KDevelop-ov automake uvoznik
Comment[sv]=KDevelop Automake-import
Comment[xx]=xxKDevelop Automake Importerxx
Icon=gear
ServiceTypes=KDevelop/ProjectBuilder
X-KDE-Library=libkdevmakebuilder
X-KDevelop-ProjectBuilder=
X-KDevelop-Version=3
