[Desktop Entry]
Type=Service
Name=Custom Makefile Project Manager
Name[es]=Gestor de proyecto Makefile personalizado
Name[fr]=Gestionnaire de projets Makefiles personnalisés
Name[it]=Gestore progetto Makefile personalizzato
Name[ja]=カスタム Makefile プロジェクトマネージャ
Name[nds]=Egen-Makefile-Projektpleger
Name[pt]=Gestor de Projectos de Makefiles Personalizadas
Name[pt_BR]=Gestor de Projectos de Makefiles Personalizadas
Name[ru]=Работа с проектами на основе вручную составляемых файлов Makefile
Name[sv]=Projekthantering av egna Make-filer
Name[tr]=Özel Makefile Proje Yönetici
Name[uk]=Керування проектами з власним Makefile
Name[x-test]=xxCustom Makefile Project Managerxx
Name[zh_CN]=自定义 Makefile 工程管理器
Name[zh_TW]=自訂 Makefile 專案管理員
Comment=Imports and edits custom make projects
Comment[de]=Importiert und bearbeitet benutzerdefinierte Make-Projekte
Comment[el]=Εισαγωγή και επεξεργασία έργων προσαρμοσμένου make
Comment[es]=Importa y edita proyectos make personalizados
Comment[et]=Kohandatud make'i projektide import ja redigeerimine
Comment[fa]=پروژه‌های make سفارشی را وارد و ویرایش می‌کند
Comment[fr]=Importe et modifie des projets Make personnalisés
Comment[ga]=Iompórtáil tionscadail shaincheaptha make agus cuir iad in eagar
Comment[gl]=Importa e edita proxectos que usen un sistema make personalizado
Comment[hi]=मनपसंद मेक परियोजनाओं को संपादित व आयातित करने देता है
Comment[hne]=मनमाफिक मेक परियोजनाओं ल संपादित अउ आयातित करन देथे 
Comment[it]=Importa e modifica i progetti personalizzati di Make
Comment[ja]=カスタム Make プロジェクトのインポートと編集を行います
Comment[ko]=사용자 정의 Make 프로젝트를 불러오고 관리합니다
Comment[lv]=Importē un rediģēt paštaisītus make projektus
Comment[nds]=Egen Make-Projekten importeren un bewerken
Comment[ne]=अनुकूल निर्माण परियोजना आयात गर्दछ र सम्पादन गर्दछ
Comment[pl]=Import i modyfikacja projektów używających własnych skryptów wykorzystujących make
Comment[pt]=Importa e edita projectos personalizados do make
Comment[pt_BR]=Importa e edita projetos make personalizados
Comment[ru]=Импорт и редактирование проектами на основе вручную составляемых файлов makefile
Comment[sv]=Importerar och redigerar egna projekt som använder Make
Comment[tr]=Özel make projelerini içeriye aktarır ve düzenler
Comment[uk]=Імпортує і змінює проекти нетипових make
Comment[x-test]=xxImports and edits custom make projectsxx
Comment[zh_CN]=导入并编辑定制 make 工程
Comment[zh_TW]=匯入並編輯自訂的 make 專案
Icon=gear
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevcustommakemanager
X-KDE-PluginInfo-Name=KDevCustomMakeManager
X-KDevelop-FileManager=CustomMake
X-KDevelop-Version=6
X-KDevelop-Interfaces=org.kdevelop.IBuildSystemManager,org.kdevelop.IProjectFileManager
X-KDevelop-IRequired=org.kdevelop.IMakeBuilder
X-KDevelop-Mode=NoGUI
X-KDevelop-ProjectFilesFilter=GNUmakefile,Makefile,makefile,GNUmakefile.*,Makefile.*,makefile.*
X-KDevelop-ProjectFilesFilterDescription=Makefiles
