[Desktop Entry]
Encoding=UTF-8
Exec=%{APPNAMELC}.kss
Icon=kscreensaver
Type=Application
Actions=Setup;InWindow;Root
X-KDE-Category=Miscellaneous
Name=%{APPNAME}
Name[xx]=xx%{APPNAME}xx

[Desktop Action Setup]
Exec=%{APPNAMELC}.kss -setup
Name=Setup...
Name[af]=Opstelling...
Name[ar]=إعداد...
Name[az]=Qurulum...
Name[bg]=Настройки...
Name[bn]=সেট-আপ...
Name[br]=Kefluniadur...
Name[bs]=Postavke...
Name[ca]=Configuració...
Name[cs]=Nastavení...
Name[cy]=Gosod...
Name[da]=Opsætning...
Name[de]=Einrichtung...
Name[el]=Ρύθμιση...
Name[eo]=Agordo...
Name[es]=Configuración...
Name[et]=Seadistused...
Name[eu]=Konfigurazioa...
Name[fa]=تنظیمات ...
Name[fi]=Asetukset...
Name[fr]=Configuration...
Name[gl]=Configuración...
Name[he]=הגדרות...
Name[hi]=सेटअप...
Name[hr]=Postavke...
Name[hu]=Beállítás...
Name[id]=Aturan...
Name[is]=Stillingar...
Name[it]=Impostazioni...
Name[ja]=セットアップ...
Name[ko]=설정...
Name[lo]=ຕິດຕັ້ງ..
Name[lt]=Nustatymas...
Name[lv]=Uzstādīšana...
Name[mn]=Тохируулга...
Name[nb]=Tilpass ...
Name[nds]=Instellen...
Name[nl]=Instellingen...
Name[nn]=Oppsett ...
Name[nso]=Beakanya...
Name[oc]=Configuracion...
Name[pa]=ਸੈੱਟਅੱਪ...
Name[pl]=Ustawienia...
Name[pt]=Configurar...
Name[pt_BR]=Configurar...
Name[ro]=Opţiuni...
Name[ru]=Настройка...
Name[se]=Heiveheapmi ...
Name[sk]=Nastavenie...
Name[sl]=Nastavitve ...
Name[sr]=Подеси...
Name[sr@Latn]=Podesi...
Name[ss]=Lungiselela...
Name[sv]=Inställningar...
Name[ta]=அமைப்பு...
Name[tg]=Танзимот...
Name[th]=ตั้งค่า...
Name[tr]=Kurulum...
Name[uk]=Встановити...
Name[uz]=Ўрнатиш
Name[ven]=Vhekanya...
Name[vi]=Cài đặt...
Name[wa]=Apontyî...
Name[xh]=Iyacwangciswa...
Name[xx]=xxSetup...xx
Name[zh_CN]=设置...
Name[zh_TW]=設定...
Name[zu]=Iyalungiselela...
Icon=kscreensaver

[Desktop Action InWindow]
Exec=%{APPNAMELC}.kss -window-id %w
Name=Display in Specified Window
Name[bg]=Стартиране в избран прозорец
Name[bs]=Prikaži u navedenom prozoru
Name[ca]=Mostra a la finestra especificada
Name[cs]=Zobrazit v určeném okně
Name[cy]=Dangos mewn Ffenestr Benodol
Name[da]=Visning i angivet vindue
Name[de]=In angegebenem Fenster anzeigen
Name[eo]=Montru en indikita fenestro
Name[es]=Mostrar en la ventana especificada
Name[et]=Määratud aknas näitamine
Name[fi]=Näytä määrätyssä ikkunassa
Name[fr]=Affichage dans la fenêtre spécifiée
Name[hu]=Megjelenítés egy megadott ablakban
Name[it]=Mostra nella finestra specificata
Name[nb]=Vis i det oppgitte vinduet
Name[nl]=In een gedefinieerd venster weergeven
Name[nn]=Vis i vald vindauge
Name[pa]=ਨਿਰਧਾਰਿਤ ਝਰੋਖਾ ਵਿੱਚ ਵੇਖਾਓ
Name[pl]=Wyświetl w podanym oknie
Name[pt]=Mostrar na Janela Indicada
Name[pt_BR]=Mostrar em janela especificada
Name[ro]=Afişează în fereastra specificată
Name[ru]=Отображать в указанном окне
Name[sk]=Zobraziť v zadanom okne
Name[sl]=Prikaz v določenemu oknu
Name[sr]=Прикажи у задатом прозору
Name[sr@Latn]=Прикажи у задатом прозору
Name[sv]=Visa i angivet fönster
Name[ta]=குறிப்பிடப்பட்ட சாளரத்தில் காட்டு
Name[tr]=Belirtilen Pencerede Göster
Name[uk]=Відобразити у вказаному вікні
Name[uz]=Кўрсатилган ойнада кўрсатиш
Name[xx]=xxDisplay in Specified Windowxx
Name[zh_CN]=在指定的窗口中显示
NoDisplay=true

[Desktop Action Root]
Exec=%{APPNAMELC}.kss -root
Name=Display in Root Window
Name[bg]=Стартиране в главния прозорец
Name[bs]=Prikaži u korijenskom prozoru
Name[ca]=Mostra a la finestra root
Name[cs]=Zobrazit na pozadí plochy
Name[cy]=Dangos mewn Ffenestr Wraidd
Name[da]=Visning i root-vindue
Name[de]=Im Basisfenster (Root Window) anzeigen
Name[eo]=Montru en radika fenestro
Name[es]=Mostrar en la ventana raíz
Name[et]=Juuraknas näitamine
Name[fi]=Näytä juuri-ikkunassa
Name[fr]=Affichage dans la fenêtre racine
Name[hu]=Megjelenítés a gyökérablakban
Name[it]=Mostra sulla finestra di sfondo
Name[nb]=Vis i rotvinduet
Name[nl]=In hoofdvenster weergeven
Name[nn]=Vis i rotvindauget
Name[pa]=ਰੂਟ(Root) ਝਰੋਖੇ ਵਿੱਚ ਵੇਖਾਓ
Name[pl]=Wyświetl w oknie głównym
Name[pt]=Mostrar na Janela de Fundo
Name[pt_BR]=Mostrar na janela-raiz
Name[ro]=Afişează în fereastra rădăcină
Name[ru]=Отображать в корневом окне
Name[sk]=Zobraziť v koreňovom okne
Name[sl]=Prikaz v korenskem oknu
Name[sr]=Прикажи у кореном прозору
Name[sr@Latn]=Прикажи у кореном прозору
Name[sv]=Visa i rotfönstret
Name[ta]=மூல சாளரத்தில் காட்டு
Name[tr]=Kök Pencerede Göster
Name[uk]=Відобразити на тлі екрана
Name[uz]=Туб ойнада кўрсатиш
Name[xx]=xxDisplay in Root Windowxx
Name[zh_CN]=在根窗口中显示
NoDisplay=true
