[Desktop Entry]
Encoding=UTF-8
Exec=%{APPNAMELC}.kss
Icon=kscreensaver
Type=Application
Actions=Setup;InWindow;Root
X-KDE-Category=Miscellaneous
Name=%{APPNAME}

[Desktop Action Setup]
Exec=%{APPNAMELC}.kss -setup
Name=Setup...
Name[br]=Kefluniadur ...
Name[cy]=Gosod ...
Name[da]=Opsætning...
Name[de]=Einrichtung...
Name[el]=Ρύθμιση...
Name[es]=Configuración...
Name[et]=Häälestus...
Name[eu]=Konfiguratu...
Name[fr]=Configuration...
Name[ga]=Cumraigh...
Name[hu]=Beállítások...
Name[it]=Imposta...
Name[lt]=Nustatymas...
Name[nl]=Instellen...
Name[pl]=Ustawienia...
Name[pt]=Configurar...
Name[pt_BR]=Configurar...
Name[ru]=Настроить...
Name[rw]=Iboneza...
Name[sl]=Nastavi ...
Name[sr]=Постављање...
Name[sr@Latn]=Postavljanje...
Name[sv]=Inställning...
Name[tr]=Kurulum...
Name[uk]=Налаштувати...
Name[zh_CN]=设置...
Icon=kscreensaver

[Desktop Action InWindow]
Exec=%{APPNAMELC}.kss -window-id %w
Name=Display in Specified Window
Name[br]=Diskwel er prenestr spisaet
Name[cy]=Dangos mewn Ffenestr Benodol
Name[da]=Vis i specificeret vindue
Name[de]=Im angegebenen Fenster anzeigen
Name[el]=Προβολή στο ορισμένο παράθυρο
Name[es]=Mostrar en la ventana especificada
Name[et]=Kuva määratud aknas
Name[eu]=Bistaratu zehaztutako lehioan
Name[fr]=Afficher dans la fenêtre spécifiée
Name[ga]=Taispeáin san Fhuinneog Sonraithe
Name[hu]=Megjelenítés egy adott ablakban
Name[it]=Mostra in una finestra specificata
Name[lt]=Rodyti nurodytame lange
Name[nl]=Weergave in aangegeven venster
Name[pl]=Pokazywanie w podanym oknie
Name[pt]=Mostrar na Janela Indicada
Name[pt_BR]=Exibir na Janela Especificada
Name[ru]=Показать в указанном окне
Name[rw]=Kwerekana mu Idirishya Ryihariye
Name[sl]=Prikaži v določenem oknu
Name[sr]=Прикажи у наведеном прозору
Name[sr@Latn]=Prikaži u navedenom prozoru
Name[sv]=Visa i angivet fönster
Name[tr]=Belirtilen Pencerede Göster
Name[uk]=Відобразити у вказаному вікні
Name[zh_CN]=在指定窗口中显示
NoDisplay=true

[Desktop Action Root]
Exec=%{APPNAMELC}.kss -root
Name=Display in Root Window
Name[br]=Diskwel er prenestr gwrizienn
Name[cy]=Dangos mewn Ffenestr Wraidd
Name[da]=Vis i rod-vindue
Name[de]=Im Root-Fenster anzeigen
Name[el]=Προβολή στο βασικό παράθυρο
Name[es]=Mostrar en la ventana raíz
Name[et]=Kuva juuraknas
Name[eu]=Bistaratu erro-lehioan
Name[fr]=Afficher dans la fenêtre racine
Name[ga]=Taispeáin sa bhFréamhfhuinneog
Name[hu]=Megjelenítés a gyökérablakban
Name[it]=Mostra in una finestra di amministazione
Name[lt]=Rodyti root lange
Name[nl]=Weergave in hoofdvenster
Name[pl]=Pokazywanie w głównym oknie
Name[pt]=Mostrar na Janela de Fundo
Name[pt_BR]=Exibir na Janela Raiz
Name[ru]=Показать в главном окне
Name[rw]=Kwerekana mu Idirishya Umuzi
Name[sl]=Prikaži v korenskem oknu
Name[sr]=Прикажи у кореном прозору
Name[sr@Latn]=Prikaži u korenom prozoru
Name[sv]=Visa i rotfönster
Name[tr]=Kök Pencerede Göster
Name[uk]=Відобразити в кореневому вікні
Name[zh_CN]=在根窗口中显示
NoDisplay=true
