[Desktop Entry]
Type=Service
Icon=cmake
Exec=blubb
Comment=This plugin finds CTest unit tests
Name=CTest Finder
GenericName=CTest Finder
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevctestfinder
X-KDevelop-Version=14
X-KDevelop-Category=Global
X-KDE-PluginInfo-Name=kdevctestfinder
X-KDE-PluginInfo-Author=Miha Čančula
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Testing
X-KDevelop-Mode=NoGUI
