[General]
Name=PyUnit
Name[de]=PyUnit
Name[es]=PyUnit
Name[gl]=PyUnit
Name[nl]=PyUnit
Name[pt]=PyUnit
Name[pt_BR]=PyUnit
Name[sv]=PyUnit
Name[uk]=PyUnit
Name[x-test]=xxPyUnitxx
Comment=A unit test using the PyUnit framework
Comment[es]=Una prueba unitaria que usa la infraestructura PyUnit
Comment[gl]=Unha proba de unidades que emprega a infraestrutura de PyUnit
Comment[nl]=Een test van een eenheid met gebruik van het framework PyUnit
Comment[pt]=Um teste unitário que usa a plataforma do PyUnit
Comment[pt_BR]=Teste unitário que usa a plataforma PyUnit
Comment[sv]=En enhetstest som använder ramverket PyUnit
Comment[uk]=Перевірка модулів за допомогою комплексу PyUnit
Comment[x-test]=xxA unit test using the PyUnit frameworkxx
Category=Python/Basic
Language=Python
Language[de]=Python
Language[es]=Python
Language[gl]=Python
Language[nl]=Python
Language[pt]=Python
Language[pt_BR]=Python
Language[sv]=Python
Language[uk]=Python
Language[x-test]=xxPythonxx
Type=Test
Files=Implementation

[Implementation]
Name=Implementation
Name[cs]=Implementace
Name[de]=Implementation
Name[es]=Implementación
Name[fi]=Toteutus
Name[gl]=Implementación
Name[nl]=Implementatie
Name[pt]=Implementação
Name[pt_BR]=Implementação
Name[sv]=Implementering
Name[uk]=Реалізація
Name[x-test]=xxImplementationxx
File=class.py
OutputFile={{ name }}.py

