# KDE Config File
[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=ghc --make
Comment=Glasgow Haskell Compiler
Comment[br]=Dastumer Haskell Glasgow
Comment[ca]=Compilador Haskell de Glasgow
Comment[da]=Glasgow Haskell oversætter
Comment[el]=Μεταγλωττιστής Glasgow Haskell
Comment[es]=Compilador Glasgow Haskell
Comment[et]=Glasgow Haskelli kompilaator
Comment[eu]=Glasgow Haskell konpiladorea
Comment[fr]=Compilateur Haskell de Glasgow
Comment[ga]=Tiomsaitheoir Haskell Glaschú
Comment[hi]=ग्लॉसगो हैसकेल कम्पायलर
Comment[hu]=Glasgow Haskell fordítóprogram
Comment[is]=Glasgow Haskell þýðandi
Comment[it]=Compilatore per Glasgow Haskell
Comment[ja]=Glasgow Haskell コンパイラ
Comment[nb]=Glasgow Haskell-kompilator
Comment[nds]=Glasgow Haskell-Kompilerer
Comment[nl]=Glasgow Haskell-compiler
Comment[pl]=Kompilator Glasgow Haskell
Comment[pt]=Compilador Glasgow Haskell
Comment[pt_BR]=Compilador Glasgow Haskell
Comment[ru]=Компилятор Glasgow Haskell
Comment[sk]=Glasgow Haskell kompilátor
Comment[sl]=Prevajalnik za Glasgow Haskell
Comment[sr]=Глазговски преводилац Haskell-а
Comment[sr@Latn]=Glazgovski prevodilac Haskell-a
Comment[sv]=Glasgow Haskell-kompilator
Comment[ta]=கிலாஸ்கொ ஹாஸ்கெல் தொகுப்பி
Comment[tg]=Талфифгари Glasgow Haskell
Comment[tr]=Glasgow Haskell Derleyicisi
Comment[zh_CN]=Glasgow Haskell 编译器
Name=GhcOptions
Name[da]=Glasgow Haskell indstillinger
Name[de]=Ghc-Einstellungen (KDevelop)
Name[hi]=जीएचसी-विकल्प
Name[nds]=Ghc-Instellen (KDevelop)
Name[pl]=Opcje Ghc
Name[sk]=Ghc možnosti
Name[sl]=Možnosti Ghc
Name[sv]=Alternativ för ghc
Name[ta]=Ghc விருப்பங்கள் 
Name[tg]=GhcИнтихобҳо
ServiceTypes=KDevelop/CompilerOptions
X-KDE-Library=libkdevghcoptions
X-KDevelop-Language=Haskell
X-KDevelop-Args=ghc --make
X-KDevelop-Default=true
X-KDevelop-Version=3
