[General]
Name=QTestLib with KDE
Name[el]=QTestLib με KDE
Name[es]=QTestLib con KDE
Name[nl]=QTestLib met KDE
Name[pt]=QTestLib com o KDE
Name[pt_BR]=QTestLib com o KDE
Name[uk]=QTestLib з KDE
Name[x-test]=xxQTestLib with KDExx
Comment=A unit test using the QTest library with KDE extensions
Comment[el]=Ένα unit test με χρήση βιβλιοθήκης QTest και επεκτάσεις KDE
Comment[es]=Una prueba unitaria que usa la biblioteca QTest con extensiones de KDE
Comment[nl]=Een test van een eenheid met gebruik van de QTest-bibliotheek met KDE-extensies
Comment[pt]=Um teste unitário, usando a biblioteca QTest, com as extensões do KDE
Comment[pt_BR]=Teste unitário que usa a biblioteca QTest com as extensões do KDE
Comment[uk]=Перевірка модулів за допомогою бібліотеки QTest з розширеннями KDE
Comment[x-test]=xxA unit test using the QTest library with KDE extensionsxx
Category=Test/C++
Files=Header,Implementation

[Header]
Name=Header
Name[el]=Header
Name[es]=Cabecera
Name[nl]=Kop
Name[pt]=Inclusão
Name[pt_BR]=Cabeçalho
Name[uk]=Заголовок
Name[x-test]=xxHeaderxx
File=class.h
OutputFile={{ name }}.h

[Implementation]
Name=Implementation
Name[cs]=Implementace
Name[el]=Υλοποίηση
Name[es]=Implementación
Name[nl]=Implementatie
Name[pt]=Implementação
Name[pt_BR]=Implementação
Name[sv]=Implementering
Name[uk]=Реалізація
Name[x-test]=xxImplementationxx
File=class.cpp
OutputFile={{ name }}.cpp

