[General]
Name=QTestLib with KDE
Name[da]=QTestLib med KDE
Name[el]=QTestLib με KDE
Name[es]=QTestLib con KDE
Name[et]=QTestLib KDE-ga
Name[gl]=QTestLib con KDE
Name[hu]=QTestLib KDE-vel
Name[nb]=QTestLib med KDE
Name[nl]=QTestLib met KDE
Name[pl]=QTestLib z KDE
Name[pt]=QTestLib com o KDE
Name[pt_BR]=QTestLib com o KDE
Name[sl]=QTestLib z KDE
Name[sv]=QTest-bibliotek med KDE
Name[uk]=QTestLib з KDE
Name[x-test]=xxQTestLib with KDExx
Name[zh_TW]=QTestLib 含 KDE 延伸
Comment=A unit test using the QTest library with KDE extensions
Comment[da]=En unittest-suite som bruger biblioteket QTest med udvidelser til KDE
Comment[el]=Ένα unit test με χρήση βιβλιοθήκης QTest και επεκτάσεις KDE
Comment[es]=Una prueba unitaria que usa la biblioteca QTest con extensiones de KDE
Comment[et]=Unit test QTesti teegi abil KDE laiendustega
Comment[gl]=Unha proba unitaria empregando a biblioteca QTest con extensións de KDE.
Comment[hu]=Egy egységteszt a QTest könyvtár használatával KDE kiterjesztésekkel
Comment[nb]=En enhetstest som bruker QTest-biblioteket med KDE-utvidelser
Comment[nl]=Een test van een eenheid met gebruik van de QTest-bibliotheek met KDE-extensies
Comment[pl]=Jednostka zestawu testowego wykorzystująca bibliotekę QTest z rozszerzeniami KDE
Comment[pt]=Um teste unitário, usando a biblioteca QTest, com as extensões do KDE
Comment[pt_BR]=Teste unitário que usa a biblioteca QTest com as extensões do KDE
Comment[sl]=Preizkus enot z uporabo knjižnice QTest z razširitvami za KDE
Comment[sv]=En enhetstest som använder QTest-biblioteket med KDE-utökningar
Comment[uk]=Перевірка модулів за допомогою бібліотеки QTest з розширеннями KDE
Comment[x-test]=xxA unit test using the QTest library with KDE extensionsxx
Comment[zh_TW]=單元測試套件，用 QTest 函式庫，含 KDE 延伸
Category=C++/KDE
Language=C++
Language[bs]=C++
Language[da]=C++
Language[de]=C++
Language[el]=C++
Language[es]=C++
Language[et]=C++
Language[ga]=C++
Language[gl]=C++
Language[hu]=C++
Language[nb]=C++
Language[nl]=C++
Language[nn]=C++
Language[pl]=C++
Language[pt]=C++
Language[pt_BR]=C++
Language[se]=C++
Language[sl]=C++
Language[sv]=C++
Language[uk]=C++
Language[x-test]=xxC++xx
Language[zh_TW]=C++
Type=Test
Files=Header,Implementation

[Header]
Name=Header
Name[da]=Header
Name[el]=Header
Name[es]=Cabecera
Name[et]=Päis
Name[gl]=Cabeceira
Name[hu]=Fejléc
Name[nb]=Hode
Name[nl]=Kop
Name[pl]=Nagłówek
Name[pt]=Inclusão
Name[pt_BR]=Cabeçalho
Name[sk]=Hlavička
Name[sl]=Glava
Name[sv]=Deklaration
Name[uk]=Заголовок
Name[x-test]=xxHeaderxx
Name[zh_TW]=標頭
File=class.h
OutputFile={{ name }}.h

[Implementation]
Name=Implementation
Name[cs]=Implementace
Name[da]=Implementering
Name[de]=Implementation
Name[el]=Υλοποίηση
Name[es]=Implementación
Name[et]=Teostus
Name[fi]=Toteutus
Name[gl]=Definición
Name[hu]=Megvalósítás
Name[nb]=Implementering
Name[nl]=Implementatie
Name[pl]=Implementacja
Name[pt]=Implementação
Name[pt_BR]=Implementação
Name[sk]=Implementácia
Name[sl]=Izvedba
Name[sv]=Implementering
Name[uk]=Реалізація
Name[x-test]=xxImplementationxx
Name[zh_TW]=實作
File=class.cpp
OutputFile={{ name }}.cpp

