[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Documentation
Name=KDevDocumentation
GenericName=Documentation
Icon=mini-book1
ServiceTypes=KDevelop/Plugin
X-KDevelop-Scope=Global
X-KDE-Library=libkdevdocumentation
X-KDevelop-Version=1
