[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=A plugin for formatting of sourcecode according to a specified set of rules. When loaded it is found in the Tools menu.
Comment[ca]=Un connector per a donar format al codi font d'acord a una sèrie de regles especificades. Quan està carregat apareixerà en el menú Eines.
Comment[da]=Et plugin til at formatere kildekode ifølge et angivet sæt regler. Når det er indlæst er det i værktøjsmenuen.
Comment[de]=Ein Plugin zur Formatierung der Quelltexte nach vorgebenen Regeln. Ist das Plugin geladen, kann es über das Menü Werkzeuge aufgerufen werden.
Comment[el]=Ένα πρόσθετο για τη μορφοποίηση του πηγαίου κώδικα σύμφωνα με το ορισμένο σύνολο κανόνων. Όταν φορτωθεί μπορεί να βρεθεί στο μενού εργαλείων.
Comment[es]=Un plugin para dar formato al código fuente de acuerdo una serie de reglas especificadas. Cuando está cargado, aparece en el menú Herramientas.
Comment[et]=Plugin lähtekoodi vormindamiseks vastavalt konkreetsetele reeglitele. Kasutamisel leiab selle tööriistade menüüst.
Comment[eu]=Iturburu kodea emandako arau sorten arabera formateatuko da. Kargatzean Tresnak menuan aurkituko duzu.
Comment[fr]=Un module externe pour le formatage des sources d'un programme seon un jeu de règles spécifique. Lorsque chargé, ce module est disponible dans le menu « Outils ».
Comment[hu]=Bővítőmodul forráskód formázásához, megadott szabályok alapján. Az Eszközök menüből érhető el, ha be van töltve.
Comment[it]=Un plugin per formattare il codice sorgente secondo uno specifico insieme di regole. Quando sarà caricato lo troverai nel menu Strumenti.
Comment[ja]=指定された規則にソースコードを書式化するためのプラグイン。読み込まれるとツールメニューで見つかります。
Comment[nb]=Et programtillegg for formatering av kildekode etter angitte regler. Når det blir lastet inn vil den være å finne i verktøymenyen.
Comment[nl]=Een plugin om broncode te formatteren volgens een speciale set regels. Te vinden onder het menu Gereedschap.
Comment[pl]=Wtyczka do formatowanie kodu źródłowego zgodnie z podanymi zasadami. Po załadowaniu pojawia się w menu Narzędzia.
Comment[pt]=Um 'plugin' para a formatação do código-fonte de acordo com um conjunto específico de regras. Quando é carregado, encontrar-se-á no menu Ferramentas.
Comment[pt_BR]=Um plugin para formatação do código fonte de acordo com um conjunto específico de regras. Quando carregado é encontrado no menu Ferramentas.
Comment[ru]=Модуль для форматирования кода по установленным правилам.
Comment[sr]=Прикључак за форматирање изворног кôда према прецизираном скупу правила. Када је учитан, налази се у менију „Алати“.
Comment[sr@Latn]=Priključak za formatiranje izvornog kôda prema preciziranom skupu pravila. Kada je učitan, nalazi se u meniju „Alati“.
Comment[sv]=Ett insticksprogram för att formatera källkod enligt en given uppsättning regler. När det laddats finns det i verktygsmenyn.
Comment[ta]=மூல குறிமுறை வடிவத்தை மாற்றும் சொருகிக்கு சில குறிப்பிட்ட விதிமுறைகள் உள்ளது. ஏற்றியபின் இதனை கருவிப்பட்டியில் காணலாம்.
Comment[tg]=Модул барои қолабгузории код аз рӯи қонунҳои гузошта шуда.
Comment[tr]=Belli kurallara göre kaynak kodu biçimlendirmeye yarayan bir eklenti. Yüklendiğinde Araçlar menüsünde bulunabilir.
Comment[xx]=xxA plugin for formatting of sourcecode according to a specified set of rules. When loaded it is found in the Tools menu.xx
Name=KDevAStyle
Name[da]=KDevelop en stil
Name[de]=Artistic-Style-Unterstützung (KDevelop)
Name[hi]=के-डेव-ए-स्टाइल
Name[pl]=KDevStylA
Name[sv]=KDevelop A-stil
Name[xx]=xxKDevAStylexx
GenericName=Source Code Formatter
GenericName[ca]=Formatador de codi font
GenericName[da]=Kildekode-formatering
GenericName[de]=Quelltext-Formatierer
GenericName[el]=Μορφοποιητής πηγαίου κώδικα
GenericName[es]=Formateador de código fuente
GenericName[et]=Lähtekoodi vormindaja
GenericName[eu]=Iturburu kode formateatzailea
GenericName[fr]=Formatage de code source
GenericName[hi]=स्रोत कोड फ़ॉर्मेटर
GenericName[hu]=Forráskód-formázó
GenericName[it]=Formattatore del codice sorgente
GenericName[ja]=ソースコードフォーマッタ
GenericName[nb]=Formatering av kildekode
GenericName[nl]=Broncode formatteren
GenericName[pl]=Formatowanie kodu źródłowego
GenericName[pt]=Formatador de Código Fonte
GenericName[pt_BR]=Formatador de Código Fonte
GenericName[ru]=Форматировщик исходного кода
GenericName[sl]=Oblikovalec izvorne kode
GenericName[sr]=Форматер изворног кода
GenericName[sr@Latn]=Formater izvornog koda
GenericName[sv]=Källkodsformatering
GenericName[ta]=மூல குறியை வடிவமைப்பவர்
GenericName[tg]=Қолабгузори коди берунӣ
GenericName[tr]=Kaynak Kodu Biçimlendirici
GenericName[xx]=xxSource Code Formatterxx
Icon=kdevelop
ServiceTypes=KDevelop/SourceFormatter
X-KDE-Library=libkdevastyle
X-KDevelop-Version=3
X-KDevelop-Scope=Project
X-KDevelop-Properties=CDevelopment,CPPDevelopment,JavaDevelopment
