[Desktop Entry]
Name=Project File Element
Name[bs]=Projekt Datoteka Element
Name[ca]=Element de fitxer de projecte
Name[ca@valencia]=Element de fitxer de projecte
Name[da]=Filelement for projekt
Name[de]=Datei des Projekts
Name[el]=Αντικείμενο αρχείου του έργου
Name[es]=Elemento del archivo del proyecto
Name[et]=Projektifaili element
Name[fi]=Projektin tiedosto -elementti
Name[fr]=Élément de fichier du projet
Name[gl]=Elemento do ficheiro de proxecto
Name[hu]=Projektfájl elem
Name[it]=Elemento del file di progetto
Name[kk]=Жоба файл элементі
Name[nb]=Prosjektfil-element
Name[nds]=Projektdatei-Element
Name[nl]=Element van het projectbestand
Name[pl]=Element pliku projektu
Name[pt]=Elemento de Ficheiro do Projecto
Name[pt_BR]=Elemento de arquivo do projeto
Name[ru]=Элемент «Файл проекта»
Name[sk]=Prvok súboru projektu
Name[sl]=Predmet projektne datoteke
Name[sv]=Projektets filelement
Name[tr]=Proje Dosya Ögesi
Name[uk]=Елемент файла проекту
Name[x-test]=xxProject File Elementxx
Name[zh_CN]=项目文件元素
Name[zh_TW]=專案檔案元素
Icon=kdevelop
Comment=Draws a project file into a Dashboard element
Comment[bs]=Crta projeknu datoteku u kontrolnu ploču (Dashboard)
Comment[ca]=Mostra un fitxer de projecte en un element del tauler d'estris
Comment[ca@valencia]=Mostra un fitxer de projecte en un element del tauler d'estris
Comment[da]=Tegner en projektfil ind i et instrumentbræt-element
Comment[de]=Zeichnet eine Projektdatei in ein Dashboard-Element
Comment[el]=Εμφανίζει ένα αρχείο έργου σε ένα αντικείμενο πίνακα ελέγχου
Comment[es]=Muestra un archivo de proyecto en un elemento del tablero de mandos
Comment[et]=Kuvab projektifaili vidinavaate elemendis
Comment[fi]=Piirtää projektin tiedoston kojelautaelementtiin
Comment[fr]=Trace un fichier projet dans un élément du Dashboard
Comment[gl]=Engade un ficheiro de proxecto nun elemento de cadro de control
Comment[hu]=Projektfájlt jelenít meg az áttekintő elemben
Comment[it]=Disegna un file di progetto in un elemento della dashboard
Comment[kk]=Жоба файлын аспаптар панелінде көрсетеді
Comment[nb]=Trekker en prosjektfil inn i et Kontrollpult-element
Comment[nds]=Teekt en Projektdatei na en Klockpaneel-Element
Comment[nl]=Tekent een projectbestand in een element in Dashboard
Comment[pl]=Rysuje plik projektu na elemencie tablicy
Comment[pt]=Desenha um ficheiro do projecto num elemento do Quadro
Comment[pt_BR]=Desenha um arquivo do projeto em um elemento Quadro
Comment[ru]=Отображает файл проекта как элемент панели управления
Comment[sk]=Nakreslí projekt do prvku prístrojovej dosky
Comment[sl]=Izriše projektno datoteko v predmet nadzorne plošče
Comment[sv]=Ritar en projektfil i ett element på en instrumentpanel
Comment[tr]=Bir Kontrol Paneli ögesi içerisine bir proje dosyası çizer
Comment[uk]=Показує файл проекту як елемент панелі приладів
Comment[x-test]=xxDraws a project file into a Dashboard elementxx
Comment[zh_CN]=在面板中显示工程文件
Comment[zh_TW]=將專案檔畫入資訊看板元素
Type=Service
ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_kdev_projectfileelement
X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=plasma_kdev_projectfileelement
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://kdevelop.org
X-KDE-PluginInfo-Category=SDK
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=KDevelop
