[Desktop Entry]
Encoding=UTF-8
Name=Project Branches
Name[bs]=Grane projekta
Name[ca]=Branques de projecte
Name[ca@valencia]=Branques de projecte
Name[cs]=Větve projektu
Name[da]=Projektforgreninger
Name[de]=Projekt-Zweige
Name[el]=Κλάδοι έργου
Name[es]=Ramas del proyecto
Name[et]=Projekti harud
Name[fi]=Projektin haarat
Name[fr]=Branches de projets
Name[gl]=Xestor de gallas
Name[hu]=Projekt ágak
Name[it]=Rami del progetto
Name[kk]=Жоба тармақтары
Name[nb]=Prosjektgrener
Name[nl]=Projectbranches
Name[pl]=Gałęzie projektu
Name[pt]=Ramificações do Projecto
Name[pt_BR]=Ramificações do projeto
Name[ru]=Ветви проекта
Name[sk]=Vetvy projektu
Name[sl]=Veje projektov
Name[sv]=Projektgrenar
Name[tr]=Proje Dallar
Name[uk]=Гілки проекту
Name[x-test]=xxProject Branchesxx
Name[zh_CN]=项目分支
Name[zh_TW]=專案分支
Comment=Displays the branches in the current project
Comment[bs]=Prikazuje grane u trenutnom projektu
Comment[ca]=Mostra les branques en el projecte actual
Comment[ca@valencia]=Mostra les branques en el projecte actual
Comment[da]=Viser grenene i det aktuelle projekt
Comment[de]=Zeigt die Zweige im aktuellen Projekt
Comment[el]=Εμφανίζει τους κλάδους στο τρέχον έργο
Comment[es]=Muestra las ramas del proyecto actual
Comment[et]=Aktiivse projekti harude näitamine
Comment[fi]=Näyttää nykyisen projektin haarat
Comment[fr]=Affiche les branches dans le projet actuel
Comment[gl]=Mostra as gallas do proxecto actual
Comment[hu]=Megjeleníti az ágakat a jelenlegi projektben
Comment[it]=Visualizza i rami nel progetto corrente
Comment[kk]=Назардағы жобаның тармақтарын көрсету
Comment[nb]=Viser grenene i gjeldende prosjekt
Comment[nl]=Toont de branches in het huidige project
Comment[pl]=Wyświetla gałęzie w bieżącym projekcie
Comment[pt]=Mostra as ramificações no projecto actual
Comment[pt_BR]=Mostra as ramificações do projeto atual
Comment[ru]=Показывает ветви в текущем проекте
Comment[sk]=Zobrazí vetvy v aktuálnom projekte
Comment[sl]=Prikazuje veje v trenutnem projektu
Comment[sv]=Visar grenarna i det aktuella projektet
Comment[tr]=Geçerli proje içerisindeki dalları görüntüler
Comment[uk]=Показ гілок поточного проекту
Comment[x-test]=xxDisplays the branches in the current projectxx
Comment[zh_CN]=显示当前工程的分支
Comment[zh_TW]=顯示目前專案的分支
Type=Service
ServiceTypes=Plasma/Applet
Icon=kdevelop
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=qml/main.qml
X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@kde.org
X-KDE-PluginInfo-Name=org.kdevelop.branches
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://kdevelop.org/
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ParentApp=KDevelop
