[Desktop Entry]
Type=Service
Exec=blubb
Comment=KDE SDI Application
Name=KDE SDI
ServiceTypes=KDevelop/AppWizard
X-KDE-Library=libkdevkdesdiappwizard
X-KDevelop-ProjectSpace-Name=KDE
X-KDevelop-Project-Name=KDEBinaryProject
Icon=java_src
