[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Bash Support
Comment[ca]=Suport per a Bash
Comment[da]=Bash understøttelse
Comment[de]=Unterstützung für Bash für KDevelop
Comment[es]=Soporte de Bash
Comment[et]=Bash'i toetus
Comment[eu]=Bash-en euskarria
Comment[fr]=Gestion de l'interpréteur BASH.
Comment[ga]=Tacaíocht Bash
Comment[hi]=बैश समर्थन
Comment[hu]=Bash-támogatás
Comment[is]=Bash stuðnigur
Comment[it]=Supporto per Bash
Comment[ja]=Bash サポート
Comment[nb]=Bash-støtte
Comment[nl]=Ondersteuning voor Bash
Comment[pl]=Obsługa bash-a
Comment[pt]=Suporte a Bash
Comment[pt_BR]=Suporte ao Bash
Comment[ru]=Поддержка языка bash
Comment[sl]=Podpora bash
Comment[sr]=Bash подршка
Comment[sr@Latn]=Bash podrška
Comment[sv]=Bash-stöd
Comment[ta]=பாஷ் ஆதரவு
Comment[tg]=Ёри намудани забони Bash
Comment[tr]=Bash Desteği
Comment[uk]=Підтримка Bash
Comment[xx]=xxBash Supportxx
Comment[zh_CN]=Bash 支持
Name=KDevBashSupport
Name[da]=KDevelop Bash-understøttelse
Name[de]=Unterstützung für Bash (KDevelop)
Name[hi]=के-डेव-बैश-समर्थन
Name[pl]=KDevObsługaBasha
Name[sv]=KDevelop Bash-stöd
Name[ta]=கெடெவ்பாஷ் ஆதரவு
Name[xx]=xxKDevBashSupportxx
GenericName=Bash Support
GenericName[ca]=Suport per a Bash
GenericName[da]=Bash-understøttelse
GenericName[de]=Unterstützung für Bash
GenericName[es]=Soporte de Bash
GenericName[et]=Bash'i toetus
GenericName[eu]=Bash-en euskarria
GenericName[fr]=Interpréteur BASH
GenericName[ga]=Tacaíocht Bash
GenericName[hi]=बैश समर्थन
GenericName[hu]=Bash-támogatás
GenericName[it]=Supporto Bash
GenericName[ja]=Bash サポート
GenericName[nb]=Bash-støtte
GenericName[nl]=Ondersteuning voor Bash
GenericName[pl]=Obsługa bash-a
GenericName[pt]=Suporte de Bash
GenericName[pt_BR]=Suporte ao Bash
GenericName[ru]=Поддержка языка bash
GenericName[sl]=Podpora bash
GenericName[sr]=Bash подршка
GenericName[sr@Latn]=Bash podrška
GenericName[sv]=Bash-stöd
GenericName[ta]=பாஷ் ஆதரவு
GenericName[tg]=Ёри намудани забони Bash 
GenericName[tr]=Bash Desteği
GenericName[uk]=Підтримка Bash
GenericName[xx]=xxBash Supportxx
GenericName[zh_CN]=Bash 支持
ServiceTypes=KDevelop/LanguageSupport
X-KDE-Library=libkdevbashsupport
X-KDevelop-Version=3
X-KDevelop-Language=Bash
