[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Bash Support
Comment[ca]=Suport per a Bash
Comment[da]=Bash støtte
Comment[de]=Bash-Unterstützung für KDevelop
Comment[es]=Soporte de Bash
Comment[et]=Bashi toetus
Comment[fr]=Un module externe pour la gestion de l'interpréteur BASH.
Comment[hu]=Bash-támogatás
Comment[it]=Supporto per Bash
Comment[nl]=Ondersteuning voor Bash
Comment[pt]=Suporte a Bash
Comment[pt_BR]=Suporte ao Bash
Comment[ru]=Поддержка языка bash
Comment[sr]=Bash подршка
Comment[sv]=Bash-stöd
Comment[xx]=xxBash Supportxx
Comment[zh_CN]=Bash支持
Name=KDevBashSupport
Name[de]=Bash-Unterstützung (KDevelop)
Name[sv]=KDevelop Bash-stöd
Name[xx]=xxKDevBashSupportxx
GenericName=Bash Support
GenericName[ca]=Suport per a Bash
GenericName[da]=Bash støtte
GenericName[de]=Bash-Unterstützung
GenericName[es]=Soporte de Bash
GenericName[et]=Bashi toetus
GenericName[fr]=Interpréteur BASH
GenericName[hu]=Bash-támogatás
GenericName[it]=Supporto Bash
GenericName[nl]=Ondersteuning voor Bash
GenericName[pt]=Suporte de Bash
GenericName[pt_BR]=Suporte ao Bash
GenericName[ru]=Поддержка языка bash
GenericName[sr]=Bash подршка
GenericName[sv]=Bash-stöd
GenericName[xx]=xxBash Supportxx
GenericName[zh_CN]=Bash支持
ServiceTypes=KDevelop/LanguageSupport
X-KDE-Library=libkdevbashsupport
X-KDevelop-Version=1
X-KDevelop-Language=Bash
