[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=This plugin provides a frontend for the source-level debugger for Ruby.
Comment[da]=Dette plugin sørger for en grænseflade til Ruby kildekode-fejlretteren.
Comment[et]=See plugin pakub Ruby lähtekoodi siluri kasutajaliidest.
Comment[fr]=Ce module fournit une interface pour le débogueur de code source Ruby.
Comment[it]=Questo plugin fornisce un'interfaccia per il debugger a livello sorgente di Ruby.
Comment[nl]=Deze plugin biedt een grafische schil voor de broncode-debugger voor Ruby.
Comment[pt]=Este 'plugin' oferece uma interface o depurador ao nível do código para Ruby.
Comment[pt_BR]=Este plugin fornece uma interface para o depurador a nível de código para Ruby.
Comment[ru]=Этот модуль предоставляет интерфейс к отладчику исходного кода для Ruby.
Comment[sv]=Insticksprogrammet tillhandahåller ett gränssnitt till källkodsavlusaren för Ruby.
Comment[xx]=xxThis plugin provides a frontend for the source-level debugger for Ruby.xx
Name=KDevRbDebugger
Name[da]=KDevelop Ruby fejlretter
Name[sv]=KDevelop Ruby-avlusare
Name[xx]=xxKDevRbDebuggerxx
GenericName=Ruby Debugger Frontend
GenericName[da]=Ruby fejlretningsgrænseflade
GenericName[et]=Ruby siluri kasutajaliides
GenericName[fr]=Interface pour le débogueur Ruby
GenericName[it]=Interfaccia di debug per Ruby
GenericName[nl]=Grafische schil voor de Ruby-debugger
GenericName[pt]=Interface de Depuração Ruby
GenericName[pt_BR]=Interface para o Depurador Ruby
GenericName[ru]=Интегрированный отладчик Ruby
GenericName[sv]=Gränssnitt för Ruby-avlusare
GenericName[xx]=xxRuby Debugger Frontendxx
Icon=
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevrbdebugger
X-KDevelop-Version=3
X-KDevelop-Scope=Project
X-KDevelop-ProgrammingLanguages=Ruby
X-KDevelop-Properties=RubyDebugger
