[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=%{APPNAME} Info
Name[br]=Titouriñ diwar-benn %{APPNAME}
Name[ca]=Informació per a %{APPNAME}
Name[da]=%{APPNAME} info
Name[el]=Πληροφορίες %{APPNAME}
Name[es]=Información de %{APPNAME}
Name[et]=%{APPNAME} info
Name[eu]=%{APPNAME} informazioa
Name[fr]=Informations sur %{APPNAME}
Name[ga]=Eolas faoi %{APPNAME}
Name[hu]=%{APPNAME} jellemzői
Name[it]=Informazioni su %{APPNAME}
Name[nds]=%{APPNAME}-Info
Name[pl]=Informacje dla %{APPNAME}
Name[pt]=Informação do %{APPNAME}
Name[pt_BR]=Informações de %{APPNAME}
Name[ru]=Информация о %{APPNAME}
Name[sk]=%{APPNAME} info
Name[sl]=Informacije o %{APPNAME}
Name[sr]=Информације за %{APPNAME}
Name[sr@Latn]=Informacije za %{APPNAME}
Name[sv]=%{APPNAME} information
Name[ta]=%{APPNAME} தகவல்
Name[tg]=Маълумот дар бораи %{APPNAME} 
Name[zh_CN]=%{APPNAME}的信息
Name[zh_TW]=%{APPNAME} 資訊
ServiceTypes=KFilePlugin
X-KDE-Library=kfile_%{APPNAMELC}
# change MimeType here! (example: inode/directory)
MimeType=
# change PreferredGroups here! (example: FolderInfo)
PreferredGroups=
# change PreferredItems here! (example: Items;Size)
PreferredItems=
