[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Provides a way of navigating and interacting with the source files of the current project.
Comment[ca]=Proporciona un mètode de navegació i interacció amb els fitxers de codi font del projecte actual.
Comment[da]=Sørger for en måde at navigere og interagere med kildefiler for dette projekt.
Comment[de]=Bietet Funktionalität zur Navigation und zum Umgang mit den Quelltexten des aktuellen Projektes.
Comment[es]=Proporciona un método de navegación e interacción con los archivos de código fuente del proyecto actual.
Comment[et]=Võimaldab aktiivse projekti lähtekoodifailide vahel liikuda ja neis üht-teist ette võtta.
Comment[eu]=Uneko proiektuko itruburu fitxategiekin lan egiteko eta hauen artean nabigatzeko aukera ematen du.
Comment[fr]=Permet de naviguer et d'interagir avec les fichiers sources du projet actuel
Comment[hu]=Lehetővé teszi az aktuális projekthez tartozó forrásfájlok áttekintését, kezelését
Comment[it]=Offre un modo per navigare e interagire con il file sorgente del progetto attuale.
Comment[ja]=現在のプロジェクトのソースファイルでナビゲーション及び対話する方法を提供します。
Comment[nb]=Gjør det mulig å navigere og jobbe med kildekodefilene i prosjektet.
Comment[nl]=Handig bladeren en zoeken in de broncode-bestanden van het huidige project.
Comment[pl]=Umożliwia metodę nawigacji i interacji z plikami źródłowymi bieżącego projektu.
Comment[pt]=Oferece uma forma de navegar e de interagir com os ficheiros de código do projecto actual.
Comment[pt_BR]=Fornece uma maneira de navegar e interagir com arquivos fonte do projeto atual.
Comment[ru]=Предоставляет способ навигации и взаимодействия с исходными файлами в каталоге текущего проекта.
Comment[sr]=Обезбеђује начин навигације и рада са фајловима изворног кôда текућег пројекта.
Comment[sr@Latn]=Obezbeđuje način navigacije i rada sa fajlovima izvornog kôda tekućeg projekta.
Comment[sv]=Erbjuder ett sätt att navigera och arbeta med källkodsfilerna i det aktuella projektet.
Comment[ta]=நடப்பு திட்ட பணியில் உள்ள மூல கோப்பிற்கு வழி செலுத்த மற்றும் உறையாட இது வழி செலுத்தும்.
Comment[tg]=Тариқи навигатсияро ва ҳангоми ҳамкорӣ намудан бо файлҳои берунии дар каталоги лоиҳаи ҷорӣ имкон медиҳад.
Comment[tr]=Geçerli projenin kaynak dosyalarında gezinme ve onlarla etkileşime geçme yolu sunar.
Comment[xx]=xxProvides a way of navigating and interacting with the source files of the current project.xx
Comment[zh_CN]=提供当前工程源文件的浏览和相互关系。
Name=KDevFileView
Name[da]=KDevelop filvisning
Name[de]=Dateibaum (KDevelop)
Name[hi]=के-डेव-फ़ाइल-व्यू
Name[pl]=KDevWidokPliku
Name[sv]=KDevelop filvisning
Name[ta]=KDev கோப்பு காட்சி
Name[tg]=Намоиши файл KDev
Name[xx]=xxKDevFileViewxx
GenericName=File Tree
GenericName[br]=Gwezenn restr
GenericName[ca]=Arbre de fitxers
GenericName[da]=Filtræ
GenericName[de]=Dateibaum
GenericName[es]=Árbol de archivos
GenericName[et]=Failipuu
GenericName[eu]=Fitxategi zuhaitza
GenericName[fr]=Arborescences de fichiers
GenericName[hi]=फ़ाइल ट्री
GenericName[hu]=Fájl-fa
GenericName[it]=Albero file
GenericName[ja]=ファイルツリー
GenericName[nb]=Fil-tre
GenericName[nl]=Bestandsboomstructuur
GenericName[pl]=Drzewo plików
GenericName[pt]=Árvore de Ficheiros
GenericName[pt_BR]=Árvore de Arquivo
GenericName[ru]=Дерево файлов
GenericName[sl]=Datotečno drevo
GenericName[sr]=Дрво фајлова
GenericName[sr@Latn]=Drvo fajlova
GenericName[sv]=Filträd
GenericName[ta]=கோப்பு மரம்
GenericName[tg]=Дарахти файлҳо
GenericName[tr]=Dosya Ağacı
GenericName[xx]=xxFile Treexx
GenericName[zh_CN]=文件树
ServiceTypes=KDevelop/Plugin
Icon=folder
X-KDE-Library=libkdevfileview
X-KDevelop-Version=3
X-KDevelop-Scope=Project
X-KDevelop-Properties=ProjectFileManagement
