[General]
Name=Basic
Name[bs]=Osnovno
Name[da]=Simpel
Name[el]=Βασική
Name[es]=Básica
Name[et]=Basic
Name[ga]=Bunúsach
Name[gl]=Básico
Name[hu]=Alap
Name[nb]=Enkel
Name[nl]=Basis
Name[pl]=Podstawowa
Name[pt]=Básico
Name[pt_BR]=Básico
Name[sk]=Základné
Name[sl]=Osnovno
Name[sv]=Enkel
Name[uk]=Базовий
Name[x-test]=xxBasicxx
Name[zh_TW]=基本
Comment=Basic C++ Class
Comment[da]=Simpel C++-klasse
Comment[el]=Βασική C++ Class
Comment[es]=Clase de C++ básica
Comment[et]=Basic C++ klass
Comment[gl]=Clase básica para C++
Comment[hu]=Alap C++ osztály
Comment[nb]=Enkel C++-klasse
Comment[nl]=Basis C++ klasse
Comment[pl]=Podstawowa klasa C++
Comment[pt]=Classe Básica em C++
Comment[pt_BR]=Classe básica em C++
Comment[sl]=Osnovni razred C++
Comment[sv]=Enkel C++ klass
Comment[uk]=Базовий клас C++
Comment[x-test]=xxBasic C++ Classxx
Comment[zh_TW]=基本 C++ 類別
Category=C++/Basic
Language=C++
Language[bs]=C++
Language[da]=C++
Language[de]=C++
Language[el]=C++
Language[es]=C++
Language[et]=C++
Language[ga]=C++
Language[gl]=C++
Language[hu]=C++
Language[nb]=C++
Language[nl]=C++
Language[nn]=C++
Language[pl]=C++
Language[pt]=C++
Language[pt_BR]=C++
Language[se]=C++
Language[sk]=C++
Language[sl]=C++
Language[sv]=C++
Language[uk]=C++
Language[x-test]=xxC++xx
Language[zh_TW]=C++
Type=Class
Files=Header,Implementation

[Header]
Name=Header
Name[da]=Header
Name[el]=Header
Name[es]=Cabecera
Name[et]=Päis
Name[gl]=Cabeceira
Name[hu]=Fejléc
Name[nb]=Hode
Name[nl]=Kop
Name[pl]=Nagłówek
Name[pt]=Inclusão
Name[pt_BR]=Cabeçalho
Name[sk]=Hlavička
Name[sl]=Glava
Name[sv]=Deklaration
Name[uk]=Заголовок
Name[x-test]=xxHeaderxx
Name[zh_TW]=標頭
File=class.h
OutputFile={{ name }}.h

[Implementation]
Name=Implementation
Name[cs]=Implementace
Name[da]=Implementering
Name[de]=Implementation
Name[el]=Υλοποίηση
Name[es]=Implementación
Name[et]=Teostus
Name[fi]=Toteutus
Name[gl]=Implementación
Name[hu]=Megvalósítás
Name[nb]=Implementering
Name[nl]=Implementatie
Name[pl]=Implementacja
Name[pt]=Implementação
Name[pt_BR]=Implementação
Name[sk]=Implementácia
Name[sl]=Izvedba
Name[sv]=Implementering
Name[uk]=Реалізація
Name[x-test]=xxImplementationxx
Name[zh_TW]=實作
File=class.cpp
OutputFile={{ name }}.cpp
