<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="KDevFilter" version="1">
<MenuBar>
  <Menu name="tools" >
    <Action name="tools_insertshell" group="tools_file_operations"/>
    <Action name="tools_filtershell" group="tools_file_operations"/>
  </Menu>
</MenuBar>
</kpartgui>

