[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Provides a way of manipulating editor text using commandline tools. Appears in the Tools menu.
Comment[ca]=Proporciona un mètode per a manipular text a l'editor emprant eines de la línia de comandaments. Apareix al menú Eines.
Comment[da]=Sørger for en måde at manipulere editortekst ved brug af kommandolinje værktøjer. Viser sig i værktøjsmenuen.
Comment[de]=Ermöglicht die Bearbeitung von Editorinhalten mit Konsolenanwendungen. Erscheint im Menü Werkzeuge.
Comment[el]=Προσφέρει μια μέθοδο διαχείρισης κειμένου επεξεργαστή χρησιμοποιώντας εργαλεία γραμμής εντολών. Εμφανίζεται στο μενού εργαλείων.
Comment[es]=Proporciona un método para manipular texto del editor utilizando herramientas de la línea de comandos. Aparece en el menú Herramientas.
Comment[et]=Võimaldab käsureavahendite abil käsitleda redaktoris olevat teksti. Kättesaadav tööriistade menüüst.
Comment[eu]=Komando-lerro tresnak erabiliz editore testua manipulatzeko aukera ematen dizu. Tresnak menuan dago.
Comment[fr]=Un module externe pour la manipulation du texte de l'éditeur à l'aide d'outils en ligne de commande. Il apparaît dans le menu « Outils ».
Comment[hu]=Lehetővé teszi a szerkesztett szövegek kezelését parancssoros programokból (az Eszközök menüből érhető el)
Comment[it]=Offre un modo per manipolare il testo utilizzando strumenti a riga di comando. Appare nel menu degli strumenti.
Comment[ja]=コマンドラインツールを使用して、エディタテキストを操作する方法を提供します。ツールメニューに現われます。
Comment[nb]=Gjør det mulig å endre tekst ved hjelp kommandolinjeverktøy. Vises i verktøymenyen.
Comment[nl]=Maakt het mogelijk de tekstinhoud van de editor met externe commandoregeltools te bewerken. Verschijnt in het menu Gereedschap.
Comment[pl]=Umożliwia manipulowanie tekstem w edytorze za pomocą narzędzi linii komend. Pojawia się w menu Narzędzia.
Comment[pt]=Oferece uma forma de manipular o texto do edito com as ferramentas da linha de comandos. Aparece no menu de Ferramentas.
Comment[pt_BR]=Fornece uma maneira de manipular o editor de texto usando ferramentas de linha de comando. Aparece no menu Ferramentas.
Comment[ru]=Предоставляет функции работы с текстом в редакторе с использованием утилит командной строки.
Comment[sr]=Обезбеђује начин манипулисања текстом уређивача коришћењем алата командне линије. Појављује се у менију „Алати“.
Comment[sr@Latn]=Obezbeđuje način manipulisanja tekstom uređivača korišćenjem alata komandne linije. Pojavljuje se u meniju „Alati“.
Comment[sv]=Erbjuder ett sätt att behandla editortext med kommandoradsverktyg. Finns i verktygsmenyn.
Comment[ta]=கட்டளை கருவி உபயோகித்து தொகுப்பான் உறைகளை கையாள இது வழி அளிக்கும். கருவிப்பட்டியலில் இது தோன்றும்
Comment[tg]=Вазифаи корҳо бо матнҳои дар муҳаррир буда бо истифодаи фармони сатр гузориш менамояд.
Comment[zh_CN]=使用命令行工具操作编辑器文字。显示在工具菜单中。
Name=KDevFilter
Name[da]=KDevelop filter
Name[de]=Filter (KDevelop)
Name[hi]=के-डेव-फ़िल्टर
Name[pl]=KDevFiltr
Name[sv]=KDevelop filter
Name[ta]=KDev வடிகட்டல்
Name[tg]=Филтри KDev
GenericName=Shell Filtering and Insertion
GenericName[ca]=Inserció i filtrat de la línia de comandaments
GenericName[da]=Skal-filtrering og indsætning
GenericName[de]=Filtern und Einfügen über Shell-Befehle
GenericName[el]=Εισαγωγή και φιλτράρισμα κελύφους
GenericName[es]=Inserción y filtrado en línea de comandos
GenericName[et]=Shellifiltrid ja lisamine
GenericName[eu]=Shell iragazte eta txertatzea
GenericName[fr]=Filtrage et insertion
GenericName[hi]=शेल फ़िल्टरिंग तथा प्रविष्टि
GenericName[hu]=Szűrés és beszúrás
GenericName[it]=Inserimento e filtraggio da shell
GenericName[ja]=シェルフィルタリングと挿入
GenericName[nb]=Skallfiltrering og innsetting
GenericName[nl]=Filteren en invoegen met shellcommando's
GenericName[pl]=Filtrowanie i wstawianie za pomocą powłoki
GenericName[pt]=Filtragem e Inserção por 'Shell'
GenericName[pt_BR]=Shell de Filtro e Inserção
GenericName[ru]=Фильтрация и вставка с помощью команд оболочки
GenericName[sl]=Filtriranje lupine in vstavljanje
GenericName[sr]=Филтрирање и убацивање шкољке
GenericName[sr@Latn]=Filtriranje i ubacivanje školjke
GenericName[sv]=Skalfiltrering och infogning
GenericName[ta]=உறையகத்தை வடிகட்ட மற்றும் சேர்க்க
GenericName[tg]=Бо пӯсти фармон филтр ва мондан
GenericName[zh_CN]=Shell过滤和插入
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevfilter
X-KDevelop-Version=3
X-KDevelop-Scope=Global
X-KDevelop-Properties=OptionalCodeEditing
