<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="KDevRegExpTest" version="1">
<MenuBar>
  <Menu name="tools" >
    <Action name="tools_regexptest" group="tools_file_operations"/>
  </Menu>
</MenuBar>
</kpartgui>

