[Desktop Entry]
Type=Service
Name=DocPDBPlugin
Name[es]=DocPDBPPlugin
Name[sv]=DocPDB-insticksmodul
Name[x-test]=xxDocPDBPluginxx
Exec=blubb
Comment=Documentation plugin for Palmdoc format
Comment[el]=Πρόσθετο τεκμηρίωσης για τη μορφή Palmdoc
Comment[gl]=Extensión de documentación do formato Palmdoc
Comment[nds]=Dokmentatschoon-Moduul för't Palmdoc-Formaat
Comment[pt]='Plugin' de documentação para o formato PalmDoc
Comment[pt_BR]='Plugin' de documentação para o formato PalmDoc
Comment[sv]=Dokumentationsinsticksmodul för Palmdoc-format
Comment[tr]=Palmdoc biçimi için belgelendirme eklentisi
Comment[uk]=Додаток для перегляду документації у форматі Palmdoc
Comment[x-test]=xxDocumentation plugin for Palmdoc formatxx
ServiceTypes=KDevelop/DocumentationPlugins
X-KDevelop-Version=1
X-KDE-Library=libdocpdbplugin
