[Desktop Entry]
Type=Service
Name=DocPDBPlugin
Name[es]=DocPDBPPlugin
Name[sv]=DocPDB-insticksmodul
Name[x-test]=xxDocPDBPluginxx
Exec=blubb
Comment=Documentation plugin for Palmdoc format
Comment[el]=Πρόσθετο τεκμηρίωσης για τη μορφή Palmdoc
Comment[es]=Complemento para la documentación en formato Palmdoc
Comment[fr]=Module externe Documentation pour le format Palmdoc
Comment[gl]=Extensión de documentación do formato Palmdoc
Comment[lv]=Dokumentācijas spraudnis priekš Palmdoc formāta
Comment[nds]=Dokmentatschoon-Moduul för't Palmdoc-Formaat
Comment[pt]='Plugin' de documentação para o formato PalmDoc
Comment[pt_BR]=Extensão de documentação para o formato Palmdoc
Comment[sv]=Dokumentationsinsticksmodul för Palmdoc-format
Comment[tr]=Palmdoc biçimi için belgelendirme eklentisi
Comment[uk]=Додаток для перегляду документації у форматі Palmdoc
Comment[x-test]=xxDocumentation plugin for Palmdoc formatxx
Comment[zh_CN]=Palmdoc 格式的文档插件
Comment[zh_TW]=Palmdoc 格式的文件外掛程式
ServiceTypes=KDevelop/DocumentationPlugins
X-KDevelop-Version=1
X-KDE-Library=libdocpdbplugin
