[Desktop Entry]
Type=Service
Exec=blubb
Comment=The Documentation plugin offers browsing and searching in local and online documentation with support for multiple documentation systems.
Name=KDevDocumentation
GenericName=Documentation
Icon=khelpcenter
ServiceTypes=KDevelop/Plugin
X-KDevelop-Scope=Global
X-KDE-Library=libkdevdocumentation
X-KDevelop-Version=5
X-KDevelop-Mode=GUI
