[Desktop Entry]
Type=Service
Exec=blubb
Comment=The Documentation plugin offers browsing and searching in local and online documentation with support for multiple documentation systems.
Comment[el]=Το πρόσθετο τεκμηρίωσης προσφέρει περιήγηση και αναζήτηση σε τοπική και απομακρυσμένη τεκμηρίωση για πολλαπλά συστήματα τεκμηρίωσης.
Comment[pt]=O 'plugin' de Documentação oferece a navegação e pesquisa na documentação local e 'online', com o suporte para vários sistemas de documentação.
Comment[pt_BR]=O 'plugin' de Documentação oferece a navegação e pesquisa na documentação local e 'online', com o suporte para vários sistemas de documentação.
Comment[uk]=За допомогою додатка документації ви зможете переглядати і виконувати пошук у локальній і мережевій документації, цей додаток підтримує декілька систем документації.
Name=KDevDocumentation
GenericName=Documentation
GenericName[el]=Τεκμηρίωση
GenericName[es]=Documentación
GenericName[pt]=Documentação
GenericName[pt_BR]=Documentação
GenericName[uk]=Документація
Icon=khelpcenter
ServiceTypes=KDevelop/Plugin
X-KDevelop-Scope=Global
X-KDE-Library=libkdevdocumentation
X-KDevelop-Version=5
X-KDevelop-Mode=GUI
