[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Provides support for customizable abbreviations - short words which expand into commonly needed code structures.
Comment[ca]=Proporciona suport per a abreviatures personalitzables - paraules curtes que en expandir-se formen estructures de codi usades habitualment.
Comment[da]=Sørger for støtte til brugerindrettede forkortelser - korte ord som udvides til almindeligt nyttige kode-strukturer.
Comment[de]=Unterstützung für benutzerdefinierte Abkürzungen - Kurzbegriffe, die zu häufig verwendeten Kode-Strukturen expandiert werden.
Comment[en_GB]=Provides support for customisable abbreviations - short words which expand into commonly needed code structures.
Comment[es]=Proporciona soporte para las abreviaturas personalizables - palabras cortas que se expanden en estructuctas utilizadas habitualmente.
Comment[et]=Pakub kohandatavate lühendite toetust. Viimased on lühendid, mis laienevad sagedamini vajaminevateks koodistruktuurideks.
Comment[fr]=Un module externe pour la gestion de la complétion automatique du code source, qui fournit une gestion d'abbréviations personnalisables - mots courts qui deviennent des structures de code souvent utilisées.
Comment[hi]=अनुकूलित किए जा सकने योग्य संक्षिप्त शब्दों जो कि सामान्यतया आवश्यक कोड स्ट्रक्चर में एक्सपांड हो सकें, हेतु समर्थन प्रदान करता है.
Comment[hu]=Lehetővé teszi különféle rövidítések használatát (rövid kifejezések kódstruktúrává kibontását)
Comment[it]=Offre il supporto per le abbreviazioni personalizzate - parole corte le quali espandono in comuni e richieste strutture di codice.
Comment[nb]=Gir støtte for tilpassede forkortelser (korte ord som utvides av seg selv til ofte brukte kodestrukturer).
Comment[nl]=Biedt ondersteuning voor afkortingen - korte stukjes tekst die expanderen tot veelgebruikte codestructuren.
Comment[pl]=Umożliwia obsługę konfigurowalnych skrótów - krótkich słow rozszerzających się w często używane struktury kodu.
Comment[pt]=Oferece o suporte para abreviaturas personalizadas - palavras curtas que podem expandir para estruturas de código normalmente necessárias.
Comment[pt_BR]=Fornece suporte para abreviaturas personalizadas - palavras curtas que se expandem em estruturas de código normalmente necessárias.
Comment[ru]=Предоставляет поддержку для настраиваемых сокращений - коротких слов, которые заменяются на часто используемые структуры кода.
Comment[sr]=Обезбеђује подршку за прилагодљиве скраћенице — кратке речи које се проширују у уобичајено потребне структуре кôда.
Comment[sr@Latn]=Obezbeđuje podršku za prilagodljive skraćenice — kratke reči koje se proširuju u uobičajeno potrebne strukture kôda.
Comment[sv]=Ger stöd för anpassningsbara förkortningar: korta ord som expanderas till vanligt använda kodstrukturer.
Comment[ta]=தேவைக்கேற்ப்ப சுருக்கத்திற்க்கு இது அதறவு தரும்-குறியிடு வடிவத்திற்க்கு இந்த சுருக்கங்கள் மிகவும் உதவும்.
Comment[xx]=xxProvides support for customizable abbreviations - short words which expand into commonly needed code structures.xx
Comment[zh_CN]=为自定义缩写提供支持 - 按需要扩展为所需代码结构的简短文字。
Name=KDevAbbrev
Name[de]=Abkürzungsmodul (KDevelop)
Name[hi]=के-डेव-एब्रिवि
Name[pl]=KDevSkróty
Name[sv]=KDevelop förkortningar
Name[xx]=xxKDevAbbrevxx
GenericName=Abbreviation Expansion
GenericName[ca]=Expansió d'abreviatures
GenericName[da]=Forkortelsesudvidelse
GenericName[de]=Abkürzungskomplettierung
GenericName[es]=Expansión de abreviaturas
GenericName[et]=Lühendite laienemine
GenericName[fr]=Complétion automatique
GenericName[hi]=संक्षिप्त शब्द एक्सपांशन
GenericName[hu]=rövidítéskezelő
GenericName[it]=Espansione delle abbreviazioni
GenericName[nb]=Utvidelse av forkortelser
GenericName[nl]=Afkortingen expanderen
GenericName[pl]=Rozwijanie skrótów
GenericName[pt]=Expansão de Abreviaturas
GenericName[pt_BR]=Expansão de Abreviaturas
GenericName[ru]=Расширение сокращений
GenericName[sr]=Проширење скраћеница
GenericName[sr@Latn]=Proširenje skraćenica
GenericName[sv]=Expansion av förkortningar
GenericName[ta]=சுருக்கத்தின் விரிவாக்கம்
GenericName[xx]=xxAbbreviation Expansionxx
GenericName[zh_CN]=缩写扩展
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevabbrev
X-KDevelop-Version=1
X-KDevelop-Scope=Global

