[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Abbrevation Expansion
Comment[fr]=Extension des abréviations.
Name=KDevAbbrev
GenericName=Abbrevation Expansion
GenericName[fr]=Extension des abréviations
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevabbrev
X-KDevelop-Scope=Global

