[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=SQL Support
Comment[ca]=Suport per a SQL
Comment[da]=SQL-understøttelse
Comment[de]=Unterstützung für SQL
Comment[el]=Υποστήριξη SQL
Comment[es]=Soporte para SQL
Comment[et]=SQL toetus
Comment[eu]=SQL euskarria
Comment[fr]=Gestion du langage SQL
Comment[ga]=Tacaíocht SQL
Comment[hi]=एसक्यूएल समर्थन
Comment[hu]=SQL-támogatás
Comment[is]=SQL stuðningur
Comment[it]=Supporto SQL
Comment[ja]=SQL サポート
Comment[nb]=SQL-støtte
Comment[nl]=Ondersteuning voor SQL
Comment[pl]=Obsługa SQL-a
Comment[pt]=Suporte a SQL
Comment[pt_BR]=Suporte ao SQL
Comment[ru]=Поддержка языка SQL
Comment[sk]=SQL podpora
Comment[sl]=Podpora za SQL
Comment[sr]=Подршка за SQL
Comment[sr@Latn]=Podrška za SQL
Comment[sv]=SQL-stöd
Comment[ta]=SQL  ஆதரவு
Comment[tg]=Ёрӣ намудани забони SQL
Comment[tr]=SQL Desteği
Comment[uk]=Підтримка мови SQL
Comment[zh_CN]=SQL 语言支持
Name=KDevSQLSupport
Name[da]=KDevelop SQL-understøttelse
Name[de]=Sprachunterstützung für SQL (KDevelop)
Name[hi]=के-डेव-एसक्यूएल-समर्थन
Name[pl]=KDevObsługaSQL
Name[sk]=KDev SQL podpora
Name[sv]=KDevelop SQL-stöd
Name[ta]=கெடெவ் எஸ்கியேல் ஆதரவு
GenericName=SQL Support
GenericName[ca]=Suport per a SQL
GenericName[da]=SQL-understøttelse
GenericName[de]=Unterstützung für SQL
GenericName[el]=Υποστήριξη SQL
GenericName[es]=Soporte para SQL
GenericName[et]=SQL toetus
GenericName[eu]=SQL euskarria
GenericName[fr]=Langage SQL
GenericName[ga]=Tacaíocht SQL
GenericName[hi]=एसक्यूएल समर्थन
GenericName[hu]=SQL-támogatás
GenericName[it]=Supporto SQL
GenericName[ja]=SQL サポート
GenericName[nb]=SQL-støtte
GenericName[nl]=Ondersteuning voor SQL
GenericName[pl]=Obsługa SQL-a
GenericName[pt]=Suporte a SQL
GenericName[pt_BR]=Suporte ao SQL
GenericName[ru]=Поддержка языка SQL
GenericName[sk]=SQL podpora
GenericName[sl]=Podpora za SQL
GenericName[sr]=Подршка за SQL
GenericName[sr@Latn]=Podrška za SQL
GenericName[sv]=SQL-stöd
GenericName[ta]=SQL  ஆதரவு
GenericName[tg]=Ёрӣ намудани забони SQL
GenericName[tr]=SQL Desteği
GenericName[uk]=Підтримка мови SQL
GenericName[zh_CN]=SQL 支持
ServiceTypes=KDevelop/LanguageSupport
X-KDE-Library=libkdevsqlsupport
X-KDevelop-Version=3
X-KDevelop-Language=SQL
X-KDevelop-Args=SQL
