[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=This plugin gives KDevelop an embedded konsole for quick and easy command line access.
Comment[hu]=Ez a bővítőmodul egy könnyen elérhető, beágyazott parancssort hoz létre a KDevelopon belül.
Comment[pt_BR]=Este plugin fornece ao KDevelop um konsole embutido para acesso rápido e fácil à linha de comando.
Comment[sv]=Insticksprogrammet ger KDevelop en inbyggd terminal för snabb och enkel åtkomst av kommandoraden.
Comment[xx]=xxThis plugin gives KDevelop an embedded konsole for quick and easy command line access.xx
Name=KDevKonsoleView
Name[sv]=KDevelop terminalvy
Name[xx]=xxKDevKonsoleViewxx
GenericName=Embedded Konsole
GenericName[hu]=beágyazott Konsole
GenericName[pt_BR]=Konsole Embutido
GenericName[sv]=Inbäddad terminal
GenericName[xx]=xxEmbedded Konsolexx
Icon=konsole
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevkonsoleview
X-KDevelop-Version=1
X-KDevelop-Scope=Global
