[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=This plugin gives KDevelop an embedded konsole for quick and easy command line access.
Comment[ca]=Aquest connector ofereix a KDevelop una konsola encastada per a facilitar l'accés a la línia de comandaments.
Comment[da]=Dette plugin giver KDevelop en indlejret Konsole til hurtig og nem kommandolinjeadgang.
Comment[de]=Dieses Plugin stellt eine eingebettete Konsole für den schnellen und einfachen Zugriff auf die Kommandozeile zur Verfügung.
Comment[el]=Αυτό το πρόσθετο προσφέρει στο KDevelop μια ενσωματωμένη konsole για γρήγορη και εύκολη πρόσβαση σε γραμμή εντολών.
Comment[es]=Este plugin incluye en KDevelop una konsola empotrada para facilitar el acceso a la línea de comandos.
Comment[et]=See plugin lisab KDevelopile võimaluse põimitult kasutada konsooli käsurea võimaluste kiireks ja hõlpsaks pruukimiseks.
Comment[eu]=Plugin honek KDevelop-i komando-lerroak azkar eta erraz sartzeko kapsultatutako kontsola bat eskeintzen dio.
Comment[fr]=Un module externe pour la gestion d'une Konsole embarquée pour pouvoir accéder rapidement à la ligne de commandes.
Comment[hu]=Ez a bővítőmodul egy könnyen elérhető, beágyazott parancssort hoz létre a KDevelopon belül.
Comment[it]=Questo plugin offre una console integrata per KDevelop per l'accesso rapido e semplice alla linea di comando.
Comment[ja]=このプラグインは、KDevelop に迅速で容易なコマンドライン・アクセス用の埋め込まれた konsole を与えます。
Comment[nb]=Dette programtillegget legger til en innebygget konsoll i KDevelop slik at du raskt kan få tilgang til en kommandolinje.
Comment[nl]=Deze plugin geeft KDevelop een ingebedde Konsole voor snelle toegang tot de commandoregel.
Comment[pl]=Ta wtyczka dodaje do KDevelopa wbudowaną konsolę umożliwiając szybki i łatwy dostęp do linii komend.
Comment[pt]=Este 'plugin' dá ao KDevelop um Konsole incorporado para um acesso rápido e simples à linha de comandos.
Comment[pt_BR]=Este plugin fornece ao KDevelop um konsole embutido para acesso rápido e fácil à linha de comando.
Comment[ru]=Предоставляет встроенную консоль для быстрого вызова командной строки.
Comment[sr]=Овај прикључак даје KDevelop-у уграђену конзолу за брз и лак приступ командној линији.
Comment[sr@Latn]=Ovaj priključak daje KDevelop-u ugrađenu konzolu za brz i lak pristup komandnoj liniji.
Comment[sv]=Insticksprogrammet ger KDevelop en inbyggd terminal för snabb och enkel åtkomst av kommandoraden.
Comment[ta]=இந்த சொருகி உங்களுக்கு Kஉருவாக்கத்திற்கு கன்சோல் உட்பொதியின் மூலம் விரைவு மற்றும் எளிய கட்டளை வரி அனுமதி தரும். 
Comment[tg]=Барои тез фарёд намудани фармони сатр рафаки бино карда шударо имкон медиҳад.
Comment[zh_CN]=这个插件为KDevelop提供KDE终端来快速和方便使用命令行。
Name=KDevKonsoleView
Name[da]=KDevelop Konsole-visning
Name[de]=Unterstützung für Konsole (KDevelop)
Name[hi]=के-डेव-कंसोल-व्यू
Name[pl]=KDevWidokKonsoli
Name[sv]=KDevelop terminalvy
Name[ta]=KDevKonsole காட்சி
Name[tg]=Намоиши KDevKonsole
GenericName=Embedded Konsole
GenericName[br]=Konsole enframmet
GenericName[ca]=Konsola encastada
GenericName[da]=Indlejret konsole
GenericName[de]=Eingebettete Konsole
GenericName[el]=Ενσωματωμένη Konsole
GenericName[es]=Konsola empotrada
GenericName[et]=Põimitud Konsool
GenericName[eu]=Konsole kapsulatua
GenericName[fr]=Konsole embarquée
GenericName[ga]=Konsole Leabaithe
GenericName[hi]=अंतर्निर्मित कंसोल
GenericName[hu]=Beágyazott Konsole
GenericName[it]=Konsole integrata
GenericName[ja]=埋め込まれた Konsole
GenericName[nb]=Innebygget konsoll
GenericName[nl]=Ingebedde Konsole
GenericName[pl]=Wbudowana konsola
GenericName[pt]=Konsole Embebida
GenericName[pt_BR]=Konsole Embutido
GenericName[ru]=Встроенная Konsole
GenericName[sl]=Vključena Konzola
GenericName[sr]=Уграђена конзола
GenericName[sr@Latn]=Ugrađena konzola
GenericName[sv]=Inbäddad terminal
GenericName[ta]=கன்சோல் உட்பொதி
GenericName[tg]=Бино намудани Embedded
GenericName[zh_CN]=嵌入的KDE终端
Icon=konsole
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevkonsoleview
X-KDevelop-Version=3
X-KDevelop-Scope=Global
X-KDevelop-Properties=Console
