[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=ClassBrowser
Comment[fr]=Un module externe pour la gestion de l'afficheur de classes.
Name=KDevClassBrowser
GenericName=ClassBrowser
GenericName[fr]=Afficheur de classes
Icon=kdevelop
ServiceTypes=KDevelop/Plugin
X-KDevelop-Scope=Project
X-KDE-Library=libkdevclassbrowser
