[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Automake Project
Comment[da]=Automake projekt
Comment[de]=Automake-Projekt
Comment[es]=Projecto de Automake
Comment[hu]=Automake-projekt
Comment[pt]=Projecto Automake
Comment[pt_BR]=Projeto Automake
Comment[sr]=Automake пројекат
Comment[sv]=Automake-projekt
Comment[xx]=xxAutomake Projectxx
Name=KDevAutoProject
Name[de]=KDevAutoProjekt
Name[pt_BR]=KDevAutoProjeto
Name[sv]=KDevelop autoprojekt
Name[xx]=xxKDevAutoProjectxx
GenericName=Automake Project
GenericName[da]=Automake projekt
GenericName[de]=Automake-Projekt
GenericName[es]=Projecto de Automake
GenericName[hu]=Automake-projekt
GenericName[it]=Progetto Automake
GenericName[pt]=Projecto de Automake
GenericName[pt_BR]=Projeto Automake
GenericName[sr]=Automake пројекат
GenericName[sv]=Automake-projekt
GenericName[xx]=xxAutomake Projectxx
ServiceTypes=KDevelop/Project
X-KDE-Library=libkdevautoproject
X-KDevelop-Version=1
X-KDevelop-Args=
