[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=KDE Automake Project
Comment[hu]=KDE Automake-projekt
Comment[pt_BR]=Projeto Automake do KDE
Comment[sv]=KDE Automake-projekt
Comment[xx]=xxKDE Automake Projectxx
Name=KDevKDEAutoProject
Name[pt_BR]=KDevKDEAutoProjeto
Name[sv]=KDevelop KDE-autoprojekt
Name[xx]=xxKDevKDEAutoProjectxx
GenericName=KDE Automake Project
GenericName[hu]=KDE Automake-projekt
GenericName[pt_BR]=Projeto Automake do KDE
GenericName[sv]=KDE Automake-projekt
GenericName[xx]=xxKDE Automake Projectxx
ServiceTypes=KDevelop/Project
X-KDE-Library=libkdevautoproject
X-KDevelop-Version=1
X-KDevelop-Args=kde
