[General]
Name=GObject with properties
Name[pt]=GObject com propriedades
Name[pt_BR]=GObject com propriedades
Name[uk]=GObject із властивостями
Name[x-test]=xxGObject with propertiesxx
Comment=A GObject subclass with a private pointer and properties
Comment[pt]=Uma sub-classe de GObject com um ponteiro privado e propriedades
Comment[pt_BR]=Subclasse de GObject com um ponteiro privado e com propriedades
Comment[uk]=Підклас GObject з закритим (private) вказівником і властивостями
Comment[x-test]=xxA GObject subclass with a private pointer and propertiesxx
Category=C/GLib
Language=C
Language[de]=C
Language[pt]=C
Language[pt_BR]=C
Language[uk]=C
Language[x-test]=xxCxx
Type=Class
Files=Header,Implementation

[Header]
Name=Header
Name[pt]=Inclusão
Name[pt_BR]=Inclusão
Name[uk]=Заголовок
Name[x-test]=xxHeaderxx
File=class.h
OutputFile={% for ns in namespaces %}{{ ns }}_{% endfor %}{{ name }}.h

[Implementation]
Name=Implementation
Name[de]=Implementation
Name[fi]=Toteutus
Name[pt]=Implementação
Name[pt_BR]=Implementação
Name[uk]=Реалізація
Name[x-test]=xxImplementationxx
File=class.c
OutputFile={% for ns in namespaces %}{{ ns }}_{% endfor %}{{ name }}.c
