[General]
Name=GObject with properties
Name[el]=GObject με ιδιότητες
Name[es]=GObject con propiedades
Name[et]=GObject omadustega
Name[hu]=GObject tulajdonságokkal
Name[nl]=GObject met eigenschappen
Name[pt]=GObject com propriedades
Name[pt_BR]=GObject com propriedades
Name[sv]=GObject med egenskaper
Name[uk]=GObject із властивостями
Name[x-test]=xxGObject with propertiesxx
Comment=A GObject subclass with a private pointer and properties
Comment[el]=Μια GObject subclass με private pointer και ιδιότητες
Comment[es]=Una subclase de GObject con un puntero privado y propiedades
Comment[et]=GObjecti alamklass privaatviida ja omadustega
Comment[hu]=Egy GObject alosztály privát mutatóval és tulajdonságokkal
Comment[nl]=Een subklasse GObject met een private pointer en eigenschappen
Comment[pt]=Uma sub-classe de GObject com um ponteiro privado e com propriedades
Comment[pt_BR]=Subclasse de GObject com um ponteiro privado e com propriedades
Comment[sv]=En GObject-delklass med en privat pekare och egenskaper
Comment[uk]=Підклас GObject з закритим (private) вказівником і властивостями
Comment[x-test]=xxA GObject subclass with a private pointer and propertiesxx
Category=C/GLib
Language=C
Language[el]=C
Language[es]=C
Language[ga]=C
Language[nl]=C
Language[pt]=C
Language[pt_BR]=C
Language[sv]=C
Language[uk]=C
Language[x-test]=xxCxx
Type=Class
Files=Header,Implementation

[Header]
Name=Header
Name[el]=Header
Name[es]=Cabecera
Name[et]=Päis
Name[hu]=Fejléc
Name[nl]=Kop
Name[pt]=Inclusão
Name[pt_BR]=Cabeçalho
Name[sk]=Hlavička
Name[sv]=Deklaration
Name[uk]=Заголовок
Name[x-test]=xxHeaderxx
File=class.h
OutputFile={% for ns in namespaces %}{{ ns }}_{% endfor %}{{ name }}.h

[Implementation]
Name=Implementation
Name[cs]=Implementace
Name[el]=Υλοποίηση
Name[es]=Implementación
Name[et]=Teostus
Name[fi]=Toteutus
Name[hu]=Megvalósítás
Name[nl]=Implementatie
Name[pt]=Implementação
Name[pt_BR]=Implementação
Name[sk]=Implementácia
Name[sv]=Implementering
Name[uk]=Реалізація
Name[x-test]=xxImplementationxx
File=class.c
OutputFile={% for ns in namespaces %}{{ ns }}_{% endfor %}{{ name }}.c
