[General]
Name=Testing YAML Template
Name[ca]=Plantilla YAML de prova
Name[el]=Δοκιμή YAML template
Name[es]=Prueba de plantilla YAML
Name[fi]=Testi-YAML-malli
Name[gl]=Modelo de YAML de probas
Name[nl]=YAML-sjabloon testen
Name[pl]=Szablon testowy YAML
Name[pt]=Modelo de YAML de Testes
Name[pt_BR]=Testando o modelo em YAML
Name[sv]=YAML-mall för test
Name[uk]=Тестовий шаблон YAML
Name[x-test]=xxTesting YAML Templatexx
Comment=A test description in YAML
Comment[ca]=Una descripció de prova en YAML
Comment[de]=Eine Test-Beschreibung in YAML
Comment[el]=Μια test περιγραφή σε YAML
Comment[es]=Una descripción de prueba en YAML
Comment[fi]=Testin kuvaus YAML:llä
Comment[gl]=Unha descrición de texto en YAML
Comment[nl]=Een beschrijving van een in test in YAML
Comment[pl]=Opis testu w YAML
Comment[pt]=A descrição de um teste em YAML
Comment[pt_BR]=Descrição de testes em YAML
Comment[sv]=En testbeskrivning i YAML
Comment[uk]=Опис перевірки у форматі YAML
Comment[x-test]=xxA test description in YAMLxx
Category=Test/Test/YAML
Files=Implementation

[Implementation]
Name=Implementation
Name[ca]=Implementació
Name[de]=Implementation
Name[el]=Implementation
Name[es]=Implementación
Name[fi]=Toteutus
Name[gl]=Implementación
Name[nl]=Implementatie
Name[pl]=Implementacja
Name[pt]=Implementação
Name[pt_BR]=Implementação
Name[sk]=Implementácia
Name[sv]=Implementering
Name[uk]=Реалізація
Name[x-test]=xxImplementationxx
File=class.yaml
OutputFile={{ name }}.yaml

