[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDevelop CustomMake Manager
Name[de]=KDevelop CustomMake-Manager
Name[el]=Διαχειριστής προσαρμοσμένης δημιουργίας του KDevelop
Name[es]=Gestor de Make personalizado de KDevelop
Name[fa]=مدیر KDevelop CustomMake
Name[fr]=Gestionnaire Make personnalisé pour KDevelop
Name[ga]=Bainisteoir CustomMake le haghaidh KDevelop
Name[gl]=Xestor de CustomMake de KDevelop
Name[it]=Gestore personalizzato di Make per KDevelop
Name[ja]=KDevelop カスタム Make マネージャ
Name[ko]=KDevelop CustomMake 관리자
Name[ne]=केडीई विकास अनुकूल निर्माण प्रबन्धक
Name[pa]=KDevelop CustomMake ਮੈਨੇਜਰ
Name[pl]=KDevelop: zarządzanie własnym systemem budowania
Name[pt]=Gestor do CustomMake para o KDevelop
Name[pt_BR]=Gerenciador do CustomMake para o KDevelop
Name[sv]=KDevelop hantering av egna Make-projekt
Name[x-test]=xxKDevelop CustomMake Managerxx
Name[zh_CN]=KDevelop CustomMake 管理器
Name[zh_TW]=KDevelop 自定 Make 管理員
Comment=Imports and edits custom make projects
Comment[de]=Importiert und bearbeitet benutzerdefinierte make Projekte
Comment[el]=Εισαγωγή και επεξεργασία έργων προσαρμοσμένου make
Comment[es]=Importa y edita proyectos make personalizados
Comment[fa]=پروژه‌های make سفارشی را وارد و ویرایش می‌کند
Comment[fr]=Importe et modifie des projets Make personnalisés
Comment[ga]=Iompórtáil tionscadail shaincheaptha make agus cuir iad in eagar
Comment[gl]=Importa e edita proxectos que usen un sistema make personalizado
Comment[it]=Importa e modifica i progetti personalizzati di Make
Comment[ja]=カスタム Make プロジェクトのインポートと編集を行います
Comment[ko]=사용자 정의 Make 프로젝트를 불러오고 관리합니다
Comment[ne]=अनुकूल निर्माण परियोजना आयात गर्दछ र सम्पादन गर्दछ
Comment[pl]=Import i modyfikacja projektów używających własnych skryptów wykorzystujących make
Comment[pt]=Importa e edita projectos personalizados do make
Comment[pt_BR]=Importa e edita projetos make personalizados
Comment[sv]=Importerar och redigerar egna projekt som använder Make
Comment[x-test]=xxImports and edits custom make projectsxx
Comment[zh_CN]=导入并编辑定制 make 工程
Comment[zh_TW]=匯入並編輯自訂的 make 專案
Icon=gear
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevcustommakemanager
X-KDE-PluginInfo-Name=KDevCustomMakeManager
X-KDevelop-FileManager=CustomMake
X-KDevelop-Version=4
X-KDevelop-Interfaces=org.kdevelop.IBuildSystemManager,org.kdevelop.IProjectFileManager
X-KDevelop-IRequired=org.kdevelop.IMakeBuilder
