<!DOCTYPE kpartgui>
<kpartplugin name="kdevcustommakemanager" library="libkdevcustommakemanager" version="4">
  <MenuBar>
  <Menu name="run">
   <Text context="@title:menu">Run</Text>
   <Action name="build_target"/>
  </Menu>
</MenuBar>
</kpartplugin>
