[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=This plugin provides KDevelop with an embedded konsole for quick and easy command line access.
Comment[x-test]=xxThis plugin provides KDevelop with an embedded konsole for quick and easy command line access.xx
Name=KDevKonsoleView
Name[x-test]=xxKDevKonsoleViewxx
GenericName=Embedded Konsole
GenericName[fr]=Konsole embarquée
GenericName[x-test]=xxEmbedded Konsolexx
Icon=konsole
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevkonsoleview
X-KDevelop-Version=4
X-KDevelop-Category=Global
X-KDevelop-Properties=Console
