[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=This plugin provides KDevelop with an embedded konsole for quick and easy command line access.
Comment[x-test]=xxThis plugin provides KDevelop with an embedded konsole for quick and easy command line access.xx
Name=KDevKonsoleView
Name[da]=KDevelop Konsole-visning
Name[de]=Unterstützung für Konsole (KDevelop)
Name[nds]=KDevelop-Konsoleünnerstütten
Name[pl]=KDevWidokKonsoli
Name[sv]=KDevelop terminalvy
Name[ta]=KDevKonsole காட்சி
Name[tg]=Намоиши KDevKonsole
Name[x-test]=xxKDevKonsoleViewxx
Name[zh_TW]=KDevelop 主控台檢視
GenericName=Embedded Konsole
GenericName[br]=Konsole enframmet
GenericName[ca]=Konsola encastada
GenericName[da]=Indlejret konsole
GenericName[de]=Eingebettete Konsole
GenericName[el]=Ενσωματωμένη Konsole
GenericName[es]=Consola empotrada
GenericName[et]=Põimitud Konsool
GenericName[eu]=Konsole kapsulatua
GenericName[fa]=Konsole نهفته
GenericName[fr]=Konsole embarquée
GenericName[ga]=Konsole Leabaithe
GenericName[hu]=Beágyazott Konsole
GenericName[it]=Konsole integrata
GenericName[ja]=埋め込まれた Konsole
GenericName[nb]=Innebygget konsoll
GenericName[nds]=Inbett Konsole
GenericName[nl]=Ingebedde Konsole
GenericName[pl]=Wbudowana konsola
GenericName[pt]=Konsole Embebida
GenericName[pt_BR]=Konsole Embutido
GenericName[ru]=Встроенная консоль
GenericName[sl]=Vključena Konzola
GenericName[sr]=Уграђена конзола
GenericName[sr@latin]=Ugrađena konzola
GenericName[sv]=Inbäddad terminal
GenericName[ta]=கன்சோல் உட்பொதி
GenericName[tg]=Бино намудани Embedded
GenericName[tr]=Gömülü Terminal
GenericName[x-test]=xxEmbedded Konsolexx
GenericName[zh_TW]=嵌入式主控台
Icon=konsole
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevkonsoleview
X-KDE-PluginInfo-Name=kdevkonsoleview
X-KDevelop-Version=6
X-KDevelop-Category=Global
X-KDevelop-Properties=Console
