[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Compiler Frontend
Comment[ca]=Entorn per al compilador
Comment[da]=Grænseflade til oversætter
Comment[de]=Make-Ausgabe für KDevelop
Comment[es]=Entorno para el compilador
Comment[et]=Kompilaatori kasutajaliides
Comment[eu]=Konpiladore interfazea
Comment[fr]=Interface avec un compilateur
Comment[hi]=कम्पायलर फ्रन्टएण्ड
Comment[hu]=Grafikus felület fordítóprogramokhoz
Comment[it]=Interfaccia al compilatore
Comment[ja]=コンパイラフロントエンド
Comment[nb]=Grensesnitt for kompilatorer
Comment[nl]=Compiler-frontend
Comment[pl]=Interfejs do kompilatora
Comment[pt]=Interface de Compilador
Comment[pt_BR]=Frontend do Compilador
Comment[ru]=Интерфейс к компилятору
Comment[sl]=Vmesnik prevajalnika
Comment[sr]=Кориснички интерфејс за преводилац
Comment[sr@Latn]=Korisnički interfejs za prevodilac
Comment[sv]=Kompilatorgränssnitt
Comment[ta]=முன்பகுதி தொகுப்பான்
Comment[tg]=Интерфейс ба талфифгар 
Comment[zh_CN]=编译器前端
Name=KDevMakeView
Name[da]=KDevelop Make-visning
Name[de]=Make-Ausgabe (KDevelop)
Name[hi]=के-डेव-मेक-व्यू
Name[pl]=KDevWIdokMake
Name[sv]=KDevelop byggvy
Name[ta]=KDev காட்சியாக்கு
GenericName=Compiler Frontend
GenericName[ca]=Entorn per al compilador
GenericName[da]=Grænseflade til oversætter
GenericName[de]=Make-Ausgabe
GenericName[es]=Entorno para el compilador
GenericName[et]=Kompilaatori kasutajaliides
GenericName[eu]=Konpiladore interfazea
GenericName[fr]=Interface pour compilateur
GenericName[hi]=कम्पायलर फ्रन्टएण्ड
GenericName[hu]=Grafikus felület fordítóprogramokhoz
GenericName[it]=Interfaccia al compilatore
GenericName[ja]=コンパイラフロントエンド
GenericName[nb]=Grensesnitt for kompilatorer
GenericName[nl]=Compiler-frontend
GenericName[pl]=Interfejs do kompilatora
GenericName[pt]=Interface de Compilador
GenericName[pt_BR]=Frontend do Compilador
GenericName[ru]=Интерфейс к компилятору
GenericName[sl]=Vmesnik prevajalnika
GenericName[sr]=Кориснички интерфејс преводиоца
GenericName[sr@Latn]=Korisnički interfejs prevodioca
GenericName[sv]=Kompilatorgränssnitt
GenericName[ta]=முன் பகுதி தொகுப்பான்
GenericName[tg]=Интерфейс ба талфифгар 
GenericName[zh_CN]=编译器前端
Icon=konsole
ServiceTypes=KDevelop/MakeFrontend
X-KDE-Library=libkdevmakeview
X-KDevelop-Version=3
X-KDevelop-Scope=Core
X-KDevelop-Properties=OutputTool
