[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Compiler Frontend
Name=KDevMakeView
Icon=konsole
ServiceTypes=KDevelop/MakeFrontend
X-KDE-Library=libkdevoutputviews
