[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Application Output View
Comment[ca]=Visor de l'eixida de les aplicacions
Comment[da]=Program-uddata fremvisning
Comment[de]=Anwendungsausgabe für KDevelop
Comment[es]=Visor de la salida de las aplicaciones
Comment[et]=Rakenduse väljundi vaade
Comment[eu]=Aplikazioen irteera ikustailua
Comment[fr]=Affichage des messages texte d'une application
Comment[hi]=अनुप्रयोग आउटपुट व्यू
Comment[hu]=Alkalmazáskimenet-megjelenítő
Comment[it]=Vista dell'output dell'applicazione
Comment[ja]=アプリケーション出力ビュー
Comment[nb]=Visning av utdata fra programmet
Comment[nl]=Weergave van toepassingsuitvoer
Comment[pl]=Widok wyjścia programu
Comment[pt]=Vista do Resultado da Aplicação
Comment[pt_BR]=Visão da Saída do Aplicativo
Comment[ru]=Окно вывода приложения
Comment[sl]=Prikaz programskega izhoda
Comment[sr]=Приказ излаза апликације
Comment[sr@Latn]=Prikaz izlaza aplikacije
Comment[sv]=Programutmatningsvy
Comment[ta]=பயன்பாட்டு வெளியீட்டுக் காட்சி
Comment[tg]=Тирезаи хориҷ кардани гузориш
Comment[xx]=xxApplication Output Viewxx
Comment[zh_CN]=应用程序输出查看器
Name=KDevAppOutputView
Name[da]=KDevelop Program-uddata fremvisning
Name[de]=Anwendungsausgabe (KDevelop)
Name[hi]=के-डेव-एप्प-आउटपुट-व्यू
Name[pl]=KDevAppWidokWyjścia
Name[sv]=KDevelop programutmatningsvy
Name[ta]=KDevApp வெளியீட்டுக் காட்சி
Name[xx]=xxKDevAppOutputViewxx
GenericName=Application Output View
GenericName[ca]=Visor de l'eixida de les aplicacions
GenericName[da]=Program-uddata fremvisning
GenericName[de]=Anwendungsausgabe
GenericName[es]=Visor de la salida de las aplicaciones
GenericName[et]=Rakenduse väljundi vaade
GenericName[eu]=Aplikazioen irteera ikustailua
GenericName[fr]=Messages d'une application
GenericName[hi]=अनुप्रयोग आउटपुट व्यू
GenericName[hu]=Alkalmazáskimenet-megjelenítő
GenericName[it]=Visualizza l'output dell'applicazione
GenericName[ja]=アプリケーション出力ビュー
GenericName[nb]=Visning av utdata fra programmet
GenericName[nl]=Weergave van toepassingsuitvoer
GenericName[pl]=Widok wyjścia programu
GenericName[pt]=Vista do Resultado da Aplicação
GenericName[pt_BR]=Visão da Saída do Aplicativo
GenericName[ru]=Окно вывода приложения
GenericName[sl]=Prikaz programskega izhoda
GenericName[sr]=Приказ излаза апликације
GenericName[sr@Latn]=Prikaz izlaza aplikacije
GenericName[sv]=Programutmatningsvy
GenericName[ta]=பயன்பாட்டு வெளியீட்டுக் காட்சி
GenericName[tg]=Тирезаи хориҷ кардани гузориш
GenericName[xx]=xxApplication Output Viewxx
GenericName[zh_CN]=应用程序输出查看器
Icon=exec
ServiceTypes=KDevelop/AppFrontend
X-KDE-Library=libkdevappview
X-KDevelop-Version=3
X-KDevelop-Scope=Core
X-KDevelop-Properties=OutputTool
