[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Application Output View
Comment[hu]=Alkalmazáskimenet-megjelenítő
Comment[pt_BR]=Visão da Saída do Aplicativo
Comment[sv]=Programutmatningsvy
Comment[xx]=xxApplication Output Viewxx
Name=KDevAppOutputView
Name[sv]=KDevelop programutmatningsvy
Name[xx]=xxKDevAppOutputViewxx
GenericName=Application Output View
GenericName[hu]=alkalmazáskimenet-megjelenítő
GenericName[pt_BR]=Visão da Saída do Aplicativo
GenericName[sv]=Programutmatningsvy
GenericName[xx]=xxApplication Output Viewxx
Icon=exec
ServiceTypes=KDevelop/AppFrontend
X-KDE-Library=libkdevoutputviews
X-KDevelop-Version=1
