<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="KDevMakeView" version="1">
<MenuBar>
 <Menu name="view">
   <Action name="view_next_error" />
   <Action name="view_previous_error" />
 </Menu>
</MenuBar>
</kpartgui>
