[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=PHP Support
Comment[ca]=Suport per a PHP
Comment[de]=Unterstützung für PHP für KDevelop
Comment[es]=Soporte para PHP
Comment[et]=PHP toetus
Comment[eu]=PHP euskarria
Comment[fr]=Gestion du langage PHP
Comment[hi]=पीएचपी समर्थन
Comment[hu]=PHP-támogatás
Comment[is]=PHP stuðningur
Comment[it]=Supporto per PHP
Comment[ja]=PHP サポート
Comment[nb]=PHP-støtte
Comment[nl]=Ondersteuning voor PHP
Comment[pa]=PHP ਸਹਿਯੋਗ
Comment[pl]=Obsługa PHP
Comment[pt]=Suport a PHP
Comment[pt_BR]=Suporte ao PHP
Comment[ru]=Поддержка языка PHP
Comment[sl]=Podpora za PHP
Comment[sr]=Подршка за PHP
Comment[sr@Latn]=Podrška za PHP
Comment[sv]=PHP-stöd
Comment[ta]=பிஎச்பிஆதரவு
Comment[tg]=Ёрӣ намудани забони PHP
Comment[uk]=Підтримка мови PHP
Comment[xx]=xxPHP Supportxx
Comment[zh_CN]=PHP 支持
Name=KDevPHPSupport
Name[de]=Unterstützung für PHP (KDevelop)
Name[hi]=के-डेव-पीएचपी-समर्थन
Name[pl]=KDevObsługaPHP
Name[sv]=KDevelop PHP-stöd
Name[ta]=கெடெவ் பிஎச்பி ஆதரவு
Name[xx]=xxKDevPHPSupportxx
GenericName=PHP Support
GenericName[ca]=Suport per a PHP
GenericName[de]=Unterstützung für PHP
GenericName[es]=Soporte para PHP
GenericName[et]=PHP toetus
GenericName[eu]=PHP euskarria
GenericName[fr]=Langage PHP
GenericName[hi]=पीएचपी समर्थन
GenericName[hu]=PHP-támogatás
GenericName[it]=Supporto per PHP
GenericName[ja]=PHP サポート
GenericName[nb]=PHP-støtte
GenericName[nl]=Ondersteuning voor PHP
GenericName[pl]=Obsługa PHP
GenericName[pt]=Suporte a PHP
GenericName[pt_BR]=Suporte ao PHP
GenericName[ru]=Поддержка языка PHP
GenericName[sl]=Podpora za PHP
GenericName[sr]=Подршка за PHP
GenericName[sr@Latn]=Podrška za PHP
GenericName[sv]=PHP-stöd
GenericName[ta]=பிஎச்பி ஆதரவு
GenericName[tg]=Ёрӣ намудани забони PHP
GenericName[uk]=Підтримка мови PHP
GenericName[xx]=xxPHP Supportxx
GenericName[zh_CN]=PHP 支持
ServiceTypes=KDevelop/LanguageSupport
X-KDE-Library=libkdevphpsupport
X-KDevelop-Version=3
X-KDevelop-Language=PHP

