[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=C/C++ Language Support
Comment[x-test]=xxC/C++ Language Supportxx
Name=KDevCppSupport
Name[x-test]=xxKDevCppSupportxx
GenericName=C/C++ Support
GenericName[x-test]=xxC/C++ Supportxx
ServiceTypes=KDevelop/LanguageSupport
Icon=source_cpp
X-KDE-Library=kdevcpplanguagesupport
X-KDevelop-Version=4
X-KDevelop-Language=C++
X-KDevelop-Args=CPP
