<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="KDevCppLanguageSupport" version="7" translationDomain="kdevcpp">
<MenuBar>
  <Menu name="code">
    <text context="@title:menu">Code</text>
    <Action name="code_new_class"/>
    <Action name="code_rename_declaration"/>
    <Action name="code_move_definition"/>
    <Action name="code_private_implementation"/>
  </Menu>
</MenuBar>
</kpartgui>
