<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="KDevQuickopen" version="1">
<MenuBar>
  <Menu name="navigation">
    <text context="@title:menu">Navigation</text>
    <Action name="switch_definition_declaration"/>
  </Menu>
</MenuBar>
</kpartgui>
