[Desktop Entry]
Type=Service
Exec=blubb
Comment=C/C++ Language Support
Comment[be]=Падтрымка мовы C/C++
Comment[ca]=Implementació del llenguatge Ada
Comment[de]=Sprachunterstützung für C/C++
Comment[el]=Υποστήριξη γλώσσας C/C++
Comment[es]=Implementación de lenguaje C/C++
Comment[et]=C/C++ keele toetus
Comment[fa]=پشتیبانی زبان C/C++
Comment[fr]=Prise en charge du langage C/C++
Comment[ga]=Tacaíocht C/C++
Comment[gl]=Soporte da linguaxe C/C++
Comment[hi]=सी/सी++ भाषा समर्थन
Comment[it]=Supporto al linguaggio C/C++
Comment[ja]=C/C++ 言語のサポート
Comment[ko]=C/C++ 언어 지원
Comment[lv]=C/C++ valodas atbalsts
Comment[nds]=Ünnerstütten för C un C++
Comment[ne]=C/C++ भाषा समर्थन
Comment[pl]=Obsługa języków C/C++
Comment[pt]=Suporte à Linguagem C/C++
Comment[pt_BR]=Suporte à Linguagem C/C++
Comment[sv]=Stöd för språken C och C++
Comment[tr]=C/C++ Dil Desteği
Comment[uk]=Підтримка мови C/C++
Comment[x-test]=xxC/C++ Language Supportxx
Comment[zh_CN]=C/C++ 语言支持
Comment[zh_TW]=C/C++ 語言支援
Name=C++ Support
Name[es]=Implementación de C++
Name[fr]=Prise en charge du C/C++
Name[ga]=Tacaíocht C++
Name[ja]=C++ サポート
Name[nds]=C++-Ünnerstütten
Name[pt]=Suporte a C/C++
Name[pt_BR]=Suporte a C/C++
Name[sv]=C++ stöd
Name[uk]=Підтримка C++
Name[zh_CN]=C++ 支持
Name[zh_TW]=C++ 支援
GenericName=Language Support
GenericName[es]=Implementación de lenguaje
GenericName[fr]=Prise en charge du langage
GenericName[ga]=Tacaíocht Theanga
GenericName[ja]=言語のサポート
GenericName[nds]=Spraak-Ünnerstütten
GenericName[pt]=Suporte à Linguagem
GenericName[pt_BR]=Suporte à Linguagem
GenericName[sv]=Språkstöd
GenericName[uk]=Підтримка мов
GenericName[zh_CN]=语言支持
GenericName[zh_TW]=語言支援
ServiceTypes=KDevelop/Plugin
Icon=source-cpp
X-KDE-Library=kdevcpplanguagesupport
X-KDE-PluginInfo-Name=kdevcppsupport
X-KDevelop-Version=6
X-KDevelop-Language=C++
X-KDevelop-Args=CPP
X-KDevelop-Interfaces=ILanguageSupport
X-KDevelop-SupportedMimeTypes=text/x-chdr,text/x-c++hdr,text/x-csrc,text/x-c++src
X-KDevelop-Mode=NoGUI
