[Desktop Entry]
Comment=An %{APPNAME} Program
Comment[ca]=Un programa %{APPNAME}
Comment[da]=Et %{APPNAME} program
Comment[de]=Ein %{APPNAME} Program
Comment[es]=Un programa %{APPNAME}
Comment[et]=%{APPNAME} programm
Comment[fr]=Un programme %{APPNAME}
Comment[hu]=%{APPNAME} program
Comment[it]=Un programma per %{APPNAME}
Comment[nl]=Een %{APPNAME} programma
Comment[pl]=Program %{APPNAME}
Comment[pt]=Um Programa %{APPNAME}
Comment[pt_BR]=Um Programa %{APPNAME}
Comment[ru]=Программа %{APPNAME}
Comment[sl]=Program %{APPNAME}
Comment[sr]=%{APPNAME} програм
Comment[sr@Latn]=%{APPNAME} програм
Comment[sv]=Ett %{APPNAME}-program
Comment[ta]=ஒரு %{APPNAME}  நிரல் 
Comment[tg]=Барномаи %{APPNAME} 
Comment[xx]=xxAn %{APPNAME} Programxx
Comment[zh_CN]=一个%{APPNAME}程序
Exec=%{APPNAMELC}
Icon=%{APPNAME}
Type=Application
Name=%{APPNAME}
Name[xx]=xx%{APPNAME}xx
Encoding=UTF-8
