<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui version="56" name="kdevelop" >
<MenuBar>
  <Menu name="file" noMerge="1">
    <text context="@title:menu">File</text>
    <Action name="file_new"/>
    <DefineGroup name="new_merge"/>
    <Separator/>
    <Action name="file_open"/>
    <Action name="file_open_recent"/>
    <DefineGroup name="open_merge"/>
    <Separator/>
    <DefineGroup name="save_merge"/>
    <Action name="file_save_all"/>
    <Separator/>
    <DefineGroup name="revert_merge"/>
    <Action name="file_revert_all"/>
    <Separator/>
    <DefineGroup name="print_merge"/>
    <Merge/>
    <Separator/>
    <Action name="file_close"/>
    <DefineGroup name="close_merge"/>
    <Action name="file_close_all"/>
    <Action name="file_closeother"/>
    <Separator/>
    <Action name="file_quit"/>
  </Menu>

  <Menu name="edit" noMerge="1">
    <text context="@title:menu">Edit</text>
    <DefineGroup name="edit_undo_merge"/>
    <Separator/>
    <DefineGroup name="edit_paste_merge"/>
    <Separator/>
    <DefineGroup name="edit_select_merge"/>
    <Separator/>
    <DefineGroup name="edit_find_merge"/>
    <DefineGroup name="kdev_edit_find_merge"/>
    <Separator/>
    <DefineGroup name="edit_astyle"/>
    <Separator/>
    <Merge/>
  </Menu>

  <DefineGroup name="search_menu_merge" />

<!--
  <Action name="bookmarks" group="search_menu_merge" />
-->

  <Menu name="view" noMerge="1">
    <text context="@title:menu">View</text>
    <Action name="add_toolview"/>
    <Action name="remove_view"/>
    <Action name="user_interface"/>
    <DefineGroup name="history_operations"/>
    <Action name="history_back"/>
    <Action name="history_forward"/>
    <Separator/>
    <Action name="file_switchto"/>
    <Action name="raise_editor"/>
    <Separator/>
    <DefineGroup name="error_operations"/>
    <Separator/>
    <Merge/>
    <Separator/>
    <DefineGroup name="view_operations"/>
  </Menu>

  <Menu name="project" noMerge="1">
    <text context="@title:menu">Project</text>
    <DefineGroup name="project_new"/>
    <Action name="project_open"/>
    <Action name="project_open_recent"/>
    <DefineGroup name="project_import"/>

    <Separator/>
    <Action name="project_close"/>
    <Action name="project_close_all"/>

    <Separator/>
    <DefineGroup name="run_operations" />

    <Merge />
    <Separator />
    <Action name="project_config_menu" />
  </Menu>

  <Menu name="run" noMerge="1">
    <text name="@title:menu">Run</text>

    <Action name="run_default_target" />
    <Action name="run_execute" /> <!-- ### remove me -->

    <DefineGroup name="run_operations" />

    <Action name="run_stop" />

    <Separator />
    <DefineGroup name="debug" /> <!-- ### remove me -->

    <Separator />
    <Merge />
  </Menu>

  <Menu name="tools" noMerge="1">
    <text context="@title:menu">Tools</text>

    <DefineGroup name="tools_operations"/>
    <Separator/>

    <DefineGroup name="tools_file_operations"/>
    <Separator/>

    <DefineGroup name="tools_language_operations"/>
    <Separator/>

    <DefineGroup name="tools_project_operations"/>
    <Separator/>
  </Menu>

  <Merge/>

  <Menu name="settings" noMerge="1">
    <text context="@title:menu">Settings</text>
    <Action name="settings_show_menubar" />
    <Action name="settings_show_statusbar" />
    <Merge name="StandardToolBarMenuHandler" />
    <Action name="settings_main_toolbar"/>
    <Action name="settings_build_toolbar"/>
    <Action name="settings_view_toolbar"/>
    <Action name="settings_browser_toolbar"/>
    <DefineGroup name="show_toolbar_merge" />
    <Action name="settings_viewbar"/>
    <Action name="settings_statusbar"/>
    <DefineGroup name="show_merge" />
    <Separator />
    <Action name="options_configure_keybinding" />
    <Action name="set_configure_toolbars" />
    <Action name="settings_configure_notifications" />
    <Action name="settings_configure_editors" />
    <Action name="settings_configure" />
    <DefineGroup name="configure_merge" />
  </Menu>

  <Menu name="window" noMerge="1">
    <text context="@title:menu">Window</text>
    <Action name="new_window"/>
    <Separator/>
    <Action name="view_next_window"/>
    <Action name="view_previous_window"/>
    <Separator/>
    <Action name="split_horizontal"/>
    <Action name="split_vertical"/>
    <DefineGroup name="window_operations"/>
    <Separator/>
    <Action name="show_left_dock"/>
    <Action name="show_right_dock"/>
    <Action name="show_top_dock"/>
    <Action name="show_bottom_dock"/>
    <Action name="focus_editor"/>
    <Action name="hide_all_docks"/>
    <Action name="anchor_current_dock"/>
    <Action name="maximize_current_dock"/>
    <Action name="select_next_dock"/>
    <Action name="select_previous_dock"/>
    <Action name="docks_submenu"/>
    <Separator/>
    <Merge/>
  </Menu>

  <Menu name="help">
    <text context="@title:menu">Help</text>
    <Merge/>
  </Menu>

</MenuBar>

<ToolBar name="mainToolBar" position="Top" noMerge="1">
  <text>Main Toolbar</text>
  <Action name="file_new" />
  <Action name="switch_area" />
  <Action name="run_stop" />
</ToolBar>

<Menu name="rb_popup">
  <Separator/>
  <Action name="file_close"/>
  <Action name="file_closeother"/>
</Menu>

</kpartgui>
