<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui version="64" name="kdevelop" >
<MenuBar>
  <Menu name="file">
    <text context="@title:menu">File</text>
    <DefineGroup append="new_merge" name="new_merge"/>
    <DefineGroup append="open_merge" name="open_merge"/>
    <DefineGroup append="save_merge" name="save_merge"/>
    <DefineGroup append="revert_merge" name="revert_merge"/>
    <DefineGroup append="print_merge" name="print_merge"/>
    <Action name="file_closeother" append="close_merge"/>
    <DefineGroup append="close_merge" name="close_merge"/>
  </Menu>

  <Menu name="edit">
    <text context="@title:menu">Edit</text>
    <DefineGroup append="edit_undo_merge" name="edit_undo_merge"/>
    <DefineGroup append="edit_paste_merge" name="edit_paste_merge"/>
    <DefineGroup append="edit_select_merge" name="edit_select_merge"/>
    <DefineGroup append="edit_find_merge" name="edit_find_merge"/>
    <DefineGroup name="edit_formatting"/>
    <Separator/>
    <Merge/>
  </Menu>

  <DefineGroup name="search_menu_merge" />

<!--
  <Action name="bookmarks" group="search_menu_merge" />
-->

  <Menu name="view">
    <text context="@title:menu">View</text>
    <Action name="add_toolview"/>
    <Action name="remove_view"/>
    <Action name="user_interface"/>
    <DefineGroup name="history_operations"/>
    <Action name="history_back"/>
    <Action name="history_forward"/>
    <Separator/>
    <Action name="file_switchto"/>
    <Action name="raise_editor"/>
    <Separator/>
    <DefineGroup name="error_operations"/>
    <Separator/>
    <Merge/>
    <Separator/>
    <DefineGroup name="view_operations"/>
  </Menu>

  <Menu name="project">
    <text context="@title:menu">Project</text>
    <DefineGroup name="project_new"/>
    <Action name="project_open"/>
    <Action name="project_open_recent"/>
    <Separator/>

    <Merge />
    <Separator />
    <Action name="project_open_config" /> 

    <Separator/>
    <Action name="project_close"/>
    <Action name="project_close_all"/>   
  </Menu>

  <Menu name="run">
    <text name="@title:menu">Run</text>

    <Action name="run_default_target" />
    <Action name="run_execute" /> <!-- ### remove me -->

    <DefineGroup name="run_operations" />

    <Action name="run_stop" />

    <Separator />
    <DefineGroup name="debug" /> <!-- ### remove me -->

    <Separator />
    <Merge />
  </Menu>

  <Menu name="tools">
    <text context="@title:menu">Tools</text>

    <DefineGroup name="tools_operations"/>
    <Separator/>

    <DefineGroup name="tools_file_operations"/>
    <Separator/>

    <DefineGroup name="tools_language_operations"/>
    <Separator/>

    <DefineGroup name="tools_project_operations"/>
    <Separator/>
  </Menu>

  <Merge/>

  <Menu name="settings">
    <text context="@title:menu">Settings</text>
    <DefineGroup append="show_toolbar_merge" name="show_toolbar_merge"/>
    <DefineGroup append="show_merge" name="show_merge" />
    <Action name="configure_sessions" append="configure_merge" />
    <Action name="settings_notifications" append="configure_merge" />
    <Action name="options_configure_editors" append="configure_merge" />
    <DefineGroup append="configure_merge" name="configure_merge" />
  </Menu>

  <Menu name="window">
    <text context="@title:menu">Window</text>
    <Action name="new_window"/>
    <Separator/>
    <Action name="view_next_window"/>
    <Action name="view_previous_window"/>
    <Separator/>
    <Action name="split_horizontal"/>
    <Action name="split_vertical"/>
    <Separator/>
    <Action name="fullscreen"/>
    <Separator/>
    <DefineGroup name="window_operations"/>
    <Separator/>
    <Action name="show_left_dock"/>
    <Action name="show_right_dock"/>
    <Action name="show_top_dock"/>
    <Action name="show_bottom_dock"/>
    <Action name="focus_editor"/>
    <Action name="hide_all_docks"/>
    <Action name="anchor_current_dock"/>
    <Action name="maximize_current_dock"/>
    <Action name="select_next_dock"/>
    <Action name="select_previous_dock"/>
    <Action name="docks_submenu"/>
    <Separator/>
    <Merge/>
  </Menu>

</MenuBar>

<ToolBar name="mainToolBar" position="Top">
  <text>Main Toolbar</text>
  <Action name="file_new" />
  <Action name="switch_area" />
  <Action name="run_stop" />
</ToolBar>

<Menu name="rb_popup">
  <Separator/>
  <Action name="file_close"/>
  <Action name="file_closeother"/>
</Menu>

</kpartgui>
