[Desktop Entry]
Type=Application
Exec=kdevelop %u
MimeType=application/x-kdevelop;
Icon=kdevelop
X-DocPath=kdevelop/index.html
Terminal=false
Name=KDevelop 4
Name[fr]=KDevelop 4
Name[hi]=के-डेवलप ४
Name[ne]=केडीई विकास ४
Name[x-test]=xxKDevelop 4xx
GenericName=Integrated Development Environment
GenericName[de]=Intergrierte Entwicklungsumgebung
GenericName[el]=ολοκληρωμένο περιβάλλον ανάπτυξης
GenericName[es]=Entorno de desarrollo integrado
GenericName[fr]=Environnement de Développement Intégré
GenericName[ga]=Timpeallacht Chomhtháite Fhorbartha
GenericName[gl]=Ambiente de desenvolvimento integrado
GenericName[it]=Ambiente di sviluppo integrato
GenericName[lv]=Integrēta izstrādes vide
GenericName[pt]=Ambiente de Desenvolvimento Integrado
GenericName[pt_BR]=Ambiente de Desenvolvimento Integrado
GenericName[sv]=Integrerad utvecklingsmiljö
GenericName[uk]=Інтегроване середовище розробки
GenericName[x-test]=xxIntegrated Development Environmentxx
GenericName[zh_CN]=集成开发环境
GenericName[zh_TW]=整合開發環境
Categories=Qt;KDE;Development;IDE;
