[Desktop Entry]
Encoding=UTF-8
Comment=KDevelop 4 Project File
Comment[de]=KDevelop 4 Projektdatei
Comment[el]=Αρχείο έργου KDevelop 4
Comment[es]=Archivo de proyecto de KDevelop 4
Comment[fa]=پروندۀ پروژۀ KDevelop 4
Comment[it]=File di progetto per KDevelop 4
Comment[ja]=KDevelop 4 プロジェクトファイル
Comment[pt]=Ficheiro de Projecto do KDevelop 4
Comment[pt_BR]=Ficheiro de Projecto do KDevelop 4
Comment[sv]=KDevelop 4-projektfil
Comment[x-test]=xxKDevelop 4 Project Filexx
Comment[zh_TW]=KDevelop 4 專案檔
DefaultApp=kdevelop
Icon=kdevelop_project
Type=MimeType
MimeType=application/x-kdevelop
Patterns=*.kdev4;
