[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Name=KDev%{APPNAME}
Name[sv]=KDevelop %{APPNAME}
Name[ta]=கெடெவ்%{APPNAME}
GenericName=%{APPNAME} Plugin
GenericName[br]=Lugent %{APPNAME}
GenericName[ca]=Connector per a %{APPNAME}
GenericName[da]=%{APPNAME} plugin
GenericName[de]=%{APPNAME}-Plugin
GenericName[el]=Πρόσθετο %{APPNAME}
GenericName[es]=Plugin %{APPNAME}
GenericName[et]=%{APPNAME} plugin
GenericName[eu]=%{APPNAME} plugina
GenericName[fr]=Module de %{APPNAME}
GenericName[ga]=Breiseán %{APPNAME}
GenericName[hu]=%{APPNAME}-bővítőmodul
GenericName[it]=Plugin %{APPNAME}
GenericName[nl]=%{APPNAME}-plugin
GenericName[pl]=Wtyczka %{APPNAME}
GenericName[pt]='Plugin' %{APPNAME}
GenericName[pt_BR]=Plugin do %{APPNAME}
GenericName[ru]=Модуль %{APPNAME}
GenericName[sk]=%{APPNAME} modul
GenericName[sl]=Vstavek za %{APPNAME}
GenericName[sr]=%{APPNAME} прикључак
GenericName[sr@Latn]=%{APPNAME} priključak
GenericName[sv]=%{APPNAME} insticksprogram
GenericName[tr]=%{APPNAME} Eklentisi
GenericName[uk]=Втулок %{APPNAME}
GenericName[zh_CN]=%{APPNAME} 插件
Comment=%{APPNAME} Description
Comment[br]=Deskrivadur %{APPNAME}
Comment[ca]=Descripció per a %{APPNAME}
Comment[da]=%{APPNAME} beskrivelse
Comment[de]=%{APPNAME} Beschreibung
Comment[el]=Περιγραφή %{APPNAME}
Comment[es]=Descripción de %{APPNAME}
Comment[et]=%{APPNAME} kirjeldus
Comment[eu]=%{APPNAME} deskribapena
Comment[fr]=Description de %{APPNAME}
Comment[ga]=Cur Síos %{APPNAME}
Comment[hu]=%{APPNAME} leírása
Comment[it]=Descrizione %{APPNAME}
Comment[nl]=%{APPNAME} omschrijving
Comment[pl]=Opis %{APPNAME}
Comment[pt]=Descrição de %{APPNAME$}
Comment[pt_BR]=Descrição do %{APPNAME}
Comment[ru]=Описание %{APPNAME}
Comment[sk]=%{APPNAME} popis
Comment[sl]=Opis za %{APPNAME}
Comment[sr]=Опис за %{APPNAME}
Comment[sr@Latn]=Opis za %{APPNAME}
Comment[sv]=%{APPNAME} beskrivning
Comment[tr]=%{APPNAME} Tanımı
Comment[uk]=Опис %{APPNAME}
Comment[zh_CN]=%{APPNAME} 描述
Icon=kdevelop
ServiceTypes=KDevelop/Plugin

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=
X-KDevelop-Plugin-BugsEmailAddress=%{EMAIL}
X-KDevelop-Plugin-Copyright=(C) by %{AUTHOR}

X-KDevelop-Args=

X-KDevelop-Scope=%{SCOPE}
X-KDE-Library=libkdev%{APPNAMELC}
X-KDevelop-Version=3
X-KDevelop-Properties=%{PROPS}
