[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDevelop MSVC Manager
Name[el]=Διαχειριστής MSVC του KDevelop
Name[es]=Gestor MSVC de KDeveloop
Name[nds]=KDevelop-MSVC-Pleger
Name[pt]=Gestor do MSVC para o KDevelop
Name[pt_BR]=Gestor do MSVC para o KDevelop
Name[uk]=Інструмент керування MSVC для KDevelop
Comment=Imports MSVC projects
Comment[el]=Εισαγωγή έργων MSVC
Comment[es]=Importa proyectos de MSVC
Comment[nds]=Importeert MSVC-Projekten
Comment[pt]=Importa projectos do MSVC
Comment[pt_BR]=Importa projectos do MSVC
Comment[uk]=Імпортує проекти MSVC
Icon=gear
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevmsvcmanager
X-KDE-PluginInfo-Name=KDevMSVCManager
X-KDevelop-PluginType=Kross
X-KDevelop-FileManager=MSVC
X-KDevelop-Version=6
X-KDevelop-Interfaces=org.kdevelop.IBuildSystemManager,org.kdevelop.IProjectFileManager
