[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=g++
Comment=GNU C++ compiler
Name=GppOptions
ServiceTypes=KDevelop/CompilerOptions
X-KDE-Library=libkdevgccoptions
X-KDevelop-Language=C++
X-KDevelop-Args=g++
X-KDevelop-Default=true
