[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=g77
Comment=GNU Fortran 77 compiler
Name=G77Options
ServiceTypes=KDevelop/CompilerOptions
X-KDE-Library=libkdevgccoptions
X-KDevelop-Language=Fortran
X-KDevelop-Args=g77
X-KDevelop-Default=true
