[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Automake Project
Comment[fr]=Gestion de projet avec « Automake ».
Name=KDevAutoProject
GenericName=Automake Project
GenericName[fr]=Gestion de projet avec Automake
ServiceTypes=KDevelop/Project
X-KDE-Library=libkdevautoproject
X-KDevelop-Args=
