[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Automake Project
Name=KDevAutoProject
ServiceTypes=KDevelop/Project
X-KDE-Library=libkdevautoproject
X-KDevelop-Args=
