[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=KDE Automake Project
Comment[fr]=Un module externe pour la gestion de projet avec le programme « Automake » pour les applications KDE.
Name=KDevKDEAutoProject
GenericName=KDE Automake Project
GenericName[fr]=Projet avec Automake pour KDE
ServiceTypes=KDevelop/Project
X-KDE-Library=libkdevautoproject
X-KDevelop-Args=kde
