[General]
Name=Basic
Comment=Basic C++ Class
Category=C++

[Header File]
Name=Header
File=class.h
OutputFile={{ name }}.h

[Implementation File]
Name=Implementation
File=class.cpp
OutputFile={{ name }}.cpp
