[Desktop Entry]
Icon=kdevelop
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_ninjabuilder
X-KDE-FactoryName=kcm_kdev_ninjabuilder
X-KDE-ParentApp=kdevplatformproject
X-KDE-ParentComponents=KDevNinjaBuilder
X-KDE-CfgDlgHierarchy=BUILDTOOL

Name=Ninja
Name[de]=Ninja
Name[es]=Ninja
Name[et]=Ninja
Name[fi]=Ninja
Name[fr]=Ninja
Name[ga]=Ninja
Name[gl]=Ninja
Name[hu]=Ninja
Name[nl]=Ninja
Name[pl]=Ninja
Name[pt]=Ninja
Name[pt_BR]=Ninja
Name[sk]=Ninja
Name[sl]=Ninja
Name[sv]=Ninja
Name[tr]=Ninja
Name[ug]=تاقەت
Name[uk]=Ninja
Name[x-test]=xxNinjaxx
Comment=Configure Ninja settings
Comment[de]=Ninja-Einstellungen festlegen
Comment[es]=Configurar las preferencias de Ninja
Comment[fi]=Ninja-asetukset
Comment[hu]=Ninja beállítások módosítása
Comment[nl]=Ninja-instellingen configureren
Comment[pt]=Configurar as definições do Ninja
Comment[pt_BR]=Configure as opções do Ninja
Comment[sl]=Nastavite možnosti za Ninja
Comment[sv]=Anpassa inställningar för Ninja
Comment[uk]=Налаштувати параметри Ninja
Comment[x-test]=xxConfigure Ninja settingsxx
