[Desktop Entry]
Icon=kdevelop
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_ninjabuilder
X-KDE-FactoryName=kcm_kdev_ninjabuilder
X-KDE-ParentApp=kdevplatformproject
X-KDE-ParentComponents=KDevNinjaBuilder
X-KDE-CfgDlgHierarchy=BUILDTOOL

Name=Ninja
Comment=Configure Ninja settings
