[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Plugin that provides navigation and overview of active source bookmarks and persists them between sessions.
Comment[fr]=Un module externe pour gérer des signets dans les sources d'un programme. Ce module fournit une navigation et une vue d'ensemble des signets associés à un fichier, et peut les enregistrer entre les sessions.
Comment[x-test]=xxPlugin that provides navigation and overview of active source bookmarks and persists them between sessions.xx
Name=KDevBookmarks
Name[x-test]=xxKDevBookmarksxx
GenericName=Bookmarks
GenericName[fr]=Gestion des signets
GenericName[x-test]=xxBookmarksxx
Icon=bookmark
ServiceTypes=KDevelop/Plugin
X-KDevelop-Scope=Project
X-KDE-Library=libkdevbookmarks
X-KDevelop-Version=4
X-KDevelop-Properties=CodeEditing
