[Desktop Entry]
Type=Service
Name=%{APPNAME}
Name[x-test]=xx%{APPNAME}xx
Exec=%{APPNAMELC}
X-DCOP-ServiceType=Unique
X-KDE-StartupNotify=false
Comment=Template for dcop services
Comment[x-test]=xxTemplate for dcop servicesxx

