[Desktop Entry]
Type=Service
Name=KDevQtImporter
Name[da]=KDevelop Qt-importør
Name[de]=QT-PCS-Import (KDevelop)
Name[hi]=के-डेव-क्यूटी-आयातक
Name[pl]=KDevImportQt
Name[sv]=KDevelop QT-import
Name[ta]=கெடெவ் க்யு இறக்குமதியாளர்
Name[xx]=xxKDevQtImporterxx
Comment=KDevelop Qt PCS Importer
Comment[ca]=Importador PCS de Qt per a KDevelop
Comment[da]=KDevelop Qt PCS importør
Comment[de]=Qt-Import für persistenten Klassenspeicher
Comment[es]=Importador de PCS de Qt de KDevelop
Comment[et]=KDevelopi Qt PCS importija
Comment[fr]=Importation PCS de Qt pour KDevelop
Comment[hi]=के-डेवलप क्यूटी पीसीएस आयातक
Comment[hu]=KDevelop Qt PCS-importáló
Comment[it]=Importatore per Qt PCS per KDeveloper
Comment[nb]=KDevelop Qt PCS-importverktøy
Comment[nl]=KDevelop PCS Importer voor Qt
Comment[pl]=KDevelop: importowanie Qt PCS
Comment[pt]=Importador de PCS para Qt do KDevelop
Comment[pt_BR]=Importador PCS Qt para o KDevelop
Comment[ru]=Загрузка символов из библиотеки Qt в хранилище классов
Comment[sr]=KDevelop-ов Qt PCS увозник
Comment[sr@Latn]=KDevelop-ov Qt PCS uvoznik
Comment[sv]=KDevelop QT PCS-import
Comment[ta]=கெடெவலப் Qt PCS இறக்குமதியாளர்
Comment[tg]=Пурборкунии нишонаҳо аз китобхонаи Qt дар дар синфҳои анборӣ
Comment[xx]=xxKDevelop Qt PCS Importerxx
Comment[zh_CN]=KDevelop Qt PCS 导入器
Icon=gear
ServiceTypes=KDevelop/PCSImporter
X-KDE-Library=libkdevqtimporter
X-KDevelop-PCSImporter=
X-KDevelop-Version=3
