[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Ada Language Support
Comment[hu]=Ada nyelvi támogatás
Comment[pt_BR]=Suporte à Linguagem Ada
Comment[sv]=Stöd för språket Ada
Comment[xx]=xxAda Language Supportxx
Name=KDevAdaSupport
Name[sv]=KDevelop Ada-stöd
Name[xx]=xxKDevAdaSupportxx
GenericName=Ada Language Support
GenericName[hu]=Ada-támogatás
GenericName[pt_BR]=Suporte à Linguagem Ada
GenericName[sv]=Stöd för språket Ada
GenericName[xx]=xxAda Language Supportxx
ServiceTypes=KDevelop/LanguageSupport
X-KDE-Library=libkdevadasupport
X-KDevelop-Version=1
X-KDevelop-Language=Ada
