[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Ada Language Support
Comment[fr]=Gestion du langage ADA.
Name=KDevAdaSupport
ServiceTypes=KDevelop/LanguageSupport
X-KDE-Library=libkdevadasupport
X-KDevelop-Language=Ada
