[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Ada Language Support
Comment[fr]=Un module externe pour la gestion du langage ADA.
Name=KDevAdaSupport
GenericName=Ada Language Support
GenericName[fr]=Langage ADA
ServiceTypes=KDevelop/LanguageSupport
X-KDE-Library=libkdevadasupport
X-KDevelop-Language=Ada
