[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Tip of the Day
Name=KDevTipOfDay
Icon=kdevelop
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevtipofday
X-KDevelop-Scope=Global
