[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Tip of the Day
Comment[da]=Dagens vink
Comment[de]=Tipp des Tages
Comment[es]=Consejo del día
Comment[hu]=A nap tippje
Comment[pt]=Dica do Dia
Comment[pt_BR]=Dica do Dia
Comment[sr]=Савет дана
Comment[sv]=Dagens tips
Comment[xx]=xxTip of the Dayxx
Name=KDevTipOfDay
Name[de]=KDevTipDesTages
Name[sv]=KDevelop dagens tips
Name[xx]=xxKDevTipOfDayxx
GenericName=Tip of the Day
GenericName[da]=Dagens vink
GenericName[de]=Tipp des Tages
GenericName[es]=Consejo del día
GenericName[hu]=a nap tippje
GenericName[pt]=Dica do Dia
GenericName[pt_BR]=Dica do Dia
GenericName[sr]=Савет дана
GenericName[sv]=Dagens tips
GenericName[xx]=xxTip of the Dayxx
Icon=kdevelop
ServiceTypes=KDevelop/Plugin
X-KDE-Library=libkdevtipofday
X-KDevelop-Version=1
X-KDevelop-Scope=Core
