[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Tip of the day
Name=KDevTipOfDay
Icon=kdevelop
ServiceTypes=KDevelop/Part
X-KDE-Library=libkdevtipofday
X-KDevelop-Scope=Global
