[Desktop Entry]
Icon=qtlogo
Type=Service
ServiceTypes=KCModule
X-KDE-ModuleType=Library
X-KDE-Library=kdevqthelp_config
X-KDE-FactoryName=kdevqthelp_config
X-KDE-ParentApp=kdevplatform
X-KDE-ParentComponents=kdevplatform,kdevqthelp
X-KDE-CfgDlgHierarchy=DOCUMENTATION
X-KDE-Weight=150
Name=QtHelp Documentation
Name[bs]=QtHelp dokumentacija
Name[ca]=Documentació de QtHelp
Name[ca@valencia]=Documentació de QtHelp
Name[cs]=Dokumentace QtHelp
Name[da]=QtHelp-dokumentation
Name[de]=Qt-Hilfe-Dokumentation
Name[el]=Τεκμηρίωση QtHelp
Name[en_GB]=QtHelp Documentation
Name[es]=Documentación de QtHelp
Name[et]=QtHelpi dokumentatsioon
Name[fi]=QtHelp-dokumentaatio
Name[fr]=Documentation de QtHelp
Name[ga]=Doiciméadú QtHelp
Name[gl]=Documentación do QtHelp
Name[hu]=QtHelp dokumentáció
Name[it]=Documentazione QtHelp
Name[kk]=QtHelp құжаттамасы
Name[km]=ឯកសារ QtHelp
Name[nb]=QtHelp-dokumentasjon
Name[nds]=Qt-Hülp-Dokmentatschoon
Name[nl]=QtHelp-documentatie
Name[pl]=Dokumentacja QtHelp
Name[pt]=Documentação do QtHelp
Name[pt_BR]=Documentação do QtHelp
Name[ru]=Документация QtHelp
Name[sk]=Dokumentácia QtHelp
Name[sl]=Dokumentacija QtHelp
Name[sv]=Qt-hjälpdokumentation
Name[tr]=QtHelp Belgelendirmesi
Name[ug]=QtHelp پۈتۈكى
Name[uk]=Документація QtHelp
Name[x-test]=xxQtHelp Documentationxx
Name[zh_CN]=Qt 帮助文档
Name[zh_TW]=QtHelp 文件
