[Desktop Entry]
Icon=qtlogo
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kdevqthelp
X-KDE-FactoryName=kdevqthelp_config
X-KDE-ParentApp=kdevplatform
X-KDE-ParentComponents=kdevplatform
X-KDE-CfgDlgHierarchy=GENERAL
Name=QtHelp Documentation
Name[de]=Qt-Hilfe-Dokumentation
Name[nl]=QtHelp-documentatie
Name[pt]=Documentação do QtHelp
Name[pt_BR]=Documentação do QtHelp
Name[sv]=Qt-hjälpdokumentation
Name[uk]=Документація QtHelp
Name[x-test]=xxQtHelp Documentationxx
Name[zh_TW]=QtHelp 文件
