[Desktop Entry]
Icon=kdevelop
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kdevqthelp
X-KDE-FactoryName=kdevqthelp_config
X-KDE-ParentApp=kdevelop
X-KDE-ParentComponents=kdevqthelp
X-KDE-CfgDlgHierarchy=DOCUMENTATION
Name=QtHelp Documentation
Name[x-test]=xxQtHelp Documentationxx
