[Desktop Entry]
Type=Service
Exec=blubb
Icon=qtlogo
Comment=This plugin provides QtHelp integration
Name=Qt Documentation
GenericName=Documentation Support
ServiceTypes=KDevelop/Plugin

X-KDE-Library=kdevqthelp
X-KDevelop-Version=12
X-KDevelop-Category=Global
X-KDE-PluginInfo-Name=kdevqthelp
X-KDE-PluginInfo-Author=Aleix Pol
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Category=Documentation
X-KDevelop-Mode=GUI
X-KDevelop-Interfaces=org.kdevelop.IDocumentationProviderProvider
