[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=DocKDevTOCPlugin
Name[da]=DocKDevTOC-plugin
Name[sk]=Doc KDevTOC modul
Name[sv]=KDevelop innehållsförteckning-dokumentationsinsticksmodul
Name[ta]=DocKDevTOC  சொருகு
Name[zh_TW]=KDevelop 目錄文件外掛程式
Exec=blubb
Comment=Documentation plugin for KDevelopTOC documentation
Comment[ca]=Connector de documentació per a documentació KDevelopTOC
Comment[da]=Dokumentations-plugin for KDevelopTOC-dokumentation
Comment[de]=Komponente für KDevelopTOC-Dokumentation
Comment[el]=Πρόσθετο τεκμηρίωσης για τεκμηρίωση τύπου KDevelopTOC
Comment[es]=Extensión de documentación para KDevelopTOC
Comment[et]=KDevelopTOC dokumentatsiooni plugin
Comment[eu]=KDevelopTOC dokumentaziorako dokumentazio plugin-a
Comment[fa]=وصلۀ مستندسازی برای مستندات KDevelopTOC
Comment[fr]=Module de documentation pour la documentation de KDevelopTOC
Comment[hu]=Dokumentációmodul KDevelopTOC-dokumentációhoz
Comment[it]=Plugin di documentazione per file di KDevelopTOC
Comment[ja]=KDevelopTOC ドキュメンテーションのためのドキュメンテーションプラグイン
Comment[nds]=Dokmentatschoon-Moduul för KDevelopTOC-Dokmentatschoon
Comment[nl]=Documentatie plugin for KDevelopTOC documentatie
Comment[pl]=Wtyczka dokumentacji dla dokumentacji w formacie KDevelopTOC
Comment[pt]='Plugin' para documentação KDevelopTOC
Comment[pt_BR]=Plugin de documentação para document TOC do KDevelop
Comment[ru]=Модуль для просмотра KDevelopTOC
Comment[sk]=Dokumentačný modul pre KDevelopTOC dokumentáciu
Comment[sr]=Документациони прикључак за KDevelopTOC документацију
Comment[sr@Latn]=Dokumentacioni priključak za KDevelopTOC dokumentaciju
Comment[sv]=Dokumentationsinsticksmodul för KDevelop innehållsförteckningsdokumentation
Comment[ta]= KDevelopTOC ஆவணத்திற்கான ஆவணச் சொருகு
Comment[tg]=Модул барои наоиши KDevelopTOC
Comment[tr]=KDevelopTOC belgelendirmesi için belgelendirme eklentisi
Comment[zh_CN]=KDevelopTOC 文档的文档插件
Comment[zh_TW]=KDevelop 目錄文件外掛程式
ServiceTypes=KDevelop/DocumentationPlugins
X-KDevelop-Version=3
X-KDE-Library=libdockdevtocplugin
