[Desktop Entry]
Type=Service
Name=KDevGenericImporter
Comment=KDevelop Generic Importer
Icon=gear
ServiceTypes=KDevelop/FileManager
X-KDE-Library=kdevgenericimporter
X-KDevelop-FileManager=
X-KDevelop-Version=3
